<!DOCTYPE html>
<!-- test -->
<html ng-app="MyApp" ng-controller="IndexPageController"  ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/><title>{{fav_company_name}}&nbsp;{{fav_event_name}}</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="dist/css/framework7.ios.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css?v=1935">
        <link rel="stylesheet" href="css/custom.css?v=1935">


        <script >
            if (window.location.hostname === 'mystudio.academy' || window.location.hostname === 'www.mystudio.academy'|| window.location.hostname === 'www1.mystudio.academy' ||
                       window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                if (window.location.hostname.indexOf("www") < 0 || window.location.protocol != 'https:') {
                    var www_url = window.location.hostname;
                    var pathname = window.location.pathname;
                    var hash = window.location.hash;
                    if (window.location.hostname.indexOf("www") > - 1 || window.location.hostname === 'www1.mystudio.academy' ||
                           window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                        window.location.href = 'https://' + www_url + pathname + hash;
                    } else{
                        window.location.href = 'https://www.' + www_url + pathname + hash;
                    }
                }
            }
        </script>

        <!-- Path to your angular Library-->
        <script src="js/Angular/angular.min.js" type="text/javascript"></script>
        <!--<script src="js/Angular/angular-route.min.js" type="text/javascript"></script>-->
        <!-- Path to your angular-localstorage Library-->
        <script src="js/Angular/angular-localstorage.js"></script>


    </head>
    <body>
        <!--Transparent layer for preloader-->
        <div ng-show="preloader" id = "preloader-transp" class="preload">

        </div>
        <!--<div ng-show="showloading" class="preloader"></div>-->
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>

        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views tabs toolbar-through">
            <!--infinite progress bar-->
            <div ng-if="preloaderVisible">
                <span class="progressbar-infinite"></span>
            </div>
            <!--Preloader-->
            <div ng-show="preloader" class="preloader preloader-custom preload"></div>
            <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
            <!--<div ng-view></div>-->
            <!-- Pages-->
            <div id="view-1" class="view tab view-main active">
                <!-- Navbar -->
                <div class="navbar">
                    <div class="admin-banner">
                        <center><h6>ADMINISTRATOR</h6></center>
                    </div>
                    <!--MEMBERSHIP LISTING NAVBAR-->
                    <div class="navbar-inner fixed-navbar list" data-page="index">
                        <div class="left"><a class="empty-back"></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!--MEMBERSHIP PARENT DESCRIPTION-->
                    <div class="navbar-inner cached fixed-navbar desc" data-page="MembershipsCategory_Description">
                        <div class="left">
                            <a class="empty-back" ng-show="membership_cat_id_status" href="#"></a>
                            <a ng-show="!membership_cat_id_status" href="#index"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a>
                        </div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <a ng-show="!membership_cat_id_status && pos_user_type == 'O'" href="#" class="nav_button_color item-link cancelbutton" ng-click="cancelMembership()"> Cancel </a>
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- CHILD MEMBERSHIP LISTING -->
                    <div class="navbar-inner cached fixed-navbar clist" data-page="MembershipsOptions_Listing">
                        <div class="left"><a href="#MembershipsCategory_Description"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- MEMBERSHIP OPTIONS DESCRIPTION -->
                    <div class="navbar-inner cached fixed-navbar desc" data-page="MembershipsOptions_Description">
                        <div class="left">
                            <a class="empty-back" ng-show="membership_opt_id_status" href="#"></a>
                            <a ng-show="!membership_opt_id_status" href="#MembershipsOptions_Listing"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a>
                        </div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <a ng-show="!membership_cat_id_status && !membership_opt_id_status && pos_user_type == 'O'" href="#" class="nav_button_color item-link cancelbutton" ng-click="cancelMembership()"> Cancel </a>
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!--MEMBERSHIP DATE SELECTING PAGE-->
                    <div class="navbar-inner cached fixed-navbar date-select" data-page="MembershipsOptions_DateSelection">
                        <div class="left"><a href="#" ng-click="resetMembershipcartdetails()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- MEMBERSHIP CART PAGE -->
                    <div class="navbar-inner cached fixed-navbar cart" data-page="MembershipsOptions_Cart">
                        <div class="left"><a href="#MembershipsOptions_DateSelection"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <a ng-show="!membership_opt_id_status && !membership_cat_id_status && pos_user_type == 'O'" href="#" class="nav_button_color item-link cancelbutton" ng-click="cancelMembership()"> Cancel </a>
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>


                    <!-- MEMBERSHIP REGISTRATION SECTION -->
                    <div class="navbar-inner cached fixed-navbar checkout" data-page="MembershipsOptions_Registrations">
                        <div class="left"><a href="#MembershipsOptions_Cart" ng-click="BackToCart()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                            <strong  ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>
                    <!--MEMBERSHIP NAVIGATION BARS ENDS-->
                </div>

                <!-- Pages -->
                <div class="pages navbar-through">
                    <!-- Home page -->                    
                    <div class="page no-swipeback" data-page="index">
                        <div class="page-content">
                            <div class="container">
                                <span id="home-list">
                                    <div ng-if="db_MSno != 'Success'" class="content-block"><center><span style="text-align: center; width:100%;">No Membership has been added.</span></center></div>
                                    <div class="col-100 card-listing col-33-cardlisting oneline" ng-repeat="x in db_MScontent">
                                        <a href="#MembershipsCategory_Description" ng-click="MembershipCategory_Details($index, '')" class="item-link">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-image" style="background-image:url({{x.category_image_url}});"></div>
                                                </div>
                                                <div class="card-content">
                                                    <div class="card-content-inner">
                                                        <div class="custom-footer">
                                                            <p><price>{{x.category_title}}</price></p>
                                                            <p ng-show="x.category_subtitle">{{x.category_subtitle}}</p>
                                                            <p ng-show="!x.category_subtitle">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>                                 
                                    </div>
                                </span>
                            </div>
                        </div>                            
                    </div>

                    <!--MEMBERSHIP PARENT DESCRIPTION-->
                    <div class="page cached no-tabbar no-swipeback desc" data-page="MembershipsCategory_Description">
                        <!--For Mobile view-->
                        <div class="mobile-view page-content">
                            <div class="container">
                                <div class="card demo-card-header-pic event-des-imageheight">
                                    <div ng-show="MS_Category_img_url" style="background-image:url({{MS_Category_img_url}});" valign="bottom" class="card-image color-white no-border">
                                        <img ng-show="MS_Category_video_url != ''" class="play-overlay" src="css/img/play.png" ng-click="openevents(MS_Category_video_url)" />
                                    </div>
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="row">
                                                <div class="col-100"><span style="font-size:17px;"><b>{{MS_CategoryTitle}}</b></span></div>
                                            </div>
                                            <div ng-show="MS_Category_desc_txt != ''" class="desc-container">
                                                <b>Description</b><br>
                                                <p compile-template ng-bind-html="MS_Category_desc_txt | trust"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--For Web view-->
                        <div class="webview page-content">
                            <div class="container">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="row">
                                                <div class="col-50">
                                                    <div class="card-image color-white no-border" style="background-image:url({{MS_Category_img_url}});">
                                                        <img ng-show="MS_Category_video_url != ''" class="play-overlay" src="css/img/play.png" ng-click="openevents(MS_Category_video_url)" />
                                                    </div>
                                                </div>
                                                <div class="col-50">
                                                    <div class="card-content">
                                                        <div class="row">
                                                            <div class="col-100">
                                                                <h1>{{MS_CategoryTitle}}</h1>
                                                            </div>
                                                        </div>
                                                        <div class="registerbutton-align">
                                                            <center>
                                                                <a class="button active-cus toolbar-button" href="#MembershipsOptions_Listing">MEMBERSHIP OPTIONS</a>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="MS_Category_desc_txt != ''" class="desc-container">
                                                    <b>Description</b><br>
                                                    <p compile-template ng-bind-html="MS_Category_desc_txt | trust"></p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="toolbar custom-toolbar-smheight mobile-view">
                            <div class="toolbar-inner-custom">
                                <center>
                                    <a class="button active-cus toolbar-button button-maxwidth" href="#MembershipsOptions_Listing">MEMBERSHIP OPTIONS</a>
                                </center>
                            </div>
                        </div>
                    </div>

                    <!-- MEMBERSHIP OPTIONS LISTING -->
                    <div class="page cached no-tabbar no-swipeback clist" data-page="MembershipsOptions_Listing">
                        <div class="page-content"> 
                            <div class="container">
                                <span id="child-list">
                                    <div ng-if="MembershipOptions_status != 'Success'" class="content-block"><center><span style="text-align: center; width:100%;">No membership options has been added.</span></center></div>
                                    <div ng-hide="x.show_in_app_flg != 'Y'" class="col-100 card-listing col-33-cardlisting oneline" ng-repeat="x in MembersipOptions_List">
                                        <a href="#MembershipsOptions_Description" ng-click="MembershipOptions_Description($index)" class="item-link">
                                            <div class="card">
                                                <div class="clistweb-view card-header">
                                                    <p class="block-with-text"><price style="padding-right: 20px;">{{x.membership_title}}</price><p>
                                                </div>
                                                <div class="clistmobile-view card-header">
                                                    <p style="margin:0;"><price>{{x.membership_title}}</price><p>
                                                </div>
                                                <div class="card-content">
                                                    <div class="clistweb-view card-content-inner" style="height: 60px;">
                                                        <p class="block-with-text sub-tit" style="padding-right:20px;position:absolute;margin-right: 15px;word-wrap: anywhere;">{{x.membership_subtitle}}</p>
                                                    </div>
                                                    <div class="clistmobile-view card-content-inner">
                                                        <p style="margin:0; color:black;word-wrap: anywhere;">{{x.membership_subtitle}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>                                 
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- MEMBERSHIP OPTIONS DESCRIPTION -->
                    <div class="page cached no-tabbar no-swipeback m-opt desc" data-page="MembershipsOptions_Description">
                        <!--For Mobile view-->
                        <div class="mobile-view page-content">
                            <div class="container">
                                <div class="card demo-card-header-pic event-des-imageheight">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="row">
                                                <div class="col-100"><span style="font-size:17px;"><b>{{MembershipOptions_Content.membership_title}}</b></span></div>
                                            </div>
                                            <div ng-show="MembershipOptions_Content.membership_description != ''" class="desc-container">
                                                <b>Description</b><br>
                                                <p compile-template ng-bind-html="MembershipOptions_Content.membership_description | trust"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--For Web view-->
                        <div class="webview page-content">
                            <div class="container">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <div class="row">
                                                <div class="col-100">
                                                    <center><h1>{{MembershipOptions_Content.membership_title}}</h1></center>
                                                </div>
                                                <div ng-show="MembershipOptions_Content.membership_description != ''" class="desc-container">
                                                    <b>Description</b><br>
                                                    <p compile-template ng-bind-html="MembershipOptions_Content.membership_description | trust"></p>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar custom-toolbar-smheight">
                            <div class="toolbar-inner-custom">
                                <center>
                                    <a href="#" class="button active-cus toolbar-button button-maxwidth"  ng-click="SetDefault_StartDate()">Select Membership Start Date</a>
                                </center>
                            </div>
                        </div>
                    </div>

                    <!--MEMBERSHIP DATE SELECTING PAGE-->

                    <div class="page cached no-tabbar no-swipeback date-select" data-page="MembershipsOptions_DateSelection">
                        <div class="page-content">
                            <div class="container">
                                <div class="content-block-title">Select Membership Start Date</div>
                                <center>
                                    <div class="content-block">
                                        <div class="content-block-inner web-calender">
                                            <div id="calendar-inline-container"></div>
                                        </div>
                                    </div>
                                </center> 
                            </div>
                        </div>
                        <div class="toolbar custom-toolbar-smheight">
                            <div class="toolbar-inner-custom">
                                <center><a href="#" class="button active-cus toolbar-button button-maxwidth" ng-click="SetMembershipOptions_CartDetails()">Membership Payment Details</a></center>
                            </div>
                        </div> 
                    </div>


                    <!-- MEMBERSHIP CART PAGE -->
                    <div class="page cached no-tabbar no-swipeback cart" data-page="MembershipsOptions_Cart">
                        <div class="page-content">
                            <div class="container">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <h4 class="subcarthead discountval text-center" id="memsdiscountcode" ng-show="((actual_signup_cost > 0 && signupfee_Discode_exist) || (actual_membership_cost > 0 && memfee_Discode_exist)) && MSOPT_DiscountList != ''"><center><b>Enter Discount Code Here</b></center></h4>
                                            <h3>Registration Details</h3>
                                            <div class="row" style="padding: 5px;margin-left: 5px;">
                                                <div class="col-55"><span>Membership Start Date:</span></div>
                                                <div class="col-45" style="text-align: right"><span>{{payment_start_date_view}}</span></div>
                                                <div ng-show="membership_structure === 'SE'" class="col-55"><span>Membership End Date:</span></div>
                                                <div ng-show="membership_structure === 'SE'" class="col-45" style="text-align: right"><span>{{payment_end_date_view}}</span></div>
                                                <div class="col-45"><span>Sign-Up Fee:</span></div>
                                                <div class="col-55" style="text-align: right"><span>{{cursymbol}}{{total_signup_amount_view|number:2}}</span></div>
                                                <div class="col-45" ng-show="membership_structure === 'SE'"><span>Total Membership Fee:</span></div>
                                                <div class="col-55" ng-show="membership_structure === 'SE'" style="text-align: right"><span>{{cursymbol}}{{TotalMembershipFeeSE|number:2}}</span></div>
                                                <div class="col-45"><span ng-show="membership_structure === 'OE' && first_payment_status">First Payment:</span><span ng-show="(membership_structure === 'OE' && !first_payment_status) || membership_structure === 'NC' || membership_structure === 'C'">Membership Fee:</span><br></div>
                                                <div class="col-55" style="text-align: right">
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'N' && first_payment_status">{{cursymbol}}{{membership_fee_include|number:2}}</span>
                                                    <span ng-hide="(prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'Y') || first_payment_status || membership_structure === 'SE'">{{cursymbol}}{{total_membership_amount_view|number:2}}</span>
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'Y'">{{cursymbol}}{{delay_membership_amount_view|number:2}}</span>
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'N' && mem_fee_include_status === 'N'">{{cursymbol}}{{first_payment_amount|number:2}}</span>
                                                </div>

                                                <div class="col-100" style="text-align: right">
                                                    <span ng-show="prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'N' && mem_fee_include_status === 'Y' && total_membership_amount_view > 0"><small>pro-rated total due today</small></span>
                                                    <span ng-show="prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'Y' && delay_membership_amount_view > 0"><small>pro-rated total due {{delayed_rec_payment_date}}</small></span>
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'Y' && delay_rec_payment_start_flg === 'N' && mem_fee_include_status === 'N' && first_payment_amount > 0"><small>pro-rated total due {{first_payment_startdate}}</small></span>
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'N' && mem_fee_include_status === 'Y' && delay_rec_payment_start_flg === 'N' && total_membership_amount_view > 0"><small>due today</small></span>   
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'N' && mem_fee_include_status === 'N' && delay_rec_payment_start_flg === 'N' && first_payment_amount > 0"><small>due {{payment_start_date_view}}</small></span>
                                                    <span ng-show="membership_structure === 'OE' && prorate_first_payment === 'N' && delay_rec_payment_start_flg === 'Y'"><small>due {{delayed_rec_payment_date}}</small></span>
                                                </div>
                                                <div class="col-45" ng-show="(membership_structure === 'NC' || membership_structure === 'C') && membership_billing_option === 'PP'"><span>Deposit Amount:</span><br></div>
                                                <div class="col-55" style="text-align: right" ng-show="(membership_structure === 'NC' || membership_structure === 'C') && membership_billing_option === 'PP'">
                                                    <span>{{cursymbol}}{{membership_billing_deposit_amount| number:2}}</span>
                                                </div>
                                                <div class="col-45"><span><b>Total Due Today:</b></span></div>
                                                <div class="col-55" style="text-align: right"><span><b>{{cursymbol}}{{final_membership_payment_amount|number:2}}</b></span></div>
                                                <div class="col-100" style="text-align: right"><small><span ng-show="pay_infull_processingfee > 0 && (current_processing_fee_type === 2 || current_processing_fee_type === '2')">plus {{cursymbol}}{{pay_infull_processingfee| number:2}} administrative fees</span></small></div>
                                                <br>
                                            </div> 

                                            <div class="col-100" ng-show="membership_structure === 'SE' && exclude_from_billing_flag === 'Y' && mem_billing_exclude_days.length > 0">
                                                <span>*Program is not offered on these days, payments are pro-rated:</span><br/>
                                                <span ng-repeat="days in mem_billing_exclude_days">&nbsp;{{days.billing_exclude_startdate| date:'EEE, MMM d, y'}}&nbsp; - &nbsp;{{days.billing_exclude_enddate| date:'EEE, MMM d, y'}}<br/></span>
                                            </div>

                                            <h3 ng-show="membership_structure === 'NC' && membership_expiry_status === 'Y'"><span ng-show="membership_no_of_classes > 0">{{membership_no_of_classes}}&nbsp;</span>Class Package Expires:</h3>
                                            <div ng-show="membership_structure === 'NC' && membership_expiry_status === 'Y'" class="row">
                                                <div class="col-100 text-center"><span>{{membership_expiry_date| date:'EEE, MMM d, y'}}</span></div><br/>
                                            </div><br/> 
                                            <h3 ng-show="membership_structure === 'OE' && mem_rec_frequency != 'N' && total_mem_amount_view > 0"><br><br>Membership Payment Plan</h3>
                                            <div ng-show="membership_structure === 'OE' && mem_rec_frequency != 'N' && total_mem_amount_view > 0" class="row" style="padding: 5px;">
                                                <div class="col-60" ng-show="mem_rec_frequency == 'W'"><span>Weekly Recurring:</span></div>
                                                <div class="col-60" ng-show="mem_rec_frequency == 'C' && cus_rec_freq_period_type != 'CM'"><span>{{cus_rec_freq_period_val}}-Week Recurring:</span></div>
                                                <div class="col-60" ng-show="mem_rec_frequency == 'B'"><span>Semi-Monthly Recurring:</span></div>
                                                <div class="col-60" ng-show="mem_rec_frequency == 'M'"><span>Monthly Recurring:</span></div>
                                                <div class="col-60" ng-show="mem_rec_frequency == 'C' && cus_rec_freq_period_type == 'CM'"><span>{{cus_rec_freq_period_val}}-Month Recurring:</span></div>
                                                <div class="col-60" ng-show="mem_rec_frequency == 'A'"><span>Annual Recurring:</span></div>

                                                <div class="col-40" style="text-align: right"><span>{{cursymbol}}{{total_mem_amount_view|number:2}}</span></div>
                                                <div class="col-100" style="text-align: right;"><small><span ng-show="recurring_processing_fee_value > 0 && (current_processing_fee_type === 2 || current_processing_fee_type === '2')">plus {{cursymbol}}{{recurring_processing_fee_value| number:2}} administrative fees</span></small></div>
                                                <div class="col-50"><span>Next Payment Date:</span></div>
                                                <div class="col-50" style="text-align: right" ng-show="mem_rec_frequency !== 'A' && mem_rec_frequency !== 'M' && mem_rec_frequency !== 'B' && mem_rec_frequency !== 'W' && mem_rec_frequency !== 'C'"><span>{{total_payment_startdate_view}}</span></div>
                                                <div class="col-50" style="text-align: right" ng-show="mem_rec_frequency !== 'N'"><span>{{recurring_payment_startdate_view}}</span></div>   
                                            </div>
                                            <h3 ng-show="membership_structure === 'SE' && membership_billing_option === 'PF' && mem_fee_include_status === 'N' && first_payment_status && first_payment_amount > 0">Membership Payment Plan</h3>
                                            <div ng-show="membership_structure === 'SE' && membership_billing_option === 'PF' && mem_fee_include_status === 'N' && first_payment_status && first_payment_amount > 0"  class="row" style="padding: 5px;">
                                                <div class="col-55"><span>{{payment_start_date_view}}</span></div>
                                                <div class="col-45" style="text-align: right"><span>{{cursymbol}}{{first_payment_amount| number:2}}</span></div>
                                                <div class="col-100" style="text-align: right">
                                                    <small><span ng-show="((current_processing_fee_type === '2' || current_processing_fee_type === 2) && first_payment_amount > 0)">(plus {{cursymbol}}{{ SEProcessingFee(first_payment_amount) | number:2}} administrative fees)</span></small>
                                                </div>
                                            </div>
                                            <h3 ng-show="pay.length > 0 && (membership_structure === 'NC' || membership_structure === 'C' || membership_structure === 'SE') && membership_billing_option === 'PP' && mem_rec_frequency != 'N' && total_mem_amount_view > 0">Membership Payment Plan</h3>
                                            <div ng-show="pay.length > 0 && (membership_structure === 'NC' || membership_structure === 'C' || membership_structure === 'SE') && membership_billing_option === 'PP' && total_mem_amount_view > 0" ng-repeat="p in pay"  class="row" style="padding: 5px;">
                                                <div class="col-55"><span>{{p.date| date:'EEE, MMM d, y'}}</span></div>
                                                <div class="col-45" style="text-align: right"><span>{{cursymbol}}{{p.amount| number:2}}</span></div>
                                                <div class="col-100" style="text-align: right">
                                                    <small><span ng-show="(current_processing_fee_type === '1' || current_processing_fee_type === 1) && membership_structure === 'SE' && p.processing_fee > 0">{{p.prorate_flag === 'T'?"(pro-rated payment.)":""}}</span>
                                                        <span ng-show="(current_processing_fee_type === '2' || current_processing_fee_type === 2) && membership_structure === 'SE' && p.processing_fee > 0">({{p.prorate_flag === 'T'?"pro-rated payment, ":""}}plus {{cursymbol}}{{p.processing_fee| number:2}} administrative fees)</span>
                                                        <span ng-show="((current_processing_fee_type === '2' || current_processing_fee_type === 2) && (membership_structure === 'NC' || membership_structure === 'C')) && p.processing_fee > 0">(plus {{cursymbol}}{{p.processing_fee| number:2}} administrative fees)</span></small>
                                                </div>
                                            </div>
                                            <center> <p ng-show="prorate_includes_recurr_note && total_mem_amount_view > 0" style="font-size: 11px">First payment includes pro-rated total for this time period, and the next scheduled payment.</p></center>
                                            <center> <p ng-show="mem_rec_frequency == 'B' && total_mem_amount_view > 0" style="font-size: 11px">Semi-Monthly recurring payments will take place on the 1st and 16th of every month.</p></center>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="toolbar" ng-class="{'custom-toolbar-xlheight' : total_amount_view > 0 && (current_processing_fee_type === '2' || current_processing_fee_type === 2), 'custom-toolbar-height' : total_amount_view <= 0 || (current_processing_fee_type === '1' || current_processing_fee_type === 1)}">
                            <div class="toolbar-inner-custom">
                                <center>{{cursymbol}}{{total_amount_view| number:2}}</center>
                                <center><small ng-show="current_processing_fee_type === '2' || current_processing_fee_type === 2"><span><div class="toolbar-inner-custom-content" ng-show="processing_fee_value > 0 && (current_processing_fee_type === 2 || current_processing_fee_type === '2')">(includes {{cursymbol}}{{processing_fee_value| number:2}} administrative fees)</div></span></small></center>
                                <center><div><a href="#MembershipsOptions_Registrations" ng-click="final_total_payment_amount = total_payment_amount" class="button active-cus toolbar-button button-maxwidth" style="">Check Out</a></div></center>
                            </div>
                        </div> 
                    </div>

                    <!-- MEMBERSHIP REGISTRATION SECTION -->
                    <div class="page cached no-tabbar no-swipeback checkout" data-page="MembershipsOptions_Registrations">
                        <div class="page-content"> 
                            <div class="container">
                                <form enctype="multipart/form-data" novalidate id="mems_paymentform1" name="mems_paymentform1">
                                    <div class="row split_view">
                                        <div class="col-50">
                                            <div class="row">
                                                <div class="col-100 search-member">
                                                    <div class="p-relative">
                                                        <span class="ph-text"><img src="css/img/E4.png" class="search-lens" alt="search lens"><span class="search-txt">Search for member</span></span>
                                                        <input type = "text" id = "autocomplete-dropdown" ng-change="catchMemSearchMember()" ng-model="mem_search_member">
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content event_placeholder_div">
                                                    <div class="title-bar" ng-init="msreg_col_field_name = []">                                    
                                                        <h1 class="title">Participant Info</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div ng-class="{'white-bg': $index == 2}" class="form-group" ng-repeat="msregcols in current_membership_reg_columns">
                                                            <label ng-hide="$index == 2" for="column{{$index}}">{{msregcols.reg_col_name}}</label>
                                                            <label ng-show="$index == 2" for="column{{$index}}" class="expiryLabel">{{msregcols.reg_col_name}}<br></label>
                                                            <input type="text" id="column{{$index}}" placeholder="" name="column{{$index}}" ng-focus="catchMemInputFocus('column'+$index)" ng-blur="catchMemInputBlur('column'+$index,msreg_col_field_name[$index])" ng-model="msreg_col_field_name[$index]" ng-paste="handlepaste($event)" maxlength="100" ng-required="msregcols.reg_col_mandatory === 'Y'">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content event_placeholder_div">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Buyer's Info</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <label>First name</label>
                                                            <input type="text" id="mems1_firstName" ng-model="mems1_firstname" name="mems1_firstname" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Last name</label>
                                                            <input type="text" id="mems1_lastName" ng-model="mems1_lastname" name="mems1_lastname" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="participant_Streetaddress">Billing address</label>
                                                            <input type="text" id="participant_Streetaddress" ng-model="participant_Streetaddress" name="participant_Streetaddress" valid-text>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="participant_City">City</label>
                                                            <input type="text" id="participant_City" name="participant_City" ng-model="participant_City" valid-text>
                                                        </div>
                                                        <div class="row labelAlignMT2">
                                                            <div class="col-50">
                                                                <div class="form-group">
                                                                    <label for="participant_State">State</label>
                                                                    <input type="text" id="participant_State" name="participant_State" ng-model="participant_State" valid-text>
                                                                </div>
                                                            </div>
                                                            <div class="col-50">
                                                                <div class="form-group ">
                                                                    <label for="participant_Zip">Zip code</label>
                                                                    <input type="text" id="participant_Zip" name="participant_Zip" ng-model="participant_Zip" valid-text>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="participant_Country">Country</label>
                                                            <input type="text" id="participant_Country" name="participant_Country"  ng-model="participant_Country" valid-text>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="text" id="mems1_email" ng-model="mems1_email" name="mems1_email" valid-text>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone</label>
                                                            <input type="text" id="mems1_phone" ng-model="mems1_phone" name="mems1_phone" valid-phone-number>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-50">
                                            <div ng-hide="pos_user_type === 'O' || (total_amount_view <= 0 && !zerocostview) " class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Choose payment method</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <select id="membership_payment_method" ng-change="selectPaymentMethod()" class="paymentselect" name="membership_payment_method" ng-model="membership_payment_method">                                   
                                                                <option value="CC">Credit card</option>
                                                                <option ng-disabled="pos_settings_payment_method[1] == 0" value="CA">Cash</option>
                                                                <option ng-disabled="pos_settings_payment_method[2] == 0" value="CH">Check</option>  
                                                            </select>
                                                            <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                        <div ng-show="membership_payment_method === 'CH'" class="form-group">
                                                            <div class="col-50">
                                                                <input type="text" id="membership_check_number" name="membership_check_number" class="ip-alone" placeholder="Enter check number" ng-change="catchMemCheck()" ng-model="membership_check_number">                                      
                                                            </div>
                                                        </div>
                                                        <div ng-show="pos_user_type === 'S' && membership_payment_method === 'CC' && showcardselection && memcarddetails.length > 0 && shownewcard" ng-hide="membership_payment_method !== 'CC' || pos_user_type === 'O' || pos_user_type === 'P' || memcarddetails.length <= 0" class="select-card">
                                                            <div class="title-bar">                                    
                                                                <h1 class="title">Select Card</h1>                                            
                                                            </div>
                                                            <div class="form-group">
                                                                <select ng-change="selectMemCardDetail(selectedcardindex)" id="selectedcardnumber" class="paymentselect" name="selectedcardindex" ng-model="selectedcardindex">
                                                                    <option disabled selected value>Choose card</option>
                                                                    <option id="newcard">Add New credit card</option>
                                                                    <option id="card{{$index}}" ng-repeat="creditCard in memcarddetails" value="{{$index}}">{{creditCard.credit_card_name}}</option>                                        
                                                                </select>
                                                                <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-hide="!shownewcard || membership_payment_method !== 'CC' || (total_amount_view <= 0 && !zerocostview)" class="card">
                                                <div class="card-content">
                                                    <div ng-show="(total_amount_view > 0 || zerocostview) && membership_payment_method === 'CC'" class="title-bar">                                    
                                                        <h1 class="title">Enter your credit card information</h1>                                            
                                                    </div>
                                                    <div ng-show="(total_amount_view > 0 || zerocostview) && membership_payment_method === 'CC'" class="card-content-inner">
                                                        <div ng-show="wepay_enabled">
                                                            <div class="form-group ">
                                                                <label  for="mem_cc_name">Name on card</label>
                                                                <input type="text" id="mem_cc_name" name="mem_cc_name"  ng-model="mem_cc_name" valid-name>
                                                            </div>
                                                            <div class="form-group ">
                                                                <label  for="mems1_cardnumber">Card number</label>
                                                                <input type="text" id="mems1_cardnumber" ng-model="mems1_cardnumber" name="mems1_cardnumber" valid-text>
                                                            </div>
                                                            <div class="form-group">
                                                                <select id="mems1_country" class="paymentselect" name="mems1_country" ng-model="mems1_country" valid-name>                                   
                                                                    <option disabled selected value>Billing country</option>
                                                                    <option value="US">United States</option>
                                                                    <option value="CA">Canada</option>
                                                                    <option value="GB">United Kingdom</option>
                                                                </select>
                                                                <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                            </div>  
                                                            <div class="form-group-split row">
                                                                <div class="col-50">
                                                                    <div class="form-group ">
                                                                        <label  for="mems1_postal_code">Billing zip code</label>
                                                                        <input type="text" id="mems1_postal_code" ng-model="mems1_postal_code" name="mems1_postal_code" valid-text>
                                                                    </div>
                                                                </div>
                                                                <div class="col-50">
                                                                    <div class="form-group ">
                                                                        <label  for="mems1_cvv">CVV</label>
                                                                        <input type="text" id="mems1_cvv" ng-model="mems1_cvv" name="mems1_cvv" valid-text>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group white-bg">
                                                                <div class="row">
                                                                    <div class="col-50 p-relative">
                                                                        <select class="selecttag" id="mems1_ccmonth" name='mems1_ccmonth' ng-model="mems1_ccmonth">
                                                                            <option disabled selected value>Expiration month</option>
                                                                            <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                                                        </select>
                                                                        <span>
                                                                            <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                            <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                        </span>
                                                                    </div> 
                                                                    <div class="col-50 p-relative">
                                                                        <select class="selecttag" id="mems1_ccyear"  name='mems1_ccyear' ng-model="mems1_ccyear">
                                                                            <option disabled selected value>Expiration year</option>
                                                                            <option ng-repeat="year in ccyearlist">{{year}}</option>
                                                                        </select>
                                                                        <span>
                                                                            <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                            <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                        </span>
                                                                    </div> 
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-show="stripe_enabled" style="margin-top: -30px;">
                                                        <div class="card-content-inner">
                                                            <div class="stripe-form">
                                                                <div id="stripe-card-element"></div>
                                                                <!--Used to display form errors--> 
                                                                <div style="color:#fa755a;margin-top: 10px;" id="stripe-card-errors" role="alert"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <!-- Stripe ACH payment -->
                                            <div ng-show="(final_membership_payment_amount > 0 || zerocostview) && membership_payment_method === 'ACH' " class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Enter your ACH information</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <label  for="mem_ach_route_no">Bank routing number</label>
                                                            <input type="text" id="mem_ach_route_no" name="mem_ach_route_no"  ng-model="mem_ach_route_no" valid-number>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mem_ach_acc_number">Bank account number</label>
                                                            <input type="text" id="mem_ach_acc_number" ng-model="mem_ach_acc_number" name="mem_ach_acc_number" valid-text>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mem_ach_holder_name">Holder name</label>
                                                            <input type="text" id="mem_ach_holder_name" ng-model="mem_ach_holder_name" name="mem_ach_holder_name" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <select id="mem_ach_acc_type" class="paymentselect" name="mem_ach_acc_type" ng-model="mem_ach_acc_type" >                                   
                                                                <option disabled selected value>Holder type</option>
                                                                <option value="individual">Individual</option>
                                                                <option value="company">Company</option>
                                                            </select>
                                                            <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card"> 
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Sales agreement</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="col-100">
                                                            <div class="waiver-text" >
                                                                <span compile-template ng-bind-html="MSoptions_waiver_text | trust"></span>
                                                            </div>
                                                            <div ng-hide="(stripe_enabled && membership_payment_method === 'CC' && (final_membership_payment_amount > 0 || zerocostview))" class="col-100">
                                                                <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="mem_waiver_checked" name="mem_waiver_checked" ng-model="mem_waiver_checked">I agree to the above Waiver & Agreement</label>
                                                            </div>
                                                            <span ng-show="(stripe_enabled && (final_membership_payment_amount > 0 || zerocostview))">
                                                                <span ng-show="membership_payment_method === 'ACH'">
                                                                   <input type="checkbox" class="icon icon-form-checkbox waiver-check" id="mem_ach_chkbx" name="mem_ach_chkbx" ng-model="mem_ach_chkbx">
                                                                   <label>I authorize ACH plugin to electronically debit my account And, if necessary, electronically credit my account to correct erroneous debits.</label>
                                                               </span>
                                                               <span ng-show="membership_payment_method === 'CC'">
                                                                   <input type="checkbox" class="icon icon-form-checkbox waiver-check" id="mem_cc_chkbx" name="mem_cc_chkbx" ng-model="mem_cc_chkbx">
                                                                   <label>I authorise {{fav_company_name}} to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.</label>
                                                               </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="opt-disc-container">
                                                        <div ng-show="pos_user_type === 'S' && (total_amount_view > 0 || memfee_optional_discount_applied_flag === 'Y' || signupfee_optional_discount_applied_flag === 'Y') && memfee_discount_applied_flag === 'N' && signupfee_discount_applied_flag === 'N'" class="opt-disc">
                                                            <div ng-show="actual_signup_cost > 0" class="holder">
                                                                <label>Sign up fee discount</label>
                                                                <input type="text" id="signupfee_opt_discount"  placeholder="{{cursymbol}} 0.00"  ng-change="catchOptionalDiscuont('S', signupfee_opt_discount)" ng-model="signupfee_opt_discount" name="signupfee_opt_discount" numbers-only>
                                                            </div>
                                                            <span class="new_mem_text" style="color:red;" ng-show="errorsignupfee">{{errorsignupmsg}}</span><br>
                                                            <div ng-show="actual_membership_cost > 0" class="holder">
                                                                <label>Membership fee discount </label>
                                                                <input type="text" id="memfee_opt_discount"  placeholder="{{cursymbol}} 0.00"  ng-change="catchOptionalDiscuont('M', memfee_opt_discount)" ng-model="memfee_opt_discount" name="memfee_opt_discount" numbers-only>
                                                            </div>
                                                            <span class="new_mem_text" style="color:red;" ng-show="errormemfee">{{errormembershipmsg}}</span><br>
                                                        </div> 
                                                        <div class="registerbutton-align web-view"> 
                                                            <center>
                                                                <div class="price-section">
                                                                    <div>
                                                                        <span class="total-text">Total :</span>&nbsp;<price>{{cursymbol}}{{total_amount_view| number:2}}</price><br>
                                                                        <span ng-show="membership_payment_method ==='CC' && (current_processing_fee_type === '2' || current_processing_fee_type === 2) && final_membership_payment_amount > 0 && processing_fee_value > 0">
                                                                            <small>(includes {{cursymbol}}{{processing_fee_value| number:2}} administrative fees)</small>
                                                                        </span>
                                                                    </div>
                                                                                         
                                                                     <!-- Zero Cost-->
                                                                     <span ng-hide="(final_membership_payment_amount > 0 || zerocostview)">
                                                                         <span ng-show="wepay_enabled"> 
                                                                             <a  ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                                                         </span>
                                                                         <span ng-show="stripe_enabled"> 
                                                                             <a  ng-click="membershipStripeCheckout()" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                                                         </span>
                                                                     </span>
                                                                     <span ng-show="(final_membership_payment_amount > 0 || zerocostview)">
                                                                         <!--Wepay checkout-->
                                                                         <span ng-show="wepay_enabled">    
                                                                             <a ng-hide="zerocostview" ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                                                             <a ng-show="(membership_payment_method === 'CA' || membership_payment_method ==='CH') && (final_membership_payment_amount > 0 || zerocostview)" ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button "> {{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>
                                                                             <a ng-show="membership_payment_method ==='CC' && !shownewcard && (final_membership_payment_amount > 0 || zerocostview)" ng-click="membershipcheckout(mem_credit_card_id, mem_credit_card_status, mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button ">Pay Now</a>
                                                                             <a ng-click="preloader = true" ng-show="membership_payment_method ==='CC' && shownewcard && (final_membership_payment_amount > 0 || zerocostview)" value="Pay Now" id="cc-submit" class="button active-cus toolbar-button ">Pay Now</a>
                                                                         </span>
                                                                         <!--Wepay checkout-->
                                                                         <!--STRIPE SECTION-->
                                                                         <span ng-show="stripe_enabled">
                                                                             <a ng-show="membership_payment_method === 'CH' || membership_payment_method === 'CA' || (membership_payment_method === 'CC' && !shownewcard)"  class="button active-cus toolbar-button" ng-click="membershipStripeCheckout()">{{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>
                                                                             <a id="stripe-cc-new" ng-show="(membership_payment_method === 'CC' && shownewcard)" value="Place order"  ng-click="stripeSubmitForm()" class="button active-cus toolbar-button">{{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>  
                                                                         </span>
                                                                         <!--STRIPE SECTION-->
                                                                     </span>  
                                                                     
                                                                </div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--BOTTOM TOOLBAR FOR MOBILE VIEW-->
                        <div class="toolbar custom-toolbar-xxlheight mobile-view">
                            <div class="toolbar-price" style="padding-top: 10px;">
                                <div style="padding: 0 5px;">
                                    <center>
                                        <span class="total-text">Total :</span>&nbsp;<price>{{cursymbol}}{{total_amount_view| number:2}}</price><br>
                                        <span ng-show="membership_payment_method ==='CC' && (current_processing_fee_type === '2' || current_processing_fee_type === 2) && final_membership_payment_amount > 0 && processing_fee_value > 0">
                                            <small>(includes {{cursymbol}}{{processing_fee_value| number:2}} administrative fees)</small>
                                        </span>
                                    </center>
                                </div>
                                <center>                    
                                 <!-- Zero Cost-->
                                 <span ng-hide="(final_membership_payment_amount > 0 || zerocostview)">
                                     <span ng-show="wepay_enabled"> 
                                         <a  ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                     </span>
                                     <span ng-show="stripe_enabled"> 
                                         <a  ng-click="membershipStripeCheckout()" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                     </span>
                                 </span>
                                 <span ng-show="(final_membership_payment_amount > 0 || zerocostview)">
                                     <!--Wepay checkout-->
                                     <span ng-show="wepay_enabled">    
                                         <a ng-hide="zerocostview" ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button button-maxwidth">Register</a>
                                         <a ng-show="(membership_payment_method === 'CA' || membership_payment_method ==='CH') && (final_membership_payment_amount > 0 || zerocostview)" ng-click="membershipcheckout('', '', mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button "> {{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>
                                         <a ng-show="membership_payment_method ==='CC' && !shownewcard && (final_membership_payment_amount > 0 || zerocostview)" ng-click="membershipcheckout(mem_credit_card_id, mem_credit_card_status, mems1_firstname, mems1_lastname, mems1_email, mems1_phone, mems1_postal_code, mems1_country)" class="button active-cus toolbar-button ">Pay Now</a>
                                         <a ng-click="preloader = true" ng-show="membership_payment_method ==='CC' && shownewcard && (final_membership_payment_amount > 0 || zerocostview)" value="Pay Now" id="cc-submit1" class="button active-cus toolbar-button ">Pay Now</a>
                                     </span>
                                     <!--Wepay checkout-->
                                     <!--STRIPE SECTION-->
                                     <span ng-show="stripe_enabled">
                                         <a ng-show="membership_payment_method === 'CH' || membership_payment_method === 'CA' || (membership_payment_method === 'CC' && !shownewcard)"  class="button active-cus toolbar-button" ng-click="membershipStripeCheckout()">{{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>
                                         <a id="stripe-cc-new" ng-show="(membership_payment_method === 'CC' && shownewcard)" value="Place order"  ng-click="stripeSubmitForm()" class="button active-cus toolbar-button">{{final_membership_payment_amount > 0 ? "Pay Now" : "Register"}}</a>  
                                     </span>
                                     <!--STRIPE SECTION-->
                                 </span>
                                </center>
                        </div>
                    </div> 
                </div>
                <!--FOOTER GOES HERE-->
                <div class="footer">
                    <center>
                        <span>Powered by</span>
                        <img src="css/img/E3.png" alt="">
                    </center>
                </div>
                <!--FOOTER GOES HERE-->
            </div>
        </div>  
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="dist/js/framework7.min.js"></script>
        <script src="js/Angular/jquery-1.12.4.js" type="text/javascript"></script>
        <script src="js/Angular/jquery.date-dropdowns.min.js?v=1935" type="text/javascript"></script>
        <!-- Path to our js-->
        <script type="text/javascript" src="js/my-app.js?v=1935"></script>
        <script type="text/javascript" src="js/services/InitService.js?v=1935" ></script>
        <script src="js/controller/IndexPageController.js?v=1935" type="text/javascript"></script>        

        <!--        <script src="https://static.wepay.com/min/js/wepay.v2.js" type="text/javascript"></script>
                <script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js"></script>-->
        <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.3.latest.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </body>
</html>

