/*Screen grid

col-* - 0 (xs)
col-sm-* - 576px
col-md-* - 768px
col-lg-* - 992px
col-xl-* - 1200px*/

nav{
    position: relative;
}
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-top: 4px;
    background: #efefef;
    position: fixed;
}
.cstm-powerd-by{
    font-size:16px;
    color:#627280;
    letter-spacing: 0.3px;
}
.btn {
    background-color:#009a61;
}
.checkedin-btn {
    background-color:#FFFFFF !important ;
    color:#009a61 !important;
}
.card-body:hover{
    border: 1px solid #6494e0;  
}
#myModallock span{
    font-size: 12px;
    cursor: pointer;
    font-weight:500;
}
#myModalunlock span{
    font-size: 12px;
    cursor: pointer;
    font-weight:500;
}
.close:hover,
.close:focus , a, li, .btn, .checkedin-btn{
    cursor: pointer;
}

.logo-cover {
    object-fit: cover;
    height: 32px; 
    position: absolute;
    left:50%;
    right:50%;
    transform: translate(-50% , 0%);
}

.cstm-checkin{
    font-family: Avenir;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #ffffff;
}   
.custom-title{
    font-family: Avenir;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #000000;
    /*height: 30px;*/
    margin:10px 0;
}
li{
    margin-top: 11px !important;
}
 .cstm-checkindiv{
      height: 85px !important;
}
.cstm-part-txt , .cstm-txt ,.view ul li{
  font-family: Avenir;
  font-size: 23px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  color: #000000;
}
.view li{
  min-height: 96.8px !important;
  max-width:402px !important;
  border-radius: 4px;
  background-color: #ffffff;
}  
 .search-mobile{
    display:none !important;
}
.search-desktop{
    display:block !important; 
}
.card-cstm{
    /*border: 1px solid rgba(0,0,0,.125);*/
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    /*margin: 1% 0%;*/
}
.cstm-list-group-item{
   border:none; 
}

 /*CUSTOM CLASSES FOR MODAL VERTICAL CENTER*/
.modal {
  text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
 }

 .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
 }

 .icon-bgimg {
   /*background-image: url('img/sheild-icon.png');*/
   background-repeat:no-repeat;
   background-size:contain;
   height:27px;
   margin-top: 20px;
   margin-left: 15px;
 }

 .menu-label{
    position: absolute;
    z-index: 55;
    left: 23%;
    letter-spacing: normal;    /*top: 35%;*/
 }
 .li-heading{
    position: absolute;
    top: 35%;
    left:10%;
 } 
 .menu-width{  
    min-width:200px;
    max-width:330px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .modal-heading{
  font-weight: 400;
  letter-spacing: 0.5px;  
 }
 .custom-card-padding{
    padding-left: 15px;
    padding-right: 15px;
 }
 .progress_achieved{
    color: #009a61;
    font-weight: bold;
 }
 .classess_achieved{
    color: red;
    font-weight: bold;
 }
 .custom-bg{
    background: #efefef;
 }
 .modal-body .btn{
     height:41px;
 }
 .cstm-lockandunlock{
     margin-left: -8px;
     width: 106%;
     height: 44px;
 }
 .cstm-lockandunlock-error{
     color: red;
     font-size: 12px;
     margin-bottom: 10px;
     margin-left: 160px;
 }
 
 .checkin-card{
    height: 77vh;
    overflow: auto;
    padding-bottom: 50px;   
 }
 
 .menu-card{
     height: 80vh;
     overflow: auto;
     padding-bottom: 50px;
 }
    
 html{
     overflow: hidden;
 }
 *{
      -webkit-overflow-scrolling:touch;
 }

/*************************************************************************/

                   

/*MEDIA CSS STARTS HERE ADD NEW CUSTOM CSS ABOVE THIS*/


 /*Above Mobile*/ 
@media (min-width: 581px){
    .row .btn{
      width: 130px;
      height: 43.8px;
      border-radius: 4.5px;
      border: solid 1px #bebebe;
      font-size: 18px;
    }
   
    .row .checkedin-btn{
      width: 130px;
      height: 43.8px;
      border-radius: 4.5px;
      border: solid 1px #bebebe;
      font-size: 18px;
   }
   
    .search-desktop{
      width: 190px !important;
      height: 37px;
      border-radius: 5px;
      background-color: #efefef;   
      padding-right: 30px;
    }
    .view li{
      width: 402px;
      min-height: 96.8px !important;
      border-radius: 4px;
      background-color: #ffffff;
    }  
  #myModal .modal-content{
        max-width: 317px !important;
    }
    .view ul li{
       font-size: 20px; 
    }
    .cstm-txt{
        font-size: 20px;
        font-weight: 600;
    }
    .cstm-part-txt {
        font-size: 19px;
        font-weight:500;
        line-height: 1.0;
    }
    .row small{
      font-size: 12px;
     }
  /*FOR NAVBAR MENU & BACK ICON HIDE / SHOW*/
    .mobile-enable{
      display: none;
    }
    .mobile-disable{
      display: block;
    }
    .cstm-modal-max-width{
        max-width:400px;
    } 
    .card-cstm{
      min-height: 110px;
      margin-top:15px;
    }
    .cstm-ltr-spacing{
       line-height: 1.0 !important; 
    }
    .custom-close{
        display:block;
        position:absolute;
        padding-top:.36rem !important;
        right: 25px;
        margin-top: 0;
    }
    .custom-close-mobile{
        display:none;
    }
    .logo-cover {
        height: 34px;        
    }
    .login-modal{
        min-width: 312px;  
    }
}

/*Desktop devices*/
@media (min-width: 992px){
   
    .search-desktop{
      margin-top: -66px;  
    }
    .card-cstm{
      min-height: 125px; 
      margin-top:15px;
    }
     #attendance-listing > div:nth-child(odd){
        padding-right:7.5px;
    }
    #attendance-listing > div:nth-child(even){
        padding-left:7.5px;
    }
    .custom-close{
        position:absolute;
        padding-top:.360rem;
        right: 25px;
        margin-top: -65px;
    }
    .checkin-card{
        height: 75vh;  
    } 
    .logo-cover {
        height: 40px;        
    }
    .login-modal{
        min-width: 312px;  
    }
}
 /*Extra Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    .list-group{
        flex-direction: none !important;
    }
    .container{
        max-width: 3000px;
    }
}

/*iphone 6,7,8,iphone X*/
@media only screen and (max-width: 580px){
    .search-mobile{
        display:block !important;
        margin: 10px 0px;
    }
    .search-desktop{
        display:none !important;
    }
    .row small{
        font-size: 11px;
    }
     .cstm-checkin{
       font-size: 35px;
       padding-top:0px ;
    }
      .cstm-checkindiv{
        height: 68px !important;
    }
    .cstm-txt{
        font-size: 18px;
        font-weight: 600;
    }
    .cstm-part-txt {
        font-size: 16px;
        font-weight:500;
    }
    .view li{
      min-height:75px !important; 
    }
    #myModal .modal-content{
         max-width: 317px !important;
    }
    .view ul li{
       font-size: 18px; 
    }
    
    .row .btn{
        width: 105px;
        height: 35.8px;
        font-size: 14px !important;
        border-radius: 4.5px;
        text-align: center !important;
        border: solid 1px #bebebe;
        min-height: 33px;
    }
    
    .row .checkedin-btn{
        width: 105px;
        height: 35.8px;
        font-size: 14px !important;
        border-radius: 4.5px;
        text-align: center !important;
        border: solid 1px #bebebe;
        min-height: 33px;
    }
    .custom-title{
        margin:auto;
    }
    .custom-card-padding{
        padding-left: 10px ;
        padding-right: 10px;
    }
    .menu-label{
    left: 23%;
    }
    .icon-bgimg{
    height: 25px;
    margin-top: 16px;
    margin-left: 15px;
    }
    .cstm-modal-max-width{
        max-width:300px;
    }
    .cstm-powerd-by{
    font-size:15px;
    }
    
    .menu-width{  
      min-width:150px;
      max-width:280px;   
    }
    .card-cstm{
      min-height: 75px;
      margin-top:10px;
    }
    .cstm-ltr-spacing{
       line-height: 1.0 !important; 
    }
    .custom-close{
        display: none;
    }
    .custom-close-mobile{
        position:absolute;
        padding-top:.360rem !important;
        right: 25px;
        margin-top: -48px;
    }
    .checkin-card{
        height: 84vh;  
    }
} 
 
/*small size*/
@media (max-width: 374px){ 
    .row .btn{
        width: 100px;
/*        height: 32.8px;*/
        font-size: 12px !important;
        border-radius: 4.5px;
        text-align: center !important;
        border: solid 1px #bebebe;
    }
    .row .checkedin-btn{
        width: 100px;
        font-size: 12px !important;
        border-radius: 4.5px;
        text-align: center !important;
        border: solid 1px #bebebe;
    }
    .row small{
        font-size: 11px;
    }
    .cstm-checkin{
       font-size: 35px;
       padding-top:0px ;
    }
    .cstm-checkindiv{
        height: 65px !important;
    }
    .view li{
      min-height: 83px !important;  
    }
    .view ul li{
       font-size: 17px !important; 
    }
    #myModal .modal-content{
         max-width: 280px !important;
    }
    .menu-label{
        left: 26%;
    }
    .icon-bgimg{
    height: 25px;
    margin-left: 13px;
    }
   .cstm-modal-max-width{ 
        max-width:280px;
    }
    .cstm-powerd-by{
    font-size:14px;
    }
    .menu-width{  
      min-width:200px;
      max-width:250px;   
    }
    .card-cstm{
      min-height: 75px;
      margin-top:10px;
    }
    .lock-unlock-modal{
        max-width: 290px;  
    }
    .cstm-lockandunlock-error{
       margin-left: 130px; 
    }
    .custom-card-padding{
        padding-left: 10px ;
        padding-right: 10px;
    }
    .cstm-ltr-spacing{
       line-height: 1.0 !important; 
    }
}
  
  
@media (max-width: 320px){
    
    .menu-label{
        top:20%;
        left: 20%;
        font-size: 15px;
    }
    .view ul li{
       font-size: 15px !important;  
    }
    .icon-bgimg{
        height:25px;
        position: relative;
        margin: 0;
        top:13px;
    }
    .custom-title{
        font-size: 19px;
    }
    .card-cstm{
      min-height: 75px;
      margin-top:10px;
    }
    #programclss .icon-bgimg{
      margin-left: -2px !important;
    }
    #events .icon-bgimg{
        margin-left: 4px;
    }
    .cstm-marginleft-icon .icon-bgimg{
        margin-left: 4px;
    }
    .cstm-modal-max-width{
        max-width:280px;
    }
    .menu-width{  
      min-width:150px;
      max-width:240px;   
    }
    .lock-unlock-modal{
        max-width: 280px;
    }
    .cstm-lockandunlock-error{
       margin-left: 120px; 
    }
    .custom-card-padding{
        padding-left: 10px ;
        padding-right: 10px;
    }
    .custom-close-mobile{
        position:absolute;
        padding-top:.360rem !important;
        right: 25px;
        margin-top: -48px;
    }
} 

/**
 * Spinner
 * --------------------------------------------------
 */
@-moz-keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: visible;
    text-indent: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

#progress {
    background-color: white;
    display: block;
    height: auto;
    left: 0;
    opacity: 0.7;
    position: unset;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}

/*Full loader*/

@-moz-keyframes spinner-loader-full {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-loader-full {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-loader-full {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader-full:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: visible;
    text-indent: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

#progress-full {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: inline-block;
    opacity: 0.5;
    background-color: black;
    z-index: 99999;
    text-align: center;
}

/*MEDIA CSS ENDS HERE ADD NEW CUSTOM CSS ABOVE THIS*/
