/*Screen grid

col-* - 0 (xs)
col-sm-* - 576px
col-md-* - 768px
col-lg-* - 992px
col-xl-* - 1200px*/

nav{
    position: relative;
}
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding-top: 4px;
    background: #efefef;
    position: fixed;
}
.cstm-powerd-by{
    font-size:16px;
    color:#627280;
    letter-spacing: 0.3px;
}
.btn {
    background-color:#009a61;
}
.card-body:hover{
    border: 1px solid #6494e0;  
}
.close:hover,
.close:focus , a, li, .btn, .checkedin-btn{
    cursor: pointer;
}


 /*CUSTOM CLASSES FOR MODAL VERTICAL CENTER*/
.modal {
  text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
 }

 .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
 }
 
 .modal-heading{
  font-weight: 400;
  letter-spacing: 0.5px;  
 }
 
 .modal-body .btn{
     height:41px;
 }
    
 html{
     overflow: hidden;
 }
 *{
      -webkit-overflow-scrolling:touch;
 }

/*************************************************************************/

                   

/*MEDIA CSS STARTS HERE ADD NEW CUSTOM CSS ABOVE THIS*/




/**
 * Spinner
 * --------------------------------------------------
 */
@-moz-keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: visible;
    text-indent: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

#progress {
    background-color: white;
    display: block;
    height: auto;
    left: 0;
    opacity: 0.7;
    position: unset;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}

/*Full loader*/

@-moz-keyframes spinner-loader-full {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinner-loader-full {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner-loader-full {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader-full:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: visible;
    text-indent: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

#progress-full {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: inline-block;
    opacity: 0.5;
    background-color: black;
    z-index: 99999;
    text-align: center;
}

/*MEDIA CSS ENDS HERE ADD NEW CUSTOM CSS ABOVE THIS*/
