/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2017, 10:51:11 AM
    Author     : Jim Prinston J
*/

body {
    background: white none repeat scroll 0 0;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(fonts/glyphicons-halflings-regular.eot);
    src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(fonts/glyphicons-halflings-regular.woff) format('woff'), url(fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
    content: "\2a"}
.glyphicon-plus:before {
    content: "\2b"}
.glyphicon-eur:before, .glyphicon-euro:before {
    content: "\20ac"}
.glyphicon-minus:before {
    content: "\2212"}
.glyphicon-cloud:before {
    content: "\2601"}
.glyphicon-envelope:before {
    content: "\2709"}
.glyphicon-pencil:before {
    content: "\270f"}
.glyphicon-glass:before {
    content: "\e001"}
.glyphicon-music:before {
    content: "\e002"}
.glyphicon-search:before {
    content: "\e003"}
.glyphicon-heart:before {
    content: "\e005"}
.glyphicon-star:before {
    content: "\e006"}
.glyphicon-star-empty:before {
    content: "\e007"}
.glyphicon-user:before {
    content: "\e008"}
.glyphicon-film:before {
    content: "\e009"}
.glyphicon-th-large:before {
    content: "\e010"}
.glyphicon-th:before {
    content: "\e011"}
.glyphicon-th-list:before {
    content: "\e012"}
.glyphicon-ok:before {
    content: "\e013"}
.glyphicon-remove:before {
    content: "\e014"}
.glyphicon-zoom-in:before {
    content: "\e015"}
.glyphicon-zoom-out:before {
    content: "\e016"}
.glyphicon-off:before {
    content: "\e017"}
.glyphicon-signal:before {
    content: "\e018"}
.glyphicon-cog:before {
    content: "\e019"}
.glyphicon-trash:before {
    content: "\e020"}
.glyphicon-home:before {
    content: "\e021"}
.glyphicon-file:before {
    content: "\e022"}
.glyphicon-time:before {
    content: "\e023"}
.glyphicon-road:before {
    content: "\e024"}
.glyphicon-download-alt:before {
    content: "\e025"}
.glyphicon-download:before {
    content: "\e026"}
.glyphicon-upload:before {
    content: "\e027"}
.glyphicon-inbox:before {
    content: "\e028"}
.glyphicon-play-circle:before {
    content: "\e029"}
.glyphicon-repeat:before {
    content: "\e030"}
.glyphicon-refresh:before {
    content: "\e031"}
.glyphicon-list-alt:before {
    content: "\e032"}
.glyphicon-lock:before {
    content: "\e033"}
.glyphicon-flag:before {
    content: "\e034"}
.glyphicon-headphones:before {
    content: "\e035"}
.glyphicon-volume-off:before {
    content: "\e036"}
.glyphicon-volume-down:before {
    content: "\e037"}
.glyphicon-volume-up:before {
    content: "\e038"}
.glyphicon-qrcode:before {
    content: "\e039"}
.glyphicon-barcode:before {
    content: "\e040"}
.glyphicon-tag:before {
    content: "\e041"}
.glyphicon-tags:before {
    content: "\e042"}
.glyphicon-book:before {
    content: "\e043"}
.glyphicon-bookmark:before {
    content: "\e044"}
.glyphicon-print:before {
    content: "\e045"}
.glyphicon-camera:before {
    content: "\e046"}
.glyphicon-font:before {
    content: "\e047"}
.glyphicon-bold:before {
    content: "\e048"}
.glyphicon-italic:before {
    content: "\e049"}
.glyphicon-text-height:before {
    content: "\e050"}
.glyphicon-text-width:before {
    content: "\e051"}
.glyphicon-align-left:before {
    content: "\e052"}
.glyphicon-align-center:before {
    content: "\e053"}
.glyphicon-align-right:before {
    content: "\e054"}
.glyphicon-align-justify:before {
    content: "\e055"}
.glyphicon-list:before {
    content: "\e056"}
.glyphicon-indent-left:before {
    content: "\e057"}
.glyphicon-indent-right:before {
    content: "\e058"}
.glyphicon-facetime-video:before {
    content: "\e059"}
.glyphicon-picture:before {
    content: "\e060"}
.glyphicon-map-marker:before {
    content: "\e062"}
.glyphicon-adjust:before {
    content: "\e063"}
.glyphicon-tint:before {
    content: "\e064"}
.glyphicon-edit:before {
    content: "\e065"}
.glyphicon-share:before {
    content: "\e066"}
.glyphicon-check:before {
    content: "\e067"}
.glyphicon-move:before {
    content: "\e068"}
.glyphicon-step-backward:before {
    content: "\e069"}
.glyphicon-fast-backward:before {
    content: "\e070"}
.glyphicon-backward:before {
    content: "\e071"}
.glyphicon-play:before {
    content: "\e072"}
.glyphicon-pause:before {
    content: "\e073"}
.glyphicon-stop:before {
    content: "\e074"}
.glyphicon-forward:before {
    content: "\e075"}
.glyphicon-fast-forward:before {
    content: "\e076"}
.glyphicon-step-forward:before {
    content: "\e077"}
.glyphicon-eject:before {
    content: "\e078"}
.glyphicon-chevron-left:before {
    content: "\e079"}
.glyphicon-chevron-right:before {
    content: "\e080"}
.glyphicon-plus-sign:before {
    content: "\e081"}
.glyphicon-minus-sign:before {
    content: "\e082"}
.glyphicon-remove-sign:before {
    content: "\e083"}
.glyphicon-ok-sign:before {
    content: "\e084"}
.glyphicon-question-sign:before {
    content: "\e085"}
.glyphicon-info-sign:before {
    content: "\e086"}
.glyphicon-screenshot:before {
    content: "\e087"}
.glyphicon-remove-circle:before {
    content: "\e088"}
.glyphicon-ok-circle:before {
    content: "\e089"}
.glyphicon-ban-circle:before {
    content: "\e090"}
.glyphicon-arrow-left:before {
    content: "\e091"}
.glyphicon-arrow-right:before {
    content: "\e092"}
.glyphicon-arrow-up:before {
    content: "\e093"}
.glyphicon-arrow-down:before {
    content: "\e094"}
.glyphicon-share-alt:before {
    content: "\e095"}
.glyphicon-resize-full:before {
    content: "\e096"}
.glyphicon-resize-small:before {
    content: "\e097"}
.glyphicon-exclamation-sign:before {
    content: "\e101"}
.glyphicon-gift:before {
    content: "\e102"}
.glyphicon-leaf:before {
    content: "\e103"}
.glyphicon-fire:before {
    content: "\e104"}
.glyphicon-eye-open:before {
    content: "\e105"}
.glyphicon-eye-close:before {
    content: "\e106"}
.glyphicon-warning-sign:before {
    content: "\e107"}
.glyphicon-plane:before {
    content: "\e108"}
.glyphicon-calendar:before {
    content: "\e109"}
.glyphicon-random:before {
    content: "\e110"}
.glyphicon-comment:before {
    content: "\e111"}
.glyphicon-magnet:before {
    content: "\e112"}
.glyphicon-chevron-up:before {
    content: "\e113"}
.glyphicon-chevron-down:before {
    content: "\e114"}
.glyphicon-retweet:before {
    content: "\e115"}
.glyphicon-shopping-cart:before {
    content: "\e116"}
.glyphicon-folder-close:before {
    content: "\e117"}
.glyphicon-folder-open:before {
    content: "\e118"}
.glyphicon-resize-vertical:before {
    content: "\e119"}
.glyphicon-resize-horizontal:before {
    content: "\e120"}
.glyphicon-hdd:before {
    content: "\e121"}
.glyphicon-bullhorn:before {
    content: "\e122"}
.glyphicon-bell:before {
    content: "\e123"}
.glyphicon-certificate:before {
    content: "\e124"}
.glyphicon-thumbs-up:before {
    content: "\e125"}
.glyphicon-thumbs-down:before {
    content: "\e126"}
.glyphicon-hand-right:before {
    content: "\e127"}
.glyphicon-hand-left:before {
    content: "\e128"}
.glyphicon-hand-up:before {
    content: "\e129"}
.glyphicon-hand-down:before {
    content: "\e130"}
.glyphicon-circle-arrow-right:before {
    content: "\e131"}
.glyphicon-circle-arrow-left:before {
    content: "\e132"}
.glyphicon-circle-arrow-up:before {
    content: "\e133"}
.glyphicon-circle-arrow-down:before {
    content: "\e134"}
.glyphicon-globe:before {
    content: "\e135"}
.glyphicon-wrench:before {
    content: "\e136"}
.glyphicon-tasks:before {
    content: "\e137"}
.glyphicon-filter:before {
    content: "\e138"}
.glyphicon-briefcase:before {
    content: "\e139"}
.glyphicon-fullscreen:before {
    content: "\e140"}
.glyphicon-dashboard:before {
    content: "\e141"}
.glyphicon-paperclip:before {
    content: "\e142"}
.glyphicon-heart-empty:before {
    content: "\e143"}
.glyphicon-link:before {
    content: "\e144"}
.glyphicon-phone:before {
    content: "\e145"}
.glyphicon-pushpin:before {
    content: "\e146"}
.glyphicon-usd:before {
    content: "\e148"}
.glyphicon-gbp:before {
    content: "\e149"}
.glyphicon-sort:before {
    content: "\e150"}
.glyphicon-sort-by-alphabet:before {
    content: "\e151"}
.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152"}
.glyphicon-sort-by-order:before {
    content: "\e153"}
.glyphicon-sort-by-order-alt:before {
    content: "\e154"}
.glyphicon-sort-by-attributes:before {
    content: "\e155"}
.glyphicon-sort-by-attributes-alt:before {
    content: "\e156"}
.glyphicon-unchecked:before {
    content: "\e157"}
.glyphicon-expand:before {
    content: "\e158"}
.glyphicon-collapse-down:before {
    content: "\e159"}
.glyphicon-collapse-up:before {
    content: "\e160"}
.glyphicon-log-in:before {
    content: "\e161"}
.glyphicon-flash:before {
    content: "\e162"}
.glyphicon-log-out:before {
    content: "\e163"}
.glyphicon-new-window:before {
    content: "\e164"}
.glyphicon-record:before {
    content: "\e165"}
.glyphicon-save:before {
    content: "\e166"}
.glyphicon-open:before {
    content: "\e167"}
.glyphicon-saved:before {
    content: "\e168"}
.glyphicon-import:before {
    content: "\e169"}
.glyphicon-export:before {
    content: "\e170"}
.glyphicon-send:before {
    content: "\e171"}
.glyphicon-floppy-disk:before {
    content: "\e172"}
.glyphicon-floppy-saved:before {
    content: "\e173"}
.glyphicon-floppy-remove:before {
    content: "\e174"}
.glyphicon-floppy-save:before {
    content: "\e175"}
.glyphicon-floppy-open:before {
    content: "\e176"}
.glyphicon-credit-card:before {
    content: "\e177"}
.glyphicon-transfer:before {
    content: "\e178"}
.glyphicon-cutlery:before {
    content: "\e179"}
.glyphicon-header:before {
    content: "\e180"}
.glyphicon-compressed:before {
    content: "\e181"}
.glyphicon-earphone:before {
    content: "\e182"}
.glyphicon-phone-alt:before {
    content: "\e183"}
.glyphicon-tower:before {
    content: "\e184"}
.glyphicon-stats:before {
    content: "\e185"}
.glyphicon-sd-video:before {
    content: "\e186"}
.glyphicon-hd-video:before {
    content: "\e187"}
.glyphicon-subtitles:before {
    content: "\e188"}
.glyphicon-sound-stereo:before {
    content: "\e189"}
.glyphicon-sound-dolby:before {
    content: "\e190"}
.glyphicon-sound-5-1:before {
    content: "\e191"}
.glyphicon-sound-6-1:before {
    content: "\e192"}
.glyphicon-sound-7-1:before {
    content: "\e193"}
.glyphicon-copyright-mark:before {
    content: "\e194"}
.glyphicon-registration-mark:before {
    content: "\e195"}
.glyphicon-cloud-download:before {
    content: "\e197"}
.glyphicon-cloud-upload:before {
    content: "\e198"}
.glyphicon-tree-conifer:before {
    content: "\e199"}
.glyphicon-tree-deciduous:before {
    content: "\e200"}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.docs-demo-device {
    background: #111 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #aaa;
    padding: 50px 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}
.docs-demo-device::before {
    background: #333 none repeat scroll 0 0;
    border-radius: 10px;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 50px;
    width: 60px;
}
.docs-demo-device::after {
    border: 5px solid #333;
    border-radius: 100%;
    bottom: 20px;
    box-sizing: border-box;
    content: "";
    height: 40px;
    left: 55%;
    margin-left: -30px;
    position: absolute;
    width: 40px;
}
.docs-demo-device {
    border-radius: 25px;
    padding: 80px 10px;
}
.docs-demo-device iframe {
    border: medium none;
    display: block;
    margin: 0;
    padding: 0;
}
.previewframe{
    height: 500px;
}
.preview-down{
    opacity: 0.5;
    display: none;
    position:fixed; bottom:0;right:0; z-index: 99; margin-bottom: 2%; margin-right: 1%;
    width: 100px;
}
@media (max-width: 1200px) {
    .preview-down{
    opacity: 0.5;
    display: block;
    position:fixed; bottom:0;right:0; z-index: 99; margin-bottom: 2%; margin-right: 1%;
    width: 100px;
}
.preview-down:hover{
    opacity: 1;
    background: rgba(255, 255, 255, .7);
}
    .docs-demo-device {
    background: #111 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #aaa;
    padding: 50px 30px;
    position: absolute;
    right: 30%;
    top: 0;
    z-index: 1000;
}
.docs-demo-device::before {
    background: #333 none repeat scroll 0 0;
    border-radius: 10px;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 50px;
    width: 60px;
}
.docs-demo-device::after {
    border: 5px solid #333;
    border-radius: 100%;
    bottom: 20px;
    box-sizing: border-box;
    content: "";
    height: 40px;
    left: 55%;
    margin-left: -30px;
    position: absolute;
    width: 40px;
}
.docs-demo-device {
    border-radius: 25px;
    padding: 80px 10px;
}
.previewframe{
    margin-top: 25px;
    height: 700px;
}
}
@media (max-width: 600px) {
    .preview-down{
    opacity: 0.5;
    display: block;
    position:fixed; bottom:0;right:0; z-index: 99; margin-bottom: 2%; margin-right: 1%;
    width: 100px;
}
.preview-down:hover{
    opacity: 1;
    background: rgba(255, 255, 255, .7);
}
    .docs-demo-device {
    background: #111 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #aaa;
    padding: 50px 30px;
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 1000;
}
.docs-demo-device::before {
    background: #333 none repeat scroll 0 0;
    border-radius: 10px;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    top: 50px;
    width: 60px;
}
.docs-demo-device::after {
    border: 5px solid #333;
    border-radius: 100%;
    bottom: 20px;
    box-sizing: border-box;
    content: "";
    height: 40px;
    left: 55%;
    margin-left: -30px;
    position: absolute;
    width: 40px;
}
.docs-demo-device {
    border-radius: 25px;
    padding: 80px 10px;
}
.previewframe{
    margin-top: 25px;
    height: 700px;
}
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.nav.child_menu > li > a, .nav.side-menu > li > a {
 color: black;   
}
.nav.side-menu > li > a:hover, .nav > li > a:focus {
 color: black !important; 
 background: #e5e5e5 none repeat scroll 0 0;
}
.nav.side-menu > li.active > a {
    background: #ffffff none repeat scroll 0 0;
}
.nav li.current-page {
    background: #e5e5e5 none repeat scroll 0 0;
}
.left_col {
    background: #ffffff none repeat scroll 0 0;
}
.nav_title {
    background: white none repeat scroll 0 0;
}
.nav-sm ul.nav.child_menu {
    background: white none repeat scroll 0 0;
}

/*uploadbutton*/
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
/***** Example custom styling *****/
.myLabel {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.myLabel:hover {
    background: #e6e6e6;
    border-color: #adadad;
}
.myLabel:active {
    background: #e6e6e6;
    border-color: #adadad;
}

.selected {
   /*background-color:black;*/
    /*color:black;*/
    /*font-weight:bold;*/
}
.card{
    background: #f3f3f3 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 7px;
    margin: 5px;
}
.card img{
    display: block;
    margin: 0 auto;
}

.card-icon{
    float: right;
    cursor: pointer;
    padding: 5px;
}
.event-cost{
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
}
.message{
    font-size: 16px;
    padding: 10px;
}
.msg-status{
    color: gray !important;
}
.highlight{
    background-color: lightskyblue;
    padding: 10px;
}

/**
 * Spinner
 * --------------------------------------------------
 */
            @-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: visible;
  text-indent: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

#progress {
 background-color: white;
    display: block;
    height: auto;
    left: 0;
    opacity: 0.7;
    position: unset;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99;
}
/*Full loader*/

      @-moz-keyframes spinner-loader-full {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader-full {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader-full {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner-loader-full:not(:required) {
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
  box-shadow: rgba(55,188,155, 1) 1.5em 0 0 0, rgba(55,188,155, 1) 1.1em 1.1em 0 0, rgba(55,188,155, 1) 0 1.5em 0 0, rgba(55,188,155, 1) -1.1em 1.1em 0 0, rgba(55,188,155, 1) -1.5em 0 0 0, rgba(55,188,155, 1) -1.1em -1.1em 0 0, rgba(55,188,155, 1) 0 -1.5em 0 0, rgba(55,188,155, 1) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: visible;
  text-indent: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

#progress-full {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.5;
  background-color: black;
  z-index: 99999;
  text-align: center;
}

.centeritem{
    margin-left: auto;
	margin-right: auto;
	display: block;
}
.btn-lg{
    min-width: 120px;
}


/* Tooltip container */
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 14px;
	height:30px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

/* Sort Div */

.sortable ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.sortable ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.sortable ul[dnd-list] .dndPlaceholder {
    background-color: #e0efff;
    display: block;
    min-height: 150px;
}

.sortable ul[dnd-list] li {
    background-color: #fff;
    display: block;
    padding: 5px 8px;
    margin-bottom: -1px;
    /*overflow: auto;*/
}

/**
 * Show selected elements in #dff0d8
 */
.sortable ul[dnd-list] li.selected {
/*    background-color: #dff0d8;
    color: #3c763d;*/
}

/* Sort menu */

.msortable ul[dnd-list] {
    min-height: 10px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.msortable ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.msortable ul[dnd-list] .dndPlaceholder {
    background-color: #e0efff;
    display: block;
    min-height: 60px;
}

.msortable ul[dnd-list] li {
    background-color: #fff;
    display: block;
    padding: 5px 8px;
    margin-bottom: -1px;
    overflow: auto;
}

/**
 * Show selected elements in #dff0d8
 */
.msortable ul[dnd-list] li.selected {
/*    background-color: #dff0d8;
    color: #3c763d;*/
}
.logo-cover {
  object-fit: cover;
  width: 230px;
  height: 64px;
}
.event-cover {
  object-fit: cover;
  width: 200px;
  height: 167px;
}

.ip-width{
   background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: unset;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70%;
}

.form-control{
    margin: 0 0 20px !important;
}
.login_content{
    background: url('../image/martial-arts.jpg');
    color: #5e5e5e;
    width: 100%;
    height: 100%;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
.login_content a{
    cursor: pointer;
    font-size: 15px !important;
}
.login_content button{
    cursor: pointer;
    margin-top: 15px !important; 
}
.registration_content{
    color: #5e5e5e;
    width: 100%;
    height: 100%;
    background-color: #2a2c2e;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}
.registration_content a:hover {
    text-decoration: underline
}
.registration_content a{
    cursor: pointer;
    font-size: 15px !important;
}
.registration_content button{
    cursor: pointer;
    margin-top: 15px !important; 
}
.registration_content form{
    margin: 0 auto;
    position: relative;
    width: 60%;
    padding: 3%;
    /*background: rgba(255,255,255, 0.9);*/
    /*border-radius: 5px;*/
    min-width: 300px;
    max-width: 600px;
}
.registration_content h1::before {
    background: white none repeat scroll 0 0;
    left: 0;
}
.registration_content h1::after {
    background: white none repeat scroll 0 0;
    right: 0;
}
.registration_content form div a{
    margin: 18px 0 0;
}

.login-btn{
    margin-left: 30%;
}
.login_content form{
    margin: 0 auto;
    position: relative;
    width: 60%;
    padding: 3%;
    background: rgba(255,255,255, 0.9);
    border-radius: 5px;
    min-width: 300px;
    max-width: 600px;
}
.login_content h1::before {
    background: white none repeat scroll 0 0;
    left: 0;
}
.login_content h1::after {
    background: white none repeat scroll 0 0;
    right: 0;
}
.login_content form div a{
    margin: 18px 0 0;
}
.login_form{
    height: 100%;
}
.reset_pas{
    float: right;
    margin: 0 0 10px; 
}

.nav-md ul.nav.child_menu li:before {
    background: none;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}
.nav-md ul.nav.child_menu li:after {
    border-left: 0px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}
.curr_menu_btn{
    width: 120px; margin:10px; float: right; font-weight: bold; border: none; background-color:white;
}
.video-meta-list{
    border-right: 1px solid lightgray;
}
.video-meta{
    /*border-right: 1px solid lightgray;*/
}
.video-meta label{
  font-size: 12px;
}
.modal-video {
    margin: 30px auto;
    width: 900px;
}
.modal-video label{
   font-size: 12px;
}
.modal-video input{
   font-size: 12px;
}
.modal-video span{
   font-size: 12px;
}
.video-thumbnail-cover{
  object-fit: contain;
  width: 200px;
  height: 80px;  
}
.nav-md .nav_title{
background: url("../image/logo_incourage.png") no-repeat;
  background-size: cover;
  height: 68px;
}

.nav-sm .nav_title{
   background: url('../image/logo_m.png') no-repeat;
   background-size: cover;
   height: 75px;
}

.media-div{
    margin-bottom: 15px;
    padding: 0px;
   /*// border: 5px solid blue;*/
}

.media-cover {
    height: 100px;
    object-fit: cover;
    width: 110px;
}

.media-selected{
    border: 1px solid #1abb9c;
    box-shadow: 0 0 5px 1px #1abb9c;
}

ul.bar_tabs > li.active {
    border-right: 0 solid #d3d6da;
    border-top: 0 none;
    margin-top: -19px;
}
ul.bar_tabs > li{
    margin-top: -21px;
}

