<!DOCTYPE html>

<!--The Modal for cancel checkin show -->
<center>
    <div class="modal fade" id="CancelCheckinModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content cstm-modal-max-width">
            <div class="modal-body text-center" id="CancelCheckincontent"> 
            </div>
            <div class="modal-footer" style="margin-bottom: -9px;">
                <button type="button" class="btn btn-block text-white" data-dismiss="modal" ng-click="confirmCancelCheckin(cancel_atten_id,cancel_type)" style="margin-left: -9px">Yes</button>
                <button type="button" class="btn btn-block checkedin-btn" data-dismiss="modal" ng-click="confirmcancelcheckincancel()" style="margin-top: 0; border: 1px solid lightgrey; margin-right: -9px">No</button>
            </div>
        </div>
    </div>
</div>
</center>


<!-- The Modal for Unlock button-->
<center>
<div class="modal fade" id="myModalunlock" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content lock-unlock-modal">
            <span type="text" data-dismiss="modal" class="p-2" ng-click="clearUnlockForm()" style="margin-left: 75%;">CANCEL</span>
            <form enctype="multipart/form-data" novalidate id="unlock" name="unlock">
                <div class="modal-body text-center">
                    <h5 class="modal-heading">Enter your MyStudio <br> credentials to unlock the menu</h5><br>
                    <input type="text" class="form-control cstm-lockandunlock" style="margin-bottom: 5px;" placeholder="Email" name="unlockuseremail" ng-model="unlockuseremail" required>
                    <span class="cstm-lockandunlock-error" ng-show="unlock.unlockuseremail.$touched && unlock.unlockuseremail.$invalid && unlock.unlockuseremail.$error.required">Email is required</span>
                    <input type="password" class="form-control cstm-lockandunlock" style="margin-bottom: 5px;" placeholder="Password" name="unlockpassword" ng-model="unlockpassword" required>
                    <span class="cstm-lockandunlock-error" ng-show="unlock.unlockpassword.$touched && unlock.unlockpassword.$invalid && unlock.unlockpassword.$error.required">Password is required</span>
                    <button class="btn btn-block text-white" style="margin-left: -8px;width: 106%;margin-top: 25px;" ng-disabled="unlock.unlockuseremail.$invalid || unlock.unlockpassword.$invalid" type="submit" ng-click="unlockMenu()">Unlock menu</button>
                    <span ng-show="!studio_AuthenticationStatus" style="color: red;font-size: 12px">MyStudio credentials are incorrect.</span>
                </div>
            </form>
        </div>
    </div> 
</div>
</center>

<!--The Modal for Message show -->
<center>
    <div class="modal fade" id="homeMessageModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="min-width: 250px;">
        <div class="modal-content cstm-modal-max-width">
                <div class="modal-body text-center" id="homeMessagecontent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block text-white" data-dismiss="modal" style="margin-bottom: -9px;">OK</button>
            </div>
        </div>
    </div>
</div>
</center>

<!-- page content -->
<!--<div class=" fixed-top">-->
    <nav class="navbar navbar-expand-xl navbar-light" style="background: #efefef;">
        <a class="float-left" role="button" aria-expanded="false" ng-hide="menuLockStatus === 'Y'" ng-click="HomeMenu()">
            <span  class="navbar-toggler-icon" style="font-size: 1.3em !important"></span>
        </a>
        <a class="float-left" role="button" aria-expanded="false" data-toggle="modal" ng-show="menuLockStatus === 'Y'" ng-click="showUnlockMenu()">
            <img src="Icons/lock_icon.png" alt="" style="height:25px;"/>
        </a>
        <img ng-src="{{company_logo}}" class="logo-cover">
    </nav>

    

    <div class="container-fluid">    
        <div class="row cstm-checkindiv align-items-center" style="background-color:#008957;">
            <div class="container-fluid">
                <div class=" d-flex mx-auto float-left float-lg-none justify-content-center">
                    <span class="text-white align-items-center mt-lg-2 cstm-checkin">Check in</span>
                </div>
                <div class="d-flex float-right mt-3">
                    <input class="form-control text-muted search-desktop" type="search" placeholder="Search for member" id="websearch" ng-model="search.participant_full_name" style="background-color: #efefef;">
                    <button type="button" ng-click="search.participant_full_name = ''" class="close custom-close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-12">
                <input class="form-control text-muted search-mobile" type="search" placeholder="Search for member" id="mobilesearch" ng-model="search.participant_full_name" style="background-color: #efefef;">
                <button type="button" ng-click="search.participant_full_name = ''" class="close custom-close-mobile" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-12 bg-white"><div class="w-sm-100 w-xs-100 text-xs-left custom-title ">{{(category_type === 'M')? memCategoryTitle : (category_type === 'T' ? "Trial Programs" : "All membership categories")}}</div></div>
        </div>    
    </div> 
<!--</div>-->
<div class="container-fluid  checkin-card">
    <div id="attendance-listing" class="row search-div custom-bg">
        <div class="col-12 col-lg-6 col-xl-6 search-div1 custom-card-padding no-gutters" ng-repeat="attendance in attendance_field_array | filter:search">
            <div class="col-12 card-cstm align-items-center d-flex">
                <div class="col-8 col-md-9 col-sm-9 col-xs-8">
                    <i class="cstm-part-txt">{{attendance.participant_last_name}}, {{attendance.participant_first_name}}</i><br>
                    <span class="cstm-ltr-spacing">
                    <small>{{attendance.category_title}}</small><br>
                    <small>Birthday:&nbsp;&nbsp;{{attendance.date_of_birth | dateSuffix}}</small>
                    <!--<small ng-if="(attendance.required_attendance_count === '' && (attendance.membership_structure === 'OE' || attendance.membership_structure === 'SE' || attendance.membership_structure === 'C'))">Progress:&nbsp;&nbsp;{{attendance.actual_attendance}}</small>-->
                    <small ng-if="attendance.required_attendance_count !== ''" ng-class="((attendance.required_attendance_count - attendance.actual_attendance) <= 0) ? 'progress_achieved' : ''"><br>Progress:&nbsp;&nbsp;{{attendance.actual_attendance}} out of {{attendance.required_attendance_count}} required attendance</small>
                    <!--<small ng-if="(attendance.required_attendance_count === '' && attendance.membership_structure === 'NC')">Classes remaining:&nbsp;&nbsp; 0</small>-->
                    <small ng-if="(attendance.no_of_classes !== '' && attendance.membership_structure === 'NC')" ng-class=" ((attendance.no_of_classes - attendance.actual_attendance) <= 0) ? 'classess_achieved' : ''"><br>Classes remaining:&nbsp;&nbsp;{{((attendance.no_of_classes - attendance.actual_attendance) > 0) ? (attendance.no_of_classes - attendance.actual_attendance) : "0"}}</small>
                    <small ng-if="attendance.type == 'trial'"><br>Attendance Total:&nbsp;&nbsp;{{attendance.actual_attendance}}</small>
                    </span>
                </div>
                <div class="col-4 col-md-3 col-sm-3 col-xs-4">
                    <button type="button" class="float-right btn text-white" ng-if="attendance.checkin_flag === 'N'" ng-click="attendanceCheckin(attendance)">Check in</button>
                    <button type="button" class="float-right checkedin-btn" ng-if="attendance.checkin_flag === 'Y'" style="" ng-click="attendanceCheckedin(attendance.attendance_id,attendance.participant_first_name+' '+attendance.participant_last_name,attendance.type)">Checked in</button>
                </div>
            </div>
        </div>
    </div><br><br><br>
</div>


