<!DOCTYPE html>


<!-- The Modal  for classes/programs and Events-->
<center>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">This feature will be available in a future update <br><br>
                <button type="button" class="btn btn-block text-white" style="margin-bottom: -9px;margin-left: -8px;width: 106%;" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
</center>

<!-- The Modal for Lock button-->
<center>
<div class="modal fade" id="myModallock" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content lock-unlock-modal">
            <span type="text" data-dismiss="modal" class="p-2" ng-click="clearLockForm()" style="margin-left: 75%;">CANCEL</span>
            <form enctype="multipart/form-data" novalidate id="lock" name="lock">
                <div class="modal-body text-center">
                    <h5 class="modal-heading">Enter your MyStudio <br>credentials to lock the menu</h5><br>
                    <input type="text" class="form-control cstm-lockandunlock" style="margin-bottom: 5px;" placeholder="Email" name="lockuseremail" ng-model="lockuseremail"required>
                    <span class="cstm-lockandunlock-error" ng-show="lock.lockuseremail.$touched && lock.lockuseremail.$invalid  && lock.lockuseremail.$error.required">Email is required</span>
                    <input type="password" class="form-control cstm-lockandunlock" style="margin-bottom: 5px;"  placeholder="Password" name="lockpassword" ng-model="lockpassword" required>
                    <span class="cstm-lockandunlock-error" ng-show="lock.lockpassword.$touched && lock.lockpassword.$invalid  && lock.lockpassword.$error.required">Password is required</span>
                    <button class="btn btn-block text-white" style="margin-left: -8px;width: 106%;margin-top: 25px;" ng-disabled="lock.lockuseremail.$invalid || lock.lockpassword.$invalid" type="submit" ng-click="lockMenu()" ng-disabled="">Lock menu</button>
                    <span ng-show="!studio_AuthenticationStatus" style="color: red;font-size: 12px">MyStudio credentials are incorrect.</span>
                </div>
            </form>
        </div>
    </div>
</div>
</center>


<!--The Modal for Message show -->
<div class="modal fade" id="messageLockModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="min-width: 250px;">
        <div class="modal-content cstm-modal-max-width">
            <div class="modal-body text-center" id="messageLockcontent">            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-block text-white" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
 </div>

    <nav class="navbar navbar-expand-xl navbar-light" style="background: #efefef;">
        <a class="float-left" role="button" aria-expanded="false" ng-hide="menuLockStatus === 'Y'" ng-click="MenuBack()">
            <span style="padding:5px;"><i class="fas fa-chevron-left" style="font-size: 25px;color:#009a61;"></i></span>
        </a>
        <a class="float-left" role="button" aria-expanded="false" data-toggle="modal" ng-show="menuLockStatus === 'Y'" ng-click="showUnlockMenu()">
            <img src="Icons/lock_icon.png" alt="" style="height:25px;"/>
        </a>
        <img ng-src="{{company_logo}}" class="logo-cover">
    </nav>
<div class="container-fluid">
    <!--View 2-->
    <div id="View2" class="view row" ng-show="mainMenuShow">
            <div class="container-fluid bg-white text-xs-left text-md-center p-2 cstm-txt">Menu</div>                
        <div class="container-fluid custom-bg menu-card">
            <ul class="list-group align-items-center">
                <li class="list-group-item cstm-list-group-item col-lg-6" data-toggle="collapse" ng-click="membershipMenuView()"><div class="icon-bgimg" style="background-image: url('Icons/membership_categories_icon.png')"><span class="menu-label">Membership  categories</span></div></li>
                <li class="list-group-item cstm-list-group-item col-lg-6 disabled" id="programclss" data-toggle="modal" data-target="#myModal"><div class="icon-bgimg" style="background-image: url('Icons/classesandprograms_icon.png');margin-left: 10px;"><span class="menu-label">Classes and programs</span></div></li>
                <li class="list-group-item cstm-list-group-item col-lg-6 disabled" id="events" data-toggle="modal" data-target="#myModal"><div class="icon-bgimg" style="background-image: url('Icons/events_icon.png')"><span class="menu-label">Events</span></div></li>
                <li class="list-group-item cstm-list-group-item col-lg-6 cstm-marginleft-icon" data-toggle="modal" ng-click="showlockMenu()"><div class="icon-bgimg" style="background-image: url('Icons/lock_icon.png')"><span class="menu-label">Lock menu</span></div></li>
            </ul><br><br>
        </div>
    </div>
    
    <!--View 3-->
    <div id="view3" class="view row" ng-show="membershipMenuShow">
        <div class="container-fluid bg-white text-xs-left text-md-center p-2 cstm-txt">Membership categories</div> 
        <div class="container-fluid custom-bg menu-card">
            <ul class="list-group align-items-center pt-3">
                <li class="list-group-item cstm-list-group-item col-lg-6" style="cursor: pointer" ng-click="memCategorySelection('','All membership categories','A')"><span class="li-heading">All Members</span></li> 
                <li class="list-group-item cstm-list-group-item col-lg-6" style="cursor: pointer" ng-click="memCategorySelection('','Trial Programs','T')"><span class="li-heading">Trial Programs</span></li> 
                <li ng-repeat="category in membership_categories_view" style=" cursor: pointer;" class="list-group-item cstm-list-group-item col-lg-6" ng-click="memCategorySelection(category.membership_id,category.category_title,'M')"><span class="li-heading menu-width" data-toggle="tooltip" title="{{category.category_title}}">{{category.category_title}}</span></li>
            </ul><br><br><br>
        </div>
    </div> 

    <!--View 4-->
    <div id="view4" class="view row" ng-show="classesMenuShow">
        <div class="container-fluid text-center p-2 cstm-txt" style="background-color: white !important">Classes and Programs</div>
        <div class="container-fluid custom-bg">
            <ul class="list-group align-items-center pt-3">
                <li class="list-group-item col-lg-6 col-xl-6">All Members</li> 
                <li class="list-group-item col-lg-6 col-xl-6">Kickboxing Fitness</li>
                <li class="list-group-item col-lg-6 col-xl-6">All You Can Yoga</li>
            </ul>
        </div>
    </div>
</div>