
<!--Success modal -->
<div class="modal fade" id="retailmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="retailmessagetitle">Message</label>
            </div>
            <div class="modal-body" id="retailmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Success modal -->  
<!--Delete Confirmation modal -->
<div class="modal fade" id="retaildeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="retaildeletemessagetitle">Message</label>
            </div>
            <div class="modal-body" id="retaildeletemessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelretaildelete()">Cancel</button>
                <button ng-show="deleteconfirmok === 'category' || deleteconfirmok === 'product'" id="done" type="button" class="btn btn-default" ng-click="deleteproduct()" data-dismiss="modal">OK</button>
                <button ng-show="deleteconfirmok === 'variant'" id="done" type="button" class="btn btn-default" ng-click="addorupdatedeletevariants('delete','','','','',deletevariantid)" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Confirmation modal -->  

<!-- modal -->
<div class="modal fade" id="retailcategoryimgcropmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content crop-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="retailcategoryimgcropmodaltitle"></label>
            </div>
            <div class="modal-body" id="retailcategoryimgcropmodalcontent" style="font-size:16px;">
                <center><canvas width="600" height="400" id="canvasimage" image-cropper image="cropper.categorySourceImage" cropped-image="cropper.croppedCategoryImage" crop-width="400" crop-height="200" min-width="400" min-height="200" keep-aspect="true" crop-area-bounds="bounds"></canvas></center>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="retailCategoryimgcropcancel()">Cancel</button>
                <button type="button" ng-click="retailCategoryresetimgcropped()" class="btn btn-default" data-dismiss="modal">Remove</button>
                <button type="button" ng-click="retailCategoryimgcropped()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- /modal -->
<!-- modal -->
<div class="modal fade" id="retailproductimgcropmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content crop-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="retailproductimgcropmodaltitle"></label>
            </div>
            <div class="modal-body" id="retailproductimgcropmodalcontent" style="font-size:16px;">
                <center><canvas width="600" height="400" id="canvasimage" image-cropper image="cropper.productSourceImage" cropped-image="cropper.croppedProductImage" crop-width="400" crop-height="200" min-width="400" min-height="200" keep-aspect="true" crop-area-bounds="bounds"></canvas></center>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="retailProductimgcropcancel()">Cancel</button>
                <button type="button" ng-click="retailProductresetimgcropped()" class="btn btn-default" data-dismiss="modal">Remove</button>
                <button type="button" ng-click="retailProductimgcropped()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- /modal -->
<!--delete all variants modal-->
<div class="modal fade custom-modal" id="deleteallvariants-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p id="failmessage">Changing this will delete all current variants within the Options settings. Do you want to continue?</p>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal" ng-click="variantflag = 'Y'">No</button>
                <button type="button" class="button white-button custom-modal-button" style="background-color:#f2474d;color: white" data-dismiss="modal" ng-click="deleteallvariants()">Yes</button>
            </div>
        </div>
    </div>
</div>
<!--deleted modal-->
<div class="modal fade custom-modal" id="productdeleted-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p id="productdeletedmessage"></p>
                <button type="button" class="button white-button custom-modal-button" ng-click="redirectmanagepage()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="addproduct" style="margin-left: -30px;">   
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">              
                <img src="../../image/scroll.png" class="preview-down"/>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div id="retail-add" class="retail-all-txt" style="text-align:left;cursor: pointer" ng-click="gobacktomanagepage()"><i class='fa fa-chevron-left'></i>&nbsp; back</div>
                        <div class="x_title">
                            <div id="wizard" class="form_wizard wizard_horizontal" style="margin-left:-25px;margin-right: 25px;">
                                <ul class="wizard_steps" >
                                    <li>
                                        <a id="retailtab1" class="done" ng-click="opentabbarretail('details')">
                                            <span class="step_no">1</span>
                                            <span class="step_descr retail-all-txt">
                                                &nbsp;&nbsp;Details&nbsp;
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-if="variantflag === 'Y' || (variantflag === 'N' && addretailproduct.$dirty)">
                                        <a id="retailtab2" class="disabled" ng-click="opentabbarretail('variants')">
                                            <span  class="step_no">2</span>
                                            <span class="step_descr retail-all-txt">
                                                &nbsp;Options&nbsp;
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-if="variantflag === 'N' && !addretailproduct.$dirty" class="tooltips">
                                        <a id="retailtab2" class="disabled">
                                            <span  class="step_no">2</span>
                                            <span class="step_descr retail-all-txt">
                                                &nbsp;Options&nbsp;
                                            </span>
                                        </a>
                                        <span class="tooltiptexts">Options setting is only available with product variants</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!--retail details Add/Edit screen-->
                        <div id="retaildetailsview" ng-show="retaildetailsview" class="x_content">   
                            <div class="retail-all-txt" style="text-align:right; cursor:pointer; color:#05ac68" ng-click="openRetailSupport()"><span class="dot"></span> &nbsp;Learn how to add retail products</div>
                            <div>
                                <form enctype="multipart/form-data" novalidate id="addretailproduct" name="addretailproduct">
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <label class="retail-all-txt">Title<span style="color:red;">*</span></label>
                                        <input type="text" id="retailproductname" class="form-control" ng-change="catchRetailProdName()" style="text-align:left" name="retailproductname" placeholder="Give it a short distinct name" ng-model="retailproductname" required>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="afterpublish">
                                        <label class="retail-all-txt">Product URL</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12 input-group">
                                            <input type="text" id="retailproducturl" class="form-control" style="text-align:left" name="retailproducturl"  ng-model="retailproducturl" ng-readonly="true">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default"  style="margin-top: -20px;" ng-click="" ngclipboard data-clipboard-target="#retailproducturl"><i class="fa fa-clipboard"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                        <label class="retail-all-txt">Image</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="myLabel">
                                                <input onchange="angular.element(this).scope().retailProductImgChanged()" id="fileChooser" type="file" img-cropper-fileread image="cropper.productSourceImage"  name="RetailProductPicture" ng-model="cropper.croppedProductImage" accept="image/png, image/jpeg, image/jpg"/>                       
                                                <span><i class="fa fa-upload"></i> &nbsp;Upload Image</span>                                        
                                            </label>
                                            <div ng-show="retailcroppedProductImage !== ''" id="retailproductimage"><img  ng-click="retailProductImgChanged()" class="img-prev" width="300" height="150" ng-src="{{retailcroppedProductImage}}" /></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <label class="retail-all-txt">Description</label>
                                        <div class="x_panel">
                                            <wysiwyg textarea-id="retailtextarea" ng-change="catchRetailProdDesc()" textarea-class="form-control" ng-paste="htmltoPlainTextretail($event)" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="retailproductdesc" enable-bootstrap-title="true"></wysiwyg>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="retail-all-txt">Tax rate</label>
                                        <input type="text" id="taxrate" class="form-control" ng-change="catchRetailTax()" style="text-align:left;border-radius: 5px;" name="taxrate" placeholder="%" ng-model="taxrate" valid-number prevent-typing-greater required>
                                    </div>
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <label class="retail-all-txt">Use product variants (different sizes, colors, etc.)</label>
                                        <select class="form-control"  ng-model="variantflag" style="border-radius: 5px;" ng-change="catchvariantflag()">
                                            <option value="Y">Yes</option>
                                            <option value="N">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6" ng-show="variantflag === 'N'">
                                        <label class="retail-all-txt">Price</label>
                                        <input type="text" id="retailprice" class="form-control" ng-change="catchRetailProdprice()" style="text-align:left;border-radius: 5px;" name="retailprice" placeholder="$" ng-model="retailprice" required valid-number>
                                    </div>
                                    <div class="col-md-6" ng-show="variantflag === 'N'">
                                        <label class="retail-all-txt">Compare to price</label>
                                        <input type="text" id="retailcompareprice" class="form-control" ng-change="catchRetailCompareprice()" style="text-align:left;border-radius: 5px;" name="retailcompareprice" placeholder="$" ng-model="retailcompareprice" required valid-number>
                                    </div>
                                    <div class="col-md-6" ng-show="variantflag === 'N'">
                                        <label class="retail-all-txt">Current Inventory</label>
                                        <input type="text" id="retailnovariantinventory" class="form-control" ng-change="" style="text-align:left;border-radius: 5px;" name="retailnovariantinventory" placeholder="" ng-model="retailnovariantinventory" required valid-quantity>
                                    </div>
                                    
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <label class="retail-all-txt">Assign product to category</label>
                                        <select class="form-control" id="retailassignprod" ng-change="" ng-model="retailassignprod" style="border-radius: 5px;">
                                            <option value="S">Display product on its own</option>
                                            <option ng-selected="cat.retail_product_id == retailassignprod" ng-repeat="cat in retailcategorylist" value="{{cat.retail_product_id}}">{{cat.retail_product_title}}</option>
                                        </select>
                                    </div><br><br>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <center>
                                            <button class="btn retail-btn retail-cancel-btn" type="button" ng-click="gobacktomanagepage()"><span class="retail-btn-txt" style="color: #000000;">Cancel</span></button>
                                            <button ng-show="afterpublish" class="btn retail-btn retail-cancel-btn" type="button" ng-click="deleteConfirmModal('product','')" style="background: #f32e2e"><span class="retail-btn-txt" style="color: white;">Delete</span></button>
                                            <button ng-hide="afterpublish" class="btn retail-btn" style="background-color: #4a4a4a;" ng-click="addRetail('S','P')" ng-disabled="!retailproductname"><span class="retail-btn-txt">{{retailassignprod === 'S' ? 'Save Draft':'Save'}}</span></button>  
                                            <button ng-show="afterpublish" class="btn retail-btn" style="background-color: #4a4a4a;" ng-click="addRetail(retailproduct_status === 'P' ? 'P':'S','P')" ng-disabled="!retailproductname"><span class="retail-btn-txt">Save</span></button>
                                            <button ng-hide="((afterpublish && retailproduct_status === 'P') || (retailproduct_type === 'P' && retailproduct_status === 'P')) || (retailassignprod !== 'S')" class="btn retail-btn retail-green-btn" type="button" ng-click="addRetail('P','P')" ng-disabled="!retailproductname"><span class="retail-btn-txt">Publish</span></button>
                                            <button ng-show="((afterpublish && retailproduct_status === 'P') || (retailproduct_type === 'S' && retailproduct_status === 'P')) && (retailassignprod === 'S')" class="btn retail-btn retail-green-btn" type="button" ng-click="addRetail('S','P')" ng-disabled="!retailproductname"><span class="retail-btn-txt">Unpublish</span></button> 
                                        </center>
                                    </div>
                                </form>   
                            </div>
                        </div>

                        <div id="retailvariantsview" ng-show="retailvariantsview" class="x_content">
                            <!--<div class="retail-all-txt" style="text-align:right;color:#05ac68"><span class="dot"></span> &nbsp;Learn how to add sizes + inventory</div>-->
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                             <center>
                                 <button class="btn retail-btn retail-green-btn" ng-click="shownewvariants()"><span class="retail-btn-txt">Add Variant</span></button><br>
                             </center>
                        </div>
                        
                        <div ng-show="showAddVariant" class="col-md-12 col-sm-12 col-xs-12 form-group dynamicdivbg">
                            <form name="addnewvariantfield">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control" placeholder="Varient name" ng-change="catchRetailvariantname()" name="variantname" type="text" ng-model="variantname" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control" placeholder="Inventory" name="Inventory" type="text" ng-model="inventorycount" valid-quantity>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control" placeholder="Price" name="variantprice" type="text" ng-model="variantprice" valid-number>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input class="form-control" placeholder="Compare to price" name="variantcompareprice" type="text" ng-model="variantcompareprice" valid-number>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group" >
                                    <button id="reg_edit_one" class="btn btn-default btn-md" ng-click="canceladdvariantview()">Cancel </button>
                                    <button id="reg_edit_one" class="btn btn-primary btn-md"  ng-click="addorupdatedeletevariants('add',variantname,inventorycount,variantprice,variantcompareprice,'')" ng-disabled="!variantname || !variantprice">Save</button>
                                </div>
                            </form>
                        </div>
                        
                        <div  class="x_content sortable">
                            <ul class="list-unstyled" dnd-list="variantslist">
                                <li ng-repeat="cols in variantslist"
                                    dnd-dragstart="dragvariantfieldCallback('start',$index)"
                                    dnd-draggable="cols" 
                                    dnd-moved="variantslist.splice($index, 1)"
                                    dnd-effect-allowed="move" 
                                    dnd-selected="models.selected = cols" 
                                    ng-class="{'selected': models.selected === cols}"
                                    dnd-dragend="dragvariantfieldCallback('end',$index)"
                                    >
                                    <form>
                                        <div id="col{{$index}}" class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-1 col-sm-1 col-xs-1" style="text-align: right;padding: 7px;width: 5%;"><label style="text-align: left">{{$index+1}}.</label></div>
                                            <div ng-show="showaddedvariant || selectedvariantcolindex !== $index">
                                                <div class="col-md-9 col-sm-9 col-xs-9 form-group " style="width: 78%;">
                                                    <input type="text" id="variant_col_view{{$index}}"  name="variant_col_view{{$index}}" class="form-control registerfieldview" placeholder="Varient name" ng-model="cols.variant_name" disabled="">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -15px;padding: 0;">
                                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                                            <span style="font-size: 13px;">*Current inventory: {{cols.variant_inventory_count}}</span>  
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                           <span style="font-size: 13px;">*Price: {{wp_currency_symbol}}{{cols.variant_price}}</span> 
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <span style="font-size: 13px;white-space: nowrap;">*Compare to price: {{wp_currency_symbol}}{{cols.variant_compare_price}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                    <div class="btn-group  btn-group-md">
                                                        <button id="variant_del{{$index}}" class="btn btn-default" type="button" style="width: 35px;"  ng-click="deleteConfirmModal('variant',cols.variant_id)"><i class="fa fa-trash"></i></button>
                                                        <button id="variant_edit{{$index}}" class="btn btn-default" type="button" style="width: 35px;" ng-click="editvariant(cols.variant_name,cols.variant_inventory_count,cols.variant_price,cols.variant_compare_price,$index)"><i class="fa fa-pencil"></i></button>
                                                    </div>                                
                                                </div>
                                            </div>
                                            <div ng-show="edit_showaddedvariant || selectedvariantcolindex === $index">
                                                <div  class="col-md-9 col-sm-9 col-xs-9 form-group " style="width: 78%;">
                                                    <input type="text" id="variant_col{{$index}}" ng-mouseenter="retailvariantremoveDrag($event)" ng-mouseleave="retailvariantaddDrag($event)"  name="variant_col{{$index}}" ng-change="" class="form-control registerfieldview" placeholder="variant label name" ng-model="variant_column_name">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: -15px;padding: 0;">
                                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                                            <span style="font-size: 13px;">*Current inventory:<br><input ng-mouseenter="retailvariantremoveDrag($event)" ng-mouseleave="retailvariantaddDrag($event)" style="width:90px;text-align: center;" type="text" ng-model="variant_inventory_count_updated" ng-change="" valid-quantity ></span>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-4">
                                                            <span style="font-size: 13px;">*Price:<br><input ng-mouseenter="retailvariantremoveDrag($event)" ng-mouseleave="retailvariantaddDrag($event)" style="width:90px;text-align: center;" type="text" ng-model="variant_price_updated" ng-change="" valid-number></span>
                                                        </div>
                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                            <span style="font-size: 13px;"><span style="white-space: nowrap;">*Compare to price:</span><br><input ng-mouseenter="retailvariantremoveDrag($event)" ng-mouseleave="retailvariantaddDrag($event)" style="width:90px;text-align: center;white-space: nowrap;" type="text" ng-model="variant_compare_price_updated" ng-change="" valid-number></span>
                                                        </div> 
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-sm-2 col-xs-2 form-group">
                                                    <div class="btn-group  btn-group-md">
                                                        <button id="variant_save{{$index}}"  class="btn btn-default" type="button" style="width: 35px;" ng-click="addorupdatedeletevariants('update',variant_column_name,variant_inventory_count_updated,variant_price_updated,variant_compare_price_updated,cols.variant_id)"><i class="fa fa-save"></i></button>
                                                        <button id="variant_cancel{{$index}}" class="btn btn-default" type="button" style="width: 35px;" ng-click="cancelsave()"><i class="fa fa-close"></i></button>
                                                    </div>                                
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <center><div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=6736786782067"></iframe></div>  </center>

                    </div> 
                </div>
            

        </div>
        <!--end of add product view-->

        <!--add product catefgory-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="addretailcategoryview" style="margin-left: -30px;">   
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">   
                <!--Category view-->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div>
                            <div ><span class="retail-all-txt" style="text-align:left;cursor: pointer" ng-click="gobacktomanagepage()"> <i class='fa fa-chevron-left'></i>&nbsp;back</span>
                                <span class="retail-all-txt" style="float:right;cursor:pointer;color:#05ac68;" ng-click="openRetailSupport()"><span class="dot"></span> &nbsp;Learn how to add retail products</span>
                            </div>
                            <form enctype="multipart/form-data" novalidate id="addretailcategory" name="addretailcategory" style="margin-top: 30px;">
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label class="retail-all-txt">Category title<span style="color:red;">*</span></label>
                                    <input type="text" id="retailcategoryname" class="form-control" ng-change="catchRetCategoryTitle()" style="text-align:left" name="retailcategoryname" placeholder="Give it a short distinct name" ng-model="retailcategoryname" required>
                                </div>
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label class="retail-all-txt">Category subtitle</label>
                                    <input type="text" id="retailcategorysubname" class="form-control" ng-change="catchRetCategorySubtitle()" style="text-align:left" name="retailcategorysubname" placeholder="Give it a short distinct name" ng-model="retailcategorysubname" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="afterpublish">
                                    <label class="retail-all-txt">Category URL</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12 input-group">
                                        <input type="text" id="retcategoryurl" class="form-control" style="text-align:left" name="retailcategoryurl"  ng-model="retailcategoryurl" ng-readonly="afterpublish">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"  style="margin-top: -20px;" ng-click="" ngclipboard data-clipboard-target="#retcategoryurl"><i class="fa fa-clipboard"></i></button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                    <label class="retail-all-txt">Image</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="myLabel">
                                            <input onchange="angular.element(this).scope().retailCategoryImgChanged()" id="fileChooser" type="file" img-cropper-fileread image="cropper.categorySourceImage"  name="RetailProductPicture" ng-model="cropper.croppedCategoryImage" accept="image/png, image/jpeg, image/jpg"/>                       
                                            <span><i class="fa fa-upload"></i> &nbsp;Upload Image</span>                                        
                                        </label>
                                        <div ng-hide="retailcroppedCategoryImage === ''"id="retailcategoryimage"><img  ng-click="retailCategoryImgChanged()" class="img-prev" width="300" height="150" ng-src="{{retailcroppedCategoryImage}}"/></div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <center>
                                        <button class="btn retail-btn retail-cancel-btn" type="button" ng-click="gobacktomanagepage()"><span class="retail-btn-txt" style="color: #000000;">Cancel</span></button>
                                        <button ng-show="afterpublish" class="btn retail-btn retail-cancel-btn" type="button" ng-click="deleteConfirmModal('category','')" style="background: #f32e2e"><span class="retail-btn-txt" style="color: white;">Delete</span></button>
                                        <button ng-hide="afterpublish" class="btn retail-btn" style="background-color: #4a4a4a;" ng-disabled="!retailcategoryname" ng-click="addRetail('S','C')"><span class="retail-btn-txt">Save Draft</span></button>
                                        <button ng-show="afterpublish" class="btn retail-btn" style="background-color: #4a4a4a;" ng-disabled="!retailcategoryname" ng-click="addRetail(retailcategory_status === 'P' ? 'P':'S','C')"><span class="retail-btn-txt">Save</span></button>
                                        <button ng-hide="afterpublish && retailcategory_status === 'P'" class="btn retail-btn retail-green-btn" type="button" ng-disabled="!retailcategoryname" ng-click="addRetail('P','C')"><span class="retail-btn-txt">Publish</span></button>  
                                        <button ng-show="afterpublish && retailcategory_status === 'P'" class="btn retail-btn retail-green-btn" type="button" ng-disabled="!retailcategoryname" ng-click="addRetail('S','C')"><span class="retail-btn-txt">Unpublish</span></button>
                                    </center>
                                </div>
                            </form>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <center><div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=6736786782067"></iframe></div>  </center>

                </div> 
            </div>

        </div>

       
    </div>

</div>


<!-- /page content -->
