
<!-- modal -->
<div class="modal fade" id="trialimgcropmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content crop-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="trialimgcropmodaltitle"></label>
            </div>
            <div class="modal-body" id="trialimgcropmodalcontent" style="font-size:16px;">
                <center>   <canvas width="600" height="400" id="canvasimage" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" min-width="400" min-height="200" keep-aspect="true" crop-area-bounds="bounds"></canvas></center>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="trialimgcropcancel()">Cancel</button>
                <button type="button" ng-click="trialresetimgcropped()" class="btn btn-default" data-dismiss="modal">Remove</button>
                <button type="button" ng-click="trialimgcropped()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AddtrialmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="Addtrialmessagetitle"></label>
            </div>
            <div class="modal-body" id="Addtrialmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="trialfailuremessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialfailuremessagetitle"></h4>
            </div>
            <div class="modal-body" id="trialfailuremessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="failuredone" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

 
  <!--expiry modal -->
       <div class="modal fade" id="urlexpiryModal" data-backdrop="static" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title" id="urlexpirytitle">Upgrade</h4>
                         </div>
                  <div class="modal-body" id="urlexpirycontent" style="font-size:16px;">
                </div>
                <div class="modal-footer">
                <center>
                    <button type="button" ng-click="paymentnow()" class="btn btn-studio btn-block" data-dismiss="modal">Upgrade Now</button>
                </center> 
                </div>
              </div>
            </div>
          </div>
 <!-- expiry modal -->

<!--Trial category delete modal -->
       <div class="modal fade" id="trialCategoryDeleteModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <label class="modal-title" id="trialCategoryDeletetitle"></label>
                         </div>
                  <div class="modal-body" id="trialCategoryDeletecontent" style="font-size:16px;">
                </div>
                <div class="modal-footer">
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="trialCategorydeleteConfirm()" class="btn btn-default">Ok</button>
                </div>
              </div>
            </div>
          </div>
<!-- /trial category delete modal --> 

<div class="modal fade" id="trialregisterDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="trialregisterDeletetitle"></label>
            </div>
            <div class="modal-body" id="trialregisterDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" ng-click="" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="trialregisterdeleteConfirm()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trialdiscountDeleteModal" data-backdrop="static" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" ng-click="discountdeleteCancel()" class="close" data-dismiss="modal">&times;</button>
                         <label class="modal-title" id="trialdiscountDeletetitle"></label>
                         </div>
                  <div class="modal-body" id="trialdiscountDeletecontent" style="font-size:16px;">
                </div>
                <div class="modal-footer">
                    <button id="cancel" type="button" ng-click="" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="deleteTrialDiscount()" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
              </div>
            </div>
          </div>

<div class="modal fade" id="triallsDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="triallsDeletetitle"></label>
            </div>
            <div class="modal-body" id="triallsDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" ng-click="" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="triallsdeleteConfirm()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- page content -->
<div id="trialaddsnackbar">Trial Program URL copied to clipboard.</div>
<div class="right_col" role="main">
    <div class="row top_tiles">

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">              
            <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div id="wizard" class="form_wizard wizard_horizontal" style="margin-left:-25px;margin-right: 25px;">
                            <ul class="wizard_steps" >
                                <li>
                                    <a id="trialtab1" class="done" ng-click="opentabbartrial('trial')">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            &nbsp;&nbsp;&nbsp;&nbsp;Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </a>
                                </li>
                                <li >
                                    <a  id="trialtab2" class="disabled" ng-click="opentabbartrial('payment')">
                                        <span  class="step_no">2</span>
                                        <span class="step_descr">
                                            &nbsp;&nbsp;&nbsp;Payment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </a>
                                </li>
                                <li >
                                    <a  id="trialtab3" class="disabled" ng-click="opentabbartrial('registration')">
                                        <span  class="step_no">3</span>
                                        <span class="step_descr">
                                            &nbsp;Registration&nbsp;
                                        </span>
                                    </a>
                                </li>
                                <li >
                                    <a  id="trialtab4" class="disabled" ng-click="opentabbartrial('leadsource')">
                                        <span  class="step_no">4</span>
                                        <span class="step_descr">
                                            &nbsp;Lead Source&nbsp;
                                        </span>
                                    </a>
                                </li>
                                <li >
                                    <a  id="trialtab5" class="disabled" ng-click="opentabbartrial('waiver')">
                                        <span  class="step_no">5</span>
                                        <span class="step_descr">
                                            &nbsp;&nbsp;&nbsp;&nbsp;Waiver&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <!--trial details Add/Edit screen-->
                    <div id="trialview" ng-show="trialview" class="x_content">   

                        <div id="snackbar">Event link copied to clipboard.</div>

                        <div>
                            <form enctype="multipart/form-data" novalidate id="addtrialcategory" name="addtrialcategory">
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label>Title<span style="color:red;">*</span></label>
                                    <input type="text" id="trialcategoryname" class="form-control" ng-change="catchTrialName()" style="text-align:left" name="trialcategoryname" placeholder="Give it a short distinct name" ng-model="trialcategoryname" required>
                                </div>
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label>Subtitle</label>
                                    <input type="text" id="trialsubcategoryname" class="form-control" ng-change="catchTrialSubTitle()" style="text-align:left" name="trialsubcategoryname" placeholder="Give it a short distinct name" ng-model="trialsubcategoryname" required>
                                </div>
                                <div ng-hide="afterpublish" class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Trial Program URL <a ng-click="trialinfo('publiccaturl')">&nbsp;<i class="fa fa-info-circle fa-s"></i></a></label>
                                    <div class="col-md-12 col-sm-12 col-xs-12 input-group">
                                        <input type="text" id="trialcatregurl" class="form-control" style="text-align:left" name="trialcatregurl"  ng-model="trialcatregurl" ng-readonly="!afterpublish">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"  style="margin-top: -20px;" ng-click="toastAddTrialmsg('trialadd')" ngclipboard data-clipboard-target="#trialcatregurl"><i class="fa fa-clipboard"></i></button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                                    <label>Image</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="myLabel">
                                            <input onchange="angular.element(this).scope().trialimgchanged()" id="fileChooser" type="file"   img-cropper-fileread image="cropper.sourceImage"  name="TrialPicture" ng-model="cropper.croppedImage" accept="image/png, image/jpeg, image/jpg"/>                       
                                            <span><i class="fa fa-upload"></i> &nbsp;Upload Image</span>                                        
                                        </label>
                                        <small>(400px x 200px recommended)</small>
                                        <div ng-show="trialcroppedCategoryImage !== '' " id="trialimage"><img  ng-click="trialimgchanged()" class="img-prev" width="300" height="150" ng-src="{{trialcroppedCategoryImage}}" /></div>
                                    </div>
                                </div>
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label>After registration, take user to this "Thank you page" (Conversion Page)</label>
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <input type="text" id="memsurl"  style="text-align: center" placeholder="Add URL from your website here if Applicable" class="form-control" name="trialwebsiteurl" ng-click="" ng-model="trialwebsiteurl">
                                    </div>
                                </div>                      
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <label>Description</label>
                                    <div class="x_panel">
                                        <wysiwyg textarea-id="trialtextarea" ng-change="catchTrialdesc()" textarea-class="form-control" ng-paste="htmltoPlainTextTrial($event)" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="trialdesc" enable-bootstrap-title="true"></wysiwyg>
                                    </div>
                                </div> 

                                <div class="center-contents">
                                    <div class="row">
                                        <div class="col-md-8  col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                            <br>
                                            (1) Click [Save draft] to save a draft of this Trial.<br>
                                            (2) Click [Delete] to delete this Trial.<br>
                                            (3) Click [Publish] to save all changes and make this Trial live in the app.
                                            <br><br>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <center>
                                        <button id="cancelcategory" class="btn btn-default btn-lg" type="button" ng-click="cancelTrialCategory()">Cancel</button>
                                        <button ng-hide='!afterpublish' id="savecategory" class="btn btn-dark btn-lg" ng-click="addTrial('S')" ng-disabled="!trialcategoryname">Save Draft</button>
                                        <button ng-hide="afterpublish"  id="deletecategory" class="btn btn-dark btn-lg" type="button" ng-click="deleteTrialCategory(trialid)">Delete</button>  
                                        <button ng-show="!afterpublish" id="savecategory" class="btn btn-dark btn-lg" ng-click="updateTrial(trialstatus,trialid)" ng-disabled="!trialcategoryname">Save</button>
                                        <button ng-show="!afterpublish && trialstatus==='P' && wepaystatus !=='N'" id="unpublishcategory"  class="btn btn-primary btn-lg" ng-click="updateTrial('U',trialid)" ng-disabled="!trialcategoryname">Unpublish</button>
                                        <button ng-hide="(!afterpublish && (trialstatus==='P' || trialstatus==='U' || trialstatus==='S')) || wepaystatus ==='N'" id="publishcategory" ng-disabled = "!trialcategoryname" class="btn btn-primary btn-lg" ng-click="addTrial('P')" >Publish</button>                                        
                                        <button ng-show="(trialstatus==='U' || trialstatus==='S') && wepaystatus !=='N'" id="publishcategory"  class="btn btn-primary btn-lg" ng-click="updateTrial('P',trialid)" ng-disabled="!trialcategoryname">Publish</button> 
                                        <button ng-show="wepaystatus ==='N'" id="publishcategory"  class="btn btn-primary btn-lg" ng-click="showWepayAccountCreation('addtrial')" ng-disabled="!trialcategoryname">Publish</button>
                                    </center>
                                </div>
                            </form>   
                        </div>

                    </div>

                    <!--Payment Screens-->
                    <div id="paymentview" ng-show="trialpaymentview" class="x_content"> 
                        <div >  
                            <form enctype="multipart/form-data" novalidate id="trialpayment" name="trialpayment">                        

                                <div class="col-md-6 col-sm-12 col-xs-12" >
                                    <label>Price</label>
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <input type="text" id="trialprice" class="form-control" ng-change="catchTrialPrice()" style="text-align: center" name="trialprice" ng-model="trialprice"  valid-number required/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6" >
                                    <label style="margin-left: 10px;">Program Length</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="display: inline-block">
                                        <input class="form-control" id="programlengthquantity" type="text" style="width: 45px;display: inline-block;" ng-change="catchProgramdate()" name="programlengthquantity" ng-model="programlengthquantity" valid-quantity required/>
                                        <select class="form-control" style="width:30%;display: inline-block" ng-change="catchProgramdate()" ng-model="programlengthperiod">
                                            <option selected value="D">Day(s)</option>
                                            <option value="W">Week(s)</option>
                                        </select> 
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Processing Fees <a ng-click="">&nbsp;<a ng-click="trialinfo('processingfee')">&nbsp;<i class="fa fa-info-circle fa-s"></i></a></label>
                                    <select id="procesngfee" class="form-controlcus form-control" ng-change="catchTrialProcessingFee()" ng-model="trialprocessingfee" style="width: 93%;">
                                        <option selected ="" value="1">Absorb fees</option>
                                        <option value="2">Pass fees on</option>
                                    </select>
                                    <div>
                                        <span  ng-if="trialprocessingfee === '1' && trialprice !== '0.00' && trialprice !== '0'">Buyer Total:&nbsp;{{wp_currency_symbol}}{{trialprice}}&nbsp;&nbsp;Net Gross:&nbsp;{{wp_currency_symbol}}{{getTrialAbsorbFees(trialprice) | number:2}}</span>
                                        <span  ng-if="trialprocessingfee === '2' && trialprice !== '0.00' && trialprice !== '0'">Buyer Total:&nbsp;{{wp_currency_symbol}}{{getTrialTotalprocessingfee(trialprice) | number:2}}&nbsp;&nbsp;Net Gross:&nbsp;{{wp_currency_symbol}}{{trialprice}}</span><br>
                                    </div>
                                </div><br>


                                <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:5px;" >
                                    <label>Discount Code</label>
                                    <div class="col-md-12  col-sm-12 col-xs-12">
                                        <input type="text" id="trialdiscountcode" class="form-control" ng-change="catchDiscountField()" style="text-align: center" name="trialdiscountcode" ng-model="trialdiscountcode" required/>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">       
                                        <label>
                                            <input type="radio" id="trialdissingledollar" ng-change="trialdiscounttype('dollar')" name='singlediscount' ng-model='trialdiscnt_type' ng-checked="trialdiscnt_type === 'V'">&nbsp; Discount {{wp_currency_symbol}}     
                                            <input type="radio" id="trialdissinglepercent" ng-change="trialdiscounttype('percent')" name='singlediscount' ng-model='trialdiscnt_type' ng-checked="trialdiscnt_type === 'P'" style="margin-left:10px;">&nbsp; Discount %     
                                        </label>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 form-group has-feedback">
                                        <input class="form-control has-feedback-left" placeholder="" style="text-align: center; padding-left: 50px;" type="text" ng-change="catchDiscountField()" ng-model="trialdiscountamount" valid-number required/>
                                        <span ng-if="trialdiscnt_type === 'V'" class="form-control-feedback left" aria-hidden="true">$</span>
                                        <span ng-if="trialdiscnt_type === 'P'" class="form-control-feedback left" aria-hidden="true">%</span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3 form-group" >    
                                        <button ng-disabled="disablediscount" class="btn btn-primary btn-md" ng-click="addTrialDiscount()" >Add </button>
                                    </div>
                                </div> 
                                
                                <div ng-show="trialdiscountListView" id="trialdiscountListView{{$index}}" ng-repeat="trialdiscount in trialdiscountList" class="col-md-12 col-sm-12 col-xs-12 dynamicdivbg">
                                    <div ng-show="trialdiscountView  || $index !== trialselecteddiscountindex">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label>Discount Code</label>
                                            <input id="discount_type{{$index}}" type="hidden" ng-model="trialdiscount.discount_type">                                    
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <input type="text" id="discntcode{{$index}}" class="form-control" ng-change="catchDCode()" style="text-align: center" name="trialdiscntcode" ng-model="trialdiscount.discount_code" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label class="full-width-label">&nbsp;</label>
                                            <div class="col-md-7 col-sm-8 col-xs-12 form-group has-feedback">
                                                <input class="form-control has-feedback-left" id="discntamnt{{$index}}" placeholder="" style="text-align: center; padding-left: 50px;" type="text" ng-model="trialdiscount.discount_amount" disabled>
                                                <span ng-if="trialdiscount.discount_type === 'V'" class="form-control-feedback left"  style="width: 50px;" aria-hidden="true">$</span>
                                                <span ng-if="trialdiscount.discount_type === 'P'" class="form-control-feedback left" aria-hidden="true">%</span>
                                            </div>
                                            <div class="col-md-5 col-sm-4 col-xs-12 form-group has-feedback">
                                                <div class="btn-group  btn-group-md">
                                                    <button id="trialdelete{{$index}}" class="btn btn-default" type="button" ng-click="deleteTrialdiscount(trialdiscount.trial_discount_id)"><i id="trialdelete{{$index}}" class="fa fa-trash"></i></button>
                                                    <button id="trialedit{{$index}}" class="btn btn-default" type="button"  ng-click="edittrialdiscount(trialdiscount,$index)"><i id="trialedit{{$index}}" class="fa fa-pencil"></i></button>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="trialdiscountEditView || $index === trialselecteddiscountindex" id="singlediscountEditView{{$index}}">                           
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <label>Discount Code</label>
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <input type="text" id="sdiscountcode{{$index}}" class="form-control" ng-change="catchEDiscountcode()" style="text-align: center" name="editdiscountcode" ng-model="editdiscountcode" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="col-md-12 col-sm-12 col-xs-12">       
                                                <label>
                                                    <input type="radio" id="sdollar{{$index}}" ng-change="edittrialdiscounttype('dollar')" name='editdiscount{{$index}}' ng-model='edit_discnt_type' ng-checked="edit_discnt_type === 'V'">&nbsp; Discount {{wp_currency_symbol}}  
                                                    <input type="radio" id="spercent{{$index}}" ng-change="edittrialdiscounttype('percent')" name='editdiscount{{$index}}' ng-model='edit_discnt_type' ng-checked="edit_discnt_type === 'P'" style="margin-left: 10px;">&nbsp; Discount %
                                                </label>
                                            </div>
                                            <div class="col-md-7 col-sm-8 col-xs-8 form-group has-feedback">
                                                <input id="sdiscountamnt{{$index}}" class="form-control has-feedback-left" style="text-align: center; padding-left: 50px;" placeholder="" type="text" name="editdiscountamount" ng-model="editdiscountamount" valid-number required/>
                                                <span ng-if="edit_discnt_type === 'V'" class="form-control-feedback left" style="width: 50px;" aria-hidden="true">{{wp_currency_symbol}}</span>
                                                <span ng-if="edit_discnt_type === 'P'" class="form-control-feedback left" aria-hidden="true">%</span>
                                            </div>
                                            <div class="col-md-5 col-sm-4 col-xs-12 form-group has-feedback">
                                                <div class="btn-group  btn-group-md">
                                                    <button id="updatesingledelete{{$index}}" class="btn btn-default" ng-disabled="!editdiscountcode || !editdiscountamount" ng-click="updatetrialdiscount(trialdiscount.trial_discount_id)" ><i class="fa fa-floppy-o"></i></button>
                                                    <button id="updatesingleedit{{$index}}" class="btn btn-default" ng-click="canceledittrialdiscount(trialdiscount,$index)" ><i class="fa fa-close"></i></button>
                                                </div>
                                            </div> 
                                        </div> 
                                    </div>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-xs-12"> 
                                    <center>                                 
                                        <button class="btn btn-primary btn-lg" ng-disabled="trialpayment.trialprice.$invalid || trialpayment.programlengthquantity.$invalid" ng-click="updateTrialPayment()" >Save </button>
                                    </center>
                                </div>
                            </form>
                        </div>  

                    </div>
                    <!--Payment Screens-->

                    <div id="snackbarpaste">Maximum 100 characters allowed.</div>
                    <div id="registrationview" ng-show="trialregistrationview" class="x_content">
                        <div class="center-contents">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2  col-sm-offset-2  col-xs-offset-2" align="left">
                                    <br>
                                    (1) Click [ Add New Field ] to add additional registration fields.<br>
                                    (2) Click & drag the field to re-arrange the order.<br>
                                    (3) All fields below will populate into the Trial registration report.
                                    <br><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <center>
                                <button class="btn btn-primary btn-lg" ng-disabled="trial_registration_columns.length > 9" ng-click="showTrialRegistration()">Add New Field </button><br>
                            </center>
                        </div>

                        <div ng-show="showtrialregistrationview" class="col-md-12 col-sm-12 col-xs-12 form-group dynamicdivbg">
                            <form name = "trialaddnewfield">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input id="trialaddnewfieldvalue" class="form-control" placeholder="Field label name"  ng-change="catchTrialNewRegFieldText()" ng-paste=""  name="trialaddnewfieldvalue" type="text" ng-model="trialaddnewfieldvalue" maxlength="100" required>

                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <button id="reg_edit_one" class="btn btn-default btn-md" ng-click="cancelShowTrialRegistration()">Cancel </button>
                                    <button id="reg_edit_one" class="btn btn-primary btn-md"  ng-click="updateTrialRegistration('Add','')" ng-disabled="trialaddnewfield.trialaddnewfieldvalue.$invalid">Save</button>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group ">
                                    <div class="checkbox">
                                        <label>
                                            <input value="" ng-model="trial_checked" ng-change="catchTrialNewRegFieldMandatory()" type="checkbox"> Make Field Mandatory
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>     

                        <div  class="x_content">
                            <ul class="list-unstyled">
                                <li ng-if="$index < 3" ng-repeat="trial_reg in trial_registration_columns">
                                    <div ng-hide="{{$index == 3}}" id="regfield{{$index}}" class="col-md-12 col-xs-12 col-sm-12">
                                        <div id="col{{$index}}" class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 65px;">
                                            <div class="col-md-9 col-sm-9 col-xs-9 form-group"  style="margin-top: 10px;" >
                                                <input  type="text" id="reg_col_view{{$index}}"  name="reg_col_view{{$index}}" class="form-control registerfieldview" placeholder="Field label name" ng-model="trial_reg.reg_col_name" disabled="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>  

                        <div  class="x_content sortable">
                            <ul class="list-unstyled" dnd-list="trial_registration_columns">
                                <li ng-repeat="trial_cols in trial_registration_columns" ng-show="$index > 3"
                                    dnd-dragstart="trialdragregfieldCallback('start',$index,trial_cols.reg_col_index)"
                                    dnd-draggable="trial_cols" 
                                    dnd-moved="trial_registration_columns.splice($index, 1)"
                                    dnd-disable-if="$index === 0||$index === 1||$index === 2" 
                                    dnd-effect-allowed="move" 
                                    dnd-selected="models.selected = cols" 
                                    ng-class="{'selected': models.selected === trial_cols}"
                                    dnd-dragend="trialdragregfieldCallback('end',$index,'')"
                                    >
                                    <form>
                                        <div id="col{{$index}}" class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 65px;">
                                            <div ng-show="regview || trialselectedregcolindex !== $index" >
                                                <div class="col-md-9 col-sm-9 col-xs-9 form-group ">
                                                    <input  type="text" id="trial_reg_col_view{{$index}}"  name="trial_reg_col_view{{$index}}" class="form-control registerfieldview" placeholder="Field label name" ng-model="trial_cols.reg_col_name" disabled="">
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                    <div ng-hide="$index === 0 || $index === 1 || $index === 2" class="btn-group  btn-group-md">
                                                        <button id="trialreg_del{{$index}}" class="btn btn-default" type="button"  ng-click="trialdeletecol($index)"><i class="fa fa-trash"></i></button>
                                                        <button id="trialreg_edit{{$index}}" class="btn btn-default" type="button" ng-click="edittrialregcolm(trial_cols.reg_col_name, trial_cols.reg_col_mandatory, $index)"><i class="fa fa-pencil"></i></button>
                                                    </div>                                
                                                </div>
                                            </div>
                                            <div ng-show="editregview || trialselectedregcolindex === $index" >
                                                <div class="col-md-9 col-sm-9 col-xs-9 form-group ">
                                                    <input type="text" id="reg_col{{$index}}" ng-mouseenter="trialremoveDrag($event)" ng-mouseleave="trialaddDrag($event)"  name="reg_col{{$index}}" ng-change="catchOldTrialRegFieldText()" class="form-control registerfieldview" ng-paste="paste($event)"  maxlength="100" placeholder="Field label name" ng-model="trialregister_column_name">                                                            
                                                </div>

                                                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                    <div class="btn-group  btn-group-md">
                                                        <button id="reg_save{{$index}}" ng-disabled="!trialregister_column_name" class="btn btn-default" type="button" ng-click="updateTrialRegistration('update', $index)"><i class="fa fa-save"></i></button>
                                                        <button id="reg_cancel{{$index}}" class="btn btn-default" type="button" ng-click="cancelTrialRegChange(trial_cols.reg_col_name, trial_cols.reg_col_mandatory)"><i class="fa fa-close"></i></button>
                                                    </div>                                
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group ">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="mand_checked{{$index}}" ng-model="trialregister_mandatory_check" ng-change="catchOldTrialRegFieldMandatory()" ng-checked="mandatory_check === 'Y'" type="checkbox"> Make Field Mandatory<br>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div id="leadsourceview" ng-show="leadsourceview" class="x_content">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                            <center>
                                <button class="btn btn-primary btn-lg" ng-disabled="leadsourcetrial_registration_columns.length > 9" ng-click="showTrialLeadsource()">Add New Field </button>
                                <a ng-click="trialinfo('leadsource')">&nbsp;<i class="fa fa-info-circle fa-s"></i></a></label><br>
                            </center>
                        </div>

                        <div ng-show="showtrialleadsourceview" class="col-md-12 col-sm-12 col-xs-12 form-group dynamicdivbg">
                            <form name = "trialaddnewfieldls">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label>&nbsp;</label>
                                    <input id="trialaddnewfieldvaluels" class="form-control" placeholder="Field label name"  ng-change="" ng-paste=""  name="trialaddnewfieldvaluels" type="text" ng-model="trialaddnewfieldvaluels" maxlength="100" required>

                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                    <button id="reg_edit_one" class="btn btn-default btn-md" ng-click="cancelShowTrialLeadsource()">Cancel </button>
                                    <button id="reg_edit_one" class="btn btn-primary btn-md"  ng-click="updateTrialLeadsource('Add','')" ng-disabled="trialaddnewfieldls.trialaddnewfieldvaluels.$invalid">Save</button>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 form-group ">
                                </div>
                            </form>
                        </div>     


                        <div  class="x_content sortable">
                            <ul class="list-unstyled" dnd-list="leadsourcetrial_registration_columns">
                                <li ng-repeat="ls_cols in leadsourcetrial_registration_columns"
                                    dnd-dragstart="triallsdragregfieldCallback('start',$index,ls_cols.lead_col_index)"
                                    dnd-draggable="ls_cols" 
                                    dnd-moved="leadsourcetrial_registration_columns.splice($index, 1)"
                                    dnd-effect-allowed="move" 
                                    dnd-selected="models.selected = cols" 
                                    ng-class="{'selected': models.selected === ls_cols}"
                                    dnd-dragend="triallsdragregfieldCallback('end',$index,'')"
                                    >
                                    
                                    <div ng-if="ls_cols.lead_col_name == 'Member Referral' || ls_cols.lead_col_name == 'Studio Location' || ls_cols.lead_col_name == 'Google' || ls_cols.lead_col_name == 'Facebook'"  id="lscol{{$index}}" class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 65px;">
                                        <div class="col-md-9 col-sm-9 col-xs-9 form-group"  style="margin-top: 10px;" >
                                            <input  type="text" id="ls_col_view{{$index}}"  name="ls_col_view{{$index}}" class="form-control registerfieldview" placeholder="Field label name" ng-model="ls_cols.lead_col_name" disabled="">
                                        </div>
                                    </div>
                                    
                                    <form>
                                        <div ng-if="ls_cols.lead_col_name != 'Member Referral' && ls_cols.lead_col_name != 'Studio Location' && ls_cols.lead_col_name != 'Google' && ls_cols.lead_col_name != 'Facebook'" id="lscol{{$index}}" class="col-md-12 col-sm-12 col-xs-12" style="margin-left: 65px;">
                                            <div ng-show="lsview || trialselectedlscolindex !== $index" >
                                                <div class="col-md-9 col-sm-9 col-xs-9 form-group ">
                                                    <input  type="text" id="trial_reg_ls_view{{$index}}"  name="trial_reg_ls_view{{$index}}" class="form-control registerfieldview" placeholder="Field label name" ng-model="ls_cols.lead_col_name" disabled="">
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                    <div  class="btn-group  btn-group-md">
                                                        <button id="trialreg_del{{$index}}" class="btn btn-default" type="button"  ng-click="triallsdeletecol($index)"><i class="fa fa-trash"></i></button>
                                                        <button id="trialreg_edit{{$index}}" class="btn btn-default" type="button" ng-click="edittriallscolm(ls_cols.lead_col_name, $index)"><i class="fa fa-pencil"></i></button>
                                                    </div>                                
                                                </div>
                                            </div>
                                            <div ng-show="editlsview || trialselectedlscolindex === $index" >
                                                <div class="col-md-9 col-sm-9 col-xs-9 form-group ">
                                                    <input type="text" id="ls_col{{$index}}" ng-mouseenter="trialremoveDrag($event)" ng-mouseleave="trialaddDrag($event)"  name="ls_col{{$index}}" ng-change="" class="form-control registerfieldview" ng-paste="paste($event)"  maxlength="100" placeholder="Field label name" ng-model="trialls_column_name">                                                            
                                                </div>

                                                <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                    <div class="btn-group  btn-group-md">
                                                        <button id="reg_save{{$index}}" ng-disabled="!trialls_column_name" class="btn btn-default" type="button" ng-click="updateTrialLeadsource('update', $index)"><i class="fa fa-save"></i></button>
                                                        <button id="reg_cancel{{$index}}" class="btn btn-default" type="button" ng-click="cancelTriallsChange(ls_cols.lead_col_name)"><i class="fa fa-close"></i></button>
                                                    </div>                                
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12 form-group ">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div id="waiverview" ng-show="trialwaiverview" class="x_content">
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <label>Waiver & Agreement</label>
                            <div class="x_panel">
                                <wysiwyg textarea-id="waivertextarea" textarea-class="form-control"  ng-change="catchWaiverText()" ng-paste="htmltoPlainTextTrial($event)"  name="waivertextlength" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="waiverpolicy" enable-bootstrap-title="true"></wysiwyg>                                        
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"> 
                            <center>
                                <button class="btn btn-default btn-lg" ng-click="cancelTrialCategory()">Cancel </button>
                                <button class="btn btn-primary btn-lg" ng-disabled="disablewaivercall" ng-click="updateTrialWaiverDetails()" >Save </button> 
                            </center>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <center><div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=6736786782067"></iframe></div>  </center>

            </div> 
        </div>
    </div>

</div>


<!-- /page content -->
