
<!--fail modal-->
<div class="modal fade" id="adminfailuremessageModal" role="dialog" style="z-index: 1500;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="adminfailuremessagetitle"></h4>
            </div>
            <div class="modal-body" id="adminfailuremessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="failuredone" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--success modal-->
<div class="modal fade" id="adminmessageModal" role="dialog" style="z-index: 1500;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="adminmessagetitle"></h4>
            </div>
            <div class="modal-body" id="adminmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>

<!--delete modal-->
<div class="modal fade custom-modal" id="deletet-modal" role="dialog">
    <div class="modal-dialog" style="width:503px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="hommessagetitle">Enter Email and Password</h4>
                <span class="newmodal-close-text" data-dismiss="modal"><i class="fa fa-close" style="font-size:18px"></i></span>
            </div>
            <div class="modal-body newmodal-body">
                <br><br>
                <div class="row">
                    <div class="col-sm-6"><span style="margin-left: 30px;">Email :</span> </div>
                    <div class="col-sm-6"><input class="inputpad" name="adminmail" type="text" ng-model="adminmail"></div>
                </div><br>
                <div class="row">
                    <div class="col-sm-6">Password : </div>
                    <div class="col-sm-6"><input class="inputpad" name="Password" type="text" ng-model="adminpassword"></div>
                </div><br><br>
                <button type="button" class="button green-button custom-modal-button" ng-disabled="!adminmail || !adminpassword" ng-click="" style="width:30%;" >Delete</button>
            </div>
        </div>
    </div>
</div>

<!--downgrade plan modal-->
<div class="modal fade custom-modal" id="downgradeplan-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><p>Please Select a plan</p><span class="newmodal-close-text" data-dismiss="modal"><i class="fa fa-close" style="font-size:18px"></i></span>
                <select style="width: 64%" ng-model="downgradeplanvalue">
                    <option disabled selected value>--select a plan--</option>
                    <option value="B">Basic</option>
                    <option value="M">Premium Monthly</option>
                    <option value="P">Premium Yearly</option>
                    <option value="WM">White Label Monthly</option>
                </select><br><br>
                <button class="btn btn-primary btn-lg btn-custom" ng-disabled="!downgradeplan" style="background-color: #00ad68; border: 2px solid #00ad68;" data-dismiss="modal" type="button" ng-click="updatepaymentplan()">Change Plan</button>
            </div>
        </div>
    </div>
</div>

<!--editmodel-->
<div class="modal fade custom-modal" data-backdrop="static" id="editaccount-modal" role="dialog" >
    <div class="modal-dialog" style="width: 50%;margin: 10px auto;">
        <div class="modal-content">
            <div class="modal-body newmodal-body studio-details-content" >
                <span class="newmodal-close-text" data-dismiss="modal" ng-click="clearmodal()"><i class="fa fa-close" style="font-size:18px"></i></span>
                <div class="row">
                    <div id="left" class="col-sm-7 col-sm-offset-3">
                        <div class="row">                            
                            <div class="col-sm-4"><span>Studio Name :</span>
                            </div>
                            <div class="col-sm-8"><span>{{companyname}}</span>
                            </div> 
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Code :</span>
                            </div>
                            <div class="col-sm-8"><span>{{company_code}}</span>
                            </div> 
                        </div>
                        <br>
                        <div class="row">
                             <div class="col-sm-4"><span>Email for Log In :</span>
                            </div>
                            <div class="col-sm-8"><span>{{email_for_log_in}}</span>
                            </div> 
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Lead Source :</span>
                            </div>
                            <div class="col-sm-8"><span>{{leadsource}}</span>
                            </div>  
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Owner Name :</span>
                            </div>
                            <div class="col-sm-8"><span>{{ownername}}</span>
                            </div> 
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>First Name :</span>
                            </div>
                            <div class="col-sm-8"><span>{{userfirstname}}</span>
                            </div> 
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span><span>Last Name :</span>
                            </div>
                            <div class="col-sm-8"><span>{{userlastname}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Phone :</span>
                            </div>
                            <div class="col-sm-8"><span>{{userphone}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Industry :</span>
                            </div>
                            <div class="col-sm-8"><span>{{industry}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Street Address :</span>
                            </div>
                            <div class="col-sm-8"><span>{{street_address}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>City :</span>
                            </div>
                            <div class="col-sm-8"><span>{{city}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>State :</span>
                            </div>
                            <div class="col-sm-8"><span>{{state}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Postal Code :</span>
                            </div>
                            <div class="col-sm-8"><span>{{postal_code}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Country :</span>
                            </div>
                            <div class="col-sm-8"><span>{{country}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Phone :</span>
                            </div>
                            <div class="col-sm-8"><span>{{studiophone}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Website :</span>
                            </div>
                            <div class="col-sm-8"><span>{{website}}</span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4"><span>Total Event Sales :</span>
                            </div>
                            <div class="col-sm-8"><span>{{wp_currency_symbol}}{{total_event_sales}}</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Total Membership Sales :</span>
                            </div>
                            <div class="col-sm-8"><span>{{wp_currency_symbol}}{{total_membership_sales}}</span>
                            </div>
                        </div>
                        <br><br>
                        <div id="eidtdelbutton" class="row">
                            <center>
                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button"  ng-click="showeditviewgrid()">Edit</button>
                                <!--<button class="btn btn-primary btn-lg btn-custom"  style="background-color: #ff6666; border: 2px solid #ff6666;" type="button"  ng-click="showdeleteview()">Delete</button>-->
                            </center>
                        </div>
                    </div>
                    <div id="right" class="col-sm-6 borderleft" ng-show="showeditview" style="padding-left: 20px;">
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Name : </span></div>
                            <div class="col-sm-8"><input class="inputpad" name="studio_name" type="text" ng-model="studio_name"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Code :</span> </div>
                            <div class="col-sm-8"><input class="inputpad" name="studio_code" type="text"  ng-model="edit_company_code" ng-change="checkcodeavailablity()">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Email for Log In : </span></div>
                            <div class="col-sm-8"><input class="inputpad" name="email_for_log_in" type="text"  ng-model="edit_email_for_log_in" ng-change="checkemailavailablity()">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Lead Source :</span> </div>
                            <div class="col-sm-8">
                                <select  class="inputpad" id="lead_source" name="lead_source" ng-model="lead_source">
                                    <option ng-repeat="lead in leadsourcelist" value="{{lead}}">{{lead}}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Owner Name :</span> </div>
                            <div class="col-sm-8"><input class="inputpad" name="owner_name" type="text" ng-model="owner_name">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>First Name :</span> </div>
                            <div class="col-sm-8"><input class="inputpad" name="user_firstname" type="text" ng-model="user_firstname">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Last Name :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="user_lastname" type="text" ng-model="user_lastname">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Phone :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="user_phone" type="text" ng-model="user_phone">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Industry :</span></div>
                            <div class="col-sm-8">
                                <select  class="inputpad" id="edit_industry" name="edit_industry" ng-model="edit_industry">
                                    <option ng-repeat="industry in industrylist" value="{{industry}}">{{industry}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="edit_industry === 'Other'" class="row" style="margin-top:10px;">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_other_industry" type="text" ng-model="edit_other_industry">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Street Address :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_street_address" type="text" ng-model="edit_street_address">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>City :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_city" type="text" ng-model="edit_city">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>State : </span></div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_state" type="text" ng-model="edit_state">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Postal Code :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_postal_code" type="text" ng-model="edit_postal_code">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Country :</span> </div>
                            <div class="col-sm-8">
                                <select  class="inputpad" id="edit_country"  name="edit_country"  ng-model="edit_country">
                                    <option ng-repeat="country in countrylist" value="{{country}}">{{country}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="edit_country === 'Other'" class="row" style="margin-top:10px;">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_other_country" type="text" ng-model="edit_other_country">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Phone : </span></div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="studio_phone" type="text" ng-model="studio_phone">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4"><span>Studio Website :</span> </div>
                            <div class="col-sm-8">
                                <input class="inputpad" name="edit_website" type="text" ng-model="edit_website">
                            </div>
                        </div>
                        <br>
                        <br><br>
                        <div class="row">
                            <center>
                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: white; border: 1px solid black; color: black" type="button"  ng-click="canceleditview()">Cancel</button>
                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="!studio_name || !edit_email_for_log_in || !edit_company_code || disableifnotavailable"  ng-click="updateaccountdetail()">Update</button>
                            </center>
                        </div>                        
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>
<!--page starts-->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="logo-navbar" >            
                <div class="row" style="margin-top: 80px;">
                    <div class="col-xs-12 col-sm-12 col-lg-12" >
                        <a class="action-icons-top-format" ng-click="exportstudiocsvforadmin()"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer; margin-bottom: 15px;">&nbsp;&nbsp;Export All Data</label></a>
                        <table datatable="" id="DataTables_Table_adminaccount" dt-instance="admindtInstance" dt-options="accountdtOptions" dt-columns="accountdtColumns"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>


