<style>
    table {
        border: 1px solid black;
    }
    tr{
        border: 1px solid;
        height:40px;
    }
    /*.admintooltip { position: relative; display: inline-block; }*/ 
    .admintooltip .admintooltiptext { visibility: hidden; width: 200px; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 0; /*Position the tooltip*/ position: absolute; z-index: 1; top: -40px; left: -96%; } 
    .admintooltip:hover .admintooltiptext { visibility: visible; opacity: 0.7; position: absolute; }
</style>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="width:100%;margin-top: -35px;margin-left: -20px;">
            <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="dashboardTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" id="li-dashboard" class="active-event-list">
                        <a ng-click="" id="dash-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                    </li>
                    <li role="presentation" id="li-payment" class="event-list-title">
                        <a ng-click="" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                </ul>
                <span class="greentab-text  hometab-text-1 greentab-text-active" ng-click="">Dashboard</span>
                <span class="greentab-text  hometab-text-2 admintooltip" ng-click="">Payments
                    <span class="admintooltiptext">
                        Coming Soon
                    </span>
                </span>
                <div id="dashboardTabContent" class="tab-content">
                    <div role="tabpanel" aria-labelledby="home-tab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" style="padding: 15px 0px 0px 0px;">
                                <div class="x_content">
                                    <div id="myTabContent" class="tab-content" >
                                        <div role="tabpanel"  aria-labelledby="home-tab" >
                                            <table id="adminhome" class="" style="width: 40%; margin: 10px;">
                                                <thead style="border: 1px solid; height: 37px;">
                                                    <tr>
                                                        <th style="padding-left: 12px;">Active Member</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="height: 230px;">
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Total Members</td>
                                                        <td>{{total_members}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">White Label Monthly Payments</td>
                                                        <td>{{white_lable_monthly}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">White Label Annual Payments</td>
                                                        <td>{{white_lable_yearly}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Premium Annual Payments</td>
                                                        <td>{{premium_yearly}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Premium Monthly Payments</td>
                                                        <td>{{premium_monthly}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Basic</td>
                                                        <td>{{basic}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Failed Payments</td>
                                                        <td>{{failed_payments}}</td>
                                                    </tr>                                                    
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Inactive</td>
                                                        <td>{{Inactive}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: left; padding-left: 12px;">Cancelled</td>
                                                        <td>{{Cancelled_account }}</td>
                                                    </tr>  
<!--                                                    <tr style="border: 1px solid;">
                                                        <td style="text-align: left; padding-left: 12px;">Total Processing</td>
                                                        <td>$13,345,666.56</td>
                                                    </tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
