     
    <!--Admin Login form-->    
      <div class="login_wrap" >
        <div class="animate form login_form"> 
          <section class="registration_content">
              
              <form enctype="multipart/form-data" novalidate id="adminlogin" name="adminlogin">
                  <center><h3 style="color: white; align-content: center;">Admin Log in to MyStudio App</h3></center><br/>
  
              <div>
                <input type="text" class="form-control" placeholder="Email address" name="adminusername" ng-model="adminusername" required>
                <span style="color: red" ng-show="adminlogin.adminusername.$touched && adminlogin.adminusername.$invalid  && adminlogin.adminusername.$error.required">
                              Username is required
                        </span>
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="adminpassword" ng-model="adminpassword" required>
                <span style="color: red" ng-show="(adminlogin.adminpassword.$touched && adminlogin.adminpassword.$invalid) && adminlogin.adminpassword.$error.required">
                              Password is required
                        </span>
              </div>
              <div>
                  <center><button ng-disabled="adminlogin.adminusername.$invalid || adminlogin.adminpassword.$invalid" style="background-color:#009a62; color: white" class="btn btn-lg" type="submit" ng-click="adminLogin()">Login</button></center>
              </div>
              <br/>

              <div class="clearfix"></div>
              <center>
              <div class="">
                  <h1></h1>
                  <p style="color: white;">©2017 All Rights Reserved.</p>
                </div>              
              </center>
            </form>
          </section>
            </div>
        </div>