 <!--cloning modal -->
 <div class="modal fade" id="cloningMessageModal" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h3 class="modal-title" id="cloningmessagetitle"></h3>
             </div>
             <div class="modal-body" id="cloningmessagecontent" style="font-size:16px;">
             </div>
             <div class="modal-footer">
                 <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
             </div>
         </div>
     </div>
 </div>
 
  <div class="modal fade" id="cloningSuccessMessageModal" data-backdrop="static" role="dialog">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h3 class="modal-title" id="cloningSuccessmessagetitle"></h3>
             </div>
             <div class="modal-body" id="cloningSuccessmessagecontent" style="font-size:16px;">
             </div>
             <div class="modal-footer">
                 <button id="done" type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetCloningForm()">OK</button>
             </div>
         </div>
     </div>
 </div>
<!--pagestarts-->
<div class="right_col" role="main">
    <div class="row top_tiles">
 <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -10px;">
    <div class="x_panel">        
        <div>
            <div class="x_title">
                <div class="col-md-12"><center><h3 style="width:100%;">Admin Cloning Panel</h3></center></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="row top_tiles">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="tile-stats" style="min-height: 110px;">
                        <h3 style="left: 10px;margin-top: 10px;">From</h3><br>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-7 col-sm-7 col-xs-9 form-group">
                                <input class="form-control" placeholder="Enter Email Address" style="text-align: center; padding: 10px;" type="text" ng-model="fromlookup" required/>
                                <span ng-if="fromcompanyerrorshow" style="color:red;">Company Email does not exist</span>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-3 form-group" >    
                                <button ng-disabled="!fromlookup" style="width:90px;" class="btn btn-primary btn-md" ng-click="clonefromLookup()" >Lookup</button>
                            </div>
                        </div>
                        <span ng-if="clonefromcompanyname && !fromcompanyerrorshow" style="margin-left:20px;position:relative;top:-15px;">Company Name:&nbsp;{{clonefromcompanyname}}&nbsp;&nbsp; - &nbsp;&nbsp;Company Code:&nbsp;{{clonefromcompanycode}}</span>
                    </div>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="tile-stats" style="min-height: 110px;">
                        <h3 style="left: 10px;margin-top: 10px;">To</h3><br>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-7 col-sm-7 col-xs-9 form-group">
                                <input class="form-control" placeholder="Enter Email Address" style="text-align: center; padding: 10px;" type="text" ng-model="tolookup" required/>
                                <span ng-if="tocompanyerrorshow" style="color:red;">Company Email does not exist</span>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-3 form-group" >    
                                <button ng-disabled="!tolookup || !clonefromcompanyname" style="width:90px;" class="btn btn-primary btn-md" ng-click="clonetoLookup()" >Lookup</button>
                            </div>
                        </div>
                        <span ng-if="clonetocompanyname && !tocompanyerrorshow" style="margin-left: 21px;position:relative;top:-15px;">Company Name: &nbsp;{{clonetocompanyname}}&nbsp;&nbsp; - &nbsp;&nbsp;Company Code: &nbsp;{{clonetocompanycode}}</span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="clonefromcompanyname && clonetocompanyname">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!--Events-->
                                <center>
                                    <label style="font-size:16px;">Events</label>
                                    <select  id="selectevent" class="form-controlcus form-control" style="display: inline; width: 277px;" ng-model="selectedevent">
                                        <option value='1'>None</option>
                                        <option value='2'>All</option>
                                        <option value='3'>Select individual Events</option>
                                    </select>
                                </center>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedevent === '3' && (cloneeventlist.length == 0))"><br><center><span>No Events found for this studio.</span></center><br></div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedevent === '3' && (cloneeventlist.length > 0))">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <h5>Select Particular Events</h5>
                                            <div style="max-height:300px;overflow:auto;">
                                                <div class="col-md-3 col-sm-3 col-xs-3" style="min-height: 75px; margin-top: 10px;" ng-repeat="events in cloneeventlist">
                                                    <label style="cursor: pointer"><input class="mulcheckbox" id="multipleeventcheckbox{{$index}}" type="checkbox" value="{{events.event_id}}" ng-model="events.checked" ng-click="catchIndividualEvents(cloneeventlist)">&nbsp;&nbsp;{{events.event_title}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Membership-->
                                <center style="margin-left: -40px;">
                                    <label style="font-size:16px;">Membership</label>
                                    <select  id="selectmembership" class="form-controlcus form-control" style="display: inline; width: 277px;" ng-model="selectedmembership" >
                                        <option value='1' selected="true">None</option>
                                        <option value='2'>All</option>
                                        <option value='3'>Select individual Membership</option>
                                    </select>
                                </center>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedmembership === '3' && (clonemembershiplist.length == 0))"><br><center><span>No Membership programs found for this studio.</span></center><br></div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedmembership === '3' && (clonemembershiplist.length > 0))"> 
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <h5>Select Particular Memberships</h5>
                                            <div style="max-height:300px;overflow:auto;">
                                                <div class="col-md-3 col-sm-3 col-xs-3" style="min-height: 75px; margin-top: 10px;" ng-repeat="mem in clonemembershiplist">
                                                    <label style="cursor: pointer"><input class="mulcheckbox" id="multiplemembershipcheckbox{{$index}}" type="checkbox" value="{{mem.membership_id}}" ng-model="mem.checked" ng-click="catchIndividualMembership(clonemembershiplist)">&nbsp;&nbsp;{{mem.category_title}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <!--Trials-->
                                <center style="margin-left: 10px;">
                                    <label style="font-size:16px;">Trials</label>
                                    <select  id="selecttrial" class="form-controlcus form-control" style="display: inline; width: 277px;" ng-model="selectedtrial">
                                        <option selected value='1'>None</option>
                                        <option value='2'>All</option>
                                        <option value='3'>Select individual Trials</option>
                                    </select>
                                </center>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedtrial === '3' && (clonetriallist.length == 0))"><br><center><span>No Trial programs found for this studio.</span></center><br></div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedtrial === '3' && (clonetriallist.length > 0))">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <h5>Select Particular Trials</h5>
                                            <div style="max-height:300px;overflow:auto;">
                                                <div class="col-md-3 col-sm-3 col-xs-3" style="min-height: 75px; margin-top: 10px;" ng-repeat="trial in clonetriallist">
                                                    <label style="cursor: pointer"><input class="mulcheckbox" id="multipletrialcheckbox{{$index}}" type="checkbox" value="{{trial.trial_id}}" ng-model="trial.checked" ng-click="catchIndividualTrials(clonetriallist)">&nbsp;&nbsp;{{trial.trial_title}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <!--curriculum-->
                                <center style="margin-left: -29px;">
                                    <label style="font-size:16px;">Curriculum</label>
                                    <select  id="selectcurriculum" class="form-controlcus form-control" style="display: inline; width: 277px;" ng-model="selectedcurriculum">
                                        <option selected value='1'>None</option>
                                        <option value='2'>All</option>
                                        <option value='3'>Select individual Curriculum</option>
                                    </select>
                                </center>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedcurriculum === '3' && (clonecurriculumlist.length == 0))"><br><center><span>No Curriculum Details found for this studio.</span></center><br></div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(selectedcurriculum === '3' && (clonecurriculumlist.length > 0))"> 
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <h5>Select Particular Curriculum</h5>
                                            <div style="max-height:300px;overflow:auto;">
                                                <div class="col-md-3 col-sm-3 col-xs-3" style="min-height: 75px; margin-top: 10px;" ng-repeat="curriculum in clonecurriculumlist">
                                                    <label style="cursor: pointer"><input class="mulcheckbox" id="multiplecurriculumcheckbox{{$index}}" type="checkbox" value="{{curriculum.curriculum_id}}" ng-model="curriculum.checked" ng-click="catchIndividualCurriculum(clonecurriculumlist)">&nbsp;&nbsp;{{curriculum.curriculum_name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center class="msdetail-container-bottom"><br><br>
                <button ng-if="clonetocompanyname" type="button"  class="btn btn-default btn-lg" ng-click="resetCloningForm()">Reset</button>
                <button ng-if="clonetocompanyname"  type="button" class="btn btn-primary btn-lg" ng-disabled="(selectedevent === '1' && selectedmembership === '1' && selectedtrial === '1' && selectedcurriculum === '1') || fromcompanyerrorshow || tocompanyerrorshow" ng-click="updateCloning()">Clone</button>
            </center>
        </div>
    </div>
</div>
 </div>
</div>
    