<!--Success modal -->
<div class="modal fade" id="adminMessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="adminmessagetitle"></h4>
            </div>
            <div class="modal-body" id="adminmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Success modal -->
<!-- delete user modal -->
<div class="modal fade" id="userDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="userDeletetitle"></h4>
            </div>
            <div class="modal-body" id="userDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" ng-click="deleteuserCancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="deleteuserConfirm()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /delete user modal --> 
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -10px;">
            <div class="x_panel"> 
                <section class="registration_content" style="background: white">

                    <form enctype="multipart/form-data" novalidate id="useremail" name="useremail">
                        <center><h3 style="align-content: center;">User Profile Entry using user email</h3></center><br/>

                        <div>
                            <input type="text" class="form-control" placeholder="User Email address" name="useremailadrs" ng-model="useremailadrs" required>
                            <span style="color: red" ng-show="useremail.useremailadrs.$touched && useremail.useremailadrs.$invalid && useremail.useremailadrs.$error.required">
                                User email is required
                            </span>
                        </div>
                        <div>
                            <center>
                                <button ng-disabled="useremail.useremailadrs.$invalid" style="background-color:red; color: white" class="btn btn-lg" type="button" ng-click="deleteuser()">Delete</button>
                                <button ng-disabled="useremail.useremailadrs.$invalid" style="background-color:#009a62; color: white" class="btn btn-lg" type="button" ng-click="userProfileLogin()">Login</button></center><br/>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>