
<!--Message modal -->
<div class="modal fade" id="appverifymessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="appverifymessagetitle"></label>
            </div>
            <div class="modal-body" id="appverifymessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Message modal -->  


<!-- page content -->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="snackbar">App verification code copied to clipboard.</div>
            <div id="linksnackbar">App verification link copied to clipboard.</div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">              
                    <h4 class="app_verify_content"><center><p style="margin-bottom: -10px;">Use this tool to generate a verification code for members</p><br>
                            <p>who are not getting the email during the log in process</p></center></h4>      
                    <form enctype="multipart/form-data" novalidate id="appverify" name="appverify">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 30px;">                        
                            <div class="col-md-6 col-sm-6 col-xs-6 form-group col-md-offset-3">
                                <input type="text" placeholder="Member email" class="form-control" name="memberemail" ng-model="memberemail" required>
                                <span style="color: red" ng-show="(appverify.memberemail.$touched && appverify.memberemail.$invalid)">
                                    Member email is required
                                </span>                    
                            </div>
                            <div class="col-md-12 form-group" ng-class="{'app_verify_bottom' : !verification_code && !verification_link}">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-primary btn-lg centeritem" style="background-color: #00ad68; border: 2px solid #00ad68;" ng-disabled="appverify.memberemail.$invalid" type="submit" ng-click="getAppVerificationDetails()">Generate Verification Code</button>
                                </div>
                            </div>

                            <div ng-show="verification_code" class="col-md-6 col-sm-6 col-xs-6 form-group col-md-offset-3" style="margin-top: 40px;"> 
                                <label>Verification Code:&nbsp;&nbsp;<span id="appverifycode">{{verification_code}}&nbsp;&nbsp;</span>
                                    [<a ng-click="copyAppVerifyCode()" class="app_verify_copy" ngclipboard data-clipboard-target="#appverifycode">copy</a>]</label>
                            </div>
                            <div ng-show="verification_link" class="col-md-6 col-sm-6 col-xs-6 form-group col-md-offset-3" ng-class="{'app_verify_bottom' : verification_code && verification_link}"> 
                                <label>Verification Link:&nbsp;&nbsp;<span id="appverifylink">{{verification_link}}&nbsp;&nbsp;</span>
                                    [<a ng-click="copyAppVerifyLink()" class="app_verify_copy" ngclipboard data-clipboard-target="#appverifylink">copy</a>]</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>