<!DOCTYPE html>
<style>
    #striplist > li > span{
        position: absolute;
        font-size: 15px;
        font-family: avenir-light;
    }
    #striplist > li{
        padding: 4px;
    }
    .listmargin{
        margin-top: 22px;
    }
    #frees,#premiums,#whitelabels{
        /*background: white;*/
    }
    .stripecss{
        width: 151px;
        height: 79px;
        font-family: Avenir;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.4px;
    }
    .custom_button{
        width: 171px !important;
        height: 40px !important;
        background-color: #05ac68;
    }
    .plandesc{
        letter-spacing: -0.4px;width: 246px;height: 60px;font-size: 14px !important;font-weight: 500;
    }
    .plantitle{
        width: 50px; height: 30px;font-size: 22px;font-weight: 600;
        letter-spacing: -0.4px;
    }
    .plansubtitle{
        width: 127px;
        height: 23px;
        font-size: 17px;
    }
    .bottomtext{
        letter-spacing: -0.4px;font-size: 15px;font-weight: 500;color: #637381;margin-top: 23px;
    }
    .currentplanborder{
        border: 4px solid #10b9b9;
        border-radius: 2px;
    }
    .alerttext{
        width: 462px;
        height: 19px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: #000000;
        position: absolute;
        margin-top: 20px;
        margin-left: 30px;
    }
    .alertbutton{
        width: 191px !important;
        height: 36px !important;
        margin-left: 30px !important;
        margin-top: 41px !important;
    }
    .stripetext{
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
    }
    .cancelbutton{
        color: black;
        background: white;
        border: 1px solid black;
    }
    .cancelbutton:hover{
        color:black;
    }
    .addstaff-txt{
        font-family: avenir-light;
        font-weight: initial !important;
    }
    .plan-radio label{
        padding-left: 5px;
    }
    .listmargin h2{
        font-weight: 400;
    }
    .disc-txt{
        color: red;
        height: 19px;
        font-family: Avenir;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -.3px;
        position: absolute;
        margin-top: 47px;
        margin-left: 45px;
    }
    .disc-plan-txt{
        color: red;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -.3px;
    }
    a.strike-through{
        text-decoration: line-through;
        color: red !important;
    }
    a.strike-through span{
        color: #000;
        font-size: 14px;
    }
    @media only screen and (min-width:1200px) and (max-width:1500px){
        #stripepaymentform > .row >  .col-lg-8.col-md-12.col-sm-12.col-xs-12{
            width:58.333333333%;
        }
        #stripepaymentform > .row >  .col-lg-4.col-md-4.col-sm-12.col-xs-12{
            width:41.666666667%;
        }
    }
    
</style>
<!--sucess modal-->
<div class="modal fade" id="stripemessageModal" role="dialog" style="z-index: 1051;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="stripemessagetitle"></label>
            </div>
            <div class="modal-body" id="stripemessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--failedpayment rerun modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="addcardfromexpiredview-modal" role="dialog">
    <div class="modal-dialog" style="width: 350px">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><p>Payment failed, please update card information.</p><br>
                <button type="button" class="button green-button custom-modal-button" style="width: 80%;" ng-click="addcardfromexpiredview()">Update payment information</button>
                <br><br><p data-dismiss="modal" style="cursor:pointer" ng-show="studio_expiry_level !== 'L2'">Close message</p>
                <p data-dismiss="modal" style="cursor:pointer" ng-click="logout()" ng-show="studio_expiry_level == 'L2'">Logout</p>
            </div>
        </div>
    </div>
</div>
<!--rerun successfull modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="rerunsuccess-modal" role="dialog">
    <div class="modal-dialog" style="width: 350px">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><p>Your account was successfully updated. Thank you!</p><br>
                <button id="woohoo" type="button" class="button green-button custom-modal-button" data-dismiss="modal" style="width: 80%;" ng-click="reloadpage()">Woohoo! Let’s go!</button>
            </div>
        </div>
    </div>
</div>
<!--expired modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="expired-modal" role="dialog">
    <div class="modal-dialog" style="width: 350px">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><p>MyStudio payment failed. Please update credit card information to avoid service disruption.</p><br>
                <button type="button" class="button green-button custom-modal-button" style="width: 80%;" ng-click="rereunpayment()">Run my card again</button>
                <button type="button" class="button green-button custom-modal-button" style="width: 80%;" ng-click="addcardfromexpiredview()">Update payment information</button>
                <br><br><p data-dismiss="modal" style="cursor:pointer" ng-show="studio_expiry_level !== 'L2'">Close message</p>
                <p data-dismiss="modal" style="cursor:pointer" ng-click="logout()" ng-show="studio_expiry_level == 'L2'">Logout</p>
            </div>
        </div>
    </div>
</div>

<!--inactive / cancelled users modal-->
    <div class="modal fade custom-modal" data-backdrop="static" id="inactive-expired-modal" role="dialog">
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content">
                <div class="modal-body newmodal-body">
                    <br><p class="modal_font">Your account is currently inactive.<br> Choose a plan to enable App and<br> registration URLs.</p><br>
                    <button type="button" class="button green-button custom-modal-button  modal_font" data-dismiss="modal" style="width: 80%;" ng-click="showplanview()">Choose a plan</button>
                    <br><br><p class="modal_font" data-dismiss="modal" style="cursor:pointer" >Close message</p>
                </div>
            </div>
        </div>
    </div>

<!--payment failed modal ofr expired view-->
<div class="modal fade custom-modal" data-backdrop="static" id="expired-payment-failed-modal" role="dialog">
    <div class="modal-dialog" style="width: 350px">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><p>Payment failed, please update card information.</p><br>
                <button type="button" class="button green-button custom-modal-button" style="width: 80%;" ng-click="">Update payment information</button>
                <br><br><p data-dismiss="modal" style="cursor:pointer">Close message</p>
            </div>
        </div>
    </div>
</div>
<!--add card modal-->
<div class="modal fade" id="addstripecard-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="width: 816px; height: 600px">
        <div class="modal-content" style="color:black">
            <div class="modal-body newmodal-body">
                <br><p>Billing information</p>
                <div class="row">
                    <form enctype="multipart/form-data" novalidate id="stripepaymentform_frommodal" name="stripepaymentform_frommodal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel" style="border: 1px solid white;">
                                    <h2>Credit Card Information</h2>
                                    <div class="form-row">
                                        <div id="card-element-formodal" class="form-control">
                                        </div>

                                        <!--Used to display form errors--> 
                                        <div style="color: red" id="card-errors-formodal" role="alert"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel" style="border: 1px solid white;">
                                    <h2>Billing Address</h2>
                                    <div class="x_content">
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <div class="col-md-6 no-padding" >
                                                <label style="font-weight: 500;">First Name</label>
                                                <input type="text" id="firstName" placeholder="First Name" class="form-control" name="firstname" ng-model="firstname" required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.firstname.$touched && stripepaymentform_frommodal.firstname.$invalid)">
                                                    First name is required
                                                </span>
                                            </div>
                                            <div class="col-md-6" style="padding-right: 0px;">
                                                <label style="font-weight: 500;">Last Name</label>
                                                <input type="text" id="lastName" placeholder="Last Name" class="form-control" name="lastname" ng-model="lastname" required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.lastname.$touched && stripepaymentform_frommodal.lastname.$invalid)">
                                                    Last name is required
                                                </span>
                                            </div>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <label style="font-weight: 500;">Street Address</label>
                                            <input id="streetaddress" type="text" placeholder="Address" class="form-control" name="address" ng-model="address" required>
                                            <span style="color: red" ng-show="(stripepaymentform_frommodal.address.$touched && stripepaymentform_frommodal.address.$invalid)">
                                                Address is required
                                            </span>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <div class="col-md-6 no-padding" >
                                                <label style="font-weight: 500;">City</label>
                                                <input id="city" type="text" placeholder="City" class="form-control" name="city" ng-model="city" required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.city.$touched && stripepaymentform_frommodal.city.$invalid)">
                                                    City is required
                                                </span>
                                            </div>
                                            <div class="col-md-6" >
                                                <label style="font-weight: 500;">Postal/ZIP Code</label>
                                                <input id="zipcode" type="text" placeholder="ZIP Code" class="form-control" name="billingzipcode" ng-model="billingzipcode" required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.billingzipcode.$touched && stripepaymentform_frommodal.billingzipcode.$invalid)">
                                                    ZIP code is required
                                                </span>
                                            </div>
                                        </div> 
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <div class="col-md-6 no-padding">
                                                <label style="font-weight: 500;">Country</label>
                                                <input id="countrycode" type="text" placeholder="Country" class="form-control" name="countrycode" ng-model="countrycode" required>
                                                <span style="color: red" ng-show="stripepaymentform_frommodal.countrycode.$touched && (stripepaymentform_frommodal.countrycode.$error.required || countrycode === undefined)">
                                                    Country is required
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                <label style="font-weight: 500;">State</label>
                                                <input id="statecode" type="text" placeholder="State" class="form-control" name="statecode" ng-model="statecode" required>
                                                <span style="color: red" ng-show="stripepaymentform_frommodal.statecode.$touched && (stripepaymentform_frommodal.statecode.$error.required || statecode === undefined)">
                                                    State is required
                                                </span>
                                            </div>
                                        </div>
                                        
<!--                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <div class="col-md-6 no-padding">
                                                <label style="font-weight: 500;">Phone Number</label>
                                                <input type="text" id="phone" placeholder="Valid Phone Number" class="form-control" name="phnum" ng-model="phnum" minlength="10" maxlength="10" phnumbersonly required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.phnum.$touched && (stripepaymentform_frommodal.phnum.$error.minlength || stripepaymentform_frommodal.phnum.$error.maxlength))">
                                                    Phone number should contain 10 digits
                                                </span>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.phnum.$touched && stripepaymentform_frommodal.phnum.$error.required)">
                                                    Phone number is required
                                                </span>  
                                            </div>
                                            <div class="col-md-6 ">
                                                <label style="font-weight: 500;">E-mail</label>
                                                <input type="text" id="email" placeholder="Valid Email ID" class="form-control" name="email" ng-model="email" required>
                                                <span style="color: red" ng-show="(stripepaymentform_frommodal.email.$touched && stripepaymentform_frommodal.email.$invalid)">
                                                    Email is required
                                                </span>
                                            </div>
                                        </div> -->
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button class="button green-button btn-sm custom_button cancelbutton" type="button" ng-click="closeaddcardmodal()" style="width: 120px !important;">Cancel</button>
                                            <button class="button green-button btn-sm custom_button" type="submit" style="width: 120px !important;"  ng-disabled="stripepaymentform_frommodal.firstname.$invalid || stripepaymentform_frommodal.lastname.$invalid || stripepaymentform.countrycode.$invalid || stripepaymentform.statecode.$invalid
                                                                                    || stripepaymentform_frommodal.address.$invalid || stripepaymentform_frommodal.billingzipcode.$invalid" ng-click="">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Change password Form -->
<div class="modal fade" id="changepasswordmodal" data-backdrop="static" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">                  
            <form enctype="multipart/form-data" novalidate id="passwordchange" name="passwordchange">                      
                <div class="modal-body" id="changepasswordcontent" style="font-size:16px;">
                    <a type="button" class="close" style="margin-right: 15px; margin-top: 5px;" data-dismiss="modal" ng-click='changePasswordClose()'>&times;</a>
                    <div class="x_title">
                        <h3><center>Change Account Password</center></h3>
                        <div class="clearfix"></div>
                    </div> 

                    <div  ng-show="changepasswordsuccess" class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p id="pswdresponse"></p>
                    </div>

                    <div class="x_content"> 
                        <div style="font-size: 13px;">
                            <label>Old Password</label>
                            <input type="password" class="form-control" placeholder="old password" name="oldpassword" ng-model="oldpassword" required>
                            <span style="color: red" ng-show="passwordchange.oldpassword.$touched && passwordchange.oldpassword.$invalid && passwordchange.oldpassword.$error.required">
                                Old password is required
                            </span>
                        </div>
                        <div style="font-size: 13px;">
                            <label>New Password</label>
                            <input type="password" class="form-control" placeholder="new password" name="newpassword" ng-model="newpassword" required>
                            <span style="color: red" ng-show="passwordchange.newpassword.$touched && passwordchange.newpassword.$invalid && passwordchange.newpassword.$error.required">
                                New password is required
                            </span>
                        </div>
                        <div style="font-size: 13px;">
                            <label>Retype New Password</label>
                            <input type="password" class="form-control" placeholder="retype new password" name="retypenewpassword" ng-model="retypenewpassword" required>
                            <span style="color: red" ng-show="passwordchange.retypenewpassword.$touched && newpassword !== retypenewpassword">
                                Retype new password does not match with entered new password
                            </span>
                        </div>
                        <div class="modal-footer"><center>
                                <button ng-disabled="!oldpassword || newpassword !== retypenewpassword" id="verifyconfirm" type="button" class="btn btn-primary" ng-click="updatepassword()">Update Password</button>
                            </center>
                        </div>
                    </div>
                </div> 
            </form>
        </div>                  
    </div>
</div>
<!-- /Change password Form -->   

<!-- FAILURE RESPONSE MODAL-->
    <div class="modal fade custom-modal" id="failure-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="response-modal-text" class="response-modal-text" style="margin: 20px 0;">This process is only applicable <br>to White Label clients.</p>
                    <button id="failure-btntext" type="button" class="button green-button custom-modal-button" data-dismiss="modal" ng-click="showplanview()" style="font-size: 14px;font-weight: 300;">UPGRADE</button>
                </div>
            </div>
        </div>
    </div>
<!-- FAILURE RESPONSE MODAL-->

<!-- LATEST DESIGN GOES HERE (NEW) -->        


<div class="right_col" role="main">
    <div class="row top_tiles">
        <!--Account Details-->
        <div ng-show="accountview" class="col-lg-11 col-md-11 col-sm-12 col-xs-12 col-md-offset-1">
            <div class="myaccount_content">
                <h1 id="accountpage">Account</h1>
                <hr class="hr_greybg">
                <div class="row">
                    <div class="col-sm-3"><br>
                        <h2 style="margin-bottom: 5px;font-weight:500 !important;">Account overview</h2>
                        <p>View our <a class="green_link" href="https://mystudio.app/MYSTUDIO_Terms_of_Agreement.html" target="_blank">terms of service</a> and <a class="green_link" href="https://mystudio.app/MyStudio_Academy_Privacy_Statement.html" target="_blank">privacy policy.</a></p><br>
                        <p><a class="green_link" ng-click="showplanview()">Compare plans</a> with different features and rates</p>
                    </div>
                    <div class="col-sm-9">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-4"><h2>Member since</h2><label id="studio_created_date">{{studio_created_date| dateSuffix}}</label></div>
                                <div class="col-sm-4"><h2>Current plan</h2><label id="currentplan">{{current_plan}}</label></div>
                                <div class="col-sm-4"><h2>Billing Details</h2>
                                    <label ng-show="upgrade_status !== 'T' && upgrade_status !== 'F' && (studio_expiry_level !== 'L1' && studio_expiry_level !== 'L2')">${{current_bill_amount}} due on <span id="expiry_date">{{ expiry_date | date:'MMM dd, yyyy'}}</span></label>
                                    <label style="color:red" ng-show="upgrade_status !== 'T' && upgrade_status !== 'F' && (studio_expiry_level === 'L1' || studio_expiry_level === 'L2')">${{current_bill_amount}} past due</label>
                                    <label ng-show="upgrade_status === 'T' || upgrade_status === 'F'">N/A</label>
                                </div>
                            </div>
                            <hr>
                            <div class="listmargin" ng-show="upgrade_status === 'T'" >
                                <h2 style="font-size: 13px;font-family: avenir-light;">You have {{planTerm}} left to test drive all the benefits of our platform:</h2>
                                <button type="button" class="button green-button btn-sm addstaff-txt" ng-click="showplanview()">{{upgrade_status === 'T'? "Select a plan":"Upgrade Plan"}}</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'F'" >
                                <h2>Select a plan to enable member app and registration URLs.</h2>
                                <button type="button" class="button green-button btn-sm addstaff-txt" ng-click="showplanview()">{{upgrade_status === 'F'? "Select a plan":"Upgrade Plan"}}</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'B'">
                                <h2>Grow your business with MyStudio’s Premium plan:</h2>
                                <ul id="striplist" style="margin-top: 10px;">
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_mobile_new.png');"><span>&nbsp;Unlimited in-app mobile messaging.</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_profit_new.png');"><span>&nbsp;Lead management and auto marketing.</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_user_new.png');"><span>&nbsp;Attendance tracking.</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_chat_new.png');"><span>&nbsp;In-app member referral program.</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_price_card_new.png');"><span>&nbsp;Discounted processing rate starting at 2.9% per swipe.</span></li>
                                </ul> 
                                <button type="button" class="button green-button btn-sm" ng-click="showplanview()">Upgrade Plan</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'M'">
                                <h2>Grow your business with the White Label Plan:</h2>
                                <ul id="striplist" style="margin-top: 10px;">
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_device_new.png');"><span>&nbsp;Get an app with your name and logo on the Apple and Google app stores.</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_connection_new.png');"><span>&nbsp;Integrate with thousands of other platforms with Zapier API integration. (coming soon)</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_price_card_new.png');"><span>&nbsp;Discounted processing rate starting at 2.75% per swipe.</span></li>
                                </ul> 
                                <button type="button" class="button green-button btn-sm" ng-click="getplan('W')">Upgrade Plan</button><br><br>
                                <h2>Save $60 by changing your billing frequency to an annual plan:</h2>
                                <ul id="striplist" style="margin-top: 10px;">
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_card_new.png');"><span>&nbsp;One payment of $288, or $24 per month, will take care of your bill for 12 months.</span></li>
                                </ul> 
                                <button type="button" class="button green-button btn-sm" ng-click="getplan('P')">Save Now</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'P'">
                                <h2>Grow your business with the White Label Plan:</h2>
                                <ul id="striplist" style="margin-top: 10px;">
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_device_new.png');"><span>&nbsp;Get an app with your name and logo on the Apple and Google app stores.  </span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_connection_new.png');"><span>&nbsp;Integrate with thousands of other platforms with Zapier API integration. (coming soon)</span></li>
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_price_card_new.png');"><span>&nbsp;Discounted processing rate starting at 2.75% per swipe.</span></li>
                                </ul> 
                                <button type="button" class="button green-button btn-sm" ng-click="getplan('W')">Upgrade Plan</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'WM'">
                                <h2>Save $240 by upgrading to the White Label annual plan:</h2>
                                <ul id="striplist" style="margin-top: 10px;">
                                    <li style="list-style-image: url('../../{{version}}/WebPortal/image/stripe_images/stripe_card_new.png');"><span>&nbsp;One payment of $588, or $49 per month, will take care of your bill for 12 months.</span></li>
                                </ul> 
                                <button type="button" class="button green-button btn-sm" ng-click="getplan('W')">Save Now</button><br>
                            </div>
                            <div class="listmargin" ng-show="upgrade_status === 'W'">
                                <h2>You are on the best plan that we offer, while saving the most money.</h2><br>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr_greybg">
                <div class="row">
                    <div class="col-sm-3"><br>
                        <h2 style="margin-bottom: 5px;font-weight:500 !important;">Accounts and permissions</h2>
                    </div>
                    <div class="col-sm-9">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>Account owner</h2>                                    
                                    <p>{{owner_name}}<br> Last login: <span id="last_login">{{last_login_day}}, {{last_login|date:'MMMM dd, yyyy'}}</span></p><br>
                                    <a class="green_link" ng-click="changeAccountPassword()">Change account password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 ">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>Staff accounts</h2>
                                    <p>Customize what your staff members can edit and access.</p><br>
                                    <button type="button" class="button darkgrey-button btn-md btn-150 addstaff-txt" data-toggle="tooltip" data-placement="right" title="Functionality coming soon." >Add Staff Account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 ">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>Add additional emails for MyStudio notifications</h2>
                                    <p>For sales, referrals, trials, and leads.</p><br>
                                    <textarea type="text" placeholder="hello@email.com, welcome@email.com" class="form-control custom_txt_area" name="emailaddresses" ng-model="emailaddresses" required></textarea>
                                    <button type="button" class="button green-button btn-sm addstaff-txt" ng-click="updateEmailAccount()">Save</button><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr_greybg">
                <div class="row">
                    <div class="col-sm-3"><br>
                        <h2>Billing Information</h2>
                    </div>
                    <div class="col-sm-9">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p ng-show="cardexist"> &nbsp;&nbsp;{{stripe_cardname}}</p>
                                    <p ng-show="!cardexist"> &nbsp;&nbsp;None</p><br>
                                    <button type="button" class="button green-button btn-sm addstaff-txt" ng-click="openaddcardmodal()">{{cardexist ? 'Edit' : 'Add'}}</button><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr_greybg">
                <div class="row">
                    <div class="col-sm-3"><br>
                        <h2>White Label App Set Up</h2>
                    </div>
                    <div class="col-sm-9">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Click below to show the necessary documentations for the White Label app set up.</p><br>
                                    <button type="button" class="button green-button btn-sm addstaff-txt" ng-click="openwhitelabelsetup()">Start here</button><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr_greybg">
                <div class="row">
                    <div class="col-sm-3"><br>
                        <h2>Work with an expert</h2>
                    </div>
                    <div class="col-sm-9">
                        <div class="card myaccount_card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>Our MyStudio Experts can help you customize your app and give you advice on how to  boost sales.</p><br>
                                    <button type="button" class="button darkgrey-button btn-md addstaff-txt" data-toggle="tooltip" data-placement="right" title="Functionality coming soon.">Hire a MyStudio Expert</button><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Account Details-->

        <!--Plan Details-->

        <div ng-show="planview" class="col-lg-11 col-md-11 col-sm-12 col-xs-12 col-md-offset-1" style="margin-bottom: 23px">
            <br>
            <div class="myaccount_content" style="margin-bottom: 23px;">
                <div ng-click="cancelplanview()" style="cursor:pointer">
                <p style="color:#637381"><i class="fa fa-angle-left navigation-left" style="font-size: 23px;font-weight: 1000;;" ></i>&nbsp;&nbsp;<span style=" position: absolute;margin-bottom: 33px;padding: 2px;font-family: avenir-light;">My Account</span></p>
                </div>
                <h1 style="font-size: 29px;">Pick a plan for your business</h1>
                <hr class="hr_greybg" style="margin: 0;">
                <br>
                <div style="min-height: 135px; background: #eef9f9; border-top: 3px solid #05ac68;box-shadow: 0px 0px 1px #aaaaaa;">
                    <span class="alerttext" ng-show="upgrade_status === 'T'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our Free Trial, with {{planTerm}} remaining.</span>
                    <span class="disc-txt" ng-show="upgrade_status === 'T'">&nbsp;&nbsp;SAVE 50% on our Premium and White Label annual plans. Offer available for a limited time only.</span>
                    <span class="alerttext" ng-show="upgrade_status === 'F'" style="width: auto;"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;Your account is currently inactive. Choose a plan below to reactive member app and registration URLs. </span>
                    <span class="alerttext" ng-show="upgrade_status === 'B'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our <b>Basic Plan</b> and are billed monthly.</span>
                    <span class="alerttext" ng-show="upgrade_status === 'M'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our <b>Premium Plan</b> and are billed monthly. </span>
                    <span class="alerttext" ng-show="upgrade_status === 'P'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our <b>Premium Plan</b> and are billed annually. </span>
                    <span class="alerttext" ng-show="upgrade_status === 'W'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our <b>White Label Plan</b> and are billed annually. </span>
                    <span class="alerttext" ng-show="upgrade_status === 'WM'"><i class="fa fa-info-circle fa-s"></i> &nbsp;&nbsp;You are currently on our <b>White Label Plan</b> and are billed monthly. .</span>
                    <br>
                    <div ng-show="upgrade_status === 'M'">
                    <button  type="button" class="button green-button btn-sm custom_button alertbutton" ng-click="getplan('P')">Change to annual billing</button>
                    <span class="stripetext" style="color:#05ac68;"> &nbsp;and save $60!</span>
                    </div>
                    <div ng-show="upgrade_status === 'WM'">
                    <button  type="button" class="button green-button btn-sm custom_button alertbutton" ng-click="getplan('W')">Change to annual billing</button>
                    <span class="stripetext" style="color:#05ac68;"> &nbsp;and save $240!</span>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 485px; display: flex; margin-top: 35px;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  id="frees" >
                        <center>
                                <div style="background:white;min-width: 252px;" ng-class="{currentplanborder: upgrade_status === 'B' }">
                                <br>
                                <div style="width:170px !important; max-width: 170px !important;"><span class="stripecss">$ <span style="font-size: 58px;">&nbsp;&nbsp;&nbsp;&nbsp;9</span>/month</span></div>
                                <br>
                                <div ng-if="upgrade_status !== 'T' && upgrade_status !== 'F'" style="height:31px"></div>
                                <button ng-hide="upgrade_status !== 'T' && upgrade_status !== 'F' " type="button" class="button green-button btn-sm custom_button" ng-click="getplan('B')">Choose this plan</button>
                                <br><br><br>
                                <span class="stripecss plantitle" >Basic</span>
                                <br><br>
                                <div>
                                    <p class="stripecss plandesc">Start selling memberships, events, trials, plus retail online, and on the MyStudio App. 
                                    </p>
                                </div>
                                <br><br>
                                <span class="stripecss plantitle plansubtitle" >Credit card rates</span>
                                <br>
                                <div>
                                    <p class="stripecss plandesc" style="color: #9e9e9e;">In person: 3.15% + {{stripe_currency_symbol}}0 per swipe <br>Point of sale system — coming soon  <br><br>
                                        <span style="color:black">Keyed in card payments: 3.4% + {{stripe_currency_symbol}}.55</span>
                                    </p>
                                </div>
                                <br>
                                <br>
                                </div>
                            </center>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  id="premiums" >
                        <center>
                            <div style="background:white;min-width: 252px;" ng-class="{currentplanborder: (upgrade_status === 'P') || (upgrade_status === 'M')}">
                            <br>
                            <div style="width:170px !important; max-width: 170px !important;"><span class="stripecss">$ <span style="font-size: 58px;">&nbsp;&nbsp;29</span>/month</span><br><br></div>
                            <div ng-if="upgrade_status === 'W' || upgrade_status === 'WM' || upgrade_status === 'P' || upgrade_status === 'M'" style="height:31px"></div>
                            <button ng-hide="upgrade_status === 'W' || upgrade_status === 'WM' || upgrade_status === 'P' || upgrade_status === 'M'" type="button" class="button green-button btn-sm custom_button" ng-click="getplan('P')">{{(upgrade_status === 'T' || upgrade_status === 'F')?'Choose this plan':'Upgrade to this plan'}}</button>
                            <br>
                            <br><br>
                            <span class="stripecss plantitle" >Premium</span>
                            <br><br>
                            <div>
                                <p class="stripecss plandesc">Add unlimited 2-way mobile messaging, attendance tracking, automated email flows, and in-app member referral system.
                                </p>
                            </div>
                            <br><br>
                            <span class="stripecss plantitle plansubtitle" >Credit card rates</span>
                            <br>
                            <div>
                                <p class="stripecss plandesc" style="color: #9e9e9e;">In person: 2.9% + {{stripe_currency_symbol}}0 per swipe<br>Point of sale system — coming soon  <br><br>
                                    <span style="color:black; letter-spacing: -0.5px;">Keyed in card payments: 3.15% + {{stripe_currency_symbol}}.55</span>
                                </p>
                            </div><br>
                                <br>
                            </div>
                        </center>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 "  id="whitelabels" >
                        <center>
                            <div style="background:white;min-width: 252px;" ng-class="{currentplanborder: (upgrade_status === 'W') || (upgrade_status === 'WM') }">
                            <br>
                            <div style="width:170px !important; max-width: 170px !important;"><span class="stripecss">$ <span style="font-size: 58px;">&nbsp;&nbsp;69</span>/month</span><br><br></div>
                            <div ng-if="upgrade_status === 'W'|| upgrade_status === 'WM' " style="height:31px"></div>
                            <button ng-hide="upgrade_status === 'W' || upgrade_status === 'WM'" type="button" class="button green-button btn-sm custom_button" ng-click="getplan('W')">{{(upgrade_status === 'T'|| upgrade_status === 'F')?'Choose this plan':'Upgrade to this plan'}}</button>
                            <br>
                            <br><br>
                            <span class="stripecss plantitle" >White Label</span>
                            <br><br>
                            <div>
                                <p class="stripecss plandesc">Customize your own management system with Zapier integration and a branded app on the Apple and Google store.
                                </p>
                            </div>
                            <br><br>
                            <span class="stripecss plantitle plansubtitle" >Credit card rates</span>
                            <br>
                            <div>
                                <p class="stripecss plandesc" style="color: #9e9e9e;">In person: 2.75% + {{stripe_currency_symbol}}0 per swipe<br>Point of sale system — coming soon  <br><br>
                                    <span style="color:black">Keyed in card payments: 2.9% + {{stripe_currency_symbol}}.55</span>
                                </p>
                            </div><br>
                                <br>
                            </div>
                        </center>
                    </div> 
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 39px;">
                    <center class="bottomtext">Learn more about pricing on <a href="https://www.mystudio.app/index.html#pricing" style="color:#009a61" target="_blank">mystudio.app</a></center>
                </div>
            </div>
        </div>
        <!--Plan Details-->

        <!--Billing Details-->

        <div ng-show="billingview" class="col-lg-10 col-md-11 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-0">
            <div class="myaccount_content">
                <div ng-click="backfromcheckout()" style="cursor:pointer">
                <p style="color:#637381"><i class="fa fa-angle-left navigation-left" style="font-size: 23px;font-weight: 1000;;" ></i>&nbsp;&nbsp;<span style=" position: absolute;margin-bottom: 33px;padding: 2px">Back</span></p>
                </div>
                <h1 id="billinginfo">Plan & Billing Information</h1>
                <hr class="hr_greybg">
                <div class="x_panel" style="padding:10px;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form enctype="multipart/form-data" novalidate id="stripepaymentform" name="stripepaymentform">
                                <div class="row">
                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="row" ng-show="!cardexist">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <h2>Payment Information</h2>
                                                            <div class="x_content">
                                                                <div class="form-group">
                                                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                                                        <select ng-change="showBillingForm()" class="form-control" ng-model="carddetail">
                                                                            <option disabled selected value>-- Choose card --</option>
                                                                            <option id="newcard" value="newcard">Add New credit card</option> 
                                                                        </select>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                        
                                        <!--EDIT PAYMENT METHOD VIEW STARTS-->
                                        <div class="row" ng-show="showcarddetailbox && cardexist">
                                            <div class="col-sm-12">
                                                <div class="x_panel">
                                                    <div class="replace-card-content">
                                                        <h2>Billing information</h2>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <p>{{stripe_cardname}}<br><br>Expires<br>{{stripe_card_exp_month}}/{{stripe_card_exp_year}}</p>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p>BILLING ADDRESS<br>{{stripe_streetaddress}}<br>{{stripe_city}} <br>{{stripe_state}}<br>{{stripe_zip}} <br>{{stripe_country}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 col-sm-5 col-xs-5">
                                                                <button type="button" class="button white-button replace-card-btn" ng-click="replacecard()">Replace credit card</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--EDIT PAYMENT METHOD VIEW ENDS-->

                                        <div ng-show="newcard" class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <h2>Credit Card Information</h2>
                                                            <div class="form-row">
                                                                <div id="card-element" class="form-control">
                                                                </div>

                                                                <!--Used to display form errors--> 
                                                                <div style="color: red" id="card-errors" role="alert"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-show="newcard">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="x_panel">
                                                                <h2>Billing Information</h2>
                                                                <div class="x_content">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <div class="col-md-6 no-padding" >
                                                                            <label style="font-weight: 500;">First Name</label>
                                                                            <input type="text" id="firstName" placeholder="First Name" class="form-control" name="firstname" ng-model="firstname" required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.firstname.$touched && stripepaymentform.firstname.$invalid)">
                                                                                First name is required
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-6" style="padding-right: 0px;">
                                                                            <label style="font-weight: 500;">Last Name</label>
                                                                            <input type="text" id="lastName" placeholder="Last Name" class="form-control" name="lastname" ng-model="lastname" required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.lastname.$touched && stripepaymentform.lastname.$invalid)">
                                                                                Last name is required
                                                                            </span>
                                                                        </div>
                                                                    </div> 
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <label style="font-weight: 500;">Street Address</label>
                                                                        <input id="streetaddress" type="text" placeholder="Address" class="form-control" name="address" ng-model="address" required>
                                                                        <span style="color: red" ng-show="(stripepaymentform.address.$touched && stripepaymentform.address.$invalid)">
                                                                            Address is required
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <div class="col-md-6 no-padding" >
                                                                            <label style="font-weight: 500;">City</label>
                                                                            <input id="city" type="text" placeholder="City" class="form-control" name="city" ng-model="city" required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.city.$touched && stripepaymentform.city.$invalid)">
                                                                                City is required
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-6" >
                                                                            <label style="font-weight: 500;">Postal/ZIP Code</label>
                                                                            <input id="zipcode" type="text" placeholder="ZIP Code" class="form-control" name="billingzipcode" ng-model="billingzipcode" required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.billingzipcode.$touched && stripepaymentform.billingzipcode.$invalid)">
                                                                                ZIP code is required
                                                                            </span>
                                                                        </div>
                                                                    </div> 
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <div class="col-md-6 no-padding">
                                                                            <label style="font-weight: 500;">Country</label>
                                                                            <input id="countrycode" type="text" placeholder="Country" class="form-control" name="countrycode" ng-model="countrycode" required>
                                                                            <span style="color: red" ng-show="stripepaymentform.countrycode.$touched && (stripepaymentform.countrycode.$error.required || countrycode === undefined)">
                                                                                Country is required
                                                                            </span>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label style="font-weight: 500;">State</label>
                                                                            <input id="statecode" type="text" placeholder="State" class="form-control" name="statecode" ng-model="statecode" required>
                                                                            <span style="color: red" ng-show="stripepaymentform.statecode.$touched && (stripepaymentform.statecode.$error.required || statecode === undefined)">
                                                                                State is required
                                                                            </span>
                                                                        </div>
                                                                    </div>

<!--                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <div class="col-md-6 no-padding">
                                                                            <label style="font-weight: 500;">Phone Number</label>
                                                                            <input type="text" id="phone" placeholder="Valid Phone Number" class="form-control" name="phnum" ng-model="phnum" minlength="10" maxlength="10" phnumbersonly required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.phnum.$touched && (stripepaymentform.phnum.$error.minlength || stripepaymentform.phnum.$error.maxlength))">
                                                                                Phone number should contain 10 digits
                                                                            </span>
                                                                            <span style="color: red" ng-show="(stripepaymentform.phnum.$touched && stripepaymentform.phnum.$error.required)">
                                                                                Phone number is required
                                                                            </span>  
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <label style="font-weight: 500;">E-mail</label>
                                                                            <input type="text" id="email" placeholder="Valid Email ID" class="form-control" name="email" ng-model="email" required>
                                                                            <span style="color: red" ng-show="(stripepaymentform.email.$touched && stripepaymentform.email.$invalid)">
                                                                                Email is required
                                                                            </span>                         
                                                                        </div>
                                                                    </div> -->
                                                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                                        <button class="button green-button btn-sm custom_button cancelbutton" type="button" ng-click="canceladdcard()" style="width: 120px !important;">Cancel</button>
                                                                        <button id="addcard" class="button green-button btn-sm custom_button" type="submit" style="width: 120px !important;" ng-disabled="stripepaymentform.firstname.$invalid || stripepaymentform.lastname.$invalid|| stripepaymentform.countrycode.$invalid || stripepaymentform.statecode.$invalid
                                                                         || stripepaymentform.address.$invalid || stripepaymentform.billingzipcode.$invalid || stripecarderror" ng-click="">ADD</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-show="!hideagreement">
                                             <!--&& (upgrade_status == 'T' || upgrade_status == 'F')-->
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <h2>How did you hear about us?</h2>
                                                            <div class="row">                          
                                                                <div class="form-group">
                                                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                                                        <select id="referraltype" ng-change="changeleadsource()" class="form-control" ng-model="referraltype">
                                                                            <option disabled selected value>-- Choose option --</option>
                                                                            <option value="Referral">Referral</option>
                                                                            <option value="Google Search">Google Search</option>
                                                                            <option value="Facebook">Facebook</option>
                                                                            <option value="Email Marketing">Email Marketing</option>
                                                                            <option value="Tradeshow">Tradeshow</option>
                                                                            <option value="Others">Others</option>
                                                                        </select>
                                                                    </div>                                   
                                                                    <div class="col-md-7 col-sm-5 col-xs-5 no-padding" ng-show="referraltype === 'Referral' || referraltype === 'Others'">
                                                                        <input type="text" id="referredby" style="max-width: 296px;" placeholder="please kindly let us know who referred you" class="form-control" name="referredby" ng-model="referredby" required>
                                                                    </div> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-show="!hideagreement"> 
                                            <!--&& (upgrade_status == 'T' || upgrade_status == 'F')-->
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <h2>Terms of Service</h2>
                                                            <div class="x_content">                          
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input style="margin-top: 0px;" type="checkbox" ng-model="stripeagreementchecked">On behalf of the purchasing entity, I agree to the <a href="https://mystudio.app/MYSTUDIO_Terms_of_Agreement.html" target='_blank' style="color:#009a61">Terms of Service </a> and <a href="https://mystudio.app/MyStudio_Academy_Privacy_Statement.html" target='_blank' style="color:#009a61">Privacy Policy</a>.
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">  
                                        <div class="x_panel" style="border-color: #111111;padding:0px;">
                                            <div class="plan-content">
                                                <center><h1>{{upgradeto === 'B'? 'Basic Plan' : ( (upgradeto === 'P' || upgradeto === 'M') ? 'Premium Plan' : (((upgradeto === 'W' || upgradeto === 'WM') ? 'White Label Plan' :'')) ) }}</h1><br></center>
                                                <div ng-show="upgradeplanlength == 2">
                                                    <div class="plan-option" ng-class="{ active: (stripe_payment_type == 'M') || (stripe_payment_type == 'WM') }">
                                                        <div class="plan-radio">     
                                                            <div class="row no-padding">
                                                                <div class="col-sm-1 no-padding"><input type="radio" id="monthlyoption"  ng-model='stripe_payment_type' value="{{arrayonestatus}}"></div>
                                                                <div class="col-sm-11 no-padding"><label>{{ ((arrayonestatus === 'M'? '$29 USD billed every month' : (((arrayonestatus === 'WM'? '$69 USD billed every month' : ('')))))) }}</label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plan-option" ng-class="{ active: (stripe_payment_type === 'P') || (stripe_payment_type === 'W') }">
                                                        <div class="plan-radio"> 
                                                            <div class="row no-padding">
                                                                <div class="col-sm-1 no-padding"><input type="radio" id="yearlyoption" ng-model='stripe_payment_type' value="{{arraytwostatus}}"></div>
                                                                <div class="col-sm-11 no-padding">
                                                                    <label>{{((arraytwostatus === 'P'? '$288 USD billed every year —' :((arraytwostatus === 'W'? '$588 USD billed every year —' :('')))))}}&nbsp;<a>{{((arraytwostatus === 'P'? 'save $60' :((arraytwostatus === 'W'? 'save $240' :('')))))}}</a></label>                                                                    
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>
                                                <div ng-show="upgradeplanlength == 1">
                                                    <div class="plan-option active">
                                                        <div class="plan-radio"> 
                                                            <div class="row no-padding">
                                                                <div class="col-sm-1 no-padding"><input type="radio" ng-model='stripe_payment_type' value="{{arrayonestatus}}"></div>
                                                                <div class="col-sm-11 no-padding"><label>{{(upgradeto === 'B'? '$9 USD billed every month' :((upgradeto === 'P'? '$288 USD billed every year —' :((upgradeto === 'W'? '$588 USD billed every year —' :(''))))))}}&nbsp;<a>{{((upgradeto === 'P'? 'save $60' :((upgradeto === 'W'? 'save $240' :('')))))}}</a></label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="stripe_payment_type === 'B' || stripe_payment_type === 'M' || stripe_payment_type === 'WM'">
                                                    <p ><br/>All pricing is based in USD<br/><br/>
                                                    <span ng-show="(stripe_payment_type === 'W' || stripe_payment_type === 'WM') && currentplan !== 'WM'">$199 one time set up fee.  <br/><br/>
                                                    </span>Your account will be billed ${{arrayone_stripe_plan_amount}}, on {{arrayone_stripe_renewal_date}}.<br/></p>
                                                </div>
                                                <div ng-show="stripe_payment_type === 'W' || stripe_payment_type === 'P' ">
                                                    <p class='disc-plan-txt' ng-show="upgrade_status === 'T' && studio_discount_available ==='Y'"><br/>Save an additional 50%  ({{stripe_payment_type === 'P'?'$144':'$294'}}) off the first year. Limited time offer.<br/></p>
                                                    <p ><br/>All pricing is based in USD<br/>
                                                    <span ng-show="(stripe_payment_type === 'W' || stripe_payment_type === 'WM') && currentplan !== 'WM'"><br/>$199 one time set up fee.  <br/>
                                                    </span>
                                                    <br/>Your account will auto-renew and be billed ${{upgradeplanlength == 1 ? arrayone_stripe_plan_amount : arraytwo_stripe_plan_amount}}, on {{upgradeplanlength == 1 ? arrayone_stripe_renewal_date : arraytwo_stripe_renewal_date}}.<br/></p>
                                                </div>
                                            </div>
                                            <hr style="border-color:#111111;padding: 0 -20px;margin:0px;">
                                            <div class="plan-content total-price" ng-show="upgradeplanlength == 2">
                                                <div class="row">
                                                    <div class="col-sm-8"><label>Subtotal:</label></div>                                                    
                                                    <div ng-hide="(arraytwoofferfee > 0 && upgrade_status === 'T' && (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-4" style="text-align: right;"><label>${{(stripe_payment_type === 'B') ||(stripe_payment_type === 'M') || (stripe_payment_type === 'WM') ? arrayonefee : arraytwofee}}</label></div>
                                                    <div ng-show="(arraytwoofferfee > 0 && upgrade_status === 'T' && (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-2" style="text-align: right;"><a class="strike-through"><span >${{arraytwofee}}</span></a></div>
                                                    <div ng-show="(arraytwoofferfee > 0 && upgrade_status === 'T' && (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-2" style="text-align: right;"><label style="color: red;">${{arraytwoofferfee}}</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8" ng-show="upgrade_status === 'T'">
                                                        <label>Pro-rated credit for this {{(stripe_payment_type === 'B') ||(stripe_payment_type === 'M') || (stripe_payment_type === 'WM')?'month:':'year:'}}</label>
                                                    </div>
                                                    <div class="col-sm-8" ng-show="upgrade_status !== 'T'"><label>Pro-rated credit for plan change:</label></div>
                                                    <div class="col-sm-4" style="text-align: right;"><label>$-{{(stripe_payment_type === 'B') ||(stripe_payment_type === 'M') || (stripe_payment_type === 'WM') ? arrayoneprorate : arraytwoprorate}}</label></div>
                                                </div>
                                                <div class="row" ng-show="(stripe_payment_type === 'W' || stripe_payment_type === 'WM') && currentplan !== 'WM'">
                                                    <div class="col-sm-8"><label >One time set up fee:</label></div>
                                                    <div class="col-sm-4" style="text-align: right;"><label >$199</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8"><label style="font-weight: 700;">Billed now:</label></div>
                                                    <div ng-hide="(arraytwoofferfee > 0 && upgrade_status === 'T'&& (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-4" style="text-align: right;"><label style="font-weight: 700;">${{(stripe_payment_type === 'B') ||(stripe_payment_type === 'M') || (stripe_payment_type === 'WM') ? arrayonetotal_due : arraytwototal_due}}</label></div>
                                                    <div ng-show="(arraytwoofferfee > 0 && upgrade_status === 'T'&& (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-2" style="text-align: right;"><a class="strike-through"><span style="font-weight: 700;">${{arraytwototal_due}}</span></a></div>
                                                    <div ng-show="(arraytwoofferfee > 0 && upgrade_status === 'T'&& (stripe_payment_type === 'P' || stripe_payment_type === 'W'))" class="col-sm-2" style="text-align: right;"><label style="font-weight: 700; color: red;">${{arraytwooffertotal_due}}</label></div>
                                                </div>
                                                <button id="upgradeplanarray2" type="button" class="button green-button start-plan-btn" ng-click="updateplan()" ng-disabled="(((referraltype && ((referraltype === 'Referral' || referraltype === 'Others') && !referredby)) || !referraltype || !stripeagreementchecked)) || newcard || !cardexist" >{{ (upgrade_status == 'T' || upgrade_status == 'F') ? 'Start Plan' : 'Upgrade Plan'}}</button><br>
                                                <!--&& ((upgrade_status == 'T' || upgrade_status == 'F'))--> 
                                            </div>
                                            <div class="plan-content total-price" ng-show="upgradeplanlength == 1">
                                                <div class="row">
                                                    <div class="col-sm-8"><label>Subtotal:</label></div>
                                                    <div class="col-sm-4"><label>${{arrayonefee}}</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8" ng-show="upgrade_status === 'T'" ><label>Pro-rated credit for this {{(stripe_payment_type === 'B')?'month:':'year:'}}</label></div>
                                                    <div class="col-sm-8" ng-show="upgrade_status !== 'T'"><label>Pro-rated credit for plan change:</label></div>
                                                    <div class="col-sm-4" style="text-align: right;"><label>$-{{arrayoneprorate}}</label></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-8"><label style="font-weight: 700;">Billed now:</label></div>
                                                    <div class="col-sm-4" style="text-align: right;"><label style="font-weight: 700;">${{arrayonetotal_due}}</label></div>
                                                </div>
                                                <button id="upgradeplanarray1" type="button" class="button green-button start-plan-btn" ng-click="updateplan()" ng-disabled="(((referraltype && ((referraltype === 'Referral' || referraltype === 'Others') && !referredby)) || !referraltype || !stripeagreementchecked)) || newcard || !cardexist">{{ (upgrade_status == 'T' || upgrade_status == 'F') ? 'Start Plan' : 'Upgrade Plan'}}</button><br>
                                                 <!--&& (upgrade_status == 'T' || upgrade_status == 'F')-->
                                            </div>
                                        </div><br/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Billing Details-->

    </div>       
</div>
<!-- LATEST DESIGN GOES HERE (NEW) --> 
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>