<!DOCTYPE html>

<!-- page content -->

<!-- modal -->
<div class="modal fade" id="curriculumDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="curriculumDeletetitle"></h4>
            </div>
            <div class="modal-body" id="curriculumDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" ng-click="deleteCancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="deleteConfirm()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->


<div class="right_col" role="main">
    <div class="row top_tiles">

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-left: -15px;">              
            <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <center><h3>{{curriculum_name}} </h3></center>
                        <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1"><br>
                            <p>1) Click [Add Sub Section] to create a new sub-section</p>
                            <p>2) Click and drag each sub-section to re-arrange the order</p>
                            <p>3) Click [Delete Sub Section] to delete this level or section</p>       
                            <p>4) Click [Save] to save this level or section</p>
                        </div>

                        <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                            <center>
                                <button ng-disabled="newcurriculum" box-creator class="btn btn-primary" ng-click="addSection()" style="margin-top: 2%; margin-left: 5%;">Add Sub Section</button>
                            </center>
                        </div>
                        
                        <div class="x_content" ng-show="newcurriculum">
                            <ul class="list-unstyled events">
                                <li>
                                    <form enctype="multipart/form-data" novalidate id="curriculumdynamic" name="curriculumdynamic">
                                        <div  class="col-md-12 card" >
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1"><label>Sub Section Name </label>
                                                    <input type="text" name="dname" placeholder="New Section Name (Kicks, Blocks, etc.)" ng-change="catchCurName()" ng-model="secname" class="form-control" required>
                                                    <span style="color: red" ng-show="(!secname) && curriculumdynamic.dname.$touched">please enter the sub section name</span>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1"><label>Description or details </label>
                                                    <textarea name="ddesc" placeholder="Enter a short description of the sub section here" ng-change="catchCurDesc()" ng-model="secdesc" class="form-control" required></textarea>

                                                </div>
                                                <div class="col-md-5 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                </div>
                                                <div id="addurldyn" class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1"><label>Add Youtube or Vimeo URL here if applicable</label>
                                                    <input type="text" name="durl" ng-change="catchCurUrl()" placeholder="Add Youtube or Vimeo URL here if applicable" ng-model="addurl"  class="form-control">

                                                </div>
                                                <div class="col-md-12">
                                                    <button class="col-md-3 btn btn-default form-group col-md-offset-3" style="background-color: #8080801a;" ng-click="removeSection()">Delete Sub Section</button>&nbsp;
                                                    <button id="dflopy" ng-disabled="!secname" class="col-md-2 btn btn-primary form-group col-md-offset-1" ng-click="insertSection()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>


                        <div class="x_content sortable">
                            <ul class="list-unstyled " dnd-list="curriculumDetail">
                                <li ng-repeat="item in curriculumDetail" 
                                    dnd-draggable="item"
                                    dnd-moved="curriculumDetail.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="models.selected = item"
                                    ng-class="{'selected': models.selected === item}"
                                    dnd-dragend="dragoverCallback()">
                                    <form enctype="multipart/form-data" novalidate id="curriculum" name="curriculum">
                                        <div  class="col-md-12 card" >
                                            <input type ="hidden" value="{{$index}}" id="{{item.curr_content_id}}" />                      
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">                        
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                    <label>Sub Section Name </label>
                                                    <input type="text" ng-mouseenter="removeDrag($event)" ng-mouseleave="addDrag($event)" name="catname{{$index}}" id="catname{{$index}}"  placeholder="New Section Name (Kicks, Blocks, etc.)" ng-change="catchCirName($index, item.content_title)" ng-model="item.content_title" class="form-control" required>
                                                    <span style="color: red" ng-show="(!item.content_title)">
                                                        please enter the sub section name
                                                    </span>
                                                </div> 
                                                <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                    <label>Description or details </label>
                                                    <textarea ng-mouseenter="removeDrag($event)" ng-mouseleave="addDrag($event)" placeholder="“Enter a short description of the sub section here" name="catdesc{{$index}}" id="catdesc{{$index}}" ng-change="catchCirDesc($index, item.content_description)" ng-model="item.content_description" class="form-control" required></textarea>
                                                </div>
                                                <div class="col-md-5 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                    <input type="hidden" id='videostatus{{$index}}' ng-model='item.video_type'>
                                                    <input type="hidden" id='videoid{{$index}}' ng-model="item.video_id">
                                                </div>
                                                <div name="addurl{{$index}}" class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                    <label>Add Youtube or Vimeo URL here if applicable</label>
                                                    <input type="text" ng-mouseenter="removeDrag($event)" ng-mouseleave="addDrag($event)" placeholder="Add Youtube or Vimeo URL here if applicable" ng-model="item.ContentVideoUrl"  name="caturl{{$index}}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group" ><center>
                                                    <button ng-disabled="!item.content_title" class="col-md-4 btn btn-default form-group col-md-offset-2" style="background-color: #8080801a;" ng-click="deleteSingleContent($index)">Delete Sub Section</button>&nbsp; 
                                                    <button ng-disabled="!item.content_title"  id="floppyshow{{$index}}" class="col-md-2 btn btn-primary form-group col-md-offset-1" ng-click="updateSingleContent($index)">Save</button>                         
                                                </center></div>                      
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <center><div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=1"></iframe></div>  </center>
            </div> 
        </div>

    </div>
</div>
<!-- /page content -->


