<!--<div ng-controller="CustomerController as showCase">-->
<!--UPDATE RANK MODAL-->
<div class="modal fade" id="updateRankModal" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="updateRanktitle"></h4>
            </div>

            <div class="modal-body" id="updateRankcontent" style="margin-bottom: 80px;font-size:16px;">                   
                <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                    <p ng-hide="existing_rank_array.length <= 0">Please select new rank level</p>
                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                        <p ng-show="existing_rank_array.length <= 0">There is no rank details for this membership.</p>
                        <center><select id="rank_value" ng-change="rankupdateChange(ranks.membership_rank_id)" ng-hide="existing_rank_array.length <= 0" ng-model="ranks.membership_rank_id" >
                                <option disabled selected value>--select rank--</option>
                                <option ng-show="(ranks.rank_name !== null)" ng-selected="ranks.membership_rank_id === existing_rank_id"  ng-repeat="ranks in existing_rank_array" value="{{ranks.membership_rank_id}}" table-repeat-complete>{{ranks.rank_name}}</option>
                            </select></center>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="paymenthistorycancel" type="button" class="btn btn-default" ng-click="updateRankCancel()" data-dismiss="modal">Cancel</button>
                <button type="button" ng-disabled="!rankupdatestatus"  ng-click="showRankEditConfirmModel(ranks.membership_rank_id)" class="btn btn-primary">Update Rank</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendsubscriptioninviteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Message</h4>
            </div>
            <div class="modal-body"  style="font-size:16px;">User unsubscribed
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="sendGroupEmailPush()">Send Subscribe Invite</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- GROUP EMAIL MESSAGE MODAL -->
<div class="modal fade" id="grpemailmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedList()">&times;</button>
                <h4 class="modal-title" id="grpemailmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpemailmessagecontcontent" style="font-size:16px;">
                <p>Subject:</p>
                <input type="text" placeholder="Enter subject here." class="form-control" ng-model="grpemailsubjectdata">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <wysiwyg textarea-id="message_content_1" textarea-class="form-control"  textarea-height="180px" textarea-name="textareaQuestion_1" textarea-required ng-model="grpemailmsgdata" enable-bootstrap-title="true"></wysiwyg>
                </div>
                <span>{{attachfile}}</span><br/>
                <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <label class="myLabel">
                        <input id="filegrpattach" type="file" attachfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" required/> 
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Attach File</span>
                    </label>
                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpemaildone" type="button" class="btn btn-primary" ng-disabled="!grpemailmsgdata || !grpemailsubjectdata || maxEmailAttachmentSizeError" ng-click="sendGroupEmailPush()">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP EMAIL MESSAGE MODAL -->


<!-- GROUP PUSH MESSAGE MODAL -->
<div class="modal fade" id="grppushmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedList()">&times;</button>
                <h4 class="modal-title" id="grppushmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grppushemessagecontcontent" style="font-size:16px; height: 220px;">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter notification here. Be effective, communicate in 140 characters or less." class="form-control" ng-model="grppushmsgdata"></textarea>
                </div>
                <div class="checkbox" style="float: right">
                    <label>
                        <input type="checkbox" id="also_send_email" style="cursor: pointer;" ng-model="also_send_email">Also send email
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpdone" type="button" class="btn btn-primary" ng-disabled="!grppushmsgdata" ng-click="sendGroupEmailPush()">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP PUSH MESSAGE MODAL -->


<!-- GROUP CSV FILE DOWNLOAD MODAL -->
<div class="modal fade" id="grpcsvdownloadModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="grpcsvdownloadtitle"></h4>
            </div>
            <div class="modal-body" id="grpcsvdownloadcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" ng-click="clearSelectedList();" data-dismiss="modal">Cancel</button>
                <button id="grpcsvdownloaddone" type="button" class="btn btn-default" ng-click="exportcheckedmembersexcel();" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP CSV FILE DOWNLOAD MODAL -->

<!-- PUSH MESSAGE MODAL -->
<div class="modal fade" id="pushmessageModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pushmessagetitle"></h4>
            </div>
            <div class="modal-body" id="pushmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="reloadData(current_tab);" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pushmessageModalr" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pushmessagetitler"></h4>
            </div>
            <div class="modal-body" id="pushmessagecontentr" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="reloadData(current_tab);" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="emailerrormessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "unblockbounceemail()">unblock</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>



<!-- PUSH MESSAGE MODAL -->

<div class="modal fade" id="cusmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cusmessagetitle"></h4>
            </div>
            <div class="modal-body" id="cusmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infomessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="infomessagetitle"></h4>
            </div>
            <div class="modal-body" id="infomessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- MEMBERSHIP RANK CHANGES MODAL -->
<div class="modal fade" id="rankActionModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="rankActiontitle"></h4>
            </div>
            <div class="modal-body" id="rankActioncontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" ng-click="cancelChange();" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="lastAdvancedDateUpdate()" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- LAST ADVANCES DATE CHANGES MODAL -->
<div class="modal fade" id="lastAdvancedDateModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lastAdvancedDatetitle"></h4>
            </div>
            <div class="modal-body" id="lastAdvancedDatecontent">
                <span class="msdetailtxt inline" style="font-size:16px;">Participant's 'Last Advanced' date&nbsp;&nbsp;
                    <input type="text" id="lstadvdate" class="form-control small-input inline" placeholder='mm/dd/yyyy' ng-model="lst_adv_date">
                </span>
            </div>
            <div class="modal-footer">
                <button id="cancel" ng-disabled="!lst_adv_date" type="button" class="btn btn-primary" ng-click="updateRankDetails(lst_adv_date)" data-dismiss="modal">Update Last Advanced Date</button>
            </div>
        </div>
    </div>
</div>

<!--ADD NEW MEMBER MODAL-->
<div class="modal fade custom-modal" id="addnewmember-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <br><br>
                <span class="newmodal-close-text" data-dismiss="modal">CLOSE</span>
                <p>Add a new member</p>
                <select  class="form-control newmodal-dropdown" id="memid" name='memid' ng-model="memcattitle" ng-change="catchmembershipoptions(memcattitle)">
                    <option disabled selected value>Select membership category</option>
                    <option ng-repeat="mainmembership in membershipcatergory" ng-value="$index">{{mainmembership.category_title}}</option>
                </select>  

                <select  class="form-control newmodal-dropdown" id="memsubid" name='memsubid' ng-model="memcatsubtitle" ng-disabled="!memcattitle" ng-change="catchmembershipoptionscall(memcatsubtitle)">
                    <option disabled selected value>Select membership option</option>
                    <option ng-repeat="submembership in membershipoptions" ng-value="submembership.option_id">{{submembership.option_title}}</option>
                </select> 
                <button type="button" class="button green-button custom-modal-button" ng-disabled="!memcattitle || !memcatsubtitle" ng-click="redirectaddmembership()">Next</button>
            </div>
        </div>
    </div>
</div>
<!--ADD NEW MEMBER MODAL-->

<div id="snackbar">Kindly select a member to proceed.</div>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-md-12 col-sm-12 col-xs-12 no-padding" style="margin-left: -20px;margin-top: -35px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="membersTab" class="nav nav-tabs bar_tabs" role="tablist" >
                            <li role="presentation" id="li-members" class="active-event-list">
                                <a  id="dash-tab" role="tab" data-toggle="tab" aria-expanded="true" style="background: #009a61 !important;"></a>
                            </li>
                            <li role="presentation" id="li-membershipoptions" class="event-list-title">
                                <a ng-click="memredirectlivelistview()" id="membershipoptions-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                            </li>
                        </ul>
                        <span class="greentab-text membertab-text-1 greentab-text-active">Members</span>
                        <span class="greentab-text membertab-text-2" ng-click="memredirectlivelistview()">Membership Options</span>
                        <div class="x_panel no-padding">
                            <div id="membersTabContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="customersview"  >
                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="members-subTab" class="nav nav-tabs bar_tabs bar_tabs_sm" role="tablist">
                                                    <li role="presentation" id="li-active" class="active-event-list"><a ng-click="active()" id="approved-tab" role="tab" data-toggle="tab" aria-expanded="true">Active</a>
                                                    </li>
                                                    <li role="presentation" id="li-onhold" class="event-list-title"><a ng-click="onhold()"  role="tab" id="past-tab" data-toggle="tab" aria-expanded="false">On Hold</a>
                                                    </li>
                                                    <li role="presentation" id="li-cancel" class="event-list-title" style="width: 170px !important;"><a ng-click="cancel()"  role="tab" id="upcoming-tab" data-toggle="tab" aria-expanded="false" style="padding: 11px 0;">Cancelled / Completed</a>
                                                    </li>
                                                    <div>
                                                        <button  type="button" class="btn btn-success manage-add-membership" ng-click="openAddNewMemberModal()" ng-hide="((!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')) ||onholdview || cancelview" style="margin-top: -25px;">Add new member</button>
                                                        <button  type="button" class="btn btn-success manage-add-membership" ng-click="showWepayAccountCreation('customers')" ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')" ng-show="wepaystatus==='N'" style="margin-top: -25px;">Add new member</button>
                                                       
                                                    </div>
                                                </ul>
                                                <div id="members-subTabContent" class="tab-content">
                                                    <div role="tabpanel"  ng-if="activeview"  aria-labelledby="home-tab">
                                                        <div  class="x_content dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="register_typeselection" class="form-control" ng-model="registertypeselection" ng-change="registertypechange('R')">
                                                                        <option value="1" selected="">Registered</option>
                                                                        <option value="2" >Last Attended</option>
                                                                        <option value="3" >Attended</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="registertypechangeshowattended" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding" style="display: inline-flex;">
                                                                        <input   class="form-control"  style="text-align: center; width:20%;padding-left: 0;padding-right: 0;" type="text"   ng-model="notattended" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{showtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                        <input class="form-control"  style="text-align: center;width:20%;padding-left: 0;padding-right: 0;" type="text"    ng-model="notattended1" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{showtextafter}}&nbsp;&nbsp;&nbsp;</span>
                                                                    </div>

                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">&nbsp;&nbsp;&nbsp;
                                                                        <button type="button"   ng-click="filterattend('R', registertypeselection)"   ng-disabled="!notattended" class="btn btn-default" id="filter" name="filter">filter</button>
                                                                        <button type="button"  ng-click="clearfilterattend()" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                                    </div>

                                                                </div>
                                                                <div ng-if="registertypechangeshowattended1" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding" style="display: inline-flex;">
                                                                    <span style="padding-top: 5px;">{{showtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                    <select id="active_list_date"  class="form-control" style="width:18%;" ng-model="notattended1" ng-change="lastattenedclasschange('R', registertypeselection)">
                                                                        <option value="14" selected=""> 14 Days</option>
                                                                        <option value="30" > 30 Days</option>
                                                                    </select>
                                                                </div>

                                                                <div ng-if="registertypechangeshow" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding-left">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                                                                        <select id="active_list_date"  class="form-control" ng-model="activemembershipdays" ng-change="dayselection('R')">
                                                                            <option value="1" selected="">Last 30 Days</option>
                                                                            <option value="2" >Last 60 Days</option>
                                                                            <option value="3" >Last 90 Days</option>
                                                                            <option value="4" >Date Range</option>
                                                                            <option value="5" >All</option> 
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="amemstartdate" ng-disabled="activemembershipdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="activestartdate" ng-model="activestartdate" ng-change="catchAStartDate()">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="amemenddate" ng-disabled="activemembershipdays !== '4' || activestartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="activeenddate" ng-model="activeenddate" ng-change="catchAEndDate()">
                                                                    </div>

                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <button type="button"  ng-disabled="(activestartdate === '' || activeenddate === '') && activemembershipdays === '4'"  ng-click="filterByDate('R', '4')"  class="btn btn-default" id="filter" name="filter">filter</button>
                                                                        <button type="button"  ng-click="clearfilter('R')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                                    </div>
                                                                </div>
                                                            </div>     
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format"  ng-class="{'member-selection-color':color_green == 'Y'}"  ng-click="sendGroupMsg('push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable=""   dt-options="dtOptions" dt-columns="dtColumns"    id="DataTables_Table_0" dt-instance="dtInstance" class="table table-striped table-bordered row-border hover avoidtrming"  ></table>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" ng-if="onholdview"  aria-labelledby="home-tab">
                                                        <div  class="x_content dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 filter-div-1">
                                                                    <span class="filter-label">Placed On Hold</span>
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="onhold_list_date"  class="form-control" ng-model="holdmembershipdays" ng-change="dayselection('P')">
                                                                        <option value="1" selected="">Last 30 Days</option>
                                                                        <option value="2" >Last 60 Days</option>
                                                                        <option value="3" >Last 90 Days</option>
                                                                        <option value="4" >Date Range</option>
                                                                        <option value="5" >All</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                    <input id="hmemstartdate" ng-disabled="holdmembershipdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="holdstartdate" ng-model="holdstartdate" ng-change="catchPStartDate()">
                                                                </div>

                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                    <input id="hmemenddate" ng-disabled="holdmembershipdays !== '4' || holdstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="holdenddate" ng-model="holdenddate" ng-change="catchPEndDate()">
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <button type="button"  ng-disabled="(holdstartdate === '' || holdenddate === '') && holdmembershipdays === '4'"  ng-click="filterByDate('P', '4')"  class="btn btn-default" id="filter1" name="filter">filter</button>
                                                                    <button type="button"  ng-click="clearfilter('P')" class="btn btn-default" id="clear1"  name="clear">clear</button>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color':color_green == 'Y' }"  ng-click="sendGroupMsg('mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable="" dt-options="dtOptions1" dt-columns="dtColumns1"  dt-instance="dtInstance1" id="DataTables_Table_1"  class="table table-striped table-bordered row-border hover avoidtrming"></table>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" ng-if="cancelview"  aria-labelledby="home-tab">
                                                        <div  class="x_content dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 60px;">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 filter-div">
                                                                    <span class="filter-label">Cancelled/Completed</span>
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="cancelled_list_date"  class="form-control" ng-model="cancelmembershipdays" ng-change="dayselection('C')">
                                                                        <option value="1" selected="">Last 30 Days</option>
                                                                        <option value="2" >Last 60 Days</option>
                                                                        <option value="3" >Last 90 Days</option>
                                                                        <option value="4" >Date Range</option>
                                                                        <option value="5" >All</option>
                                                                    </select>
                                                                </div>

                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                    <input id="cmemstartdate" ng-disabled="cancelmembershipdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="cancelstartdate" ng-model="cancelstartdate" ng-change="catchCStartDate()" >
                                                                </div>

                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                    <input id="cmemenddate" ng-disabled="cancelmembershipdays !== '4' || cancelstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="cancelenddate" ng-model="cancelenddate" ng-change="catchCEndDate()">
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <button type="button"  ng-disabled="(cancelstartdate === '' || cancelenddate === '') && cancelmembershipdays === '4'"  ng-click="filterByDate('C', '4')"  class="btn btn-default" id="filter2" name="filter">filter</button>
                                                                    <button type="button"  ng-click="clearfilter('C')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="sendGroupMsg('csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable="" dt-options="dtOptions2" dt-columns="dtColumns2"  dt-instance="dtInstance2" id="DataTables_Table_2"  class="table table-striped table-bordered row-border hover avoidtrming"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>