<!-- modal -->
<div class="modal fade" id="campaignmessageModal" role="dialog" style="z-index: 1051;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="campaignmessagetitle"></h4>
            </div>
            <div class="modal-body" id="campaignmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->

<!--SEND TEST EMAIL MODAL-->
<div class="modal fade custom-modal c-m-2" id="sendtesttmail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body ">
                <br>
                <span class="newmodal-close-text" ng-click="clearTestEmail()" data-dismiss="modal">CLOSE</span>
                <p>Send a test email to</p>
                <input type="text" ng-model="testemail" class="form-control">
                <button type="button" class="button green-button custom-modal-button" ng-click="sendTestEmail()" ng-disabled="!testemail">Send</button>
            </div>
        </div>
    </div>
</div>
<!--SEND TEST EMAIL MODAL-->

<!--DELETE EMAIL CONFIRMATION MODAL-->
<div class="modal fade custom-modal  c-m-2" id="deleteemail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body ">
                <br>
                <span class="newmodal-close-text" data-dismiss="modal">CLOSE</span>
                <p>Are you sure you want to<br> delete this email?</p>
                <button type="button" class="button white-button custom-modal-button" ng-click="">Cancel</button>
                <button type="button" class="button green-button custom-modal-button" ng-click="">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--DELETE EMAIL CONFIRMATION MODAL-->

<!-- Email Image Crop Modal -->
<div class="modal fade" id="emailimgcropmodal" role="dialog">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="emailimgcroptitle"></label>
            </div>
            <div class="modal-body" id="emailimgcropcontent" style="font-size:16px;">
                <center><canvas width="950" height="550" id="canvasimage" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="800" crop-height="400" min-width="800" min-height="400" keep-aspect="true" crop-area-bounds="bounds"></canvas></center>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="emailimgcropcancel()">Cancel</button>
                <button type="button" ng-click="resetemailimgcropped()" class="btn btn-default" data-dismiss="modal">Remove</button>
                <button type="button" ng-click="emailimgcropped()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Email Image Crop Modal -->

<!--Email settings message modal-->
<div class="modal fade" id="emailmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailmessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--Email settings message modal-->

<!--EMAIL SETTINGS UPGRADE MODAL-->
<div class="modal fade" id="emailsettingsexpiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailsettingsexpirytitle">Upgrade</h4>
            </div>
            <div class="modal-body" id="emailsettingsexpirycontent" style="font-size:16px;">
                This feature is available with our Premium and White Label platform
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" ng-click="paymentnow()" class="btn btn-studio btn-block" data-dismiss="modal">Upgrade Now</button>
                </center> 
            </div>
        </div>
    </div>
</div>
<!--EMAIL SETTINGS UPGRADE MODAL-->

<div class="right_col no-padding-right" role="main">
    <div class="row top_tiles" style="margin-right: 0px;">
        <div class="col-12" style="margin-left: -20px;">
        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 20px;padding-right: 0px;margin-top: -35px;">
                <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="messagesTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" id="li-messages" class="event-list-title"><a ng-click="openMessage()" id="messages-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                        </li>
                        <li role="presentation" id="li-emailsettings" class="active-event-list"><a ng-click="" role="tab" id="emailsettings-tab" data-toggle="tab" aria-expanded="false"></a>
                        </li>
                    </ul>
                    <span class="greentab-text messagestab-text-1" ng-click="openMessage()">Mobile messages</span>
                    <span class="greentab-text messagestab-text-2 greentab-text-active" ng-click="">Email</span>
                    <div class="x_panel no-padding no-margin-bottom">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0 0 15px 0;"> 
                            <div class="tab-brownbg tab-brownbg-md" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="emailsettingssubTab" class="nav nav-tabs bar_tabs bar_tabs_lg" role="tablist">
                                    <li role="presentation" id="li-emailall" class="active-event-list">
                                        <a ng-click="emailAllView()" id="approved-tab" role="tab" data-toggle="tab" aria-expanded="true"><img src="../../image/emailall_icon.png" alt="emailall_icon"/>&nbsp;&nbsp;&nbsp;Email all users</a>
                                    </li>
                                    <li role="presentation" id="li-customcampaigns" class="event-list-title"><a ng-click="customCampaignsView()"  role="tab" id="past-tab" data-toggle="tab" aria-expanded="false"><img src="../../image/customcampaign_icon.png" alt="customcampaign_icon" style="width: 25px;"/>&nbsp;&nbsp;&nbsp;Custom campaigns</a>
                                    </li>
                                    <li role="presentation" id="li-systememails" class="event-list-title"><a ng-click=""  role="tab" id="upcoming-tab" data-toggle="tab" aria-expanded="false" style="background:#939393 !important;cursor: default;" class="tooltips"><span class="tooltiptexts" style="top:10px;right: -235px;">Coming soon.</span><img src="../../image/systememails_icon.png" alt="systememails_icon" />&nbsp;&nbsp;&nbsp;System emails</a>
                                    </li>
                                </ul>
                                <div id="emailsettingssubTabContent" class="x_content no-padding ">
                                    <div role="tabpanel" class="emailsettingssubTabContent" ng-show="emailallshow" aria-labelledby="home-tab">
                                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <div class="emailtab-content" style="padding-right: 35px;padding-top: 25px;">
                                                <form name="emailall">
                                                    <img src="../../image/emailall_icon2.png" alt="emailall_icon2" class="emailall_icon2"/>&nbsp;&nbsp;&nbsp;<h1>Send an email to all users</h1>
                                                    <br><br>
                                                    <label>Subject</label>
                                                    <input type="text" placeholder="Enter subject here" class="form-control" name="emailsubject" ng-model="all_email_subject" required>
                                                    <label>Message</label>
                                                    <wysiwyg textarea-id="emailall_message" textarea-class="form-control"  placeholder="Enter your message here" textarea-height="120px" textarea-name="textareaQuestion_1" textarea-required  ng-model="all_email_message" enable-bootstrap-title="true" ></wysiwyg>
                                                    <span>{{attachfile}}</span><br/>
                                                    <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                                                    <br/>
                                                    <label class="myLabel newmyLabel">
                                                        <input id="filegrpattach" type="file" attachstudentfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" required/> 
                                                        <span><img src="../../image/attachment_icon.png" alt="attachment_icon" class="attachment_icon"/>&nbsp;&nbsp;Attach File</span>
                                                    </label>
                                                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md-150" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                                                    <br><br>
                                                    <center><button type="button" class="btn btn-md-150 green-button" ng-click="sendEmailPush()" style="font-weight: 900;" ng-disabled="maxEmailAttachmentSizeError || !all_email_subject || !all_email_message">Send now</button></center>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="emailsettingssubTabContent" ng-show="customcampaignsshow" aria-labelledby="profile-tab">
                                        <div ng-show="campaignlistshow">
                                            <br/>
                                            <div class="col-lg-8 col-md-12 col-sm-12 no-padding">
                                                <div class="campaign_tutorial">
                                                    <span class="green-dot"></span><a href="https://intercom.help/mystudio/lead-management/send-automated-lead-emails" target="_blank"><label>&nbsp;&nbsp;Learn how to set up Campaigns</label></a>
                                                </div>
                                                <div class="campaign_listing">
                                                    <img src="../../image/emailall_icon2.png" alt="emailall_icon2" class="emailall_icon2"/>&nbsp;&nbsp;&nbsp;<h1>Custom campaigns</h1>
                                                    <span class="tooltips"><button type="button" class="btn btn-md-150 green-button create_campaign_btn disabled-green-btn" ng-click="" >+ Create a new campaign</button><span class="tooltiptexts create-campaign-tooltips">Functionality coming soon</span></span>
                                                    <br/><br/>
                                                    <span>These are auto-generated email campaigns that are editable.</span><br/><br/>
                                                    <ul class="list-unstyled" dnd-list="campaignsList_view">
                                                        <li class="listing_card" ng-repeat="campaign in campaignsList_view"
                                                            dnd-draggable="campaign"
                                                            dnd-dragstart="dragcampaigncallback('start',$index)"
                                                            dnd-moved="campaignsList_view.splice($index, 1)"
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="models.selected = campaign"
                                                            ng-class="{'selected': models.selected === campaign}"
                                                            dnd-dragend="dragcampaigncallback('end',$index)" value-repeat-complete >
                                                            <form>
                                                                <div class="col-sm-10 no-padding">
                                                                    <h4>{{campaign.campaign_title}}</h4>
                                                                    <div class="link">
                                                                        <div class="d-inline" ng-click="openEmailList(campaign)" ><img src="../../image/pencil_icon.png" alt="pencil_icon" class="pencil_icon_sm"/><span class="card_icon_text">Edit email flow</span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="d-inline" style="cursor: default;"><img src="../../image/disabled_trash.png" alt="trash_icon" class="trash_icon_sm" style="cursor: default;"/><span class="card_icon_text" style="color:#a2a2a2;cursor: default;">Delete</span></div>
                                                                    </div>
                                                                </div>  
                                                                <div class="col-sm-2 no-padding">
                                                                    <div class="switch_button"> 
                                                                        <label class="switch">
                                                                            <input id="cam_cat_status" type="checkbox" ng-model="send_email_switch" ng-checked="campaign.status === 'E'" 
                                                                                    ng-click="toggleEmailSwitch(campaign,'P',send_email_switch)">
                                                                            <span class="slider round"></span>
                                                                        </label><br/>
                                                                    </div>
                                                                    <span ng-show="campaign.status === 'E'" class="switch_text green" style="right: 7px;">SENDING</span>
                                                                    <span ng-show="campaign.status === 'D'" class="switch_text">PAUSED</span>
                                                                </div>  
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="emaillistshow">
                                            <br/>
                                            <div class="col-lg-8 col-md-12 col-sm-12 no-padding">
                                                <div class="compaign_header">
                                                    <div class="left link" ng-click="customCampaignsView()"><img src="../../image/backarrow.png" alt="backarrow" style="width:7px;"/><span class="back">&nbsp;&nbsp;Back</span></div>
                                                    <div class="campaign_tutorial">
                                                        <span class="green-dot"></span><a href="https://intercom.help/mystudio/lead-management/send-automated-lead-emails" target="_blank"><label>&nbsp;&nbsp;Learn how to set up Campaigns</label></a>
                                                    </div>
                                                </div>
                                                <div class="campaign_listing">
                                                    <img src="../../image/emailall_icon2.png" alt="emailall_icon2" class="emailall_icon2"/>&nbsp;&nbsp;&nbsp;<h1>New Leads Campaign</h1>
                                                    <div class="d-inline"> 
                                                        <label class="switch">
                                                            <input id="cam_child_status" type="checkbox" ng-checked="campaign_status === 'E'" ng-model="send_email_sub_switch" ng-click="toggleEmailSwitch(current_campaign_category_details,'C',send_email_sub_switch)">
                                                            <span class="slider round"></span>
                                                        </label><br/>
                                                    </div>
                                                    <span ng-show="send_email_sub_switch" class="switch_text switch_txt_inline green" style="left:300px;">SENDING</span>
                                                    <span ng-show="!send_email_sub_switch" class="switch_text switch_txt_inline">PAUSED</span>
                                                    <span class="tooltips"><button type="button" class="btn btn-md-150 green-button create_campaign_btn disabled-green-btn" ng-click="" style="width:235px;margin-top: -27px;">+ Add new email to campaign</button><span class="tooltiptexts create-campaign-tooltips">Functionality coming soon</span></span>
                                                    <br/><br/>
                                                    <ul class="list-unstyled">
                                                        <li class="listing_card email_list" ng-repeat="el in emailList_view">
                                                            <div class="card-head-section"><span>{{el.trigger_string}}</span></div>
                                                            <div class="emaillist_content">
                                                                <div class="col-sm-8 no-padding">
                                                                    <h4>{{el.email_title}}</h4>
                                                                    <div class="link">
                                                                        <div class="d-inline" ng-click="openEmailEdit(el,$index)"><img src="../../image/pencil_icon.png" alt="pencil_icon" class="pencil_icon_sm"/><span class="card_icon_text">Edit email</span></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="d-inline" style="cursor: default;"><img src="../../image/disabled_trash.png" alt="trash_icon" class="trash_icon_sm" style="cursor: default;"/><span class="card_icon_text" style="color:#a2a2a2;cursor: default;">Delete</span></div>
                                                                    </div>
                                                                </div>  
                                                                <div class="col-sm-4 no-padding">
                                                                    <div class="col-sm-6 m-t-5">
                                                                        <center><span><b>{{el.email_sent_count}}</b><br>Emails sent</span></center>
                                                                    </div>
                                                                    <div class="col-sm-6 m-t-5">
                                                                        <center> <span><b>{{el.bounce_rate}}%</b><br>Bounce rate</span></center>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>    
                                        </div>
                                        <div ng-show="editemailshow">
                                            <br/>
                                            <div class="col-lg-8 col-md-12 col-sm-12 no-padding">
                                                <div class="compaign_header">
                                                    <div class="left link" ng-click="openEmailList(current_campaign_category_details)"><img src="../../image/backarrow.png" alt="backarrow" style="width:7px;"/><span class="back">&nbsp;&nbsp;Back</span></div>
                                                    <div class="campaign_tutorial">
                                                        <span class="green-dot"></span><a href="https://intercom.help/mystudio/lead-management/send-automated-lead-emails" target="_blank"><label>&nbsp;&nbsp;Learn how to set up Campaigns</label></a>
                                                    </div>
                                                </div>
                                                <div class="campaign_listing">
                                                    <img src="../../image/emailall_icon2.png" alt="emailall_icon2" class="emailall_icon2"/>&nbsp;&nbsp;&nbsp;<h1>{{campaign_title}} | {{emailtitle}}</h1>
                                                    <div class="d-inline" ng-click="" style="opacity: 0.5;"> 
                                                        <img src="../../image/disabled_trash.png" alt="disabled_trash" class="email_delete_icon"/>
                                                        <span class="email_delete_text">DELETE</span>
                                                    </div>
                                                    <br/><br/>
                                                    <div class="emailtab-content editemail">
                                                        <form name="emailedit" class="emailedit">
                                                            <label>Subject</label>
                                                            <input type="text" placeholder="Enter subject here" class="form-control" name="emailsubject"  ng-model="emailedit_subject" required>
                                                            <label>Message</label><br>
                                                            <label class="image_uploader tooltips">
                                                                <input onchange="angular.element(this).scope().emailimgchanged()" id="emailImgChooser"  type="{{ (banner_image_type) ? 'file': ''}}" img-cropper-fileread image="cropper.sourceImage" style="display:none;" name="attachemailimg" ng-model="cropper.croppedImage" accept=".png,.jpeg,.jpg"/>                       
                                                                <center><img id="email_banner_image" ng-src="{{croppedEmailImage}}" alt="email_banner_image" class="image_uploader" ng-click="checkImageType()" /></center>
                                                                <span ng-if="(croppedEmailImage && croppedEmailImage !== defaultbannerimageurl)" class="tooltiptexts">Click here to change the image</span>
                                                            </label>
                                                            <wysiwyg textarea-id="emailedit_message" textarea-class="form-control" placeholder="Enter your message here" textarea-name="emailedit_message"  ng-model="emailedit_message"  enable-bootstrap-title="true" textarea-required style="font-family:avenir !important;color:#000000;font-size:14px !important;margin-left: 10px !important;letter-spacing:0.5px !important;height: 160px!important;"></wysiwyg>
                                                            <center style="padding-top: 150px;">
                                                                <div ng-show="changegetstartedtext" style="margin-top: -64px;">
                                                                    <input type="text" ng-model="getstartedtext" placeholder="Enter button text" maxlength="20"><br>
                                                                    <input type="text" ng-model="getstartedtexturl" placeholder="Enter button URL link" style="margin-top: 10px;">
                                                                </div>
                                                                <button id="getstarted_btn" type="button" ng-click="" style="width: 230px;border-radius: 5px;background: #4a90e2;color: #ffffff;border: 1px solid #4a90e2;font-weight: 600;box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;padding: 12px 0;height: 50px;font-size: 16px;letter-spacing: 0.5px;margin: 20px 0;font-family: avenir;display: inline-block;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;touch-action: manipulation;cursor: pointer;text-transform: none;overflow: visible;box-sizing: border-box;margin-left: 40px;">{{getstartedtext}}</button>
                                                                <img src="../../image/pencil_icon.png" alt="pencil_icon"  ng-show="!changegetstartedtext" style="width:13px;margin-top: -40px;margin-left: 5px;cursor:pointer;" ng-click="openButtonEdit()"/>
                                                                <!--<i ng-show="changegetstartedtext"  class="fa fa-close" style="top:-20px;position:relative;margin-left: 7px;cursor:pointer;color: #009a61;"ng-click="changegetstartedtext = false" ></i>-->
                                                            </center>
                                                        </form>
                                                    </div>
                                                </div>
                                                <center>
                                                    <button type="button" class="btn white-button saveemail-btn" ng-click="openTestEmailModal()" style="color:#009a61;" ng-disabled="emailedit.emailsubject.$invalid || emailedit.emailedit_message.$invalid">Send test email</button><br/>
                                                    <button type="button" class="btn green-button saveemail-btn" ng-click="saveEmailCampaign('E')" style="margin-top: 0;"ng-disabled="emailedit.emailsubject.$invalid || emailedit.emailedit_message.$invalid">Save</button>
                                                    <br><button type="button" class="btn message_cancel_txt" style="background: #ffffff;"  ng-click="saveEmailCampaign('D')" ng-disabled="emailedit.emailsubject.$invalid || emailedit.emailedit_message.$invalid">or <a>save and pause campaign</a></button>
                                                </center>
                                            </div> 
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="emailsettingssubTabContent" ng-show="systememailsshow" aria-labelledby="profile-tab"><label>system emails show</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>        
</div>
    
