<!DOCTYPE html>

<!--Event Cancellation modal -->
<div class="modal fade" id="eventCancellationActionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="eventCancellationActiontitle"></h4>
            </div>
            <div class="modal-body" id="eventCancellationActioncontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="eventcancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="confirmPaymentPlanRefund()" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="eventCancellationActionModal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="eventCancellationActiontitle2"></h4>
            </div>
            <div class="modal-body" id="eventCancellationActioncontent2" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Event Cancellation modal -->




<!-- EVENT HISTORY ADD NOTE MODAL -->
<div class="modal fade" id="eventHistoryNoteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="eventHistoryNotetitle"></h4>
            </div>
            <div class="modal-body" id="eventHistoryNotecontent" style="font-size:16px;">
                <p>Enter your note here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter note here." class="form-control" ng-model="eventhistorynote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="eventHistoryNotedone" type="button" class="btn btn-primary" ng-disabled="!eventhistorynote" ng-click="confirmeditEventHistoryNote()">{{HistoryNoteButton}}</button>
            </div>
        </div>
    </div>
</div>
<!-- EVENT HISTORY ADD NOTE MODAL -->


<!-- PAYMENT HISTORY EMAIL MODAL -->
<div class="modal fade" id="payEvntHistoryEmailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="payEvntHistoryEmailtitle"></h4>
            </div>
            <div class="modal-body" id="payEvntHistoryEmailcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="EvntHistoryNoteDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="EvntHistoryNoteDeletedone" type="button" class="btn btn-primary" ng-click="confirmsendPayHistoryEmail()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- PAYMENT HISTORY EMAIL MODAL -->

<!-- EVENT HISTORY DELETE NOTE MODAL -->
<div class="modal fade" id="evntHistoryNoteDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="evntHistoryNoteDeletetitle"></h4>
            </div>
            <div class="modal-body" id="evntHistoryNoteDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="evntHistoryNoteDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="evntHistoryNoteDeletedone" type="button" class="btn btn-primary" ng-click="confirmeditEventHistoryNote()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- EVENT HISTORY DELETE NOTE MODAL -->

<div class="modal fade" id="paymentHistoryModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle"></h4>
            </div>
            <div class="modal-body" id="paymentHistorycontent" style="font-size:16px;"></div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="actionReRunConfirm(actionValue)" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--UPDATE PAYMENT AMOUNT MODAL-->
<div class="modal fade" id="paymentHistoryModal1" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle1"></h4>
            </div>
            <div class="x_panel" style="width: 100%;border: 1px solid #00ad68 ;"> 
                <div class="modal-body">
                    <div class="row">
                        Credit Amount: <input type="text" style="width:70px;"  ng-model="temp_past_paymentarray1" valid-number> 
                        <span style="margin-left:40px!important">
                            Credit Method: 
                            <select class="form-control msdetailtxt inline" ng-model="creditmethod" style="width:220px;">
                                <option value = "MC">Manual credit</option>
                                <option value = "CA">Cash payment </option>
                                <option value = "CH">Check payment </option>           
                            </select>
                       </span>
                    </div>
                    <div class="row" ng-show="creditmethod === 'CH'">
                        <span>
                            Check Number: <input type="text" ng-model="checknumber" style="width:420px;"> 
                        </span>    
                    </div>
                </div>            
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="updatePaidquantity(temp_past_paymentarray2, temp_past_paymentarray1)" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>

<!--UPDATE PAYMENT AMOUNT MODAL-->
<div class="modal fade" id="paymentHistoryEditModal" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistoryEdittitle"></h4>
            </div>
            
            <div class="modal-body" id="paymentHistoryEditcontent" style="font-size:16px;">
                <div class="x_panel"> 
                <div class="modal-body">
                     <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                        <span  class="msdetailtxt">&nbsp;&nbsp;Payment Amount:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                       <span style="width:70px;">{{wp_currency_symbol}}{{temp_hist_paymentamnt2}}</span>
                    </div>
                     </div>
                      <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Payment Date:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                        <input id="paymenthistorystartdate" class="form-control medium-input inline no-padding"  type="text" placeholder='mm/dd/yyyy' name="paymenthistorystartdate" ng-model="paymenthistorystartdate"><br><br><br>
                    </div>
                     </div>
                </div>            
                </div>
            </div>
            
            <div class="modal-footer">
                <button id="paymenthistorycancel" type="button" class="btn btn-default" ng-click="updatePaymentHistoryCancel()" data-dismiss="modal">Cancel</button>
                <button type="button" ng-disabled="!temp_hist_paymentamnt2 || !paymenthistorystartdate"  ng-click="updatePaymentHistory(temp_hist_paymentamnt1, temp_hist_paymentamnt2)" class="btn btn-default">Update</button>
            </div>
        </div>
    </div>
</div>

<!--FUNCTION CALL OF UPDATE PAYMENT MODAL-->
<div class="modal fade" id="paymentEditHistoryModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentEditHistorytitle"></h4>
            </div>
            <div class="modal-body" id="paymentEditHistorycontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="confirmUpdatePaymentHistory()" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--FUNCTION CALL OF UPDATE PAYMENT MODAL-->
<div class="modal fade" id="paymentHistoryModal3" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle3"></h4>
            </div>
            <div class="modal-body" id="paymentHistorycontent3" style="font-size:16px;"><span ng-model="upcoming_creditamount"></span>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="confirmCreditAmount(upcoming_creditamount,creditmethod)" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmPayPlanEditModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="confirmPayPlanEdittitle"></h4>
            </div>
            <div class="modal-body" id="confirmPayPlanEditcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="done" type="button" class="btn btn-default" ng-click="confirmeditmembership();" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- STRIPE PAYMENT METHOD UPDATE MODAL -->
<div class="modal fade" id="UpdateEventPaymentMethodModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearStripeCardData()">&times;</button>
                <h4 class="modal-title srtipe-payout-txt" id="UpdateEventPaymentMethodModaltitle"></h4>
            </div>
            <div class="modal-body" id="UpdateEventPaymentMethodModalModalcontent">
                <div class="col-md-12 col-sm-12 col-xs-12" >
                    <label for="firstname">First Name<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_firstName" placeholder="" class="form-control" name="stripe_firstname" ng-model="stripe_first_name" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="lastname">Last Name<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_lastName" placeholder="" class="form-control" name="stripe_lastname" ng-model="stripe_last_name" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email">Email<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_email" placeholder="" class="form-control" name="stripe_email" ng-model="stripe_email" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="stripe-form srtipe-payout-txt">
                        <label>Enter your credit card information<span style="color:red;">*</span></label>
                        <div id="event-stripe-card-element" class="form-control"></div>
                        <!--Used to display form errors--> 
                        <div style="color: red" id="event-stripe-card-errors" role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer srtipe-payout-txt" style="border-top:none;">
                <button id="done" type="button" class="btn btn-success"  ng-click="createStripePaymentMethod()" ng-disabled="!stripe_first_name || !stripe_last_name || !stripe_email" style="background-color: #009a61;">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- STRIPE PAYMENT METHOD UPDATE MODAL -->


<div class="modal fade" id="editEventpaymentMethodModal" data-backdrop="static" role="dialog" style="overflow: auto;">
    <!--<div class="modal-dialog" style="width: 100%">-->
    <div class="modal-content model-cus-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                <h4 class="modal-title" id="editEventpaymentMethodActiontitle"></h4>
            </div>
            <div class="modal-body">
                <div class="x_panel" style="border: 2px solid #00ad68;">
                    <div>
                        <form enctype="multipart/form-data" novalidate id="paymentform" name="paymentform">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">     
                                <div class="col-md-12" >
                                    <label for="firstname">First Name<span style="color:red;">*</span></label>
                                    <input type="text" id="firstName" placeholder="" class="form-control" name="firstname" ng-model="firstname" required>
                                    <span style="color: red" ng-show="(paymentform.firstname.$touched && paymentform.firstname.$invalid)">
                                        First name is required
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label for="lastname">Last Name<span style="color:red;">*</span></label>
                                    <input type="text" id="lastName" placeholder="" class="form-control" name="lastname" ng-model="lastname" required>
                                    <span style="color: red" ng-show="(paymentform.lastname.$touched && paymentform.lastname.$invalid)">
                                        Last name is required
                                    </span>
                                    <input type="hidden" id="name" ng-model="name">
                                </div>
                                <div class="col-md-12">
                                    <label for="email">Email<span style="color:red;">*</span></label>
                                    <input type="text" id="email" placeholder="" class="form-control" name="email" ng-model="email" required>
                                    <span style="color: red" ng-show="(paymentform.email.$touched && paymentform.email.$invalid)">
                                        Email is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">   
                                <div  class="col-md-12" >                                            
                                    <label for="cardnumber">Card number<span style="color:red;">*</span></label>
                                    <input type="text" id="cc-number" placeholder="" class="form-control" name="cardnumber" ng-model="cardnumber" required>
                                    <span style="color: red" ng-show="(paymentform.cardnumber.$touched && paymentform.cardnumber.$invalid)">
                                        Card number is required
                                    </span>
                                </div>
                                <div  class="col-md-12">
                                    <div><label>Expiration Date<span style="color:red;">*</span></label></div>
                                    <div class="col-md-6 no-padding">
                                        <select class="form-control" id="cc-month" name='ccmonth' ng-model="$parent.ccmonth">
                                            <option disabled selected value>Month</option>
                                            <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                        </select>                                            
                                        <span style="color: red" ng-show="paymentform.ccmonth.$touched && (paymentform.ccmonth.$error.required || ccmonth === undefined)">
                                            Select Expiration Month
                                        </span>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <select class="form-control" id="cc-year" name='ccyear' ng-model="$parent.ccyear">
                                            <option disabled selected value>Year</option>
                                            <option ng-repeat="year in ccyearlist">{{year}}</option>
                                        </select>                                            
                                        <span style="color: red" ng-show="paymentform.ccyear.$touched && (paymentform.ccyear.$error.required || ccyear === undefined)">
                                            Select Expiration Year
                                        </span>
                                    </div>
                                </div>
                                <div  class="col-md-12">
                                    <label>CVV<span style="color:red;">*</span></label>
                                    <input type="text" id="cc-cvv" placeholder="" class="form-control" name="cvv" ng-model="cvv" required>
                                    <span style="color: red" ng-show="(paymentform.cvv.$touched && paymentform.cvv.$invalid)">
                                        CVV is required
                                    </span>
                                </div>
                                <div  class="col-md-6">
                                    <label>Country<span style="color:red;">*</span></label>
                                    <select id="country" class="form-control" ng-model="$parent.country" name='country'>
                                        <option disabled selected value>-- Choose country --</option>
                                        <option value="US">United states</option>
                                        <option value="CA">Canada</option>
                                        <option value="GB">United Kingdom</option>
                                    </select>
                                    <span style="color: red" ng-show="paymentform.country.$touched && (paymentform.country.$error.required || country === undefined)">
                                        Select country
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label for="postal_code">Zip code<span style="color:red;">*</span></label>
                                    <input type="text" id="postal_code" placeholder="" class="form-control" name="postal_code" ng-model="postal_code" required>
                                    <span style="color: red" ng-show="(paymentform.postal_code.$touched && paymentform.postal_code.$invalid)">
                                        Zip code is required
                                    </span>
                                </div>
                            </div>
                            <center>
                                <a data-dismiss="modal" ng-click="resetForm()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                <input  type="submit" name="Submit" value="Update" id="cc-submit4" class="btn btn-primary btn-lg btn-custom"
                                        ng-disabled="paymentform.$invalid || ccmonth === undefined || ccyear === undefined || country === undefined">
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="successmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="successmessagetitle"></h4>
            </div>
            <div class="modal-body" id="successmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successmessageModalrerun" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="successmessagetitlererun"></h4>
            </div>
            <div class="modal-body" id="successmessagecontentrerun" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal" ng-click='event_Payment_History()'>OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="selectpaymentmethod-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p>Select payment method</p>
                <select class="form-control" ng-model="selectpaymentmethod">
                    <option value="CC">Credit Card</option>
                    <option value="CA">Manual</option>
                    <option value="ACH" disabled>ACH</option>
                </select>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal" ng-click="catchselectpaymentmethod()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="width:100%;margin-left: -10px;">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">                
                <div id="myTabContent" class="tab-content">
                    <div id="customer_view" >
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" aria-labelledby="home-tab">
                                <!--   Payment Layout-->
                                <div class="" id="membershipDetail" ng-init="openEventDetailsPage()" >
                                    <div class="x_panel">
                                        <a ng-click="closeEventDetailView()" style="cursor: pointer;float: left;"><i class='fa fa-chevron-left'></i>&nbsp;Back</a>
                                        <center><h3 style="width:100%;">{{currentEvent_title}}</h3></center>
                                        <div class="clearfix"></div>
                                        <div class="x_panel">
                                            <center>
                                                <label class="ms-detail-bold-head">Buyer:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{buyer_name}}</span>&nbsp;&nbsp;&nbsp;
                                                <label class="ms-detail-bold-head">Participant:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{participant_name}}</span>
                                            </center>
                                            <div class="newtabgreen detail-page-tab" role="tabpanel" data-example-id="togglable-tabs" style="margin-top: -15px;">
                                                <ul id="eventdetailtabs" class="nav nav-tabs bar_tabs" role="tablist">
                                                    <li role="presentation" id="li-eventdetails" class="active-event-list">
                                                        <a ng-click="eventdetails()" id="eventdetails-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                                                    </li>
                                                    <li role="presentation" id="li-eventparticipantinfo" class="event-list-title">
                                                        <a ng-click="eventparticipantinfo()"  role="tab" id="eventparticipantinfo-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                    <li role="presentation" id="li-eventhistory" class="event-list-title">
                                                        <a ng-click="eventhistory()"  role="tab" id="eventhistory-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                    <li role="presentation" id="li-eventpaymenthistory" class="event-list-title">
                                                        <a ng-click="eventpaymenthistory()"  role="tab" id="eventpaymenthistory-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                </ul>
                                                <span class="greentab-text eventdetail-tabtext-1 greentab-text-active" ng-click="eventdetails()">Event Details</span>
                                                <span class="greentab-text eventdetail-tabtext-2" ng-click="eventparticipantinfo()">Participant Info</span>
                                                <span class="greentab-text eventdetail-tabtext-3" ng-click="eventhistory()">Event History</span>
                                                <span class="greentab-text eventdetail-tabtext-4" ng-click="eventpaymenthistory()">Payment Details</span>
                                            </div>
                                            <!--Membership Details Edit Screen-->
                                            <div role="tabpanel" ng-show="eventdetailsview" aria-labelledby="home-tab">
                                                <div ng-show="eventdetailsExist" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container" style="border: 2px solid lightgray;">
                                                    <!--Current Event Plan-->
                                                    <br>
                                                    <div class="col-md-6 col-sm-6 col-xs-6" ng-class="{'event-table-border-right': !planupdated}">
                                                        <center><h4>Current Registration</h4></center><br>
                                                        <table class="dt-responsive nowrap" cellspacing="0" width="100%" style="max-width: 100%;table-layout: fixed;">
                                                            <thead>
                                                                <tr style="font-size: 14px;">
                                                                    <th style="width:40%;">Event Name<br><br></th>
                                                                    <th style="width:30%;"><center>Cost<br><small style="font-size:80%;">(after all savings)</small></center></th>
                                                                    <th style="width:30%;" colspan="2">Quantity<br><br></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="font-size: 13px;height: 60px;" ng-repeat="eventdetail in new_event_details">
                                                                    <td style="max-width:40%;" data-toggle="tooltip" title="{{eventdetail.title}}">{{eventdetail.title}}</td>
                                                                    <td style="max-width:30%;"><center>{{wp_currency_symbol}}{{eventdetail.discounted_price}}</center></td>
                                                                    <td style="max-width:20%;margin-top: -10px;">
                                                                        <span style="padding-left:15px;" ng-hide="showquantityedit && editquantityIndex===$index">{{eventdetail.quantity}}</span>
                                                                        <input style="width:40px;text-align: center;" type="text" ng-show="showquantityedit && editquantityIndex===$index" ng-model="eventdetail.quantity" valid-quantity> 
                                                                        <span ng-show="showquantityedit && editquantityIndex===$index" style="color: red;" ><br><small style="position:absolute;right:15%;">{{quantityerrortext}}</small></span>
                                                                    </td>
                                                                    <td style="max-width:10%;">
                                                                        <!--{{showquantityedit}}{{editquantityIndex}}{{$index}}-->
                                                                        <a class="event-detail-table" ><i class="fa fa-1x fa-pencil" ng-hide="showquantityedit && editquantityIndex===$index" ng-click="editquantity($index)"></i></a>
                                                                        <a class="event-detail-table" ><i class="fa fa-1x fa-close" ng-show="showquantityedit && editquantityIndex===$index" ng-click="cancelquantity(eventdetail.quantity,eventdetail.ev_id,$index)"></i></a>
                                                                        <a class="event-detail-table" ><i class="fa fa-1x fa-save" ng-show="showquantityedit && editquantityIndex===$index" ng-click="updatequantity(eventdetail.quantity,eventdetail.ev_id,$index)"></i></a>
                                                                    </td>
                                                                    <!--{{showquantityedit}}{{editquantityIndex}}{{$index}}-->
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6"  ng-class="{'event-table-border-left': planupdated}">
                                                        <center><h4>Current Order Details</h4></center>
                                                        <table class="dt-responsive nowrap" cellspacing="0" style="display: block;max-width: 100%;overflow: auto;" >
                                                            <tr><p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Total event quantity: </p><p style="display: inline; font-size: 13px;">{{current_plan_details.total_event}}</p></tr><br>
                                                            <tr><p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Total due: </p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{current_plan_details.total_due}}</p></tr><br>
                                                            <tr><p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Paid to date:</p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{current_plan_details.paid_due}} <small ng-show="current_plan_details.processing_fee_type ==='2' && current_plan_details.paid_processing_fee>0">  plus {{wp_currency_symbol}}{{current_plan_details.paid_processing_fee}} processing fee</small> </p></tr><br>
                                                            <tr><p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Balance due: </p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{current_plan_details.rem_due}}</p></tr><br><br/>
                                                        </table>
                                                        <table class="dt-responsive nowrap" cellspacing="0">
                                                            <tbody>
                                                                <tr style="font-size: 13px;" ng-show="$index >= current_plan_details.success_count" ng-repeat="plandetail in current_due_details">                           
                                                                    <td style="width:95px;height:10px;"><p>Payment {{$index}}:</p></td>
                                                                    <td style="width:200px;height:10px;"><p>{{wp_currency_symbol}}{{(getTotalFee(plandetail.amount,plandetail.refunded_amount,plandetail.process_fee,current_plan_details.processing_fee_type) | number:2)}} <small ng-show="plandetail.process_fee>0">  (includes {{wp_currency_symbol}}{{plandetail.process_fee}} processing fee)</small> </p></td>
                                                                    <td style="width:135px;height:10px;"><p>&nbsp;due {{getPaymentdate(plandetail.date)}}</p></td>
                                                                </tr>
                                                            </tbody>
                                                            </table>
                                                        <p ng-show="current_plan_details.payment_method == 'CC'"> Payment Method:&nbsp;&nbsp; {{current_plan_details.credit_card_name}}&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-1x fa-pencil" ng-click="openselectpaymentmethod()"></i></p>
                                                        <p ng-show="current_plan_details.payment_method == 'CA' || current_plan_details.payment_method == 'CH'"> Payment Method:&nbsp;&nbsp; Manual&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-1x fa-pencil" ng-click="openselectpaymentmethod()"></i></p>
                                                        <br>
                                                        <div ng-show="planupdated" class="y_panel" style="width: 102%;border: 1px solid #00ad68 ;"></div>
                                                        <div ng-show="planupdated">
                                                        <center><h4>New Payment Plan after Cancellation</h4></center>
                                                        <p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Total event quantity: </p><p style="display: inline; font-size: 13px;">{{new_plan_details.total_event}}</p><br/>
                                                        <p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Total due: </p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{new_plan_details.total_due}}</p>&nbsp;&nbsp;<p style="display: inline-block; font-size: 13px;" ng-show="showChangesinCancellation"><small>{{subtractedText}}</small></p><br/>
                                                        <p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Paid to date:</p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{new_plan_details.paid_due}} </p><br/>
                                                        <p style="display: inline-block; width: 135px;height:10px; font-size: 13px;">Balance due: </p><p style="display: inline; font-size: 13px;">{{wp_currency_symbol}}{{remainingDueValue}} <small ng-show="showRemDueProccessingFee">{{remDueFeeText}}</small> </p><br/>
                                                        <p><small ng-show="manual_credit_show">({{wp_currency_symbol}}{{manual_credit_refund}} credit needs to be manually given back to customer)</small></p>
                                                        <p><small ng-show="manual_credit_add_show">({{wp_currency_symbol}}{{manual_credit_add}} cash needs to be manually charge from  customer)</small></p>
                                                        <table class="dt-responsive nowrap" cellspacing="0" ng-show="show_new_dew_details">
                                                            <tbody>
                                                                <tr style="font-size: 13px;" ng-show="$index >= current_plan_details.success_count" ng-repeat="plan_detail in new_due_details">                           
                                                                    <td style="width:135px;height:10px;"><p>Payment {{$index}}:</p></td>
                                                                    <td style="width:200px;height:10px;"><p>{{wp_currency_symbol}}{{(getTotalFee(plan_detail.amount,plan_detail.refunded_amount,plan_detail.process_fee,current_plan_details.processing_fee_type) | number:2)}}<small ng-show="plan_detail.process_fee>0">  (includes {{wp_currency_symbol}}{{plan_detail.process_fee}} processing fee)</small> </p></td>
                                                                    <td style="width:135px;height:10px;"><p>&nbsp;due {{getPaymentdate(plan_detail.date)}}</p></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br>

                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 20px 0;">
                                                                <button class="btn btn-default event-detail-cancel" role="button" data-dismiss="modal" ng-click="cancelPaymentPlanEdit()">Cancel</button>
                                                                
                                                                <button class="btn btn-primary event-detail-green-btn" ng-show="cancel_with_currentplan && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('CP')">{{cancellation_with_currentplan_txt}}</button>
                                                                <button class="btn btn-primary event-detail-green-btn" ng-show="cancel_with_newplan && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('NP')">{{cancellation_with_newplan_txt}}</button>
                                                                 <button class="btn btn-primary event-detail-green-btn" ng-show="cancel_without_refund && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('WOR')">{{cancellation_without_refund_txt}}</button>
                                                                <button class="btn btn-primary event-detail-green-btn" ng-show="cancel_with_refund  && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('WR')">{{cancellation_with_refund_txt}}</button>
                                                                <button class="btn btn-primary event-detail-green-btn" ng-show="cancel_balance_due && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('C')">{{cancellation_button_text}}</button>
                                                                <button class="btn btn-primary event-detail-green-btn event-detail-cancel" ng-show="cancel_process && planupdated"  role="button" ng-disabled="!planupdated || showquantityedit" ng-click="refundAndDeleteParticipantConfirm('C')">{{cancellation_button_text}}</button>
                                                            
                                                        </div>
                                                        </div>
                                                       </div>
                                                    </div>
                                                    <div ng-hide="eventdetailsExist" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container" style="border: 2px solid lightgray; padding:120px;">
                                                        <center>
                                                                <p style="display: inline-block; font-size: 18px;">No Live or current registration event exists to edit. </p>
                                                        </center>
                                                    </div>
                                                   </div>
                                        <!--Membership Details Edit Screen-->


                                         <!--Participant Info Edit Screen-->
                                                <div role="tabpanel" ng-show="participantinfoview"  aria-labelledby="home-tab">
                                                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container">

                                                         <!--Edit Participant details--> 
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <div ng-hide="showParEdit" >
                                                                <div class="msdetail-container-top" style="height: 400px;">
                                                                    <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED PARTICIPANT INFO</span><br><br>
                                                                    <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span class="msdetailtxt inline">&nbsp;&nbsp;First Name:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt inline no-padding">{{event_participant_info.event_registration_column_1}}<br></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span class="msdetailtxt inline ">&nbsp;&nbsp;Last Name:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt no-padding">{{event_participant_info.event_registration_column_2}}<br><br><br></span>
                                                                        </div>
                                                                    </div>
                                                                    <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED BUYER INFO</span><br><br>
                                                                     <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer First Name:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt no-padding">{{event_participant_info.buyer_first_name}}</span><br>
                                                                        </div>
                                                                    </div>
                                                                     <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer Last Name:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt no-padding">{{event_participant_info.buyer_last_name}}</span><br>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span  class="msdetailtxt inline">&nbsp;&nbsp;Phone Number:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt no-padding">{{event_participant_info.buyer_phone}}</span><br>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row no-margin">
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                            <span  class="msdetailtxt inline">&nbsp;&nbsp;Email:</span>
                                                                        </div>
                                                                        <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                            <span class="msdetailtxt no-padding">{{event_participant_info.buyer_email}}</span><br>
                                                                        </div>
                                                                    </div>
                                                                </div><br><br><br>
                                                                <center class="msdetail-container-bottom">
                                                                    <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-click="showEventParticipantEdit()"><span>Edit</span></button>
                                                                </center>
                                                            </div>
                                                            <div ng-show="showParEdit">
                                                                <div class="msdetail-container-top" style="height: 400px;">
                                                                    <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED PARTICIPANT INFO</span><br><br>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt inline">&nbsp;&nbsp;First Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline no-padding'  ng-model="parfirstname"><br>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt inline ">&nbsp;&nbsp;Last Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline no-padding'  ng-model="parlastname"><br><br><br>
                                                                    </div>
                                                                    <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED BUYER INFO</span><br><br>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer First Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline'  ng-model="buyerfirstname"><br>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer Last Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline'  ng-model="buyerlastname"><br>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Phone Number:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.buyer_phone" valid-number><br>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Email:</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.buyer_email"><br>
                                                                    </div>
                                                                </div><br><br><br>
                                                                <center class="msdetail-container-bottom">
                                                                    <a ng-click="resetEditEventParticipant()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                                                    <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="!parfirstname || !parlastname || !buyerfirstname || !buyerlastname"
                                                                        ng-click="updateEventParticipantName(parfirstname, parlastname, buyerfirstname, buyerlastname,eventeditparticipant.buyer_phone, eventeditparticipant.buyer_email, eventeditparticipant.event_registration_column_3, eventeditparticipant.event_registration_column_4, eventeditparticipant.event_registration_column_5, eventeditparticipant.event_registration_column_6,
                                                                            eventeditparticipant.event_registration_column_7, eventeditparticipant.event_registration_column_8, eventeditparticipant.event_registration_column_9, eventeditparticipant.event_registration_column_10)"><span>Save</span></button>                                                                
                                                                </center>
                                                            </div>
                                                        </div>

                                                          <!--Edit Participant Registration details--> 
                                                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 green-border-left">
                                                             <div ng-hide="showCusParEdit">
                                                                 <div class="msdetail-container-top" >
                                                                     <span class="msdetail-headtxt">&nbsp;&nbsp;CUSTOM PARTICIPANT FIELDS</span><br><br><br>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_3" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span  class="msdetailtxt inline">&nbsp;&nbsp;{{event_participant_info.heading_3}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_3" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_3}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_4" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span  class="msdetailtxt inline">&nbsp;&nbsp;{{event_participant_info.heading_4}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_4" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_4}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_5}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_5}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_6}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_6}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_7}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_7}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_8}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_8}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_9}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_9}}</span>
                                                                         </div>
                                                                     </div>
                                                                     <div class="row no-margin">
                                                                         <div ng-show="event_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_10}}:</span>
                                                                         </div>
                                                                         <div ng-show="event_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                             <span class="msdetailtxt no-padding half-width">{{event_participant_info.event_registration_column_10}}</span>
                                                                         </div>
                                                                     </div>
                                                                 </div><br>
                                                                 <center class="msdetail-container-bottom">
                                                                    <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-click="showCustomEventParticipantEdit()"><span>Edit</span></button>
                                                                 </center>     
                                                             </div>
                                                             <div ng-show="showCusParEdit">
                                                                 <div class="msdetail-container-top" >
                                                                     <span class="msdetail-headtxt">&nbsp;&nbsp;CUSTOM PARTICIPANT FIELDS</span><br><br><br>
                                                                     <div ng-show="event_participant_info.heading_3" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span  class="msdetailtxt inline">&nbsp;&nbsp;{{event_participant_info.heading_3}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_3" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input  type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_3">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_4" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span  class="msdetailtxt inline">&nbsp;&nbsp;{{event_participant_info.heading_4}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_4" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input  type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_4">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_5}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_5">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_6}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_6">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_7}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_7">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_8}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_8">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_9}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_9">
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <span class="msdetailtxt">&nbsp;&nbsp;{{event_participant_info.heading_10}}:</span>
                                                                     </div>
                                                                     <div ng-show="event_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                         <input type="text" class='form-control medium-input inline'  ng-model="eventeditparticipant.event_registration_column_10">
                                                                     </div>
                                                                 </div>
                                                                 <center class="msdetail-container-bottom"><br>
                                                                     <a  ng-click="resetEditEventParticipant()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                                                     <button  class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="!parfirstname || !parlastname || !buyerfirstname || !buyerlastname"
                                                                        ng-click="updateEventParticipantName(parfirstname, parlastname, buyerfirstname, buyerlastname, eventeditparticipant.buyer_phone, eventeditparticipant.buyer_email, eventeditparticipant.event_registration_column_3, eventeditparticipant.event_registration_column_4, eventeditparticipant.event_registration_column_5, eventeditparticipant.event_registration_column_6,
                                                                            eventeditparticipant.event_registration_column_7, eventeditparticipant.event_registration_column_8, eventeditparticipant.event_registration_column_9, eventeditparticipant.event_registration_column_10)"><span>Save</span></button>
                                                                 <br><br><br>
                                                            </center>
                                                         </div>
                                                     </div>     
                                                </div>
                                                </div>
                                                   <!--Participant Info Edit Screen-->


                                        <!--Membership History Edit Screen-->
                                        <div role="tabpanel" ng-show="eventhistoryview"  aria-labelledby="home-tab">                                                                    
                                            <span class="msdetail-headtxt">EVENT HISTORY</span><span>&nbsp;<a  class="msdetailtxt note-section" ng-click="editEventHistoryNote('','','add')">[add note]</a></span>
                                            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-repeat="evnt_history in event_history">
                                                <span class="msdetailtxt">{{evnt_history.activity_date| date:'MMM dd, yyyy'}}:</span><span ng-hide=" evnt_history.activity_type ==='note' " class="msdetailtxt no-padding">&nbsp;&nbsp;{{evnt_history.activity_text}}<br></span>
                                                <span ng-show=" evnt_history.activity_type ==='note' " class="msdetailtxt no-padding">&nbsp;{{evnt_history.activity_text}}</span><span ng-show=" evnt_history.activity_type ==='note' ">&nbsp;<a class="msdetailtxt note-section" ng-click="editEventHistoryNote($index,evnt_history.event_history_id,'edit')">[edit]</a>&nbsp;<a class="msdetailtxt note-section" ng-click="editEventHistoryNote($index,evnt_history.event_history_id,'delete')">[delete]</a><br></span>
                                            </div>
                                        </div>
                                        <!--Membership History Edit Screen-->


                                        <!--Payment History Edit Screen-->
                                        <div role="tabpanel" ng-show="paymenthistoryview"  aria-labelledby="home-tab">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <span class="msdetail-headtxt">UPCOMING PAYMENTS:</span><span>&nbsp;<a  class="msdetailtxt note-section" ng-click="sendPaymentHistory()">[send event payment history]</a></span><br><br>
                                                <span style="margin-left:20px;" ng-show="event_payment_upcoming.length <= 0">There is no record for upcoming payments.</span>
                                                <div class="inner-container">
                                                    <span ng-show="event_payment_upcoming.length > 0" id="paymentHistory{{$index}}" class="msdetailtxt no-padding" ng-repeat="pay_history in event_payment_upcoming">
                                                        <span ng-show="pay_history.type ==='payment'">
                                                            <i class="fa fa-1x fa-pencil" style="margin-left: -25px; margin-right: 10px;" ng-show="pay_history.schedule_status === 'N'" ng-click="editPaymentHistory($index,'upcoming')"></i>
                                                            <!--{{pay_history.payment_steps==='Down Payment'? 'Down Payment':(pay_history.payment_steps==='Payment' && pay_history.billing_options === 'PF')? 'Payment':(pay_history.payment_steps==='Payment' && pay_history.billing_options === 'PP')? pay_history.payment_count : 'Payment'}}:&nbsp;-->  
                                                            {{pay_history.payment_count=='Payment 0'?'Down Payemnt':pay_history.payment_count}}
                                                            {{wp_currency_symbol}}{{pay_history.schedule_status==='R'? pay_history.refunded_amount : pay_history.payment_amount}}&nbsp;
                                                            {{pay_history.processing_fee_type === '2' && (pay_history.credit_method == 'CC' && pay_history.processing_fee > 0)  ? '(plus '+wp_currency_symbol+pay_history.processing_fee+' administrative fees)':''}}
                                                            {{pay_history.schedule_status==='S'?'paid on':pay_history.schedule_status==='F'?'past due on':pay_history.schedule_status==='FR'?'paid on':pay_history.schedule_status==='N'?'scheduled for':pay_history.schedule_status==='M'?'manual credit on':pay_history.schedule_status==='CR'?'complete refunded':pay_history.schedule_status==='PR'?'Partial refunded':'Cancelled'}}&nbsp;
                                                            {{pay_history.schedule_status==='R'? pay_history.refunded_date : pay_history.payment_date | date:'MMM dd, yyyy'}}&nbsp;
                                                            {{pay_history.cc_name !== '' ? '('+pay_history.cc_name+')':''}}                                                                                

                                                            <a class="msdetailtxt note-section" ng-click="performActionUpdate($index,pay_history.schedule_status,'upcoming')">{{pay_history.schedule_status === 'S' && pay_history.payment_amount > 0?'[Refund]': (pay_history.schedule_status === 'F' || pay_history.schedule_status === 'N') ?'[Apply Payment Credit]':''}}</a> &nbsp;
                                                            <a class="msdetailtxt note-section" ng-click="performRerunAction($index,pay_history.schedule_status,'upcoming')">{{(pay_history.schedule_status === 'F'|| (pay_history.schedule_status === 'N' && pay_history.current_status === 'past')) ?'[Rerun Payment]':''}}</a><br>
                                                        </span>
                                                        <span ng-hide="pay_history.type ==='payment'">
                                                            <span>{{pay_history.last_updt_dt| date:'MMM dd, yyyy'}}:&nbsp;</span><span>&nbsp;{{pay_history.activity_text}}<br></span>
                                                        </span>
                                                    </span><br><br>
                                                </div>
                                                <span class="msdetail-headtxt">PAYMENT HISTORY:</span><br><br>
                                                <span style="margin-left:20px;" ng-show="event_payment_history.length <= 0">There is no record for payment history.</span>
                                                <div class="inner-container">
                                                    <span ng-show="event_payment_history.length >= 1" id="paymentHistory{{$index}}" class="msdetailtxt no-padding" ng-repeat="pay_history in event_payment_history">
                                                        <span ng-show="pay_history.type ==='payment'">
                                                            <i class="fa fa-1x fa-pencil" style="margin-left: -25px; margin-right: 10px;" ng-show="pay_history.schedule_status === 'N'" ng-click="editPaymentHistory($index,'history')"></i>
                                                            <!--{{pay_history.payment_steps==='Down Payment'? 'Down Payment':(pay_history.payment_steps==='Payment' && pay_history.billing_options === 'PF')? 'Payment':(pay_history.payment_steps==='Payment' && pay_history.billing_options === 'PP')? pay_history.payment_count : 'Payment'}}:&nbsp;-->  
                                                            {{pay_history.payment_count=='Payment 0'?'Down Payemnt':pay_history.payment_count}}
                                                            {{wp_currency_symbol}}{{pay_history.schedule_status==='R'? pay_history.refunded_amount : pay_history.payment_amount}}&nbsp;
                                                            {{(pay_history.processing_fee_type === '2' && pay_history.credit_method == 'CC') ? '(includes '+wp_currency_symbol+pay_history.processing_fee+' administrative fees)':''}}
                                                            {{(pay_history.schedule_status==='S' || pay_history.schedule_status==='FR' || pay_history.schedule_status==='CR' || pay_history.schedule_status==='PR')?'paid on':pay_history.schedule_status==='F'?'past due on':pay_history.schedule_status==='N'?'scheduled for':((pay_history.schedule_status==='M' || pay_history.schedule_status==='MP') && pay_history.credit_method == 'MC')?'manual credit on':((pay_history.schedule_status==='M' || pay_history.schedule_status==='MP') && pay_history.credit_method == 'CA')?'Cash Payment on':((pay_history.schedule_status==='M' || pay_history.schedule_status==='MP') && pay_history.credit_method == 'CH')?'Check Payment on':'Cancelled'}}&nbsp;
                                                            {{pay_history.schedule_status==='R'? pay_history.refunded_date : pay_history.last_updt_dt | date:'MMM dd, yyyy'}}&nbsp;
                                                            {{pay_history.cc_name !== '' && pay_history.credit_method == 'CC' ? '('+pay_history.cc_name+')':''}}                                                                                
                                                            {{pay_history.credit_method == 'CA' ? '(Cash)':''}}
                                                            {{pay_history.credit_method == 'MC' ? '(Manual Credit)':''}}
                                                            {{pay_history.credit_method == 'CH' && pay_history.check_number ? ('(Check #'+pay_history.check_number+')') : (pay_history.credit_method == 'CH'?'(Check)':'')}} 
                                                            <span ng-show ="pay_history.schedule_status == 'M' && $index != 0">(Applied to {{pay_history.payment_date | date:'MMM dd, yyyy'}} Scheduled Payment)</span>
                                                            <a class="msdetailtxt note-section" ng-click="performActionUpdate($index,pay_history.schedule_status,'history')">{{(pay_history.schedule_status === 'S' || (pay_history.schedule_status === 'M' && pay_history.credit_method !== 'MC')) && pay_history.payment_amount > 0?'[Refund]': (pay_history.schedule_status === 'F' || pay_history.schedule_status === 'N') ?'[Apply Payment Credit]':''}}</a> &nbsp;
                                                            <a class="msdetailtxt note-section" ng-click="performRerunAction($index,pay_history.schedule_status,'history')">{{(pay_history.schedule_status === 'F' || (pay_history.schedule_status === 'N' && pay_history.current_status === 'past')) ?'[Rerun Payment]':''}}</a><br>
                                                        </span>
                                                        <span ng-show="pay_history.type ==='history'">
                                                            <span>{{pay_history.activity_text}} on </span><span>{{pay_history.last_updt_dt| date:'MMM dd, yyyy'}}</span><br>
                                                        </span>
                                                    </span>
                                                </div>
                                                </div>    
                                            </div>
                                            <!--Payment History Edit Screen-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
