<!DOCTYPE html>

<!-- modal -->
       <div class="modal fade" id="forgotpassword" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title" id="forgotpasswordtitle"></h4>
                         </div>
                  <div class="modal-body" id="forgotpasswordcontent" style="font-size:16px;">
                </div>
                <div class="modal-footer">
                    <button id="done" type="button" ng-click="frgtPswdModalOk()" class="btn btn-default" data-dismiss="modal">OK</button>                    
                </div>
              </div>
            </div>
          </div>
        <!-- /modal -->


        <div class="login_wrap">
        <div class="animate form login_form"> 
          <section class="registration_content">
              <form enctype="multipart/form-data" novalidate id="forgotpassword" name="forgotpassword">
                  <div><center><h1 style="color: white; align-content: center; margin-bottom: 40px;">Forgot Password</h1></center>
<!--                          <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="frgtPswdCancel()" style="color:white; position: absolute; right:0; cursor: pointer; margin-top: -80px; margin-right: -10px;"></i>-->
                  </div>
                         <center><p style="margin-top:-20px; margin-bottom: 30px; color: white;">Registered Email ID is required to reset password for your studio login.</p></center>
                  <div>
                <input type="email" class="form-control" placeholder="Email address" name="regtdemail" ng-model="regtdemail"  required>
                <span style="color: red" ng-show="forgotpassword.regtdemail.$error.required &&  forgotpassword.regtdemail.$touched">
                              Email is required
                        </span>
                <span style="color: red" ng-show=" forgotpassword.regtdemail.$invalid  && forgotpassword.regtdemail.$error.email">
                              Invalid Email
                </span>
              </div>
             
              <button class="btn btn-lg" style="background-color:#009a62; color: white; width: 100%" ng-click="forgotPswdSubmit()" ng-disabled="!forgotpassword.regtdemail.$valid">Send Request</button><br/><br/>
              <center><a style="color: white"  ng-click="frgtPswdCancel()">Cancel</a></center>
          </form>
          </section>
        </div>
      </div>
        
    