<!DOCTYPE html>


<!--First time login Tooltip message -->
<div style="display:none;">
    <div ng-hide="hometip" id="hometip">
        <center><b>Your Home Screen</b></center><br />
        View your business's key performance data from the home dash board, refund a recent payment, re-run all past due payments, and manage all upcoming payment details in this section.<br/><br/>
        <div style="margin-left: 80%;"><button id="homeNext" type="button" class="btn btn-primary" ng-click="homeNext()">Next</button></div>
    </div>
</div>
<!--/First time login Tooltip message -->

<!--student delete modal -->
<div class="modal fade" id="studentDeleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="studentDeletetitle"></h4>
            </div>
            <div class="modal-body" id="studentDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="deletestudentConfirm()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /student delete modal -->

<!-- GROUP EMAIL MESSAGE MODAL -->
<div class="modal fade" id="grpstudentemailmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedStudentList()">&times;</button>
                <h4 class="modal-title" id="grpstudentemailmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpstudentemailmessagecontcontent" style="font-size:16px;">
                <p>Subject:</p>
                <input type="text" placeholder="Enter subject here." class="form-control" ng-model="grpemailsubjectdata">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <wysiwyg textarea-id="message_content_1" textarea-class="form-control"  textarea-height="180px" textarea-name="textareaQuestion_1" textarea-required ng-model="grpemailmsgdata" enable-bootstrap-title="true"></wysiwyg>
                </div>
                <span>{{attachfile}}</span><br/>
                <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <label class="myLabel">
                        <input id="filegrpattach" type="file" attachstudentfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" required/> 
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Attach File</span>
                    </label>
                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpstudentemaildone" type="button" class="btn btn-primary" ng-disabled="!grpemailmsgdata || !grpemailsubjectdata || maxEmailAttachmentSizeError" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP EMAIL MESSAGE MODAL -->
<!-- GROUP PUSH MESSAGE MODAL -->
<div class="modal fade" id="grpstudentpushmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedStudentList()">&times;</button>
                <h4 class="modal-title" id="grpstudentpushmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpstudentpushemessagecontcontent" style="font-size:16px; height: 220px;">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter notification here. Be effective, communicate in 140 characters or less." class="form-control" ng-model="grppushmsgdata"></textarea>
                </div>
                <div class="checkbox" style="float: right">
                    <label>
                        <input type="checkbox" id="also_send_email" style="cursor: pointer;" ng-model="also_send_email">Also send email
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpstudentdone" type="button" class="btn btn-primary" ng-disabled="!grppushmsgdata" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP PUSH MESSAGE MODAL -->

<!-- GROUP CSV FILE DOWNLOAD MODAL -->
<div class="modal fade" id="grpstudentcsvdownloadModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedStudentList()">&times;</button>
                <h4 class="modal-title" id="grpstudentcsvdownloadtitle"></h4>
            </div>
            <div class="modal-body" id="grpstudentcsvdownloadcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="grpstudentcsvdownloaddone" type="button" class="btn btn-default" ng-click="exportStudentDetails()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP CSV FILE DOWNLOAD MODAL -->

<!-- PUSH MESSAGE MODAL -->
<div class="modal fade" id="cusmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cusmessagetitle"></h4>
            </div>
            <div class="modal-body" id="cusmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="dtInstance.rerender()"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hommessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="hommessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="hommessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailerrormessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "unblockbounceemail()">unblock</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendsubscriptioninviteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Message</h4>
            </div>
            <div class="modal-body"  style="font-size:16px;">User unsubscribed
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "sendGroupEmailPush('subscribe')">Send Subscribe Invite</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailerrormessageModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle1">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent1" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- page content -->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;margin-top: -35px;">
            <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="allcustomersTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" id="li-dashboard" class="event-list-title">
                        <a ng-click="dashboard()" id="dash-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <li role="presentation" id="li-payment" class="event-list-title">
                        <a ng-click="payment()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <li role="presentation" id="li-appusers" class="active-event-list">
                        <a ng-click="AppUsers()" id="past-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                    </li>
                </ul>
                <span class="greentab-text hometab-text-1" ng-click="dashboard()">Dashboard</span>
                <span class="greentab-text hometab-text-2" ng-click="payment()">Payments</span>
                <span class="greentab-text hometab-text-3 greentab-text-active" ng-click="AppUsers()" >All Customers</span>
                <div id="allcustomersTabContent" class="tab-content">
                    <div role="tabpanel" aria-labelledby="home-tab">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" style="padding:10px;">
                                <div class="x_content">
                                    <div class="row top_tiles">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-download"></i></div>
                                                <div style="z-index: 0;" class="count">{{Tstudent}}</div>
                                                <h3 style="z-index: 0;">Total Users</h3>
                                                <p style="z-index: 0;">Created Date: {{CreatedDate}}</p>
                                            </div>
                                        </div>
                                        <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="tile-stats">
                                                <div class="icon"><i class="fa fa-users"></i></div>
                                                <div class="count">{{Astudent}}</div>
                                                <h3>Active Users</h3>
                                                <p>within last 30 days</p>
                                            </div>
                                        </div>
                                        <div id="snackbar">Kindly select a student to proceed.</div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <br>
                                                    <div class="action-icons-top-home">
                                                        <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}" ng-click="sendGroupMsg('push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                        <a class="action-icons-top-format" ng-class="{'member-selection-color':  color_green == 'Y'}" ng-click="sendGroupMsg('mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                        <a class="action-icons-top-format" ng-class="{'member-selection-color':  color_green == 'Y'}" ng-click="sendGroupMsg('csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                    </div>
                                                    <table datatable=""   dt-options="dtOptions" dt-columns="dtColumns"    id="DataTables_Table_7" dt-instance="dtInstance" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="col-md-12 col-sm-12 col-xs-12"></div> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

