<style>
    .integration-span{
        color: #818181;
        font-family: avenir;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-align: left;
    }
    .integration_listing{
        border: 1px solid #E6E9ED;
        padding: 25px 15px 25px 15px;
        /*margin-top: 25px;*/
    }
    .integration_listing h1{
        font-family: avenir;
        color: #000000;
        letter-spacing: 0.2px;
        font-size: 22px;
        font-weight: 600;
        display: inline;
    }
    .integration-head-span{
          width: 176px;
          height: 32px;
          font-family: Avenir;
          font-size: 12px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          color: #000000;
    }
    input[type="text"]::placeholder{
      text-align: center;
      color: #000000;
      font-family: Avenir;
      letter-spacing: -0.2px;
      font-size: 17px;
    }
    #createzaptrigger-modal input[type="text"]::placeholder{
      font-size: 15px;  
      letter-spacing: -0.4px;
      color: #939393;
    }
    input::-moz-placeholder {
      text-align: center;
    }
    .integrations_dte_span{
       color: #5c5c5c;
       font-size: 11px;
       margin-left: 51%;
       top: -20px;
       position: relative;
       float: right;
       right: 80px; 
    }
    .custom-toast-btn{
       position: relative;
       top: -54px;
       float: right;
       right: -5px; 
    }
    .zap-cancel-btn{
        border-radius: 4.5px;
        border: solid 1px #bebebe;
        padding: 12px 0;
        height: 52px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin: 20px 0;
        font-family: avenir;
        background: #ffffff;
        color: #000000;
        margin-bottom: 8px;
    }
    .zap-input-box{
        text-align:left;
        border-radius: 5px;
        background-color: #FFFFFF !important;
    }
    .zap-triggerview{
        border: 1px solid #eee;
        padding: 15px 0px 15px 12px;
        top: 15px;
    }
    .zap-trigger-div{
        background-color: #eee;
        padding: 7px 0px 0px 16px;
        margin-top: 11px;
    }
    .zap-trigger-list{
        margin-left: -7.5%;
        list-style:none;
    }
    .zap-span-error{
       font-size: 15px;
       font-family: Avenir;
       color:red;top: -15px;
       position: relative; 
    }
    .zap-toast-btn{
       position: relative;
       top: -54px;
       float: right;
       right: -34px;
    }
    .zap-delete-btn{
        border-radius: 5px;
        margin: 0;
        height: 52px;
    }
    .newmodal-checkbox-txt{
        font-size: 14px;
        font-weight: 900;
        color: #111111;
    }
    .create_trigger_btn{
        font-weight: 900;
        width: 160px;
        float: right;
        position: relative;
        top: 0px;
        height: 40px;
        padding-top: 10px;
    }
    .zap-trigger-modal-btn{
        border-radius: 7px;
        margin: 0;
        height: 40px;
        padding: 0;
        font-weight: 400;
        width: 65%;
        font-family: avenir;
        letter-spacing: 0.5px;
        font-size: 14px;
        color: #FFFFFF;
        background-color: #009a61;;
    }
    .zap-trigger-modal-span{
       color: #000000;
       font-family: Avenir;
       font-size: 13px !important;
       letter-spacing: 0.5px;
       font-weight: 700;
       text-align: left !important;
       margin-top: 10px;
       margin-left: 10px;
    }
    #createzaptrigger-modal .row input[type="text"]{
        height: 45px;
        border-radius: 5px;
    }
    .zap-tst-btn{
       width: 95px;
       /*margin-left: -5px;*/
       margin-top: 27px;
       height: 30px;
       padding-top: 7px;
       border-radius: 5px;
       font-size: 11px;
       padding-left: 3px;
    }
</style>
<!--API key delete modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="deleteAPIkey-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 355px;">
            <div class="modal-body newmodal-body ">
                <br>
                <span style="font-size: 21px;">All integrations associated with this key will no longer be functional.<br><br>Are you sure you want to delete this API key?</span><br><br>
                <button type="button" class="button zap-cancel-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="button green-button zap-delete-btn" ng-click="confirmDeleteCustomAPIkey()">Delete API key</button>
            </div>
        </div>
    </div>
</div>
<!--API key delete modal-->

<!--API key add modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="createAPIkey-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 345px;min-height: 200px;">
            <div class="modal-body newmodal-body">
                <br>
                <span class="newmodal-close-text" ng-click="clearCreateCustomAPIkey()" data-dismiss="modal">CANCEL</span><br>
                <input type="text" placeholder="Name your API key" ng-model="customAPI_name" class="form-control" style="height: 55px;border-radius: 4.5px;">
                <button type="button" class="button green-button custom-modal-button" ng-click="createCustomAPIkey()" ng-disabled="!customAPI_name" style="height: 55px;margin-top: -7px;">Create API key</button>
            </div>
        </div>
    </div>
</div>
<!--API key add modal-->

<!--Zapier web hook URL delete modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="deletezaptrigger-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 355px;">
            <div class="modal-body newmodal-body ">
                <br>
                <span style="font-size: 20px;">This Catch Hook Trigger will no longer be functional.<br><br>Are you sure you want to delete this Catch Hook Trigger?</span><br><br>
                <button type="button" class="button zap-cancel-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="button green-button zap-delete-btn" ng-click="confirmDeleteZapierTrigger()">Delete Catch Hook Trigger</button>
            </div>
        </div>
    </div>
</div>
<!--Zapier web hook URL delete modal-->


<!--Zapier web hook URL modal-->
<div class="modal fade custom-modal" data-backdrop="static" id="createzaptrigger-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 420px;min-height: 200px;">
            <div class="modal-body newmodal-body">
                <br>
                <span class="newmodal-close-text" ng-click="cancelZapierTrigger()" data-dismiss="modal">CANCEL</span><br>
                <div class="row">
                    <div class="col-md-12"><input id="zapname" class="form-control bordercurve" placeholder="Enter a name for this Catch Hook Trigger" name="zapname" type="text" ng-model="zapname" required></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><input id="zaptargeturl" class="form-control bordercurve" placeholder="Paste Zapier Target URL here" name="zaptargeturl" type="text" ng-change="catchzaptargeturl()" ng-model="zaptargeturl"></div>
                </div>
                <span ng-show="zapierurlerror" class="zap-span-error">Enter a valid zapier webhook URL</span>
                <div class="row">
                    <div class="col-sm-12 col-md-12  col-lg-12 leadstooltip" align="left">
<!--                        <select  class="form-control newmodal-dropdown bordercurve" id="zap_event_type" name='zap_event_type' ng-model="zap_event_type" style="text-align: center;">
                            <option value="">--Select Lead Type--</option>
                            <option value="A">Add Lead</option>
                            <option value="U">Update Lead</option>
                        </select>-->
                    <center>
                        <input type="checkbox" ng-model="zap_event_type_add" ng-true-value="'Y'" ng-false-value="'N'" style="cursor:pointer;">&nbsp;&nbsp;<span class="newmodal-checkbox-txt">Add Lead</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" ng-model="zap_event_type_update" ng-true-value="'Y'" ng-false-value="'N'" style="cursor:pointer;">&nbsp;&nbsp;<span class="newmodal-checkbox-txt">Update Lead</span><br/><br>
                    </center>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-12"><button type="button" class="button green-button custom-modal-button"  ng-disabled="(!zapname || !zaptargeturl || ((zap_event_type_add === 'N')&&(zap_event_type_update === 'N')) || zapierurlerror)" ng-click="addZapierTrigger()" style="height: 45px;">Create Zap</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Zapier web hook URL modal-->
<!--Select zapier trigger-->
<div class="modal fade custom-modal" id="selectzaptrigger-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 400px;">
            <div class="modal-body newmodal-body">
                <br><button type="button" class="button zap-trigger-modal-btn" ng-click="openCatchHookmodal()" data-dismiss="modal">Add Zapier Catch Hook Trigger</button><br>
                <p class="zap-trigger-modal-span">Catch Hook Trigger = Instant data transfer. Great for businesses that add less than 300 leads per day.</p>
                <button type="button" class="button zap-trigger-modal-btn" ng-click="openRetrievePollmodal()" data-dismiss="modal" style="background: #939393 !important;margin-top: 5px;">Add Zapier Retrieve Poll Trigger</button><br>
                <p class="zap-trigger-modal-span">Retrieve Poll Trigger = Data transfers every 10 to 15 minutes. Great for businesses that add more than 300 leads per day.</p>
            </div>
        </div>
    </div>
</div>
<!--Select zapier trigger-->

<!--Select zapier trigger-->
<div class="modal fade custom-modal" data-backdrop="static" id="retrievepollzaptrigger-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 350px;">
            <div class="modal-body newmodal-body">
                <span class="newmodal-close-text" data-dismiss="modal" ><i class="fa fa-close" style="font-size:18px"></i></span>
                <br>
                <p>Copy the given URL and Paste into Zapier WebHook Trigger</p><br>
                <div class="row">
                    <div class="col-md-12"><input id="zapRetrievepollUrl" class="form-control bordercurve" ng-model="zapRetrievepollUrl" readonly></div>
                </div>
                <div class="row">
                    <button type="button" class="button green-button custom-modal-button" style="width: 95%;" ng-click="toastIntegrations('zap_retrievepoll')" ngclipboard data-clipboard-target="#zapRetrievepollUrl">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Select zapier trigger-->

<!--expiry modal -->
<div class="modal fade custom-modal" id="zapBillingModal" role="dialog">
    <div class="modal-dialog" style="width: 470px">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p class="modal_font" ng-hide="upgrade_status === 'WM' || upgrade_status === 'W'">Upgrade your account to enable this functionality.</p>
                <p class="modal_font" ng-show="upgrade_status === 'WM' || upgrade_status === 'W'">Only 5 Catch Hook Trigger Zapier Integration is allowed</p><br>
                <button type="button" class="button green-button custom-modal-button  modal_font" data-dismiss="modal" ng-click="paymentnow()" ng-hide="upgrade_status === 'WM' || upgrade_status === 'W'">Upgrade Now</button>
                <button type="button" class="button green-button custom-modal-button  modal_font" data-dismiss="modal" ng-show="upgrade_status === 'WM' || upgrade_status === 'W'">Thank You</button>
            </div>
        </div>
    </div>
</div>
<!-- expiry modal -->

<!--success modal-->
<div class="modal fade" id="integrationsmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="integrationsmessagetitle"></h4>
            </div>
            <div class="modal-body" id="integrationsmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
            </div>
        </div>
    </div>
</div>

<div class="right_col" role="main">
    <div class="row top_tiles">
        <!--    Manage Event Layout-->

        <img ng-click="" src="../../image/scroll.png" class="preview-down"/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="integrationsmainview" style="margin-top: -35px; margin-left: -7px;">
                <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="integrationsTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" id="li-integrations" class="active-event-list" style="width: 138px;"><a ng-click="" id="integrations-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                        </li>
                    </ul>
                    <span class="greentab-text greentab-text-active" style="left: 45px;top: 47px;letter-spacing: 0.6px;">Integrations</span>
                    <div class="x_panel no-padding">
                        <div id="integrationsTabsContent" class="tab-content">
                            <!--Custom API view-->
                            <div class="no-padding">
                                <div id="integrationsTabsContent" class="tab-content">
                                    <div role="tabpanel" aria-labelledby="home-tab">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="padding-bottom: 10px !important;">
                                                <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                                                    <ul id="integrationssubTab" class="nav nav-tabs bar_tabs bar_tabs_md" role="tablist">
                                                        <li role="presentation" id="li-zapier" class="active-event-list" style="width: 155px !important"><a ng-click="openZapier()"  role="tab" id="enrolled-tab" data-toggle="tab" aria-expanded="false"><img src="../../image/zapier.png" alt="zapiern_icon" style="width: 17px;margin-top: -3px;"/>&nbsp;&nbsp;<span style="letter-spacing: 0.3px;">Zapier Integration</span></a>
                                                        </li>
                                                        <li role="presentation" id="li-customAPI" class="event-list-title" style="width: 165px !important"><a ng-click="openCustomAPI()" id="active-tab" role="tab" data-toggle="tab" aria-expanded="true"><img src="../../image/custom_api.png" alt="custom_api_icon" style="width: 18px;margin-left: -17px;"/>&nbsp;&nbsp;&nbsp;Custom API</a>
                                                        </li>
                                                    </ul>
                                                    <!--Zapier integration view-->
                                                    <div id="zapierContent" class="tab-content">
                                                        <div id="zap_retrievepoll">Zapier Retrieve Poll Trigger URL copied to clipboard.</div>
                                                        <div id="zap_url">Zapier WebHook Action URL copied to clipboard.</div>
                                                        <div id="zap_api">Zapier API Key copied to clipboard.</div>
                                                        <div><br/>
                                                            <div class="col-lg-8 col-md-12 col-sm-12 no-padding" style="margin-left: 15px; min-width: 750px;" ng-show="zapierview">
                                                                <div class="campaign_tutorial" style="padding-right: 10px;">
                                                                    <span class="green-dot"></span><a href="https://intercom.help/mystudio/lead-management" target="_blank"><label>&nbsp;&nbsp;Learn how to manage leads with Zapier</label></a>
                                                                </div>
                                                                <div class="x_content integration_listing">
                                                                    <img src="../../image/zapier2.png" alt="zapier_icon2" style="width:26px;margin-left: 1%;margin-top: -10px;"/>&nbsp;&nbsp;&nbsp;<h1>Zapier Integration</h1>
                                                                    <br/><br/>
                                                                    <div>
                                                                        <span class="integration-span">Zapier allows you to connect MyStudio to thousands of other platforms such as MailChimp, Facebook, and Instagram to build a fully customized management system for your business.</span><br/><br/>
                                                                        <div class="col-sm-12 col-md-12 col-xs-12"id="actionview" style="border: 1px solid #eee;padding: 10px;">
                                                                            <span class="integration-head-span" style="font-size: 16px;">Get Leads from other Platforms</span><br>
                                                                            <span class="integration-span">Use WebHook Action to send information captured from other platforms into your MyStudio Lead list.</span><br><br>
                                                                            <div class="col-sm-12 col-md-12 col-xs-12">
                                                                                <div class="col-sm-6 col-md-6 col-xs-6" style="left: -3.5%;">
                                                                                    <span class="integration-head-span" style="margin-left: 4%;">ZapHeaderAPIKey (use this as a HeaderKey)</span><br><br>
                                                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                                                        <input type="text" id="zapAPIKey{{$index}}" class="form-control zap-input-box" style="background-color: #eee !important;" name="zapAPIKey"  ng-model="zapAPIKey" readonly>
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn btn-default zap-toast-btn" ng-click="toastIntegrations('zap_api')" ngclipboard data-clipboard-target="#zapAPIKey"><img src="../../image/copyicon.png" alt="copy_icon" style="width: 12px;cursor: pointer;"></button>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6 col-md-6 col-xs-6">
                                                                                    <span class="integration-head-span" style="margin-left: 4%;">Zapier Action URL</span><br><br>
                                                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                                                        <input type="text" id="zapActionUrl" class="form-control zap-input-box" style="background-color: #eee !important;" name="zapActionUrl"  ng-model="zapActionUrl" readonly>
                                                                                        <span class="input-group-btn">
                                                                                            <button class="btn btn-default zap-toast-btn" ng-click="toastIntegrations('zap_url')" ngclipboard data-clipboard-target="#zapActionUrl"><img src="../../image/copyicon.png" alt="copy_icon" style="width: 12px;cursor: pointer;"></button>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-12 col-xs-12 zap-triggerview"id="triggerview">
                                                                            <span class="integration-head-span" style="font-size: 16px;">Send Leads to other Platforms.</span><span class="tooltips"><button type="button" class="btn btn-md-150 green-button create_trigger_btn" ng-click="openZapTriggerAddmodal()">Add Trigger</button><br>
                                                                                <span class="integration-span">Use WebHook Triggers to send newly added, or updated Lead info from Mystudio to other platforms.</span><br><br>
                                                                                <div class="col-sm-12 col-md-12 col-xs-12" ng-show="zap_details_list.length > 0">
                                                                                    <span class="integration-head-span" style="font-size:14px;">Instant Zap (Catch Hook Trigger)</span>
                                                                                <ul ng-repeat="zap in zap_details_list">
                                                                                    <li class="zap-trigger-list">
                                                                                        <div class="col-sm-12 col-md-12 col-xs-12 zap-trigger-div">
                                                                                            <!--<div class="row">-->
                                                                                                <div class="col-xs-9 col-sm-9 col-md-9">
                                                                                                    <span class="integration-head-span">{{zap.zap_name}}</span>
                                                                                                    <span class="integration-head-span">({{((zap.event_type ==='A')&&(zap.category_type ==='L'))? 'add Lead':((zap.event_type ==='U')&&(zap.category_type ==='L'))?'update Lead':'add and update Lead'}})</span><br>
                                                                                                    <input type="text" class="form-control zap-input-box" style="margin-top: 6px !important;" name="zap.target_url" ng-model="zap.target_url" readonly>
                                                                                                </div>
                                                                                            <div class="col-xs-2 col-sm-2 col-md-2" style="text-align:center;">
                                                                                                    <button type="button" class="btn green-button zap-tst-btn" ng-click="sendSampleTriggerData(zap)">Send Sample</button>
                                                                                                </div>
                                                                                                
                                                                                                <div class="col-sm-1 col-md-1 col-sm-1" style="left: -10px;top: 30px;">
                                                                                                    <img src="../../image/deleteicon.png" alt="delete_icon" style="width: 15px;cursor: pointer;" ng-click="deleteZapierTrigger(zap)"/>   
                                                                                                </div>
                                                                                            <!--</div>-->
                                                                                            <span class="integrations_dte_span" style="top:-15px;right:60px;" ng-bind-html="toDisplayDateFormat(zap.created_dt)"></span>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul><br>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div id="customAPITabContent" class="tab-content" ng-show="customAPIview">
                                                        <div id="custom_api">Custom API key copied to clipboard.</div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-left: 5px;">
                                                            <div class="col-lg-8 col-md-12 col-sm-12 no-padding">
                                                                <div class="campaign_tutorial" style="padding-right: 10px;">
                                                                    <span class="green-dot"></span><a href="https://intercom.help/mystudio/integrations" target="_blank"><label>&nbsp;&nbsp;Learn more about Custom APIs</label></a>
                                                                </div>
                                                                <div class="x_content integration_listing" style="padding-left:10px;">
                                                                    <img src="../../image/custom_api2.png" alt="custom_api2_png" style="width: 35px;margin-left: 1%;margin-top: -5px;"/>&nbsp;&nbsp;&nbsp;<h1>Custom API</h1>
                                                                    <span class="tooltips"><button type="button" class="btn btn-md-150 green-button create_campaign_btn" ng-click="openAPIkeymodal()" >+ Create a new API Key</button>
                                                                    <br/><br/>
                                                                    <div class="col-sm-12 col-md-12 col-xs-12" style="display:flex;padding-bottom: 20px;">
                                                                        <div class="col-sm-6 col-md-6 col-xs-6" style="left: -1.5%;">
                                                                            <span class="integration-span">Create custom integrations with other programs, such as sending a leads from your website to MyStudio</span>
                                                                        </div>
                                                                    </div>
                                                                    <div ng-show="custom_API_list.length > 0">
                                                                        <ul ng-repeat="custom in custom_API_list">
                                                                            <li class="zap-trigger-list" style="margin-left: -6%;">
                                                                                <span class="integration-head-span" style="margin-left: 2%;">{{custom.integration_name}}</span><br>
                                                                                <div class="col-sm-12 col-md-12 col-xs-12">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-11 col-md-11 col-xs-11">
                                                                                            <div class="col-sm-12 col-md-12 col-xs-12" style="margin-left: -9px;margin-bottom: -30px;margin-top: 5px;">
                                                                                                <input type="text" id="customAPI{{$index}}" class="form-control zap-input-box" name="customAPI"  ng-model="custom.api_key" readonly>
                                                                                                <span class="input-group-btn">
                                                                                                    <button class="btn btn-default custom-toast-btn" ng-click="toastIntegrations('custom_api')" ngclipboard data-clipboard-target="#customAPI{{$index}}"><img src="../../image/copyicon.png" alt="copy_icon" style="width: 12px;cursor: pointer;"></button>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                       
                                                                                        <div class="col-sm-1 col-md-1 col-sm-1" style="left: -30px;top: 12px;">
                                                                                            <img src="../../image/deleteicon.png" alt="delete_icon" style="width: 14px;cursor: pointer;" ng-click="deleteApIkey(custom)"/>  
                                                                                        </div>
                                                                                    </div><span class="integrations_dte_span" ng-bind-html="toDisplayDateFormat(custom.created_dt)"></span>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>    
    </div>
</div>