<!DOCTYPE html>
<style>
    .cstm_edit_leads_input .medium-input{
       margin:4px 0px 0px 20px !important;
    }
    .cstm_leads-txt {
        margin-left: 20px;
    }
    .leadsdetail-tabtext-2 {
    left: 243px;
}
    .leadsdetail-txt{
        padding-left: 15px;
        line-height: 1.871;
        font-size: 13px;
    }
 </style>
<!--LEADS MODAL-->
<div class="modal fade" id="leadsmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="leadsmessagetitle"></h4>
            </div>
            <div class="modal-body" id="leadsmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--?LAEDS MODAL-->

<!-- LEADS HISTORY ADD NOTE MODAL -->
<div class="modal fade" id="leadsHistoryNoteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="leadsHistoryNotetitle"></h4>
            </div>
            <div class="modal-body" id="leadsHistoryNotecontent" style="font-size:16px;">
                <p>Enter your note here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter note here." class="form-control" ng-model="leadshistorynote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="leadsHistoryNotedone" type="button" class="btn btn-primary" ng-disabled="!leadshistorynote" ng-click="confirmleadseditHistoryNote()">{{LeadsHistoryNoteButton}}</button>
            </div>
        </div>
    </div>
</div>
<!-- LEADS HISTORY ADD NOTE MODAL -->


<!-- LEADS HISTORY DELETE NOTE MODAL -->
<div class="modal fade" id="leadsHistoryNoteDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="leadsHistoryNoteDeletetitle"></h4>
            </div>
            <div class="modal-body" id="leadsHistoryNoteDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="leadsHistoryNoteDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="leadsHistoryNoteDeletedone" type="button" class="btn btn-primary" ng-click="confirmleadseditHistoryNote()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- LEADS HISTORY DELETE NOTE MODAL -->

<!-- LEADS STATUS CHANGE MODAL -->
<div class="modal fade" id="leadsStatusModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="showLeadsStatusEditCancel(leads_detail.leads_status)">&times;</button>
                <h4 class="modal-title" id="leadsStatustitle"></h4>
            </div>
            <div class="modal-body" id="leadsStatuscontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showLeadsStatusEditCancel(leads_detail.leads_status)">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="actionLeadsConfirm(leadsactionValue)">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- LEADS STATUS CHANGE MODAL -->

<!--Lead content start-->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="trialDetail" ng-app="leadsDetail" ng-init="openLeadsDetailsPage()" >
                                        <div class="x_panel">
                                            <div class="top-region">
                                                <a ng-click="closeLeadsDetailView()" style="cursor: pointer;float: left;"><i class='fa fa-chevron-left'></i>&nbsp;Back</a>
                                                <center>
                                                    <label class="ms-detail-bold-head">Buyer:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{buyer_name}}</span>&nbsp;&nbsp;&nbsp;
                                                    <label class="ms-detail-bold-head">Participant:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{participant_name}}</span>
                                                </center>
                                            </div>
                                            <div class="newtabgreen detail-page-tab" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="trialdetailtabs" class="nav nav-tabs bar_tabs " role="tablist">
                                                    <li role="presentation" id="li-leadsdetails" class="active-event-list">
                                                        <a ng-click="" id="leadsdetails-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                                                    </li>
                                                    <li role="presentation" id="li-leadshistory" class="event-list-title">
                                                        <a ng-click=""  role="tab" id="leadshistory-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                </ul>
                                                <span class="greentab-text trialdetail-tabtext-1 greentab-text-active" ng-click="leadsdetails()">Lead Details</span>
                                                <span class="greentab-text trialdetail-tabtext-2 leadsdetail-tabtext-2" ng-click="leadshistory()">Lead History</span>
                                            </div>

                                            <!--Trial Details Edit Screen-->
                                            <div role="tabpanel" ng-show="leadsdetailsview" aria-labelledby="home-tab">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="msdetail-container-top">
                                                            <span class="leadsdetail-txt">LEADS PROGRAM PLAN</span><br><br>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Buyer First Name:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.buyer_first_name}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Buyer Last Name:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.buyer_last_name}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Mobile Phone:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.buyer_phone}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Email:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.buyer_email}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Participant First Name:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.participant_first_name}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Participant Last Name:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.participant_last_name}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Program Interest:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.program_interest}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Source:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.lead_source}}<br></span>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                <span class="leadsdetail-txt">Status:</span>
                                                            </div> 
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                <span class="leadsdetail-txt no-padding cstm_leads-txt">{{leads_detail.leads_status==='A'?'Active':(leads_detail.leads_status==='E'?'Enrolled':'Not Interested')}}<br></span>
                                                            </div>
                                                        </div>
                                                        <center class="msdetail-container-bottom"><br><br><br><br>
                                                            <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button"  ng-click="ShowNewEditLeadsDetails()"><span>Edit</span></button>
                                                        </center>
                                                    </div>

                                                    <!--Edit Current Lead program Plan-->
                                                    <div ng-show="showLeadsEditconfirm" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 green-border-left">
                                                        <div class="msdetail-container-top cstm_edit_leads_input">
                                                            <span class="leadsdetail-txt">NEW LEADS PROGRAM PLAN</span><br><br>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Buyer First Name:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="editbuyer_fname"><br>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Buyer Last Name:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="editbuyer_lname"><br>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Mobile Phone:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="editbuyer_phone" valid-number><br>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Email:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="editbuyer_email"><br>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Participant First Name:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="editparticipant_fname"><br>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Participant Last Name:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    <input type="text" class='form-control medium-input inline' ng-model="editparticipant_lname"><br>
                                                                </div>
                                                               <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Program Interest:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="leadspgminterest" class="form-control small-select inline" ng-model="selected_editPgmInterest_id" style="width:80% !important;">
                                                                        <option ng-repeat="lls in leads_pgmInteresrarray" value="{{lls.id}}">{{lls.name}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <span  class="leadsdetail-txt inline">&nbsp;&nbsp;Source:</span>
                                                                </div>
                                                                <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="leadsleadsource" class="form-control small-select inline" ng-model="selected_editSource_id" style="width:80% !important;">
                                                                        <option id="leads_sourcearray{{$index}}" ng-repeat="lp in leads_sourcearray" value="{{lp.id}}">{{lp.name}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-lg-5 col-md-5 col-sm-5 no-padding">
                                                                    <i ng-hide="leadseditStatus" class="fa fa-1x fa-pencil"ng-click="showLeadsStatusEdit()"></i><span class="leadsdetail-txt no-padding" ng-hide="leadseditStatus">&nbsp;&nbsp;&nbsp;&nbsp;Status:&nbsp;&nbsp;{{leads_detail.leads_status==='A'?'Active':(leads_detail.leads_status==='E'?'Enrolled':'Not Interested')}}</span><span class="leadsdetail-txt" ng-show="leadseditStatus">&nbsp;&nbsp;Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                                    
                                                                </div>
                                                            <div class="col-lg-7 col-md-7 col-sm-7 no-padding">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select ng-show="leadseditStatus" id="leadsstructure" ng-change="performLeadsAction(leadsstatus)" class="form-control small-select inline" style="width:80% !important" ng-model="leadsstatus">
                                                                        <option  value="A">Active</option>
                                                                        <option  value="E">Enrolled</option>
                                                                        <option  value="NI">Not Interested</option>
                                                                </select><i class="fa fa-1x fa-close inline" style="position: relative;right: -9px;" ng-show="leadseditStatus" ng-click="showLeadsStatusEditCancel(leads_detail.leads_status)"></i>
                                                            </div>
                                                            <div></div>
                                                                    <br><br>
                                                        </div>
                                                        <center class="msdetail-container-bottom"><br><br><br><br>
                                                            <button class="btn btn-primary btn-lg btn-custom" style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="((!editbuyer_fname && !editbuyer_lname) || (!editbuyer_phone && !editbuyer_email))" ng-click="UpdateLeadsDetail()"><span>Update</span></button>
                                                            <button class="btn btn-default btn-lg btn-custom" type="button"  ng-click="cancelLeadsDetailUpdate()"><span>Cancel</span></button>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Leads Participant Edit Screen-->

                                            <!--Leads History Edit Screen-->
                                            <div role="tabpanel" ng-show="leadshistoryview"  aria-labelledby="home-tab">                                                               
                                                &nbsp;<span class="leadsdetail-txt">LEADS HISTORY:&nbsp;</span><span><a  class="msdetailtxt note-section" ng-click="editLeadsHistoryNote('', '', 'add')">[add note]</a></span>
                                                <div ng-show="leads_history.length > 0" class="inner-container">
                                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-repeat="leads in leads_history">
                                                        <span class="msdetailtxt no-padding">{{leads.activity_date| date:'MMM dd, yyyy'}}:</span><span ng-hide=" leads.activity_type === 'note'" class="msdetailtxt no-padding">&nbsp;&nbsp;{{leads.activity_text}}<br></span>
                                                        <span ng-show=" leads.activity_type === 'note'" class="msdetailtxt no-padding">&nbsp;&nbsp;{{leads.activity_text}}</span><span ng-show=" leads.activity_type === 'note'">&nbsp;<a class="msdetailtxt note-section" ng-click="editLeadsHistoryNote($index, leads.leads_history_id, 'edit')">[edit]</a>&nbsp;<a class="msdetailtxt note-section" ng-click="editLeadsHistoryNote($index, leads.leads_history_id, 'delete')">[delete]</a><br></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Leads History Edit Screen-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
