<!DOCTYPE html>


<body>
    <!--For Server Maintenance Message-->
    <!--    <center>
            <div class="alert alert-warning alert-dismissible fade in" style="padding: 0px; margin-bottom:0px; height: 50px;" role="alert">
                <center>
                    <p style="font-size: 15px; margin-top:0.5%;">Our server is currently under going maintenance and will be back online shortly. We apologize for the inconvenience.</p>
                </center>
            </div>
        </center>-->
    <!-- LOGIN FAILURE Modal -->
    <div class="modal fade custom-modal" id="loginfailure-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="custom-modal-text">We could not find that<br> account. Incorrect email and /<br> or password</p>
                    <button id="custom-modal-btntext" type="button" class="button green-button custom-modal-button" data-dismiss="modal">Please try again</button>
                </div>
            </div>
        </div>
    </div>
    <!--EMAIL SENT MODAL-->
    <div class="modal fade custom-modal" id="resetpassword-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="resetpassword-modal-text">A link to reset your password<br> has been emailed to<br></p>
                    <span id="resetpassword-modal-emailtxt" class="emailsent">{{reset_email}}</span><br><br>
                    <button id="resetpassword-modal-btntext" type="button" class="button green-button custom-modal-button" ng-click="togglePage('loginscreen', '1')" data-dismiss="modal">Return to log in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- FAILURE RESPONSE MODAL-->
    <div class="modal fade custom-modal" id="response-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p id="response-modal-text" class="response-modal-text">{{failure_response_text}}</p><br>
                    <button id="response-modal-btntext" type="button" class="button green-button custom-modal-button" data-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class=" bg-white height-full-vh">
        <nav class="logo-navbar">
            <center><img id="mystudiologo" class="mystudiologo" src="../../image/mystudio_logo.png" alt=""/></center>
        </nav>
        <div class="container" >
            <div class="login-container">
                <div class="login-screen" ng-show="activepagename == 'loginscreen' && activepageid == '1'">
                    <h1>Log in </h1>
                    <h2>to your Operator Account</h2>
                    <br><br><br>
                    <form id="login_form" name="login_form">
                        <div class="form-group-new">
                            <label class="form-label" for="login_email">Email</label>
                            <input id="login_email" type="text" name="login_email" class="form-input" ng-change="catchInputChange('login_email', login_email)" ng-model="login_email" required>
                        </div>
                        <div class="form-group-new">
                            <label class="form-label" for="login_password">Password</label>
                            <input id="login_password" type="{{ showpassword ? 'text': 'password'}}" name="login_password" ng-change="catchInputChange('login_password', login_password)" class="form-input" ng-model="login_password" required>
                            <label class="text-xs green togglePasswordText" ng-click="togglePasswordText()">{{ showpassword ? 'HIDE' : 'SHOW' }}</label>
                        </div>
                        <label class="text-xs green right link m-t-5" ng-click="togglePage('loginscreen', '2')">Can’t log in?</label>
                    </form>
                    <center>
                        <br><button ng-click="operatorLogin()" class="button green-button web-enable" ng-disabled="login_form.$invalid">Log in</button><br>
                        <label class="text-xs">New to MyStudio? <label class="text-xs green link" ng-click="openRegistration()">Register a FREE account</label></label>
                        <div class="mobile-enable"><button ng-click="operatorLogin()" class="button green-button button-fixed-bottom" ng-disabled="login_email == '' || login_password == ''">Log in</button></div>
                    </center>
                </div>
                <div class="login-screen" ng-show="activepagename == 'loginscreen' && activepageid == '2'">
                    <h1>Reset your password</h1><br><br>
                    <form id="resetpasswordform" name="resetpasswordform">
                        <input type="text" class="form-control regular-input" placeholder="Enter your email" name="reset_email" ng-model="reset_email" required>
                        <button ng-click="resetPassword()" class="button green-button no-margin" ng-disabled="resetpasswordform.$invalid">Reset password</button>
                    </form>
                    <br>
                    <label class="text-xs green link" ng-click="togglePage('loginscreen', '3')">Still having trouble?</label>
                </div>
                <div class="login-screen" ng-show="activepagename == 'loginscreen' && activepageid == '3'">
                    <h1>Still having trouble? </h1>
                    <br>
                    <h2>Click the live chat in the bottom<br> right corner of your screen</h2>
                    <br><br>
                    <label class="text-sm green link" ng-click="togglePage('loginscreen', '1')">Return to log in</label>
                </div>
            </div>
        </div>
    </div>
</body>

