<!DOCTYPE html>

<!-- page content -->

<!-- manage modal -->
<div class="modal fade" id="msgModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="msgtitle"></h4>
            </div>
            <div class="modal-body" id="msgcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /manage modal -->

<div class="modal fade" id="sendsubscriptioninviteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Message</h4>
            </div>
            <div class="modal-body"  style="font-size:16px;">User unsubscribed
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="sendGroupEmailPush('subscribe')">Send Subscribe Invite</button>
                <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- GROUP EMAIL MESSAGE MODAL -->
<div class="modal fade" id="grpeventemailmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedOrderList()">&times;</button>
                <h4 class="modal-title" id="grpeventemailmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpeventemailmessagecontcontent" style="font-size:16px;">
                <p>Subject:</p>
                <input type="text" placeholder="Enter subject here." class="form-control" ng-model="grpemailsubjectdata">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <wysiwyg textarea-id="message_content_1" textarea-class="form-control"  textarea-height="180px" textarea-name="textareaQuestion_1" textarea-required ng-model="grpemailmsgdata" enable-bootstrap-title="true"></wysiwyg>
                </div>
                <span>{{attachfile}}</span><br/>
                <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <label class="myLabel">
                        <input id="filegrpevntattach" type="file" attacheventfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" required/> 
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Attach File</span>
                    </label>
                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpeventemaildone" type="button" class="btn btn-primary" ng-disabled="!grpemailmsgdata || !grpemailsubjectdata || maxEmailAttachmentSizeError" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP EMAIL MESSAGE MODAL -->

<!-- GROUP PUSH MESSAGE MODAL -->
<div class="modal fade" id="grpeventpushmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedOrderList()">&times;</button>
                <h4 class="modal-title" id="grpeventpushmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpeventpushemessagecontcontent" style="font-size:16px; height: 220px;">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter notification here. Be effective, communicate in 140 characters or less." class="form-control" ng-model="grppushmsgdata"></textarea>
                </div>
                <div class="checkbox" style="float: right">
                    <label>
                        <input type="checkbox" id="also_send_email_event" style="cursor: pointer;" ng-model="also_send_email">Also send email
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpevntdone" type="button" class="btn btn-primary" ng-disabled="!grppushmsgdata" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP PUSH MESSAGE MODAL -->

<div class="modal fade" id="emailerrormessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "unblockbounceemail()">unblock</button>
                <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!--event delete success modal for single/parent event-->
<div class="modal fade" id="DeleteSMEventModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="DeleteSMEventtitle"></label>
            </div>
            <div class="modal-body" id="DeleteSMEventcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /event delete success modal for single/parent event--> 

<!-- Push message modal -->
<div class="modal fade" id="pushmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="resetModalTxt()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pushmessagetitle"></h4>
            </div>
            <div class="modal-body" id="pushmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="resetModalTxt()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Push message modal -->

<!--open add event modal-->
<div class="modal fade custom-modal" id="addnewevent-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 340px;">
            <div class="modal-body newmodal-body">
                <p>Add new event</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="openorgoaddevent('C')" data-dismiss="modal">Custom</button>
                <button type="button" class="button green-button custom-modal-button" ng-click="openorgoaddevent('T')" data-dismiss="modal">Choose template</button>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--open add event modal-->

<!--First time login Tooltip message -->
<div style="display:none;">
    <div ng-hide="evnttip" id="eventtip">
        <center><b>All Your Events & Announcements in One Place</b></center><br/><br/>
        This is where you can create and manage professional events and registration pages. <br/><br/>
        MyStudio handles payment and secure checkout 24/7 for your customers so that you can focus on the things you love.<br/><br/>
        Need inspiration for events that you can run at your studio? Click on "Themes" to access our ready-made events that you can easily copy, edit, and publish.<br/><br/>
        Click on “Add Event” from the drop down menu of this section to create a event.<br/><br/>
        <div style="margin-left: 50%;"><button id="eventdetailNext" type="button" class="btn btn-primary" ng-click="eventdetailNext()">Let's Get Started</button></div>
    </div>
</div>
<!--/First time login Tooltip message -->

<div class="right_col" role="main">
    <div class="row top_tiles">
        <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
        <!--Muthulakshmi-->
        <!--start of main list view-->
        <div class="col-12" style="margin-top: -30px;" ng-show="maineventsview" ng-hide="eventstudentview || addparticipantview"> 
            <ul id="eventsTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" id="li-events" class="active-event-list" style="width: 140px;">
                    <a id="events-tab" role="tab" data-toggle="tab" aria-expanded="true" style="background-color: #009a61 !important;"></a>
                </li>
                <div style="float: right;margin: 15px 15px 0px 0px;">
                    <span class="dot"></span> &nbsp;
                    <a href="https://intercom.help/mystudio/events" target="_blank">
                        <label class="retail-all-txt" style="color:#05ac68;cursor: pointer;font-weight: 400;">Learn how to setup Events</label>
                    </a>
                </div>
            </ul>
            <span class="greentab-text messagestab-text-1 greentab-text-active" style="top:67px;left:300px;color: #FFF;">Events</span>
            <div class="col-12" style="margin-top: -16px;margin-left: 7px;">
                <div class="x_panel no-padding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding new-event-design">
                        <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="manageeventTab" class="nav nav-tabs bar_tabs bar_tabs_md" role="tablist">
                                <li role="presentation" id="li-live" class="active-event-list"><a ng-click="livelistview()" id="live-tab" role="tab" data-toggle="tab" aria-expanded="true">Live&nbsp;({{NumofLive}})</a></li>
                                <li role="presentation" id="li-draft" class="event-list-title"><a ng-click="draftlistview()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false">Drafts&nbsp;({{NumofDraft}})</a></li>
                                <li role="presentation" id="li-past" class="event-list-title"><a ng-click="pastlistview()" role="tab" id="past-tab" data-toggle="tab" aria-expanded="false">Past&nbsp;({{NumofPast}})</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="snackbar">Events list link copied to clipboard.</div>
                    <div id="snackbar_particularevent">Event link copied to clipboard.</div>
                    <!--Main live view-->
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="maineventsview" style="padding-left: 0;">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="childeventsview">
                            <div class="public_link_container">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <label class="retail-all-txt" style="font-size: 16px;font-weight: 900;">Events</label>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <div style="float:right;">
                                            <div class="public_link_right" ng-click="openorgoaddevent('modal')" style="top:0px;right: 5px;">
                                                <img src="../../image/plus_icon.png" alt="" style="width:15px;cursor: pointer;margin-top: -3px;" />&nbsp;&nbsp;
                                                <label style="font-size: 12px;font-weight: 500;color: #009a61;cursor: pointer;">Add Event</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 10px;" ng-hide="drafteventsshow || pasteventsshow">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <label class="switch" id="eventswitch">
                                            <input id="eventStatus" type="checkbox" ng-checked="eventStatus === 'Y'" ng-model="eventStatus" ng-click="updateEventOnOffFlag()" ng-disabled="eventStatus === 'Y'">
                                            <span class="slider round"></span>
                                        </label>
                                        <span class="retail-all-txt" style="margin-top: 2px;font-size: 12px;">&nbsp;&nbsp;{{eventStatus === "Y"? "ON":"OFF"}}</span>
                                        <span class="retail-all-txt" style="font-size: 10px;color: #4a4a4a;font-weight: 300;">&nbsp;&nbsp;{{eventStatus === "Y"? "Event sales channel is live":"Event sales channel is not live"}}</span>
                                        <span class="toggle-tooltip-new">Please turn Sales Channel "On" to enable this functionality on Point of Sale.</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="public_url_container">
                                            <img src="../../image/store_icon.png" alt="" class="url_icons" style="margin-top: -5px;" />&nbsp;<label style="font-size: 10px;font-weight: 500;color: #000000;;">Event list URL </label>&nbsp;&nbsp;
                                            <label id="evntregurl" class="tooltips public_url_txt" style="text-overflow: ellipsis;white-space: nowrap;width: 160px;" ng-click="openEventPublicurl()">{{Eventregurl}}
                                                <span class="tooltiptexts cstm-retail-tooltipbox public_url_txt">
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            <span ng-click="openEventPublicurl()" style="color: #000000;font-size: 8px;">{{Eventregurl}}</span>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <img src="../../image/copyicon.png" alt="" class="url_icons" style="float:right;"/><br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color: #4a4a4a;font-size: 8px;">This is your Online Store URL for customers to purchase your events from any browser.</span>
                                                        </div>
                                                    </div>
                                                </span>
                                            </label>&nbsp;
                                            <img src="../../image/copyicon.png" alt="" class="url_icons" style="cursor:pointer;margin-top: -5px;" ng-click="toastmsg('allevents')" ngclipboard data-clipboard-target="#evntregurl" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float: right;margin-right: 15px;position: relative;top: 15px;">
                            <p ng-show="liveEventList.length > 0" ng-hide="childeventsview || drafteventsshow || pasteventsshow" style="color: #9b9b9b;font-family: Avenir;font-size: 12px;font-weight: 300;">Drag and drop to re-order as you would like to this appear on the member’s app</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0;margin-top: 2px;"> 
                            <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                                <div id="manageeventTabContent" class="tab-content">
                                    <div class="x_panel no-padding" style="border:none">
                                        <!-- start live events -->
                                        <div role="tabpanel" class="live-listing" ng-show="liveeventsshow" aria-labelledby="home-tab">
                                            <div class="x_content sortable">

                                                <!--                                                <div ng-hide="noliveeventslisted" class="col-md-12 col-sm-12 col-xs-12">
                                                                                                    <label>Events list link URL <a ng-click="addeventinfo('publicurl')">&nbsp;<i class="fa fa-info-circle fa-s"></i></a></label>
                                                                                                    <div class="col-md-12 col-sm-12 col-xs-12 input-group" style="z-index: 0">
                                                                                                        <input type="text" id="evntregurl" class="form-control" style="text-align:left" name="evntregurl"  ng-model="Eventregurl" readonly>
                                                                                                        <span class="input-group-btn">
                                                                                                            <button class="btn btn-default"  style="margin-top: -20px;" ng-click="toastmsg('allevents')" ngclipboard data-clipboard-target="#evntregurl"><i class="fa fa-clipboard"></i></button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <center><p ng-show="!noliveeventslisted">*Click and drag each event to re-arrange the order of appearance on the member's app</p></center>-->
                                                <center><p ng-show="noliveeventslisted" style="margin-top: 20px;">No  Live Event has been added.</p></center>
                                                <ul class="list-unstyled events" dnd-list="liveEventList">
                                                    <li ng-repeat="live in liveEventList" 
                                                        dnd-draggable="live"
                                                        dnd-dragstart="drageventCallback('start',$index)"
                                                        dnd-moved="liveEventList.splice($index, 1)"
                                                        dnd-effect-allowed="move"
                                                        dnd-selected="models.selected = live"
                                                        ng-class="{'selected': models.selected === live}"
                                                        dnd-dragend="drageventCallback('end',$index)" value-repeat-complete>
                                                        <form>
                                                            <div id="liveeventlevel{{$index}}" class="col-md-12 card col-sm-12 card col-xs-12 card">
                                                                <input type="hidden" ng-model="live.event_id" id="{{live.event_id}}" value="{{$index}}"> 
                                                                <div class="col-md-9 col-sm-9 col-xs-9"> 
                                                                    <h2 class="eventtitle">{{live.event_title}}</h2>
                                                                    <p class="eventsubtext" ng-show="live.event_begin_dt != '0000-00-00 00:00:00' && live.event_type === 'S'" ng-model="live.event_begin_dt">{{datetimestring(live.event_begin_dt)}}</p>
                                                                    <p ng-show="live.event_type === 'M'">Multiple Events</p>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <p class="eventsubtext" style="margin-top:10px;margin-bottom: 5px;">Registered: &nbsp;{{live.registrations_count}}&nbsp;/&nbsp;{{live.event_capacity}}</p>
                                                                    <p class="eventsubtext" style="margin-bottom:10px;">Net Sales: &nbsp;{{wp_currency_symbol}}{{live.net_sales}}</p>
                                                                </div>
                                                                <div class="row no-gutters"> 
                                                                    <div class="col-md-9 col-sm-9">
                                                                        <a class="card-icon eventactionlinks" ng-click="manageevent(live,live.event_status,'live')"><i class="fa fa-1x fa-gear"></i>&nbsp;Manage&nbsp;</a>
                                                                        <a class="card-icon eventactionlinks" ng-click="editevent(live, 'live')"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                                        <a class="card-icon eventactionlinks" ng-click="liveexportcsvevent(live.event_id, live.event_title)"><i class="fa fa-1x fa-file-excel-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                                        <a id="caturl{{$index}}" class="card-icon eventactionlinks" ng-click="toastmsg('particularevent')" ngclipboard data-clipboard-text="{{live.event_url}}"><i class="fa fa-1x fa-clipboard"></i>&nbsp;Copy URL&nbsp;</a>
                                                                        <a class="card-icon eventactionlinks" ng-show="live.event_type === 'S'" ng-click="liveexportpdfevent(live.event_id, live.event_title)"><i class="fa fa-1x fa-file-pdf-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-3">
                                                                        <button class="card-icon eventcopy"  ng-click="copyevent(live)" style="float: left;">Copy Event</button>&nbsp;
                                                                    </div>
                                                                    <div class="col-md-12 col-sm-12"><center><p ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p></center></div>
                                                                </div> 
                                                            </div>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>  
                                        <!-- end live events -->
                                        <!-- start draft events -->
                                        <div role="tabpanel" class="draft-listing" ng-show="drafteventsshow" aria-labelledby="profile-tab">
                                            <div  class="x_content" style="padding-top:2px;">
                                                <center>
                                                    <p ng-show="nodrafteventslisted">No Draft Event has been added.</p>
                                                </center>
                                                <ul class="list-unstyled events">
                                                    <li ng-repeat="draft in draftEventList track by draft.event_id" id="drafteventlevel{{$index}}" class="col-md-12 card col-xs-12 card col-sm-12 card" value-repeat-complete>
                                                        <div class="col-md-9 col-sm-9 col-xs-9">                                                      
                                                            <input type="hidden" ng-model="draft.event_id">
                                                            <h2 class="eventtitle">{{draft.event_title}}</h2>
                                                            <p class="eventsubtext" ng-show="draft.event_begin_dt != '0000-00-00 00:00:00' && draft.event_type === 'S'" ng-model="draft.event_begin_dt">{{datetimestring(draft.event_begin_dt)}}</p>
                                                            <p class="eventsubtext" ng-show="draft.event_type === 'M'">Multiple Events</p>
                                                        </div>
                                                        <div class="col-md-3 col-md-3 col-xs-3">
                                                            <p class="eventsubtext" style="margin-top:10px;margin-bottom: 5px;">Registered: &nbsp;{{draft.registrations_count}}&nbsp;/&nbsp;{{draft.event_capacity}}</p>
                                                            <p class="eventsubtext" style="margin-bottom:10px;">Net Sales: &nbsp;{{wp_currency_symbol}}{{draft.net_sales}}</p>
                                                        </div>
                                                        <div class="row no-gutters">
                                                            <div class="col-md-9 col-sm-9">
                                                                <a class="card-icon eventactionlinks" ng-click="manageevent(draft,draft.event_status,'draft')"><i class="fa fa-1x fa-gear"></i>&nbsp;Manage&nbsp;</a>
                                                                <a class="card-icon eventactionlinks" ng-click="editevent(draft, 'draft')"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                                <a class="card-icon eventactionlinks" ng-click="liveexportcsvevent(draft.event_id, draft.event_title)"><i class="fa fa-1x fa-file-excel-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                                <a class="card-icon eventactionlinks"  ng-show="draft.event_type === 'S'" ng-click="liveexportpdfevent(draft.event_id, draft.event_title)"><i class="fa fa-1x fa-file-pdf-o"></i>&nbsp;Export Roster&nbsp;</a>                                                      
                                                            </div>
                                                            <div class="col-md-3 col-sm-3">
                                                                <button class="card-icon eventcopy" ng-click="copyevent(draft)" style="float: left;">Copy Event</button>&nbsp; 
                                                            </div>
                                                            <div class="col-md-12 col-sm-12"><center><p ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p></center></div>
                                                        </div> 
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end draft events -->
                                        <!-- start past events -->  
                                        <div role="tabpanel" class="draft-listing" ng-show="pasteventsshow" aria-labelledby="profile-tab">                              
                                            <div  class="x_content" style="padding-top: 2px;">
                                                <center>
                                                    <p ng-show="nopasteventslisted">No Past Event has been added.</p>
                                                </center>
                                                <ul class="list-unstyled events">
                                                    <li ng-repeat="past in pastEventList track by past.event_id" id="pasteventlevel{{$index}}" class="col-md-12 card col-xs-12 card col-sm-12 card" value-repeat-complete>
                                                        <div class="col-md-9 col-xs-9 col-sm-9">                                                      
                                                            <input type="hidden" ng-model="past.event_id">
                                                            <h2 class="eventtitle">{{past.event_title}}</h2>
                                                            <p ng-show="past.event_begin_dt != '0000-00-00 00:00:00' && past.event_type === 'S'" ng-model="past.event_begin_dt">{{datetimestring(past.event_begin_dt)}}</p> 
                                                            <p ng-show="past.event_type === 'M'">Multiple Events</p>
                                                        </div>
                                                        <div class="col-md-3 col-xs-3 col-sm-3">
                                                            <p style="margin-top:10px;margin-bottom: 5px;">Registered: &nbsp;{{past.registrations_count}}&nbsp;/&nbsp;{{past.event_capacity}}</p>
                                                            <p style="margin-bottom:10px;">Net Sales: &nbsp;{{wp_currency_symbol}}{{past.net_sales}}</p>
                                                        </div>
                                                        <div class="row no-gutters">
                                                            <div class="col-md-9">
                                                                <a class="card-icon eventactionlinks" ng-click="manageevent(past,'D','past')"><i class="fa fa-1x fa-gear"></i>&nbsp;Manage&nbsp;</a>
                                                                <a class="card-icon eventactionlinks" ng-click="editevent(past, 'past')"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp; </a>  
                                                                <a class="card-icon eventactionlinks" ng-click="liveexportcsvevent(past.event_id, past.event_title)"><i class="fa fa-1x fa-file-excel-o"></i>&nbsp;Export Roster&nbsp; </a>
                                                                <a class="card-icon eventactionlinks"  ng-show="past.event_type === 'S'" ng-click="liveexportpdfevent(past.event_id, past.event_title)"><i class="fa fa-1x fa-file-pdf-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button class="card-icon eventcopy"  ng-click="copyevent(past)" style="float: left;">Copy Event</button>&nbsp;  
                                                            </div>
                                                            <div class="col-md-12 col-sm-12"><center><p ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')">**Click here to immediately enable mobile registration.</a></p></center></div>
                                                        </div> 
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end past events -->
                                        <!--start of child event list-->
                                        <div id="childeventsview" ng-show="childeventsview" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel" style="border: none;padding: 0px;">
                                                <div class="retail-all-txt-noalign" style="text-align:left;cursor: pointer;margin-left: 5px;margin-top: 10px;" ng-click="gobackformanageevent()"><i class='fa fa-chevron-left'></i>&nbsp; Back</div>
                                                <div class="col-md-12 col-sm-12" style="padding: 20px 30px 0px 7px;">
                                                    <div class="row">
                                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                                            <label class="retail-all-txt" style="font-size: 16px;font-weight: 900;">{{manage_parent_title}}</label>
                                                        </div>
                                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                                            <div style="float:right;">
                                                                <div class="public_link_right" ng-click="openorgoaddevent('modal')" style="top:0px;right: 5px;">
                                                                    <img src="../../image/plus_icon.png" alt="" style="width:15px;cursor: pointer;margin-top: -3px;" />&nbsp;&nbsp;
                                                                    <label style="font-size: 12px;font-weight: 500;color: #009a61;cursor: pointer;">Add Event</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12" style="margin-left: -15px;">
                                                    <div  class="x_content">
                                                        <center><p ng-show="childeventarray.length == 0">No Child Event has been added.</p></center>
                                                        <ul class="list-unstyled events">
                                                            <li>
                                                                <div ng-repeat="child in childeventarray" id="childeventlevel{{$index}}" class="col-md-12 card col-sm-12 card col-xs-12 card" value-repeat-complete>
                                                                    <div class="col-md-9 col-sm-9 col-xs-9">                                                      
                                                                        <input type="hidden" ng-model="child.event_id">
                                                                        <h2 class="eventtitle">{{child.event_title}}</h2>
                                                                        <p class="eventsubtext" ng-show="child.event_begin_dt != '0000-00-00 00:00:00' && child.event_type === 'C'" ng-model="child.event_begin_dt">{{datetimestring(child.event_begin_dt)}}</p>
                                                                        <p ng-show="child.event_type === 'M'">Multiple Events</p>
                                                                    </div>
                                                                    <div class="col-md-3 col-xs-3 col-sm-3">
                                                                        <p style="margin-top:10px;margin-bottom: 5px;">Registered: &nbsp;{{child.registrations_count}}&nbsp;/&nbsp;<span>{{child.event_capacity}}</span></p>
                                                                        <p style="margin-bottom:10px;">Net Sales: &nbsp;{{wp_currency_symbol}}{{child.net_sales}}</p>
                                                                    </div>
                                                                    <div class="col-md-12 ">
                                                                        <div class="col-md-9 col-xs-9 col-sm-9">
                                                                            <a style="margin-left: -15px;" class="card-icon eventactionlinks" ng-click="manageevent(child,'child',eventfromviewforback)"><i class="fa fa-1x fa-gear"></i>&nbsp;Manage&nbsp;</a>  
                                                                            <a class="card-icon eventactionlinks" ng-click="liveexportcsvevent(child.event_id, child.event_title)"><i class="fa fa-1x fa-file-excel-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                                            <a class="card-icon eventactionlinks" ng-click="liveexportpdfevent(child.event_id, child.event_title)"><i class="fa fa-1x fa-file-pdf-o"></i>&nbsp;Export Roster&nbsp;</a>
                                                                            <a id="caturl{{$index}}" ng-if="child.event_status==='P'" class="card-icon eventactionlinks" ng-click="toastmsg('particularevent')" ngclipboard data-clipboard-text="{{child.event_url}}"><i class="fa fa-1x fa-clipboard"></i>&nbsp;Copy URL&nbsp;</a>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-3">
                                                                            <button class="card-icon eventcopy"  ng-click="copyevent(child)" style="float: left;">Copy Event</button>  
                                                                        </div>
                                                                        <div class="col-md-12 col-sm-12"><center><p ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p></center></div>
                                                                    </div> 
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--End of child list-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  End of Manage Event Layout-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile" style="min-height: 800px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <center><div id="previewapp" class="docs-demo-device" ng-hide="addparticipantview || eventstudentview "><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=46978789423783"></iframe></div>   </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of main view-->
        <!--Start of student datatable   -->           
        <div id="eventsnackbar">Kindly select a buyer to proceed.</div>
        <div id="event_student_list" ng-show="eventstudentview" class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="width:100%;">            
            <div class="x_panel">
                <div ng-if="eventtitlestud">
                    <div class="x_title">
                        <a ng-click="closemanageview()" style="cursor: pointer"><i class='fa fa-chevron-left'></i>&nbsp; Back</a>
                        <div class="col-md-12"><center><h3 id="eventtitlestud" style="width:100%;"></h3></center></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="manageeventsubTab" class="nav nav-tabs bar_tabs" role="tablist" style="margin-top: 0;">
                            <li role="presentation" id="li-orders" class="active-event-list navtab-cuswidth"><a ng-click="recentorderstab()" id="order-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                            </li>
                            <li role="presentation" id="li-cancelorders" class="event-list-title navtab-cuswidth"><a ng-click="cancelrefundtab()" role="tab" id="cancellationrefund-tab" data-toggle="tab" aria-expanded="false"></a>
                            </li>
                            <div>
                                <button type="button" class="btn btn-success manage-add-membership" ng-hide="current_event_manage.list_type === 'live' && ((!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N'))" ng-disabled="current_event_manage.list_type !== 'live'" ng-click="addParticipant(current_eventid_manage)">Add Participant</button>
                                <button type="button" class="btn btn-success manage-add-membership" ng-show="current_event_manage.list_type === 'live' && ((!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N'))" ng-click="showWepayAccountCreation('manageevent')">Add Participant</button>
                            </div> 
                        </ul>
                        <span class="greentab-text manageeventsub-tabtext-1 greentab-text-active" ng-click="recentorderstab()">Orders ({{order}})</span>
                        <span class="greentab-text manageeventsub-tabtext-2" ng-click="cancelrefundtab()">Cancellations & Refunds ({{cancel}})</span>
                    </div>


                    <div id="manageeventsubTabContent" class="tab-content" style="overflow: scroll">
                        <br>
                        <div class="action-icons-top">
                            <a class="action-icons-top-format"  ng-class="{
                                                'member-selection-color':  color_green == 'Y' }"  ng-click="sendGroupMsg('push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                            <a class="action-icons-top-format" ng-class="{
                                                'member-selection-color':  color_green == 'Y'}"  ng-click="sendGroupMsg('mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                        </div>
                        <div role="tabpanel" ng-if="recentorders" aria-labelledby="home-tab">
                            <table datatable=""   dt-options="dtOptions" dt-columns="dtColumns"    id="DataTables_Table_e1" dt-instance="dtInstance1" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                        </div>
                        <div role="tabpanel" ng-if="cancelledorders" aria-labelledby="profile-tab">
                            <table datatable=""   dt-options="dtOptions1" dt-columns="dtColumns1"    id="DataTables_Table_e2" dt-instance="dtInstance2" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of student list datatable-->
        <!--start of add participant view-->
        <div id="snackbarpaste">Maximum 100 characters allowed.</div>
        <div id="add_participant" ng-show="addparticipantview" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div ng-show="eventtitleaddpart">
                    <div class="x_title">
                        <h3 id="eventtitleaddpart"></h3>
                        <h2 ng-show="eventsubtitleaddpart" id="eventsubtitleaddpart"></h2>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div ng-show="(!stripe_enabled && stripestatus === 'N') && (!wepay_enabled && wepaystatus === 'N')">
                    <center><p><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')">**Click here to immediately enable mobile registration.</a></p></center>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                    
                    <div ng-show="current_event_manage.event_cost > 0 || manage_event_type === 'C'">
                        <br>{{showTotal()}}
                        <center>
                            <h4>Total: {{wp_currency_symbol}}{{total_amount_view| number:2}}<br>
                                <small ng-show="processing_fee_show === '2' && compareDiscountCost"><span>(includes {{wp_currency_symbol}}{{processing_fee_value| number:2}} processing fee)</span></small>
                            </h4><br>
                            <div ng-if="manage_event_type === 'S' && order_event_once === 'N'">
                                <label for="quantity">Quantity</label>
                                <input type="text" style="width: 50px;" id="quantity_box1" name="quantity1" ng-change="singlequantityChange('1')" ng-model="costquantity" valid-quantity><br>
                                <span ng-show="validatesinglecapacity" style="color:red">Quantity maximum allowed is {{current_event_manage.event_capacity - current_event_manage.registrations_count}} & minimum 1.</span><br>
                            </div>
                            <div ng-show="discount_show">
                                <label for="discount">Discount amount</label>
                                <input type="text" id="discount_box" name="discount" ng-change="showTotalView()" ng-model="discount" placeholder="{{wp_currency_symbol}}"  valid-number><br>
                                <span style="color: red" ng-show="discountMax(discount)">
                                    Discount amount cannot be greater than total event cost.
                                </span>&nbsp;
                                <span style="color: red" ng-show="EventCostMax(discount)">
                                    Total event cost must be at-least {{wp_currency_symbol}}5 or {{wp_currency_symbol}}0 after applying discount.
                                </span>
                            </div>
                        </center><br>
                    </div>
                    <div ng-show="current_event_manage.event_cost == 0 && manage_event_type === 'S'">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <center>
                                <h4>Total: {{wp_currency_symbol}}0.00</h4><br>
                            </center><br>
                        </div>
                        <div ng-if="manage_event_type === 'S' && order_event_once === 'N'">
                            <center><label for="quantity">Quantity</label>
                                <input type="text" style="width: 50px;" id="quantity_box2" name="quantity2" ng-change="singlequantityChange('0')" ng-model="zeroquantity" valid-quantity><br>
                                <span ng-show="validatesinglecapacity" style="color:red">Quantity maximum allowed is {{current_event_manage.event_capacity - current_event_manage.registrations_count}} & minimum 1.</span></center><br><br>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form enctype="multipart/form-data" novalidate id="paymentform" name="paymentform">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="current_event_manage.event_type === 'C'">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height: 105px; margin-top: 10px;" ng-repeat="child in childeventarray" id="childeventlevel{{$index}}">
                                    <input class="mulcheckbox" id="multiplecheckbox{{$index}}" type="checkbox" value="{{child.event_id}}" ng-disabled="child.event_capacity === '0' || (child.event_capacity > 0 && (child.event_capacity - child.registrations_count) <= 0)" ng-checked="child.event_id === current_event_manage.event_id" ng-model="child.checked" ng-click="selectedeventlist(childeventarray)">&nbsp;
                                    <span style="font-size: 16px;">{{child.event_title}}<br></span>
                                    <span style="margin-left: 20px;" ng-show="child.event_begin_dt !== '0000-00-00 00:00:00'">{{datetimestring(child.event_begin_dt)}}<br></span>
                                    <span style="margin-left: 20px;">{{wp_currency_symbol}}{{child.event_cost}}</span><br>
                                    <span ng-show="child.checked && order_event_once === 'N'" style="margin-left: 20px;">Quantity&nbsp;<input class="disablequantityerror" type="text" id="quantity_box{{$index}}" style="width: 50px;" name="childquantity{{$index}}" ng-change="childquantityTotal(child.event_id, $index)" ng-model="childquantity" ng-value="1" valid-quantity><br>
                                        <span id="validatecapacity{{$index}}" ng-value="validatecapacityenable" ng-show="validatecapacityenable && (child.event_capacity !== '0' || child.event_capacity > 0)" style="color:red">Quantity maximum allowed is {{child.event_capacity - child.registrations_count}} & minimum 1.</span></span>
                                    <span id="validatewithoutcapacity{{$index}}" ng-value="validatewithoutcapacityenable" ng-show="validatewithoutcapacityenable && (child.event_capacity === '' || child.event_capacity === undefined || child.event_capacity === null)" style="color:red">Quantity must be at-least 1.</span></span>
                                    <p style="color: grey;" ng-show="child.event_capacity === '0' || (child.event_capacity > 0 && (child.event_capacity - child.registrations_count) <= 0)">Event is sold out.</p><br><br>
                                </div>
                            </div>
                            <div ng-show="recurring_payment_show" class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-4">       
                                    <label>
                                        <input type="radio" id="onetime_select" name='paymentoption' ng-model="payment_times" ng-change="onetimepayment()"  ng-checked="payment_times == 'O'">&nbsp; Pay in Full: {{wp_currency_symbol}}{{total_amount_view| number:2}}   
                                    </label>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <label >
                                        <input type="radio" id="multiple_select" name='paymentoption' ng-model="payment_times" ng-change="recurringpayment()"  ng-checked="payment_times == 'R'">&nbsp; Payment Plan:            
                                    </label>
                                    <div ng-if="payment_times === 'R'" class="col-md-12 col-sm-12 col-xs-12" ng-repeat="p in pay">
                                        <div ng-show="$index === 0" style="font-size: 14px;"><p>Down Payment:  {{wp_currency_symbol}}{{p.amount| number:2}} <small ng-show="current_processing_fee_type === '2'" style="font-size: 10px;">(plus {{p.processing_fee}} processing fee)</small></p></div>
                                        <div ng-hide="$index === 0" style="font-size: 14px;"><p>Payment {{$index}}: {{wp_currency_symbol}}{{p.amount| number:2}} <small ng-show="current_processing_fee_type === '2'" style="font-size: 10px;">(plus {{p.processing_fee}} processing fee)</small> due {{ getPaymentstartdate(p.date)}}</p></div>                                            
                                    </div> <br>
                                </div><br><br> 
                            </div> 
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <div class="col-md-12">
                                            <label for="studentname">Search Current Members</label>
                                            <input type="text" id="participant_event_student_name" class="form-control" ng-model="studentselected"
                                                   data-min-length="0" data-html="1" data-auto-select="true" data-animation="am-flip-x"
                                                   bs-options="stud as stud.student_name for stud in studentlist" placeholder="Enter member name" bs-typeahead>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="x_content">
                                    <div class="clearfix"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group" ng-init="reg_col_value = []">
                                            <h2>Participant Info</h2>
                                            <div class="col-md-12" ng-repeat="columnName in current_event_reg_columns">
                                                <label for="column{{$index}}">{{columnName.reg_col_name}}<span style="color:red;" ng-show="columnName.reg_col_mandatory === 'Y'">*</span></label>
                                                <input type="text" id="column{{$index}}" placeholder="" class="form-control" name="column{{$index}}" ng-model="reg_col_value[$index]" maxlength="100" ng-paste="handleeventpaste($event)" ng-required="columnName.reg_col_mandatory=== 'Y'">
                                                <span style="color: red" ng-show="(paymentform['column' + $index].$touched && paymentform['column' + $index].$invalid)">
                                                    {{columnName.reg_col_name}} is required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                                    
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <h2>Buyer's Info</h2>
                                            <div class="col-md-12" >
                                                <label for="firstname">First Name<span style="color:red;">*</span></label>
                                                <input type="text" id="firstName" placeholder="" class="form-control" name="firstname" ng-model="firstname" required>
                                                <span style="color: red" ng-show="(paymentform.firstname.$touched && paymentform.firstname.$invalid)">
                                                    First name is required
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="lastname">Last Name<span style="color:red;">*</span></label>
                                                <input type="text" id="lastName" placeholder="" class="form-control" name="lastname" ng-model="lastname" required>
                                                <span style="color: red" ng-show="(paymentform.lastname.$touched && paymentform.lastname.$invalid)">
                                                    Last name is required
                                                </span>
                                                <input type="hidden" id="name" ng-model="name">
                                            </div>
                                            <div class="col-md-12">
                                                <label for="email">Email<span style="color:red;">*</span></label>
                                                <input type="text" id="email" placeholder="" class="form-control" name="email" ng-model="email" required>
                                                <span style="color: red" ng-show="(paymentform.email.$touched && paymentform.email.$invalid)">
                                                    Email is required
                                                </span>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="phone">Cell Phone<span style="color:red;">*</span></label>
                                                <input type="text" id="phone" placeholder="" class="form-control" name="phone" ng-model="phone" required>
                                                <span style="color: red" ng-show="(paymentform.phone.$touched && paymentform.phone.$invalid)">
                                                    Phone number is required
                                                </span>
                                            </div>
                                        </div>
                                        <div ng-show="zerocostview" class="col-md-6 col-sm-12 col-xs-12 form-group">
                                            <h2>Payment Info</h2>
                                            <div class="col-md-12" >
<!--                                                <div ng-show="stripe_enabled"> 
                                                    <label>Choose payment method</label>
                                                     <select id="events_payment_method" class="form-control paymentmethod" ng-model="events_payment_method" name='events_payment_method'>
                                                         <option disabled selected value>Choose payment method</option>
                                                         <option value="CC">Credit card</option>
                                                         <option value="ACH">Ach</option>
                                                     </select>
                                                </div>-->
                                                <div ng-show="showcardselection && events_payment_method !=='ACH'">
                                                    <label for="cardselection">Select Card<span style="color:red;">*</span></label>
                                                    <select ng-change="selectCardDetail()" id="selectedcard" class="form-control" name="selectedcard" ng-model="selectedcardnumber" style="width: 98%;">
                                                        <option disabled selected value>-- Choose card --</option>
                                                        <option id="newcard">Add New credit card</option>
                                                        <option id="card{{$index}}" ng-repeat="creditCard in carddetails" value="{{$index}}">{{creditCard.credit_card_name}}</option>                                        
                                                    </select>
                                                </div>
                                                <div ng-if="wepay_enabled">
                                                    <div ng-if="showpaymentview" class="col-md-12" >                                            
                                                        <label for="cardnumber">Card number<span style="color:red;">*</span></label>
                                                        <input type="text" id="cc-number" placeholder="" class="form-control" name="cardnumber" ng-model="cardnumber" required>
                                                        <span style="color: red" ng-show="(paymentform.cardnumber.$touched && paymentform.cardnumber.$invalid)">
                                                            Card number is required
                                                        </span>
                                                    </div>
                                                    <div ng-if="showpaymentview" class="col-md-12">
                                                        <div><label>Expiration Date<span style="color:red;">*</span></label></div>
                                                        <div class="col-md-6 no-padding">
                                                            <select class="form-control" id="cc-month" name='ccmonth' ng-model="$parent.ccmonth">
                                                                <option disabled selected value>Month</option>
                                                                <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                                            </select>                                            
                                                            <span style="color: red" ng-show="paymentform.ccmonth.$touched && (paymentform.ccmonth.$error.required || ccmonth === undefined)">
                                                                Select Expiration Month
                                                            </span>
                                                        </div>
                                                        <div class="col-md-6" style="padding-right: 0px;">
                                                            <select class="form-control" id="cc-year" name='ccyear' ng-model="$parent.ccyear">
                                                                <option disabled selected value>Year</option>
                                                                <option ng-repeat="year in ccyearlist">{{year}}</option>
                                                            </select>                                            
                                                            <span style="color: red" ng-show="paymentform.ccyear.$touched && (paymentform.ccyear.$error.required || ccyear === undefined)">
                                                                Select Expiration Year
                                                            </span>
                                                        </div> 
                                                    </div>
                                                    <div ng-if="showpaymentview" class="col-md-12">
                                                        <label>CVV<span style="color:red;">*</span></label>
                                                        <input type="text" id="cc-cvv" placeholder="" class="form-control" name="cvv" ng-model="cvv" required>
                                                        <span style="color: red" ng-show="(paymentform.cvv.$touched && paymentform.cvv.$invalid)">
                                                            CVV is required
                                                        </span>
                                                    </div>
                                                    <div ng-if="showpaymentview" class="col-md-6">
                                                        <label>Country<span style="color:red;">*</span></label>
                                                        <select id="country" class="form-control" ng-model="$parent.country" name='country'>
                                                            <option disabled selected value>-- Choose country --</option>
                                                            <option value="US">United states</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="GB">United Kingdom</option>
                                                        </select>
                                                        <span style="color: red" ng-show="paymentform.country.$touched && (paymentform.country.$error.required || country === undefined)">
                                                            Select country
                                                        </span>
                                                    </div>
                                                    <div ng-if="showpaymentview" class="col-md-6">
                                                        <label for="postal_code">Zip code<span style="color:red;">*</span></label>
                                                        <input type="text" id="postal_code" placeholder="" class="form-control" name="postal_code" ng-model="postal_code" required>
                                                        <span style="color: red" ng-show="(paymentform.postal_code.$touched && paymentform.postal_code.$invalid)">
                                                            Zip code is required
                                                        </span>
                                                    </div>
                                               </div>
                                                <div ng-show="stripe_enabled">                                               
                                                    <div ng-show="events_payment_method ==='CC' && showpaymentview" class="stripe-form">
                                                        <label>Enter your credit card information<span style="color:red;">*</span></label>
                                                        <div id="stripe-card-element" class="form-control"></div>
                                                        <!--Used to display form errors--> 
                                                        <div style="color: red" id="stripe-card-errors" role="alert"></div>
                                                    </div>
<!--                                                     <div ng-show="events_payment_method === 'ACH'">
                                                         <h2>Enter your ACH information</h2>
                                                         <label  for="events_ach_route_no">Bank routing number<span style="color:red;">*</span></label>
                                                         <input type="text" id="events_ach_route_no" name="events_ach_route_no" class="form-control" ng-model="events_ach_route_no" valid-number>
                                                         <label  for="events_ach_acc_number">Bank account number<span style="color:red;">*</span></label>
                                                         <input type="text" id="events_ach_acc_number-number" ng-model="events_ach_acc_number" name="events_ach_acc_number" class="form-control" valid-text>
                                                         <label  for="events_ach_holder_name">Holder name<span style="color:red;">*</span></label>
                                                         <input type="text" id="events_ach_holder_name" ng-model="events_ach_holder_name" name="events_ach_holder_name" class="form-control" valid-name>
                                                         <label>Holder type<span style="color:red;">*</span></label>
                                                         <select id="events_ach_acc_type" class="form-control" name="events_ach_acc_type" ng-model="events_ach_acc_type" >  
                                                             <option disabled selected value>Holder type</option>
                                                             <option value="individual">Individual</option>
                                                             <option value="company">Company</option>
                                                         </select>
                                                     </div>                                               -->
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12"><center>
                                                <p style="max-height: 200px; overflow-y: auto;"><b>Waiver & Agreement</b><br>
                                                    <span ng-bind-html="waiverarea | trust"></span>
                                                </p>
                                                <div ng-show=" wepay_enabled || !zerocostview" class="checkbox">
                                                    <label>
                                                        <input ng-model="waiverchecked" type="checkbox">I agree to the above waiver & agreement.
                                                    </label>
                                                </div>
                                                <div ng-show="stripe_enabled" class="checkbox">
<!--                                                    <span ng-show="events_payment_method === 'ACH' && zerocostview">
                                                        <label class="agree_text"> <input type="checkbox" id="events_chk_ach" name="events_chk_ach" ng-model="events_chk_ach">&nbsp;I authorize ACH plugin to electronically debit my account And, if necessary, electronically credit my account to correct erroneous debits.</label>
                                                    </span>-->
                                                    <span ng-show="events_payment_method === 'CC' && zerocostview">
                                                        <label>
                                                            <label class="agree_text"><input type="checkbox" id="stripeccchecked" name="stripeccchecked"  ng-model="stripeccchecked" >&nbsp;I authorise {{cmpnynme}} to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of my agreement with you.</label>
                                                        </label>
                                                    </span>
                                                </div>
                                            </center>
                                        </div>
                                        <center>
                                                <a ng-click="addparticipantview = false;  eventstudentview = true;eventtitlestud = true;" class="btn btn-default btn-lg">Cancel</a>
                                            <!-- INACTIVE STUDIO -->
                                            <span ng-show="upgrade_status === 'F'">
                                                <a>
                                                    <button ng-disabled="upgrade_status !== 'F'"  ng-click="showstudioinactivemodal()" class="btn btn-primary btn-lg" >Register</button>
                                                </a>
                                            </span>
                                            <!-- INACTIVE STUDIO -->
                                             <!-- ACTIVE STUDIO -->
                                                <a ng-hide="zerocostview || upgrade_status === 'F'">
                                                    <!-- ZERO COST --> 
                                                    <input type="submit" value="Add Now" ng-click="saveParticipantDetails()" class="btn btn-primary btn-lg" 
                                                           ng-disabled="paymentform.$invalid || (wepay_enabled && !waiverchecked) || (!zerocostview && !waiverchecked)  || validatesinglecapacity || !childaddedvalidate">
                                                </a>
                                                    
                                                <!-- STRIPE -->
                                                <a ng-show="stripe_enabled">
                                                     <!--NEW CARD--> 
                                                    <input ng-show="(showpaymentview && zerocostview) && upgrade_status !== 'F'" type="submit" name="Submit" value="Pay Now"  class="btn btn-primary btn-lg" ng-click="submitStripeForm()"
                                                           ng-disabled="paymentform.$invalid || (events_payment_method === 'CC' && !valid_stripe_card) || !stripeccchecked || validatesinglecapacity || !childaddedvalidate">
                                                    <!-- EXISTING CARD  --> 
                                                    <button ng-hide="showpaymentview || !zerocostview || upgrade_status === 'F'" type="submit" name="Submit" ng-click="stripeEventCheckout(firstname, lastname, email, phone, postal_code, country)" class="btn btn-primary btn-lg" 
                                                            ng-disabled="paymentform.$invalid || !stripeccchecked || !selectedcardnumber || validatesinglecapacity || !childaddedvalidate">Pay Now</button> 
                                                </a>
                                                <!-- WEPAY -->
                                                <a ng-show="wepay_enabled">
                                                    <!-- NEW CARD -->  
                                                    <input ng-show="(showpaymentview && zerocostview) && upgrade_status !== 'F'" type="submit" name="Submit" value="Pay Now" id="cc-submit"  class="btn btn-primary btn-lg" 
                                                                                ng-disabled="paymentform.$invalid || paymentform.ccmonth.$error.required  || paymentform.cvv.$error.required || paymentform.ccyear.$error.required || paymentform.country.$error.required || !waiverchecked || validatesinglecapacity || !childaddedvalidate">
                                                    <!-- EXISTING CARD --> 
                                                    <button ng-hide="showpaymentview || !zerocostview || upgrade_status === 'F'" type="submit" name="Submit" ng-click="checkout(credit_card_id,credit_card_status, firstname, lastname, email, phone, postal_code, country)" class="btn btn-primary btn-lg" 
                                                                                ng-disabled="paymentform.$invalid || !waiverchecked || !selectedcardnumber || validatesinglecapacity || !childaddedvalidate">Pay Now</button> 
                                                </a>
                                            <!-- ACTIVE STUDIO -->                                            
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>       
        <!--End of add participant view-->
    </div>
</div>
<!-- /page content -->
