<style>
    #retailswitch input:checked+.slider::before {
        transform: translateX(27px);
    }

    #taxchange-modal>div>div>div>button,
    #taxchange-modal>div>div>div>input,
    #addnewretail-modal>div>div>div>button,
    #selectproductoption-modal>div>div>div>button {
        height: 53.3px;
        border-radius: 4.5px;
        border: solid 1px #bebebe;
    }

    .event-list-title>a {
        /*background-color: #EDEDED !important;*/
    }

    .retail-discount-btn-text {
        float: right;
        width: 120px;
        height: 30px;
        border-radius: 5px;
        background-color: #009a61;
        font-size: 12px;
    }
</style>
<!--open add product/category modal-->
<div class="modal fade custom-modal" id="addnewretail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 340px;">
            <div class="modal-body newmodal-body">
                <p>Add new retail option</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="goaddproductpage('openproductmodal')" data-dismiss="modal">Add product</button>
                <button type="button" class="button green-button custom-modal-button" ng-click="goaddproductpage('opencategorymodal')" data-dismiss="modal">Add product category</button>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--open add product/category modal-->

<!--open add product option modal-->
<div class="modal fade custom-modal" id="selectproductoption-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 340px;">
            <div class="modal-body newmodal-body">
                <p>{{retailmodaltitle}}</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="selectaddproductpage(retailmodaltitle)" data-dismiss="modal">Custom</button>
                <button type="button" class="button green-button custom-modal-button" ng-click="selectretailtemplate(retailmodaltitle)">Choose template</button>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--open add product optiony modal-->

<!--open Tax value change modal-->
<div class="modal fade custom-modal" id="taxchange-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="min-width: 340px;">
            <div class="modal-body newmodal-body">
                <input type="text" id="retailtaxpercentage" class="form-control" placeholder="%  Enter the tax rate" style="text-align:left;height: 51.3px;" name="retailtaxpercentage" ng-model="retailtaxpercentage">
                <button type="button" class="button green-button custom-modal-button" ng-click="changeretailStatusandTax('taxvalue')" style="margin-top: -10px;" data-dismiss="modal" ng-disabled="!retailtaxpercentage">Save</button>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--open add product/category modal-->

<!--Success modal -->
<div class="modal fade" id="retailmanagemodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="font-size:16px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="retailmanagetitle">Message</label>
            </div>
            <div class="modal-body" id="retailmanagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--success Modal-->

<!--Content start-->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <!--main listing view starts-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="retaillistshow" style="margin-top: -30px;margin-left: -5px;">            
            <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="retail-Tab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" id="li-fulfillment" class="event-list-title" ng-click="goretailfulfillment()">
                        <a id="fulfillment-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                    </li>
                    <li role="presentation" id="li-retailoptions" class="active-event-list" ng-click="goretailoptions()">
                        <a id="retailoptions-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <li role="presentation" id="li-marketplace" class="event-list-title">
                        <a id="marketplace-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <li role="presentation" id="li-settings" class="event-list-title" ng-click="goretailsettings()">
                        <a id="settings-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <div style="float: right;margin: 15px 15px 0px 0px;">
                        <span class="dot"></span> &nbsp;
                        <a href="https://intercom.help/mystudio/retail-and-merchandise-shop" target="_blank">
                            <label class="retail-all-txt" style="color:#05ac68;cursor: pointer;font-weight: 400;">Learn how to setup Retail</label>
                        </a>
                    </div>
                </ul>
                <span class="greentab-text" style="top: 47px;left: 62px;" ng-click="goretailfulfillment()">Fulfillment</span>
                <span id="retailoption-tabtext" class="greentab-text greentab-text-active" style="top: 47px;left: 250px;" ng-click="goretailoptions()">Products</span>
                <span class="greentab-text tooltips" style="top: 47px;left: 415px;">Marketplace<span class="tooltiptexts" style="top: -30px;left: -45px;width: 200px;">Functionality coming soon.</span></span>
                <span id="settings-tabtext" class="greentab-text" style="top: 47px;left: 608px;" ng-click="goretailsettings()">Settings</span>
            </div>
            <div class="x_panel no-padding">
                <div id="retail-TabContent" class="tab-content">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                        <!--<div class="x_panel">-->
                        <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="retail-subTab" class="nav nav-tabs bar_tabs bar_tabs_md" role="tablist">
                                <li role="presentation" id="li-live" class="active-event-list" ng-hide="retailsettingsview"><a ng-click="livelistview()" id="live-tab" role="tab" data-toggle="tab" aria-expanded="true">Live</a></li>
                                <li role="presentation" id="li-draft" class="event-list-title" ng-hide="retailsettingsview"><a ng-click="draftlistview()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false">Drafts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="retaillisturl">Retail list URL link copied to clipboard.</div>
                <div id="retailcategoryurl">Retail category URL link copied to clipboard.</div>
                <div id="childretailurl">Retail product URL link copied to clipboard.</div>
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12" style="min-height: 750px;" ng-show="liveretailshow">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="public_link_container">
                            <div class="row">
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <label class="retail-all-txt" style="font-size: 17px;font-weight: 900;">Products</label>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <div style="float:right;">
                                        <div class="public_link_right" ng-click="openaddproductmodal()">
                                            <img src="../../image/plus_icon.png" alt="" style="width:15px;cursor: pointer;margin-top: -3px;" />&nbsp;&nbsp;
                                            <label style="font-size: 12px;font-weight: 500;color: #009a61;cursor: pointer;">Add Product</label>
                                        </div>
                                        <div style="display:inline-block;">
                                            <button type="button" class="button tab-brownbg-button retail-discount-btn-text" ng-click="goretaildiscount()">Discounts</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label class="switch" id="retailswitch">
                                        <input id="retailstatus" type="checkbox" ng-checked="retailstatus === 'Y'" ng-model="retailstatus" ng-click="updateRetailAgreement('sales')">
                                        <span class="slider round"></span>
                                    </label>
                                    <span class="retail-all-txt" style="margin-top: 2px;font-size: 12px;">&nbsp;&nbsp;{{retailstatus === "Y"? "ON":"OFF"}}</span>
                                    <span class="retail-all-txt" style="font-size: 10px;color: #4a4a4a;font-weight: 300;">&nbsp;&nbsp;{{retailstatus === "Y"? "Online Store is live":"Online Store is not live"}}</span>
                                    <span class="toggle-tooltip-new">Please turn Sales Channel "On" to enable this functionality on Point of Sale.</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="public_url_container">
                                        <img src="../../image/store_icon.png" alt="" class="url_icons" style="margin-top: -5px;" />&nbsp;<label style="font-size: 10px;font-weight: 500;color: #000000;;">Online Store URL </label>&nbsp;&nbsp;
                                        <label id="retailurl" class="tooltips public_url_txt" style="text-overflow: ellipsis;white-space: nowrap;width: 160px;" ng-click="openRetailPublicurl()">{{retaillisturllink}}
                                            <span class="tooltiptexts cstm-retail-tooltipbox public_url_txt">
                                                <div class="row">
                                                    <div class="col-md-11">
                                                        <span ng-click="openRetailPublicurl()" style="color: #000000;font-size: 8px;">{{retaillisturllink}}</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <img src="../../image/copyicon.png" alt="" class="url_icons" style="float:right;"/><br>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <span style="color: #4a4a4a;font-size: 8px;">This is your Online Store URL for customers to purchase your products from any browser.</span>
                                                    </div>
                                                </div>
                                            </span>
                                        </label>&nbsp;
                                        <img src="../../image/copyicon.png" alt="" class="url_icons" style="cursor:pointer;margin-top: -5px;" ng-click="toastretailmsg('retaillist')" ngclipboard data-clipboard-target="#retailurl" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;margin-right: 15px;position: relative;top: 15px;">
                        <p ng-show="liveretailList.length > 0" style="color: #9b9b9b;font-family: Avenir;font-size: 12px;font-weight: 300;">Drag and drop to re-order as you would like to this appear on the member’s app</p>
                    </div>
                    <center>
                        <p ng-show="liveretailList.length == 0">No Live Retail Product (or) Category has been added.</p>
                    </center>
                    <div class="x_content sortable">
                        <!--list-->
                        <ul class="list-unstyled" dnd-list="liveretailList" style="color:black">
                            <li ng-repeat="live in liveretailList" dnd-draggable="live"
                                dnd-dragstart="dragretailCallback('start',$index,'C')"
                                dnd-moved="liveretailList.splice($index, 1)" dnd-effect-allowed="move"
                                dnd-selected="models.selected = live"
                                ng-class="{'selected': models.selected === live}"
                                dnd-dragend="dragretailCallback('end',$index,'C')" value-repeat-complete>
                                <form>
                                    <div id="liveretaillevel{{$index}}" class="col-md-12 card col-sm-12 card col-xs-12 card">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <h2 class="retailtitle" style="margin-left: 9px;">{{live.retail_product_title}}</h2>
                                                <p ng-if="live.retail_product_type === 'C'" style="margin-left: 9px;">Retail Category</p>
                                                <div ng-class="(live.retail_product_type === 'C') ? 'action-container-c' : 'action-container-s'">
                                                    <a ng-if="live.retail_product_type === 'C'" class="card-icon eventactionlinks" ng-click="manageretail('P', live.retail_product_id, live.retail_product_title)">
                                                        <i class="fa fa-1x fa-gear"></i>&nbsp;Manage Items&nbsp;</a>
                                                    <a class="card-icon eventactionlinks" ng-click="editretail(live, 'live')"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                    <a class="card-icon eventactionlinks" ng-click="toastretailmsg('retailcategory')" ngclipboard data-clipboard-text="{{live.retail_product_url}}"><i class="fa fa-1x fa-clipboard"></i>&nbsp;Copy URL&nbsp;</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div style="float: right;padding-right: 20px;">
                                                    <div class="row">
                                                        <p class="retailsubtext" style="margin-top:10px;margin-bottom: 5px;">Quantities sold: &nbsp;{{live.retail_purchase_count}}</p>
                                                    </div>
                                                    <div class="row">
                                                        <p class="retailsubtext" style="margin-bottom:10px;">Net Sales:&nbsp;{{wp_currency_symbol}}{{live.retail_net_sales}}</p>
                                                    </div>
                                                    <div class="row">
                                                        <button class="card-icon eventcopy" style="float:left;" ng-click="copyRetail(live, 'L1')">Copy</button>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <center>
                                                    <p ng-show="wepaystatus === 'N'"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End of live view-->
                <!--Draft View-->
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12" style="min-height: 750px;" ng-show="draftretailshow">
                    <div class="retail-all-txt" style="text-align:left;cursor: pointer;margin-top: 15px;" ng-click="livelistview()"><i class='fa fa-chevron-left' style="margin-left: 15px;"></i>&nbsp; back</div>
                    <div class="public_link_container">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <label class="retail-all-txt" style="font-size: 17px;font-weight: 900;">Products</label>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div style="float:right;">
                                <div class="public_link_right" ng-click="openaddproductmodal()">
                                    <img src="../../image/plus_icon.png" alt="" style="width:15px;cursor: pointer;margin-top: -3px;" />&nbsp;&nbsp;
                                    <label style="font-size: 12px;font-weight: 500;color: #009a61;cursor: pointer;">Add Product</label>
                                </div>
                                <div style="display:inline-block;">
                                    <button type="button" class="button tab-brownbg-button retail-discount-btn-text" ng-click="goretaildiscount()">Discounts</button>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <center>
                        <p style='margin-top: 30px;' ng-show="draftretailList.length == 0">No Draft Retail Product (or) Category has been added.</p>
                    </center>
                    <ul class="list-unstyled events" style="color:black;margin-top: 15px;">
                        <li ng-repeat="draft in draftretailList" style="margin-left: 10px;">
                            <form>
                                <div id="liveretaillevel{{$index}}"
                                     class="col-md-12 card col-sm-12 card col-xs-12 card">
                                    <div class="row">
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <h2 class="retailtitle" style="margin-left: 9px;">{{draft.retail_product_title}}</h2>
                                            <p ng-if="draft.retail_product_type === 'C'" style="margin-left: 9px;">Retail Category</p>
                                            <div ng-class="(draft.retail_product_type === 'C') ? 'action-container-c' : 'action-container-s'">
                                                <a ng-if="draft.retail_product_type === 'C'" class="card-icon eventactionlinks" ng-click="manageretail('S', draft.retail_product_id, draft.retail_product_title)"><i class="fa fa-1x fa-gear"></i>&nbsp;Manage Items&nbsp;</a>
                                                <a class="card-icon eventactionlinks" ng-click="editretail(draft, 'draft')"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div style="float: right;padding-right: 20px;">
                                                <div class="row">
                                                    <p class="retailsubtext" style="margin-top:10px;margin-bottom: 5px;">Quantities sold:&nbsp;{{draft.retail_purchase_count}}</p>
                                                </div>
                                                <div class="row">
                                                    <p class="retailsubtext" style="margin-bottom:10px;">Net Sales:&nbsp;{{wp_currency_symbol}}{{draft.retail_net_sales}}</p>
                                                </div>
                                                <div class="row">
                                                    <button class="card-icon eventcopy" style="float:left;" ng-click="copyRetail(draft, 'L1')">Copy</button>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <center>
                                                <p ng-show="wepaystatus === 'N'"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!--End of Draft View-->
                <!--Start of child view-->
                <div class="col-md-8 col-sm-12 col-xs-12" style="min-height: 750px;" ng-show="childretailshow">
                    <div class="retail-all-txt-noalign"
                         style="text-align:left;cursor: pointer;margin-left: 15px;margin-top: 15px;" ng-click="gobackformanageretail()"><i class='fa fa-chevron-left'></i>&nbsp; Back</div><br>
                    <div class="public_link_container" style="padding-top: 0px;">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <label class="retail-all-txt" style="font-size: 17px;font-weight: 900;">{{retailparentname}}</label>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div style="float:right;">
                                <div class="public_link_right" ng-click="openaddproductmodal()">
                                    <img src="../../image/plus_icon.png" alt="" style="width:15px;cursor: pointer;margin-top: -3px;" />&nbsp;&nbsp;
                                    <label style="font-size: 12px;font-weight: 500;color: #009a61;cursor: pointer;">Add Product</label>
                                </div>
                                <div style="display:inline-block;">
                                    <button type="button" class="button tab-brownbg-button retail-discount-btn-text" ng-click="goretaildiscount()">Discounts</button>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div style="float: right;margin-right: 15px;position: relative;top: 15px;">
                        <p ng-show="childretailList.length > 1 && !draftchildretailList" style="color: #9b9b9b;font-family: Avenir;font-size: 12px;font-weight: 300;">Drag and drop to re-order as you would like to this appear on the member’s app</p>
                    </div>
                    <center>
                        <p ng-show="childretailList.length == 0">No retail product has been added.</p>
                    </center>
                    <div class="x_content sortable">
                        <ul class="list-unstyled events" dnd-list="childretailList" style="color:black;">
                            <li ng-repeat="child in childretailList" dnd-draggable="child"
                                dnd-dragstart="dragretailCallback('start',$index,'P')"
                                dnd-moved="childretailList.splice($index, 1)" dnd-effect-allowed="move"
                                dnd-selected="models.selected = child"
                                ng-class="{'selected': models.selected === child}"
                                dnd-dragend="dragretailCallback('end',$index, 'P')">
                                <form>
                                    <div id="liveretaillevel{{$index}}"
                                         class="col-md-12 card col-sm-12 card col-xs-12 card">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-9">
                                                <h2 class="retailtitle" style="margin-left: 9px;">{{child.retail_product_title}}</h2>
                                                <div ng-class="(draft.retail_product_type === 'C') ? 'action-container-c' : 'action-container-s'">
                                                    <a class="card-icon eventactionlinks"  ng-click="editretail(child, retailfromliveordraft)"><i class="fa fa-1x fa-pencil"></i>&nbsp;Edit&nbsp;</a>
                                                    <a class="card-icon eventactionlinks" ng-click="toastretailmsg('childretail')" ngclipboard data-clipboard-text="{{child.retail_product_url}}"><i class="fa fa-1x fa-clipboard"></i>&nbsp;Copy URL&nbsp;</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                <div style="float: right;padding-right: 20px;">
                                                    <div class="row">
                                                        <p class="retailsubtext" style="margin-top:10px;margin-bottom: 5px;">Quantities sold: &nbsp;{{child.retail_purchase_count}}</p>
                                                    </div>
                                                    <div class="row">
                                                        <p class="retailsubtext" style="margin-bottom:10px;">Net Sales:&nbsp;{{wp_currency_symbol}}{{child.retail_net_sales}}</p>
                                                    </div>
                                                    <div class="row">
                                                        <button class="card-icon eventcopy" style="float:left;" ng-click="copyRetail(child, 'L2')">Copy</button>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <center>
                                                    <p ng-show="wepaystatus === 'N'"><a class="wepay-link" ng-click="showWepayAccountCreation('manageevent')"><br>**Click here to immediately enable mobile registration.</a></p>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            <!--End of child view-->
            <!--start of settings view-->
            <div class="col-md-8 col-sm-12 col-xs-12" style="min-height: 750px;" ng-show="retailsettingsview">
                <br>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="retail-all-txt">Processing cost</label>
                    <select id="procesngfee" class="form-control" ng-model="retailprocessingtype" style="border-radius:5px;">
                        <option value="1">Absorb fees</option>
                        <option value="2">Pass fees on</option>
                    </select>
                </div><br>
                <div class="col-md-12  col-sm-12 col-xs-12">
                    <label class="retail-all-txt">Sales Agreement</label>
                    <div class="x_panel">
                        <wysiwyg textarea-id="settingstextarea" ng-change="catchRetailSalesAgreement()" textarea-class="form-control" ng-paste="htmltoPlainTextretail($event)" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="retailsalesagreement" enable-bootstrap-title="true"></wysiwyg>
                    </div>
                </div><br>
                <div class="col-md-12  col-sm-12 col-xs-12">
                    <center>
                        <button id="reg_edit_one" class="btn retail-btn retail-cancel-btn retail-btn-txt" ng-click="cancelRetailAgreement()" style="color:#000000">Cancel </button>
                        <button id="reg_edit_one" class="btn retail-btn retail-green-btn retail-btn-txt" ng-click="updateRetailAgreement('waiver')" style="color:#FFF">Save</button>
                    </center>
                </div>
            </div>
            <!--End of settings vioew-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <center>
                        <div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=6736786782067"></iframe></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!--main listing view ends-->
