<!DOCTYPE html>

<!-- page content -->

<div class="modal fade" id="cropmodal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="croptitle"></label>
            </div>
            <div class="modal-body" id="cropcontent" style="font-size:16px;">
                <center><canvas width="300" height="250" id="canvasimage" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="250" crop-height="70" keep-aspect="false" crop-area-bounds="bounds"></canvas></center>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" ng-click="imgcropcancel()">Cancel</button>
                <button type="button" ng-click="imgcropped()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--Company code edit modal -->
<div class="modal fade" id="cmpnycodeeditModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cmpnycodeedittitle"></h4>
            </div>
            <div class="modal-body" id="cmpnycodeeditcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cmpnycodeeditdone" type="button" class="btn btn-default" data-dismiss="modal" ng-click="editAccept()">OK</button>
                <button id="cmpnycodeeditCancel" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- /Company code edit modal -->

<!--First time login Welcome message -->
<div style="display:none;" class="modal fade">
    <div ng-hide="welcometip" id="welcometip">
        <center><b>Welcome to your Control Panel</b></center><br/><br/><u>Maximize/enlarge your browser window to see the app preview screen</u><br/><br/>
        This is the place where you will customize, update, and manage your mobile app. This tutorial will take you through
        the simple steps of setting up your app — it will only take 10-15 minutes and you’ll be ready to go.<br/><br/>
        <div style="margin-left: 50%;"><button id="welcomeNext" type="button" class="btn btn-primary" ng-click="welcomeNext()">Let’s Get Started</button></div>
    </div> 

</div>
<!--/First time login Welcome message -->

<!--First time login Mobile Preview message -->
<div style="display:none;" class="modal fade">
    <div ng-hide="previewtip" id="previewtip">
        <center><b>Your Live App Preview</b></center><br/><br/>
        Use your mouse to click on all the buttons on this screen to see the
        app’s functionality just as you would on your phone.<br/><br/>
        We recommend for you to download the “MyStudio App” at this point — log in by using the unique studio code that you just created — so that you can also see the updates happen in real time.<br/><br/>
        <div style="margin-left: 80%;"><button id="previewNext" type="button" class="btn btn-primary" ng-click="previewNext()">Next</button></div>
    </div> 

</div>
<!--/First time login Mobile Preview message -->


<!--First time login Tooltip message -->
<div style="display:none;">
    <div ng-hide="studiotip" id="studioprofiletip">
        <!--<div id="CloseButton" ></div>-->
        <center><b>Make It Easy For Members to Contact You</b></center><br/><br/>
        By filling in your Studio Profile, you’ll make your essential information available to your members at the click of a button. From the app, they’ll be able to call, email, see your schedule, map directions to you, and more. The menu is accessible as a button on the upper left corner of the app screen.<br/><br/>
        **Note: For multi-location operators, we recommend for you to create one app account for each studio so that
        members at each location will have contact information, location specific events, and communications that will be
        relevant to them.<br/><br/><br/>
        <div style="margin-left: 30%;"><button id="studiodetailNext" type="button" class="btn btn-primary" ng-click="studiodetailNext()">Input Studio Profile Information</button></div>
    </div> 

</div>
<!--/First time login Tooltip message -->


<div class="right_col" role="main">
    <div class="row top_tiles">

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-top: -35px;margin-left: -15px;">
            <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="appTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" id="li-live" class="active-event-list"><a ng-click="members()" id="live-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                        </li>
                        <li role="presentation" id="li-draft" class="event-list-title"><a ng-click="social()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false"></a>
                        </li>
                    </ul>
                    <span class="greentab-text Apptab-text-1 greentab-text-active" ng-click="members()">Studio Profile</span>
                    <span class="greentab-text Apptab-text-2 " ng-click="social()">Social Integrations</span>
                    <div id="appTabContent" class="tab-content">
                        <div role="tabpanel" aria-labelledby="home-tab">

                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Customize and update your app below.</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <form enctype="multipart/form-data" novalidate id="home" name="home">
                                        <h4>Studio logo <small>(250px x 70px recommended)</small></h4>

                                        <div class="col-md-6 col-sm-6 col-xs-12 profile_left col-md-offset-3" style="margin-top: 5px; background: #fff; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <img ng-click="imgchanged()" id="imge" ng-src="{{croppedImage}}" class="img-responsive centeritem  logo-cover" alt="Logo" title="Change the Logo" ng-show="croppedImage">
                                            <span ng-show="maxSizeError" style="color: red"> Max file size exceeded (2000 bytes)</span>
                                            <br/>

                                            <!--Customized File upload button-->
                                            <label class="myLabel">
                                                <input onchange="angular.element(this).scope().imgchanged()" id="fileChooser" type="file"   img-cropper-fileread image="cropper.sourceImage"  name="EventPicture" ng-model="cropper.croppedImage" accept="image/png, image/jpeg, image/jpg"/>                       
                                                <!--<input id="logoimage64" ng-change="catchLogoChange()" type="file" imageinput="file" logopreview="logopreview" ng-model="LogoImage" name="LogoImage" accept="image/png, image/jpeg, image/jpg" required/>-->
                                                <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Update</span>
                                            </label>                    

                                            <a class="btn btn-default btn-md" ng-click="removelogo()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                                            <br />
                                            <input type="hidden" id="companyid" ng-model="companyid"/>
                                            <input type="hidden" id="old_logo_url" ng-model="old_logo_url"/>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h4>Studio Class Schedule <small>(we recommend pdf or picture files)</small></h4>
                                            <div class="col-md-6 col-sm-6 col-xs-12 profile_left col-md-offset-3" style="margin-top: 5px; background: #fff; padding: 5px 10px; border: 1px solid #E6E9ED">
                                                <!--<object ng-if="schedulefile" id="imgpdffile" data="{{pdfpreview}}" class="img-responsive centeritem file-cover" alt="Class Schedule File" title="Change the file"  type="image/png, image/jpeg, image/jpg, application/pdf" ng-show="pdfpreview"></object>-->
                                                <iframe id="scpreview" ng-if="schedulefile" src="{{pdfiframepreview}}" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                                                    <p>It appears your web browser doesn't support iframes.</p></iframe>
                                                <span ng-show="maxClassScheduleSizeError" style="color: red"> Max file size exceeded (2000 bytes)</span>
                                                <br/>

                                                <!--Customized File upload button-->
                                                <label class="myLabel">
                                                    <input id="fileimage64" ng-change="catchScheduleChange()" type="file" pdffileinput="file" pdfpreview="pdfpreview" ng-model="schedulefile" name="schedulefile" accept="image/png, image/jpeg, image/jpg, application/pdf" required/> 
                                                    <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Update</span>
                                                </label>
                                                <a class="btn btn-default btn-md" ng-click="removepdffile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                                                <br />
                                                <br />                    
                                            </div>   
                                        </div>                  


                                        <div id="companycode_sec" class="col-md-12 col-sm-12 col-xs-12">
                                            <h4 >Studio information <small>(this will be integrated into app menu)</small></h4>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">

                                                <label >Unique Studio App Code&nbsp;<small>(members will use this to log into the app)</small></label>

                                                <p  ng-show="CompanyCodeLabel">{{appcode}} <i class="fa fa-pencil" style="color: black; margin-left: 5px; font-size: 15px; cursor: pointer" ng-show="editshow" ng-click="editCompanycode()"></i></p>


                                                <input style="height: 35px;" class="col-md-10 col-sm-10 col-xs-10 form-control" type="text" ng-hide="CompanyCodeInput" placeholder="Unique Studio App Code (members will enter this code to log in for the first time)" ng-disabled="editcmpnycode" name="appcode" ng-model="appcode" only-letters-input required>
                                                <i class="fa fa-close fa-2x col-md-1 col-sm-1 col-xs-1" style="color: black; float:right; cursor: pointer" ng-show="editclose" ng-click="editClose()"></i>
                                                <button  ng-if="appcode" class="col-md-3 btn btn-primary savebutton-small" style="margin-left: 10px; font-size: 14px; width: 45px; padding: 6px; " ng-show="editclose" ng-click="editSave()">Save</button>
                                                <!--<i  ng-if="appcode" class="fa fa-floppy-o fa-2x col-md-1 col-sm-1 col-xs-1" style="color: black; float:right; cursor: pointer" ng-show="editclose" ng-click="editSave()"></i>-->                     

                                                <span style="color: red" ng-show="home.appcode.$touched && home.appcode.$invalid">
                                                    Unique Studio App Code is required
                                                </span>
                                            </div>

                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1" >
                                                <label>Studio Name</label>
                                                <input type="text" placeholder="Studio Name" class="form-control" name="name" ng-model="name" required>
                                                <span style="color: red" ng-show="(home.name.$touched && home.name.$invalid)">
                                                    Studio Name is required
                                                </span>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1" >
                                                <label>Studio Web page</label>
                                                <input type="text" placeholder="Studio Web page" class="form-control" name="webpage" ng-model="webpage" required>
                                                <!--                        <span style="color: red" ng-show="(home.webpage.$touched && home.webpage.$invalid && home.webpage.$error.required)">
                                                                              Studio Web page is required
                                                                        </span>-->
                                                <span style="color: red" ng-show="(home.webpage.$touched && !home.webpage.$error.required && home.webpage.$invalid)">
                                                    Entered Web page URL is not in correct format
                                                </span>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <label>Studio Address</label>
                                                <input type="text" placeholder="Street" class="form-control" name="street" ng-model="street" required>
                                                <!--                        <span style="color: red" ng-show="(home.street.$touched && home.street.$invalid)">
                                                                              street name is required
                                                                        </span>-->
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group  col-md-offset-1">
                                                <div class="col-md-4 no-padding" >
                                                    <!--<label>City Name</label>-->
                                                    <input type="text" placeholder="City" class="form-control" name="city" ng-model="city" required>
                                                    <!--                        <span style="color: red" ng-show="(home.city.$touched && home.city.$invalid)">
                                                                                  city name is required
                                                                            </span>-->
                                                </div>
                                                <div class="col-md-4">
                                                    <!--<label>State Name</label>-->
                                                    <input type="text" placeholder="State" class="form-control" name="state" ng-model="state" required>
                                                    <!--                        <span style="color: red" ng-show="(home.state.$touched && home.state.$invalid)">
                                                                                  state name is required
                                                                            </span>-->
                                                </div>
                                                <div class="col-md-4 no-padding">
                                                    <!--<label>Postal code</label>-->
                                                    <input type="text" placeholder="Postal code" class="form-control" name="postalcode" ng-model="postalcode" required>
                                                    <!--                        <span style="color: red" ng-show="(home.postalcode.$touched && home.postalcode.$invalid)">
                                                                                  Postal code is required
                                                                            </span>-->
                                                </div>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1" >
                                                <!--<label>Country Name</label>-->
                                                <input type="text" placeholder="Country" class="form-control" name="country" ng-model="country" readonly>
                                                <!--                        <span style="color: red" ng-show="(home.country.$touched && home.country.$invalid)">
                                                                              country name is required
                                                                        </span>-->
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1" >
                                                <label>Time Zone</label>
                                                <select class="form-control" id="timezone" name="selecttimezone"  ng-model="timezone">
                                                    <option disabled value="" selected="selected">select your timezone</option>
                                                    <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                                                    <option value="America/Adak">(GMT-10:00) Hawaii-Aleutian</option>
                                                    <option value="Etc/GMT+10">(GMT-10:00) Hawaii</option>
                                                    <option value="Pacific/Marquesas">(GMT-09:30) Taiohae, Marquesas Islands</option>
                                                    <option value="Pacific/Gambier">(GMT-09:00) Gambier Islands</option>
                                                    <option value="America/Anchorage">(GMT-09:00) Alaska</option>
                                                    <option value="America/Ensenada">(GMT-08:00) Tijuana, Baja California</option>
                                                    <option value="Etc/GMT+8">(GMT-08:00) Pitcairn Islands</option>
                                                    <option value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
                                                    <option value="America/Denver">(GMT-07:00) Mountain Time (US & Canada)</option>
                                                    <option value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                                    <option value="America/Dawson_Creek">(GMT-07:00) Arizona</option>
                                                    <option value="America/Belize">(GMT-06:00) Saskatchewan, Central America</option>
                                                    <option value="America/Cancun">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                                    <option value="Chile/EasterIsland">(GMT-06:00) Easter Island</option>
                                                    <option value="America/Chicago">(GMT-06:00) Central Time (US & Canada)</option>
                                                    <option value="America/New_York">(GMT-05:00) Eastern Time (US & Canada)</option>
                                                    <option value="America/Havana">(GMT-05:00) Cuba</option>
                                                    <option value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                                    <option value="America/Caracas">(GMT-04:30) Caracas</option>
                                                    <option value="America/Santiago">(GMT-04:00) Santiago</option>
                                                    <option value="America/La_Paz">(GMT-04:00) La Paz</option>
                                                    <option value="Atlantic/Stanley">(GMT-04:00) Faukland Islands</option>
                                                    <option value="America/Campo_Grande">(GMT-04:00) Brazil</option>
                                                    <option value="America/Goose_Bay">(GMT-04:00) Atlantic Time (Goose Bay)</option>
                                                    <option value="America/Glace_Bay">(GMT-04:00) Atlantic Time (Canada)</option>
                                                    <option value="America/St_Johns">(GMT-03:30) Newfoundland</option>
                                                    <option value="America/Araguaina">(GMT-03:00) UTC-3</option>
                                                    <option value="America/Montevideo">(GMT-03:00) Montevideo</option>
                                                    <option value="America/Miquelon">(GMT-03:00) Miquelon, St. Pierre</option>
                                                    <option value="America/Godthab">(GMT-03:00) Greenland</option>
                                                    <option value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires</option>
                                                    <option value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
                                                    <option value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
                                                    <option value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
                                                    <option value="Atlantic/Azores">(GMT-01:00) Azores</option>
                                                    <option value="Europe/Belfast">(GMT) Greenwich Mean Time : Belfast</option>
                                                    <option value="Europe/Dublin">(GMT) Greenwich Mean Time : Dublin</option>
                                                    <option value="Europe/Lisbon">(GMT) Greenwich Mean Time : Lisbon</option>
                                                    <option value="Europe/London">(GMT) Greenwich Mean Time : London</option>
                                                    <option value="Africa/Abidjan">(GMT) Monrovia, Reykjavik</option>
                                                    <option value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                                    <option value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                                    <option value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                                    <option value="Africa/Algiers">(GMT+01:00) West Central Africa</option>
                                                    <option value="Africa/Windhoek">(GMT+01:00) Windhoek</option>
                                                    <option value="Asia/Beirut">(GMT+02:00) Beirut</option>
                                                    <option value="Africa/Cairo">(GMT+02:00) Cairo</option>
                                                    <option value="Asia/Gaza">(GMT+02:00) Gaza</option>
                                                    <option value="Africa/Blantyre">(GMT+02:00) Harare, Pretoria</option>
                                                    <option value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
                                                    <option value="Europe/Minsk">(GMT+02:00) Minsk</option>
                                                    <option value="Asia/Damascus">(GMT+02:00) Syria</option>
                                                    <option value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                                    <option value="Africa/Addis_Ababa">(GMT+03:00) Nairobi</option>
                                                    <option value="Asia/Tehran">(GMT+03:30) Tehran</option>
                                                    <option value="Asia/Dubai">(GMT+04:00) Abu Dhabi, Muscat</option>
                                                    <option value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
                                                    <option value="Asia/Kabul">(GMT+04:30) Kabul</option>
                                                    <option value="Asia/Yekaterinburg">(GMT+05:00) Ekaterinburg</option>
                                                    <option value="Asia/Tashkent">(GMT+05:00) Tashkent</option>
                                                    <option value="Asia/Kolkata">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                                    <option value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
                                                    <option value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
                                                    <option value="Asia/Novosibirsk">(GMT+06:00) Novosibirsk</option>
                                                    <option value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
                                                    <option value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                                    <option value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                                                    <option value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                                    <option value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                                    <option value="Australia/Perth">(GMT+08:00) Perth</option>
                                                    <option value="Australia/Eucla">(GMT+08:45) Eucla</option>
                                                    <option value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                                    <option value="Asia/Seoul">(GMT+09:00) Seoul</option>
                                                    <option value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
                                                    <option value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
                                                    <option value="Australia/Darwin">(GMT+09:30) Darwin</option>
                                                    <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                                                    <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
                                                    <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                                                    <option value="Australia/Lord_Howe">(GMT+10:30) Lord Howe Island</option>
                                                    <option value="Etc/GMT-11">(GMT+11:00) Solomon Is., New Caledonia</option>
                                                    <option value="Asia/Magadan">(GMT+11:00) Magadan</option>
                                                    <option value="Pacific/Norfolk">(GMT+11:30) Norfolk Island</option>
                                                    <option value="Asia/Anadyr">(GMT+12:00) Anadyr, Kamchatka</option>
                                                    <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
                                                    <option value="Etc/GMT-12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                                    <option value="Pacific/Chatham">(GMT+12:45) Chatham Islands</option>
                                                    <option value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
                                                    <option value="Pacific/Kiritimati">(GMT+14:00) Kiritimati</option>
                                                </select>
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <label>Studio Phone Number</label>
                                                <input type="text" placeholder="Studio Phone Number" class="form-control" name="phone" ng-model="phone" required>
                                                <!--                        <span style="color: red" ng-show="(home.phone.$touched && home.phone.$invalid)">
                                                                              Studio Phone Number is required
                                                                        </span>-->
                                            </div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <label>Studio Email Address</label>
                                                <input type="text" placeholder="Studio Email Address" class="form-control" name="email" ng-model="email" required>
                                                <!--                        <span style="color: red" ng-show="(home.email.$touched && home.email.$invalid && home.email.$error.required)">
                                                                              Studio Email Address is required
                                                                        </span>-->
                                                <!--                        <span style="color: red" ng-show="(home.email.$touched && home.email.$invalid && home.email.$error.email)">
                                                                              Email Address is not in valid format 
                                                                        </span>-->
                                            </div>

                                            <div ng-show="verifyconfirm === 'N'" class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">                       
                                                <div class="col-md-10 col-sm-10 col-xs-10" style="padding-left: 0px; ">
                                                    <label>Studio Verification code</label>
                                                    <input type="text" placeholder="Studio Verification code" class="form-control" name="vcode" ng-model="vcode" required>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <button class="col-md-4 btn btn-default" style="font-size: 12px; height: 30px; width: 100%; margin-top: 25px; background-color:#DCDCDC; min-width: 90px;" ng-click="resendVerfyCode()">Resend Code</button>
                                                </div>
                                            </div>

                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <label>Studio Type</label>
                                                <select class="form-control" ng-change="studioselection()" ng-model="studiotype">
                                                    <option disabled selected value>select studio type</option>
                                                    <option ng-repeat="studiotype in studiotypes">{{studiotype}}</option>
                                                </select>
                                            </div>
                                            <div ng-show="otherstudio" class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <input type="text" placeholder="other studio type" class="form-control" name="otherstudiotype" ng-model="otherstudiotype" required>
                                            </div>                


                                            <div class="col-md-12 form-group">
                                                <div class="ln_solid"></div></div>
                                            <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                                                <button type="submit" ng-click="submit()" class="btn btn-primary centeritem btn-lg"
                                                        ng-disabled="home.appcode.$invalid || home.name.$invalid || (!home.webpage.$error.required && home.webpage.$invalid) || (!home.email.$error.required && home.email.$invalid) || maxSizeError || maxClassScheduleSizeError">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <center><div id="previewapp" class="docs-demo-device"><iframe id="profileframe" width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=1"></iframe></div> </center>

            </div> 
        </div>

    </div>
</div>
<!-- /page content -->

