<div class="modal fade" id="paymentHistory-manualcredit" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle1">Select Credit Method</h4>
            </div>
            <div class="x_panel" style="width: 100%;border: 1px solid #00ad68 ;"> 
                <div class="modal-body">
                    <select ng-model="applypaymentcredit_option" style="width: 63%;height: 44px;padding-left: 12px;">
                        <option value="MC">Manual credit</option>
                        <option value="CA">Cash</option>
                        <option value="CH">Check</option>
                    </select>
                </div>            
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="applypaymentcredit(applycredit_payment_id)" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="miscHistoryNoteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="miscHistoryNotetitle"></h4>
            </div>
            <div class="modal-body" id="miscHistoryNotecontent" style="font-size:16px;">
                <p>Enter your note here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter note here." class="form-control" ng-model="mischistorynote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="miscHistoryNotedone" type="button" class="btn btn-primary" ng-disabled="!mischistorynote" ng-click="confirmmisceditHistoryNote()">{{miscHistoryNoteButton}}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="miscrefundmodal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="miscrefundmodaltitle"></h4>
            </div>
            <div class="modal-body" id="miscrefundmodalcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  type="button" class="btn btn-primary" data-dismiss="modal" ng-click="refundmisc(refund_payment_id,refund_payment_method)">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="miscHistoryNoteDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="miscHistoryNoteDeletetitle"></h4>
            </div>
            <div class="modal-body" id="miscHistoryNoteDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  type="button" class="btn btn-primary" ng-click="confirmmisceditHistoryNote('delete')">OK</button>
            </div>
        </div>
    </div>
</div>
<!--Trial content start-->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="trialDetail" ng-app="trialDetail" ng-init="openTrialDetailsPage()" >
                                        <div class="x_panel">
                                            <div class="top-region">
                                                <a ng-click="closemiscDetailView()" style="cursor: pointer;float: left;"><i class='fa fa-chevron-left'></i>&nbsp;Back</a>
                                                <center>
                                                    <label class="ms-detail-bold-head">Buyer:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{misc_payment_history[0].buyer_name}}</span>&nbsp;&nbsp;&nbsp;
                                                <label class="ms-detail-bold-head">Details:</label>&nbsp;&nbsp;<span class="ms-detail-head">Miscellaneous Charge</span>    
                                                </center>
                                            </div>
                                            <div class="newtabgreen detail-page-tab" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="trialdetailtabs" class="nav nav-tabs bar_tabs " role="tablist">
                                                    <li ng-click="miscpayments()"  role="presentation" id="li-miscpayment" class="active-event-list">
                                                        <a ng-click="" id="trialdetails-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                                                    </li>
                                                    <li role="presentation" ng-click="miscnotes()"  id="li-miscnote" class="event-list-title">
                                                        <a  role="tab" id="trialparticipantinfo-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                </ul>
                                                <span ng-click="miscpayments()" class="greentab-text trialdetail-tabtext-1 greentab-text-active" style="left: 47px;">Payment History</span>
                                                <span ng-click="miscnotes()" class="greentab-text trialdetail-tabtext-2 " >Payment Details</span>
                                            </div>
                                                    
                                             <!--Payment History Edit Screen-->
                                            <div role="tabpanel"  aria-labelledby="home-tab" ng-show="misctabview == 'P'">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                                    <span class="msdetail-headtxt">PAYMENT HISTORY:</span><br>
                                                    <div class="inner-container">
                                                        <span ng-show="misc_payment_history.length > 0" id="trialpaymentHistory{{$index}}" class="msdetailtxt no-padding" ng-repeat="misc_pay_history in misc_payment_history">
                                                            <span>{{(misc_pay_history.payment_status ==='R' || misc_pay_history.payment_status ==='MR')? 'Refunded payment' : 'Payment'}}:&nbsp;{{wp_currency_symbol}}{{misc_pay_history.payment_amount}}&nbsp;</span>
                                                            <span ng-show="misc_pay_history.processing_fee_type == 2 && misc_pay_history.credit_method == 'CC'">(includes&nbsp;{{wp_currency_symbol}}{{misc_pay_history.processing_fee}}&nbsp;administrative fees)</span>
                                                            <span>{{(misc_pay_history.payment_status==='F' || misc_pay_history.payment_status==='N') ? 'past due on':(misc_pay_history.payment_status === 'M' && misc_pay_history.credit_method === 'MC' ?'(Manual Credit)':'paid on')}}&nbsp;</span>
                                                            <span>{{misc_pay_history.last_updt_dt| date:'MMM dd, yyyy'}}&nbsp;</span>
                                                            <span ng-show="misc_pay_history.credit_method =='CC'">({{misc_pay_history.cc_name}})</span>
                                                            <span ng-show="misc_pay_history.credit_method == 'CA'">(Cash)</span>
                                                            <span ng-show="misc_pay_history.credit_method =='CH'">(Check #{{misc_pay_history.check_number}})</span>
                                                            <a ng-show="misc_pay_history.payment_status === 'S'" class="msdetailtxt note-section" ng-click="refundconfirmation(misc_pay_history.payment_id,misc_pay_history.credit_method)">[Refund]&nbsp;</a>
                                                            <a ng-show="(misc_pay_history.payment_status === 'F' || misc_pay_history.payment_status === 'N')" class="msdetailtxt note-section" ng-click="opencreditmodal(misc_pay_history.payment_id)">[Apply Payment Credit]&nbsp;</a>
                                                            <a ng-show="(misc_pay_history.payment_status === 'F' || misc_pay_history.payment_status === 'N') && misc_pay_history.credit_method === 'CC'" class="msdetailtxt note-section" ng-click="rerunmiscpayment(misc_pay_history.payment_id)">[Rerun Payment]&nbsp;</a>
                                                            <a ng-show="misc_pay_history.payment_status === 'M' && (misc_pay_history.credit_method === 'CA' || misc_pay_history.credit_method === 'CH')" class="msdetailtxt note-section" ng-click="refundconfirmation(misc_pay_history.payment_id,misc_pay_history.credit_method)">[Refund]</a>&nbsp;<br>
                                                        </span>
                                                    </div>
                                                </div>   
                                            </div>
                                             <div role="tabpanel" ng-show="misctabview == 'N'"  aria-labelledby="home-tab">                                                      
                                                <span class="msdetail-headtxt">PAYMENT DETAILS :</span><span>&nbsp;<a  class="msdetailtxt note-section" ng-click="editmiscNote('', '', 'add')">[add note]</a></span>
                                                <div class="inner-container">
                                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-repeat="misc_notes in misc_notes">
                                                        <span class="msdetailtxt no-padding">{{misc_notes.activity_date| date:'MMM dd, yyyy'}}:</span>
                                                        <span  class="msdetailtxt no-padding">&nbsp;&nbsp;{{misc_notes.activity_text}}</span><span>&nbsp;<a class="msdetailtxt note-section" ng-click="editmiscNote($index, misc_notes.misc_note_id, 'edit')">[edit]</a>&nbsp;<a class="msdetailtxt note-section" ng-click="editmiscNote($index, misc_notes.misc_note_id, 'delete')">[delete]</a><br></span>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
