<style>
    .stripe-payout-tab-list ul{
        display: flex;
        list-style: none;
        padding: 0;
        /*margin-left: 5px;*/
    }
    .stripe-payout-tab-list ul li{
        padding: 5px 5px 10px 5px;
        color:#9b9b9b;
        font-family: Avenir;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        letter-spacing: 1.06px;
    }
    .stripe-payout-tab-list ul li:nth-child(1){
        color: #000000;
        font-size: 16px;
        cursor: auto;
    }
    .stripe-payout-tab-list ul li:nth-child(3){
        margin-top: -1px;
        cursor: auto;
    }
    .srtipe-payout-txt{
        font-family: Avenir;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.02px;
        color: #000000;
    }
    .stripe-payouts-div div.row{
        padding: 5px;
    }
    .stripe-payouts-div div.row:nth-child(2){
        margin-top: -15px;
    }
    .stripe-payouts-div div.row:nth-child(3){
        font-size: 13px;
        margin-top: 7px;
    }
    .stripe-payouts-div div.row:nth-child(2) label{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1.02px;
        color: #9b9b9b;
    }
    .stripe-payouts-div{
        margin-left: 30px;
        padding-bottom: 30px;
    }
    .stripe-recent-payouts-div, .stripe-accounts-div{
        margin-left: 35px;
        padding-bottom: 30px;
    }
    .payouts-active-tab{
        border-bottom:2px solid #009a61;
        color: #009a61 !important;
    }
    .stripe-accounts-div{
        margin-left: 10px;
    }
    .stripe-accounts-div div{
        padding: 5px;
    }
    .stripe-accounts-div div div.row{
        font-family: Avenir;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.92px;
        color: #000000;
    }
    .payout-circle{
        background: #009a61;
        border-radius: 10px;
        min-width: 36px !important;
        font-size: 10px;
    }
    .payout-tick{
        color: #fff;
        font-size: 9px;
        font-weight: 300;
    }
    .table-bordered td{
      border: none !important;      
    }
    .stripe_payout_table th{
        border-right: 1px solid #f9f9f9 !important;      
    }
    
    .greybg{
        font-size: 8px;
        background: #E6E9ED;
        border-radius: 20px;
/*        margin-left: 27%;
        width: 86px;*/
        /*color:grey;*/
        /*height: 20px;*/
        /*padding-top: 2px;*/
        font-weight: 700;
        padding: 2px 5px 2px 5px;
        text-align: center;
        text-transform: uppercase;
        color:#000000;
        opacity: 0.72;
    }
/*    .greenbg{
        font-size: 8px;
        background: #97ce82;
        border-radius: 20px;
        margin-left: 27%;
        width: 70px;
        height: 20px;
        padding-top: 1px;
        font-weight: 300;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
    }*/
    .stripe-payouts-bal-div{
        border: solid 1px #eaeef1;
        background-color: #f9f9f9;
        max-width: 550px;
        padding: 10px 20px 0px 10px;
        margin-left: 0;
    }
    
    .stripe-personal-info-header{
        background-color: #f9f9f9;
        border-left: 1px solid #eaeef1;
        border-right: 1px solid #eaeef1; 
        width: 100%;
    }
    .stripe-btn{
        float: right;
        border-radius: 10px;
        border: 1px solid #c6cbce;
        background: white;
        font-size: 12px;
    }
    
    
    
</style>
<!-- STRIPE ONBOARDING REFRESH MODAL -->
<!--<div class="modal fade" id="stripePayoutRefresh-Modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
            <div class="modal-header">
                <h4 class="modal-title srtipe-payout-txt" id="stripePayoutRefresh-title">Message</h4>
            </div>
            <div class="modal-body" id="stripePayoutRefresh-content">
                <h4 class="modal-title srtipe-payout-txt">Kindly click ok to refresh your information that are updated on your Stripe account.</h4>
            </div>
            <div class="modal-footer srtipe-payout-txt" style="border-top:none;">
                <button id="done" type="button" class="btn btn-success" ng-click="viewPayout()" data-dismiss="modal" style="background-color: #009a61;min-width: 70px;">Ok</button>
            </div>
        </div>
    </div>
</div>-->
<!-- STRIPE BUSINESS DETAILS UPDATE MODAL -->

<!-- STRIPE ONBOARDING REDIRECTION MODAL -->
<div class="modal fade" id="stripeRedirection-Modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" ng-style="{'max-width' : (!redirect_to_stripecreation) ? '450px' :'700px'}" style="padding: 10px;">
            <div ng-if="redirect_to_stripecreation" class="modal-header">
                <h4 class="modal-title srtipe-payout-txt" id="stripeRedirection-title">Message</h4>
            </div>
            <div class="modal-body" id="stripeRedirection-content">
                <h4 ng-if="redirect_to_stripecreation" class="modal-title srtipe-payout-txt" >Please enable mobile payments to view this details.</h4>
                <h4 ng-if="!redirect_to_stripecreation" class="modal-title srtipe-payout-txt">Click ok to update your information into your Stripe account</h4>
            </div>
            <div class="modal-footer srtipe-payout-txt" style="border-top:none;">
                <button ng-if="redirect_to_stripecreation" style="background-color:#009a61;color:#fff;" id="done" type="button" class="btn btn-default" ng-click="redirectToStripecreation()" data-dismiss="modal">Enable Mobile Payment</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button ng-if="!redirect_to_stripecreation" id="done" type="button" class="btn btn-success" ng-click="" data-dismiss="modal" style="background-color: #009a61;min-width: 70px;">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- STRIPE BUSINESS DETAILS UPDATE MODAL -->
<!-- BANK ACCOUNT UPDATE MODAL -->
<div class="modal fade" id="BankUpdateAccountModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearStripeAccountData()">&times;</button>
                <h4 class="modal-title srtipe-payout-txt" id="BankUpdateAccountModaltitle">Payout Account Update</h4>
            </div>
            <div class="modal-body" id="BankUpdateAccountModalcontent">
                <select id="stripe_payment_method" class="form-control srtipe-payout-txt" ng-model="stripe_payment_method" name='stripe_payment_method'>
                    <option disabled selected value>Choose payout method</option>
                    <option value="ACH">Bank account (ACH)</option>
                    <option value="CC">Debit card</option>
                </select>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div ng-show="stripe_payment_method ==='CC'" class="stripe-form srtipe-payout-txt">
                        <label>Enter your credit card information<span style="color:red;">*</span></label>
                        <div id="stripe-card-element" class="form-control"></div>
                        <!--Used to display form errors--> 
                        <div style="color: red" id="stripe-card-errors" role="alert"></div>
                    </div>
                    <div ng-show="stripe_payment_method === 'ACH'" class="srtipe-payout-txt">
                        <label>Enter your ACH information</label><br>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 10px;font-size: 14px;">
                            <label  for="stripe_ach_route_no">Bank routing number<span style="color:red;">*</span></label>
                            <input type="text" id="stripe_ach_route_no" name="stripe_ach_route_no" class="form-control" ng-model="stripe_ach_route_no" valid-number>
                            <label  for="stripe_ach_acc_number">Bank account number<span style="color:red;">*</span></label>
                            <input type="text" id="stripe_ach_acc_number-number" ng-model="stripe_ach_acc_number" name="stripe_ach_acc_number" class="form-control" valid-text>
                            <label  for="stripe_ach_holder_name">Holder name<span style="color:red;">*</span></label>
                            <input type="text" id="stripe_ach_holder_name" ng-model="stripe_ach_holder_name" name="stripe_ach_holder_name" class="form-control" valid-name>
                            <label>Holder type<span style="color:red;">*</span></label>
                            <select id="stripe_ach_acc_type" class="form-control" name="stripe_ach_acc_type" ng-model="stripe_ach_acc_type" >  
                                <option disabled selected value>Holder type</option>
                                <option value="I">Individual</option>
                                <option value="C">Company</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer srtipe-payout-txt" style="border-top:none;">
                <button id="done" type="button" ng-show="stripe_payment_method ==='CC'" class="btn btn-success" ng-click="createStripeCardtoken()" style="background-color: #009a61;">Update</button>
                <button id="done" type="button" ng-show="stripe_payment_method === 'ACH'" class="btn btn-success" ng-disabled="!stripe_ach_route_no || !stripe_ach_acc_number || !stripe_ach_holder_name || !stripe_ach_acc_type" ng-click="updateStripePayoutMethodInDB('B','')" style="background-color: #009a61;">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- BANK ACCOUNT UPDATE MODAL -->
<!-- INDIVIDUAL EMAIL MESSAGE MODAL -->
<div class="modal fade" id="payemailmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearPushEmailData()">&times;</button>
                <h4 class="modal-title" id="payemailmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="payemailmessagecontcontent" style="font-size:16px;">
                <p>Subject:</p>
                <input type="text" placeholder="Enter subject here." class="form-control" ng-model="grpemailsubjectdata">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <wysiwyg textarea-id="message_content_2" textarea-class="form-control"  textarea-height="180px" textarea-name="textareaQuestion_2" textarea-required ng-model="grpemailmsgdata" enable-bootstrap-title="true"></wysiwyg>
                </div>
                <span>{{attachfile}}</span><br/>
                <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <label class="myLabel">
                        <input id="payfileindividualattach" type="file" attachpayfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" accept="image/png, image/jpeg, image/jpg, application/pdf, application/msword" required/> 
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Attach File</span>
                    </label>
                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                    <br><br>
                </div>  
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-primary" ng-disabled="!grpemailmsgdata || !grpemailsubjectdata || maxEmailAttachmentSizeError" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- INDIVIDUAL EMAIL MESSAGE MODAL -->

<!-- INDIVIDUAL PUSH MESSAGE MODAL -->
<div class="modal fade" id="paypushmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearPushEmailData()">&times;</button>
                <h4 class="modal-title" id="paypushmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="paypushemessagecontcontent" style="font-size:16px; height: 220px;">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter notification here. Be effective, communicate in 140 characters or less." class="form-control" ng-model="grppushmsgdata"></textarea>
                </div>
                <div class="checkbox" style="float: right">
                    <label>
                        <input type="checkbox" id="also_send_email" style="cursor: pointer;" ng-model="also_send_email">Also send email
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpdone" type="button" class="btn btn-primary" ng-disabled="!grppushmsgdata" ng-click="sendGroupEmailPush(message_type)">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- INDIVIDUAL PUSH MESSAGE MODAL -->
<div class="modal fade" id="emailerrormessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "unblockbounceemail()">unblock</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Push message modal -->
<div class="modal fade" id="pushmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pushmessagetitle"></h4>
            </div>
            <div class="modal-body" id="pushmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendsubscriptioninviteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Message</h4>
            </div>
            <div class="modal-body"  style="font-size:16px;">User unsubscribed
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" ng-click="sendGroupEmailPush()">Send Subscribe Invite</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- /Push message modal -->

<!-- GROUP CSV FILE DOWNLOAD MODAL -->
<div class="modal fade" id="grpcsvdownloadModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="grpcsvdownloadtitle"></h4>
            </div>
            <div class="modal-body" id="grpcsvdownloadcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="grpcsvdownloaddone" type="button" class="btn btn-default" ng-click="exportPaymentDetails(currentTab);" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP CSV FILE DOWNLOAD MODAL -->


<!-- CUSTOM MESSAGE MODAL -->
<div class="modal fade" id="cusmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="cusmessagetitle"></h4>
            </div>
            <div class="modal-body" id="cusmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- CUSTOM MESSAGE MODAL -->

<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;margin-top: -35px;">
            <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="paymentTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" id="li-dashboard" class="event-list-title">
                        <a ng-click="dashboard()" id="dash-tab" role="tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                    <li role="presentation" id="li-payment" class="active-event-list">
                        <a ng-click="payment()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="true"></a>
                    </li>
                    <li role="presentation" id="li-appusers" class="event-list-title">
                        <a ng-click="AppUsers()" role="tab" id="past-tab" data-toggle="tab" aria-expanded="false"></a>
                    </li>
                </ul>
                <span class="greentab-text hometab-text-1" ng-click="dashboard()">Dashboard</span>
                <span class="greentab-text hometab-text-2 greentab-text-active" ng-click="payment()">Payments</span>
                <span class="greentab-text hometab-text-3" ng-click="AppUsers()">All Customers</span>
                <div id="paymentTabContent" class="tab-content">
                    <div role="tabpanel" aria-labelledby="home-tab">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                            <!--   Payment Layout-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="paymentview">
                                <div class="x_panel no-padding">
                                    <div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
                                        <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                                            <ul id="paymentsubTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                <li role="presentation" id="li-approved" class="active-event-list" style="width: 140px !important;"><a ng-click="Approvedlistview()" id="approved-tab" role="tab" data-toggle="tab" aria-expanded="true">Payment History</a>
                                                </li>
                                                <li role="presentation" id="li-past" class="event-list-title"><a ng-click="PastDuelistview()"  role="tab" id="past-tab" data-toggle="tab" aria-expanded="false">Past Due</a>
                                                </li>
                                                <li role="presentation" id="li-upcoming" class="event-list-title"><a ng-click="Upcominglistview()"  role="tab" id="upcoming-tab" data-toggle="tab" aria-expanded="false">Upcoming</a>
                                                </li>
                                                <li ng-show="company_country === 'AU' || company_country === 'australia' || company_country === 'Australia'" role="presentation" id="li-viewpayouts" class="event-list-title"><a ng-click="viewPayout()"  role="tab" id="payout-tab" data-toggle="tab" aria-expanded="false">View Payouts</a>
                                                </li>
                                            </ul>
                                            <div ng-show="payment_tab_view" id="paymentsubTabContent" class="tab-content" style="padding: 10px 0 0 15px;">
                                                <div role="tabpanel" ng-if="Approvedlistshow" aria-labelledby="home-tab">
                                                    <div  class="x_content dt-wrap-div no-padding">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select  id="paymentoption" class="form-control" ng-model="approvepaymentcategory" ng-change="dayselection('A')" >
                                                                    <option value="A"selected="">All Categories</option>
                                                                    <option value="M">Memberships</option>
                                                                    <option value="E">Events</option>
                                                                    <option value="T">Trials</option>
                                                                    <option value="R">Retail</option>
                                                                    <option value="C">Miscellaneous Charges</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select id="paymentdate" class="form-control" ng-model="approvepaymentdays" ng-change="dayselection('A')" >
                                                                    <option value="1" selected >Last 30 Days</option>
                                                                    <option value="2" >Last 60 Days</option>
                                                                    <option value="3" >Last 90 Days</option>
                                                                    <option value="4" >Date Range</option>                                                
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="aeventstartdate" ng-disabled="approvepaymentdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="approvestartdate" ng-model="approvestartdate" ng-change="catchAStartDate()" >
                                                            </div>

                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="aeventenddate" ng-disabled="approvepaymentdays !== '4' || approvestartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="approveenddate" ng-model="approveenddate" ng-change="catchAEndDate()" >
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <button type="button"  ng-disabled="(approvestartdate === '' || approveenddate === '')"  ng-click="filterByDate('A', '4', approvepaymentcategory)"  class="btn btn-default" id="filter" name="filter">filter</button>
                                                                <button type="button"  ng-click="clearfilter('A')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                            </div>
                                                        </div> 
                                                        <div class="action-icons-top" style="margin-left: -13px;">
                                                            <span  class="action-icons-top-format"><b>Credit Card Net Total: {{wp_currency_symbol}}{{paytotal| number:2}}</b></span>
                                                            <span class="action-icons-top-format"><b>Cash Total: {{wp_currency_symbol}}{{paycash| number:2}}</b></span>
                                                            <span class="action-icons-top-format"><b>Check Total: {{wp_currency_symbol}}{{paycheck| number:2}}</b></span>
                                                            <span class="action-icons-top-format" id="paymanual"><b>Manual Credit: {{wp_currency_symbol}}{{paymanual| number:2}}</b></span>
                                                            <a class="action-icons-top-format" ng-click="openCsvModal('A')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                        </div>
                                                        <table datatable=""   dt-options="dtOptions" dt-columns="dtColumns"    id="DataTables_Table_4" dt-instance="dtInstance" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                    </div>
                                                </div>

                                                <!--past-->
                                                <div role="tabpanel" ng-if="PastDuelistshow" aria-labelledby="profile-tab">
                                                    <div  class="x_content dt-wrap-div no-padding">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select  id="paymentoption" class="form-control" ng-model="pastpaymentcategory" ng-change="dayselection('P')">
                                                                    <option value="A"selected="">All Categories</option>
                                                                    <option value="M">Memberships</option>
                                                                    <option value="E">Events</option>
                                                                    <option value="T">Trials</option>
                                                                    <option value="R">Retail</option>
                                                                    <option value="C">Miscellaneous Charges</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select id="paymentdate"  class="form-control" ng-model="pastpaymentdays" ng-change="dayselection('P')">
                                                                    <option value="1">Last 30 Days</option>
                                                                    <option value="2">Last 60 Days</option>
                                                                    <option value="3">Last 90 Days</option>
                                                                    <option value="4">Date Range</option>
                                                                    <option value="5" selected="">All</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="peventstartdate" ng-disabled="pastpaymentdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="paststartdate" ng-model="paststartdate" ng-change="catchPStartDate()" >
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="peventenddate" ng-disabled="pastpaymentdays !== '4' || paststartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="pastenddate" ng-model="pastenddate" ng-change="catchPEndDate()">
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <button type="button" ng-disabled="(paststartdate === '' || pastenddate === '')"  ng-click="filterByDate('P', '4', pastpaymentcategory)"  class="btn btn-default" id="filter" name="filter">filter</button>
                                                                <button type="button"  ng-click="clearfilter('P')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                            </div>
                                                        </div>
                                                        <div class="action-icons-top" style="margin-left: -13px;">
                                                            <span  class="action-icons-top-format"><b>Gross Total: {{wp_currency_symbol}}{{paytotal| number:2}}</b></span>
                                                            <a class="action-icons-top-format" ng-click="openCsvModal('P')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                        </div>
                                                        <table datatable=""   dt-options="dtOptions1" dt-columns="dtColumns1"    id="DataTables_Table_5" dt-instance="dtInstance" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                    </div>
                                                </div>

                                                <!--upcoming-->
                                                <div role="tabpanel" ng-if="Upcominglistshow" aria-labelledby="profile-tab">
                                                    <div  class="x_content dt-wrap-div no-padding">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select  id="paymentoption" class="form-control" ng-model="upcomingpaymentcategory" ng-change="dayselection('U')">
                                                                    <option value="A"selected="">All Categories</option>
                                                                    <option value="M">Memberships</option>
                                                                    <option value="E">Events</option>
                                                                    <option value="T">Trials</option>
                                                                    <option value="R">Retail</option>
                                                                    <option value="C">Miscellaneous Charges</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <select id="paymentdate"  class="form-control" ng-model="upcomingpaymentdays" ng-change="dayselection('U')">
                                                                    <option value="1"  selected="">Next 30 Days</option>
                                                                    <option value="2">Next 60 Days</option>
                                                                    <option value="3">Next 90 Days</option>
                                                                    <option value="4">Date Range</option>
                                                                    <option value="5">All</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="ueventstartdate" ng-disabled="upcomingpaymentdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date"  name="paymentdate" ng-model="upcomingstartdate" ng-change="catchUStartDate()">
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                                <input id="ueventenddate" ng-disabled="upcomingpaymentdays !== '4' || upcomingstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="paymentenddate" ng-model="upcomingenddate" ng-change="catchUEndDate()">
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <button type="button" ng-disabled="(upcomingstartdate === '' || upcomingenddate === '')" ng-click=" filterByDate('U', '4', upcomingpaymentcategory)"  class="btn btn-default" id="filter" name="filter">filter</button>
                                                                <button type="button"  ng-click="clearfilter('U')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                            </div>
                                                        </div>

                                                        <div class="action-icons-top" style="margin-left: -13px;">
                                                            <span  class="action-icons-top-format"><b>Gross Total: {{wp_currency_symbol}}{{paytotal| number:2}}</b></span>
                                                            <span ng-show="!Upcoming_total_final" class="action-icons-top-format"><b>Gross Total: {{wp_currency_symbol}}{{0}}</b></span>
                                                            <a class="action-icons-top-format" ng-click="openCsvModal('U')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                        </div>
                                                        <table datatable=""   dt-options="dtOptions2" dt-columns="dtColumns2"    id="DataTables_Table_6" dt-instance="dtInstance" class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Stripe Payout Tab-->
                                            <div ng-show="payout_view" id="viewpayous" class="col-lg-10 col-md-11 col-sm-12 col-xs-12" style="border: solid 1px #eaeef1;margin: 15px;">
                                                <div role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="x_content no-padding">
                                                        <div class="stripe-payout-tab-list" class="row">
                                                            <ul>
                                                                <li><img src="../../image/stripe_icon.png" alt="stripe_icon" style="width: 17px;"/></li>
                                                                <li id="li-payouts" class="payouts-active-tab" ng-click="stripePayouts()">Payouts</li>
                                                                <li style="font-size: 22px;">|</li>
                                                                <li id="li-account" class="" ng-click="stripeAccount()"> Account</li>
                                                            </ul>
                                                        </div>
                                                        <div id="stripepayouts" class="x_content" ng-show="stripepayouts_view" style="margin-top: 5px;">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 stripe-payouts-div stripe-payouts-bal-div">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0;">
                                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                                        <label class="srtipe-payout-txt">Available balance for payout  ${{stripe_available_balance ? stripe_available_balance : '0.00'}}</label><br>
                                                                        <label class="srtipe-payout-txt">Pending charges  ${{stripe_pending_balance ? stripe_pending_balance : '0.00'}}</label>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="srtipe-payout-txt" style="margin: 60px 0px 0px 18px;position: absolute;">You’ll receive payouts {{stripe_payout_time_period?stripe_payout_time_period:'daily' }}</label>
                                                                </div>
                                                                <div class="row" ng-hide="external_accounts.length > 0" style="margin: 10px;padding: 15px 5px 5px 5px;">
                                                                    <img src="../../image/stripe_icon.png" alt="stripe_icon" style="width: 16px;margin-top: -5px;"/>&nbsp;
                                                                    <label class="srtipe-payout-txt" style="color: #009a61;cursor: pointer;font-weight: 500;font-size: 12px;" ng-click="openAccUpdateModal()">Add Bank Account for Payout</label> 
                                                                </div>
                                                                <div class="row" ng-show="external_accounts.length > 0" ng-repeat="e in external_accounts" style="margin: 10px;padding: 15px 5px 5px 5px;">
                                                                    <img src="../../image/stripe_icon.png" alt="stripe_icon" style="width: 16px;margin-top: -5px;"/>&nbsp;
                                                                    <label class="srtipe-payout-txt" style="font-size: 12px;" ng-show="{{e.card_brand !== ''}}">Payout Card Account</label>&nbsp;
                                                                    <label class="srtipe-payout-txt" style="font-size: 12px;margin: 0px 5px 0px -5px;" ng-show="{{e.bank_name !== ''}}">Payout Bank Account</label>&nbsp;
                                                                    <label class="srtipe-payout-txt" style="font-size: 12px;" ng-show="{{e.last4_digit !== ''}}"><span style="font-size: 25px;position: absolute;margin-top: -15px;margin-left: -5px;">....</span><span style="margin-left: 30px;">{{e.last4_digit}}</span></label>&nbsp;&nbsp;
                                                                    <img src="../../image/new_edit_green_icon.png" style="width: 12px;cursor: pointer;" ng-click="openAccUpdateModal()"/>
                                                                    <label class="srtipe-payout-txt" style="color: #009a61;cursor: pointer;font-weight: 500;font-size: 12px;" ng-click="openAccUpdateModal()">Edit</label> 
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 stripe-recent-payouts-div" style="margin: 30px 0 0 5px;">
                                                                <div class="row">
                                                                    <label class="srtipe-payout-txt">Payout Transactions</label>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" style="margin: 5px 0px 0px -22px;">
                                                                    <table class="table table-striped table-bordered srtipe-payout-txt" style="width: 95%;border: 1px solid #eaeef1;">
                                                                            <thead style="border-bottom: 1px solid #eaeef1;font-size: 13px;">
                                                                                <tr class="stripe_payout_table" style="background-color: #f9f9f9;">
                                                                                    <th style="border-left: 1px solid #eaeef1;padding-right: 0px;">Amount</th> 
                                                                                    <th></th>
                                                                                    <th></th>
                                                                                    <th>Date</th>
                                                                                    <th>Bank/Card</th>
                                                                                    <th style="border-right: 1px solid #eaeef1 !important;">Description</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody style="font-size: 11px;">
                                                                                <tr ng-hide="payout_list.length > 0" style="background-color: white;">
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td>No Payment details available</td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr ng-show="payout_list.length > 0" ng-repeat="l in payout_list">                                                                                    
                                                                                    <td style="padding-right: 0px;">${{l.amount}}</td>
                                                                                    <td style="text-transform:uppercase;padding: 0px;">{{l.currency}}</td>
                                                                                    <td style="padding: 0px;"><span class="greybg" ng-Style="{'background-color':(l.status !== 'failed')? ' #009a61' : '#e6e9ed' }">{{l.status}}</span></td>
                                                                                    <td style="padding: 0px;">{{l.created}}</td>
                                                                                    <td style="padding: 0px;">{{l.account_name}}</td>
                                                                                    <td style="padding: 0px;">Mystudio payout</td>
                                                                                </tr>
                                                                            </tbody>
                                                                          </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <div id="stripeaccount" class="stripe-accounts-div" ng-show="stripeaccount_view">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="row stripe-personal-info-header" style="border-top: 1px solid #eaeef1;">
                                                                    <label class="srtipe-payout-txt" style="font-weight:800;font-size: 14px;">Personal details</label>
                                                                </div>
                                                                <div class="row" style="border: 1px solid #eaeef1;width: 100%;"> 
                                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                                        <img src="../../image/new_membership.png" alt="new_membership" style="width: 11px;margin-top: -5px;"/>&nbsp;
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9" style="margin-left: -5%;">
                                                                        <div class="row" style="color:#000000;margin-top: -4px;font-weight:500;">
                                                                            <label style="font-weight:500;" ng-show="!stripe_name">Update your personal details</label>
                                                                            <label style="font-weight:500;" ng-show="stripe_name">{{stripe_name}}</label>
                                                                            <span ng-show="stripe_requirement_status === 'N'" class="payout-circle"><i class="fa fa-check payout-tick" aria-hidden="true"></i></span>
                                                                        </div>
                                                                        <div ng-show="stripe_relationship_status" class="row" style="color: #9b9b9b;margin-top: -12px;font-size: 11px;">
                                                                            <label>{{stripe_relationship_status}}</label>
                                                                        </div>
                                                                        <div ng-show="stripe_requirement_status === 'Y'" class="row" style="color: #bb8622;margin-top: -12px;font-size: 13px;">
                                                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                            <label>Information required soon</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                                        <button class="btn stripe-btn" style="font-size: 10px;" ng-click="updateStripePersonalDetails()">Update</button>
                                                                    </div>
                                                                </div>
                                                            <!--</div>-->
                                                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                                                <div class="row stripe-personal-info-header">
                                                                    <label class="srtipe-payout-txt" style="font-weight:800;font-size: 14px;">Business details</label>
                                                                </div>
                                                                <div class="row" style="border: 1px solid #eaeef1;width: 100%;">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                                        <img src="../../image/store_icon.png" alt="stripe_business" style="width: 11px;margin-top: -5px;"/>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9" style="margin-left: -5%;margin-top: -5px;">
                                                                        <div class="row" ng-show="!stripe_business_name">
                                                                            <label style="color:#000000;font-weight:500;">Update your business details</label>
                                                                        </div>
                                                                        <div class="row" ng-show="stripe_business_name">
                                                                            <label style="color:#000000;font-weight:500;">{{stripe_business_name}}</label>
                                                                            <span class="payout-circle"><i class="fa fa-check payout-tick" aria-hidden="true"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                                        <button class="btn stripe-btn" ng-click="updateStripePersonalDetails()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    </div>
                                                                </div>
                                                            <!--</div>-->
                                                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                                                                <div class="row stripe-personal-info-header">
                                                                    <label class="srtipe-payout-txt" style="font-weight:800;font-size: 14px;">Payout details</label>
                                                                </div>
                                                                <div class="row" ng-if="external_accounts.length <= 0" style="border: 1px solid #eaeef1;width: 100%;">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                                        <img src="../../image/stripe_icon.png" alt="stripe_icon" style="width: 11px;margin-top: -5px;"/>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9" style="margin-left: -5%;margin-top: -4px;">
                                                                        <div class="row">                                                                           
                                                                            <label style="color:#000000;font-weight:500;">Update your payout details</label> 
                                                                        </div>
                                                                    </div>                                                                    
                                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                                        <button class="btn stripe-btn" ng-click="openAccUpdateModal()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="row" ng-repeat="e in external_accounts" ng-show="external_accounts.length > 0" style="border: 1px solid #eaeef1;width: 100%;">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                                        <img src="../../image/stripe_icon.png" alt="stripe_icon" style="width: 11px;margin-top: -5px;"/>
                                                                    </div>
                                                                    <div class="col-lg-9 col-md-9 col-sm-9" style="margin-left: -5%;margin-top: -5px;">
                                                                        <div class="row" style="color:#000000;font-weight:500;">
                                                                            <label style="font-weight:500;" ng-if="e.bank_name">{{e.bank_name}}</label>
                                                                            <label style="font-weight:500;" ng-if="e.card_brand">{{e.card_brand}}</label>
                                                                            <span class="greybg" style="text-transform:uppercase;">{{e.currency}}</span>
                                                                            <span ng-if="e.last4_digit" class="payout-circle"><i class="fa fa-check payout-tick" aria-hidden="true"></i></span>
                                                                        </div>
                                                                        <div ng-if="e.last4_digit" class="row" style="color: #9b9b9b;margin-top: -20px;font-size: 11px;">
                                                                            <img ng-if="e.routing_number" src="../../image/routing.png" alt="routing_icon" style="width: 8px;height:8px;margin-top: -1px;"/>
                                                                            <label ng-if="e.routing_number">{{e.routing_number}}&nbsp;&nbsp;</label>
                                                                            <img ng-if="e.last4_digit" src="../../image/routing.png" alt="routing_icon" style="width: 8px;height:8px;margin-top: -1px;"/>
                                                                            <label><span style="font-size: 20px;">....</span>{{e.last4_digit}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                                        <button class="btn stripe-btn" ng-click="openAccUpdateModal()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
