<style>
    .postext{
        font-family: Avenir;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #000000;
    }
    .gridheader{
        height: 36px;
        border: solid 1px #dfe3e9;
        background-color: #f4f6f8;
        padding-top: 6px;
    }
    .gridbody{
        height: 46px;
        border: solid 1px #dfe3e9;
        background-color: white;
        font-size: 13px;
        color: #627280;
        /*padding-top: 6px;*/
    }
    .gridfont{
        font-size: 15px;
        font-weight: 500;
    }
    .tick{
        color: #007aff;font-size: 20px;padding-top: 10px;
    }
    /* The containerbox */
.containerbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border:1px solid;
  margin-top: 10px;
  margin-left: 40%;
}

/* On mouse-over, add a grey background color */
.containerbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerbox input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerbox .checkmark:after {
  left: 8px;
  top: 3px;
  width: 7px;
  height: 13px;
  border: solid #007aff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.savebtn{
    width: 150px;
    background: #d3d2d2;
    color: white;
    border-radius: 5px;height: 38px;
}
.customarrow{
    margin-top: -2px;position: absolute;color: black;font-size: 20px;
}
input:checked + .slider::before{
    transform: translateX(27px);
}
.pos-setting-icon{
    width: 17px;
    margin-top: -3px;
     margin-left: -20px;
}
.pos-url-box{
    text-align:left;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: white !important;
}
.poscancelbtn{
    border-radius:5px;
    background-color:#fff;
    width:150px;
    border:1px solid #00000061;
    font-size: 14px;
}
.possavebtn{
    background-color:#009a61;
    width:150px;
    color:#fff;
    margin-left:10px;
    font-size: 14px;
}
.postextarea{
    margin: 0px !important;
    resize: none !important;
    height: 180px;
    width: 98% !important;
}
.possavebtn:hover{
    color:#fff;
}
.savebtn:hover{
    color:#fff;
}
.pos-learn-more{
   float:right;cursor:pointer;color:#108a5d;font-weight: 700;margin-right: 18px; 
}
.dropdown-menu{
    top:-46%;
    left:-4%;
    min-width: 267px;border: 1px solid #4a4a4a;;border-radius: 0px;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #4a4a4a;
    padding:15px;
}
.listui{
    font-size: 15px !important;
    color: #4a4a4a !important;
    padding-left: 0px !important;
}

.posswitchtext{
    position: absolute;margin-top: 2px;margin-left: 7px;color: black;
}

@media only screen and (max-width: 1327px) {
    #postablehead .no1,.no2,.no3,.no4,.no5,.no6{
        height: 54px;
    }
    #postablehead .no2,.no3,.no4{
        padding-top: 18px;
    }
    .dropdown-menu{
        left: -18%;
    }
}
@media only screen and (max-width: 1666px) {
    #mischead{
        padding-top: 6px !important;
    }
}
</style>
<!--save success modal-->
<div class="modal fade custom-modal" id="savepos-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p id="saveposmsg">Settings updated successfully</p>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!--save success-->
<div class="modal fade custom-modal" id="miscAgreement" role="dialog">
    <div class="modal-dialog" style="min-width:700px;margin-top: 5%;">
        <div class="modal-content">
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 17px 20px 0px 20px;">
                <label class="postext" style="font-size: 17px;">Point of Sale Miscellaneous Agreement</label>
                <div class="x_panel">
                    <wysiwyg textarea-id="postextarea" textarea-class="form-control postextarea"  ng-change="catcheventDesc()" ng-paste="htmltoPlainText($event)" textarea-height="180px" textarea-name="textareaQuestion" textarea-required ng-model="misc_agreement" enable-bootstrap-title="true"></wysiwyg>
                </div>
            </div> 
            <div style="padding-bottom: 15px;">
                <center>
                    <button type="button" class="btn postext poscancelbtn" ng-click="closemodal()">Cancel</button>
                     <button type="button" class="btn postext possavebtn" ng-click="saveposchanges('Agreement')">Save</button>
                 </center>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-modal" id="controlpanelvalidation-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p>Please turn the sales channel ON to show this option on POS</p>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-md-12 col-sm-12 col-xs-12 no-padding" style="margin-left: -15px;margin-top: -35px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="pos" class="nav nav-tabs bar_tabs" role="tablist" >
                            <li role="presentation" id="li-members" class="active-event-list" style="width: 145px;">
                                <a  id="dash-tab" role="tab" data-toggle="tab" aria-expanded="true" style="background: #009a61 !important;"></a>
                            </li>
                        </ul>
                        <span class="greentab-text membertab-text-1 greentab-text-active" style="left: 50px;">Point of Sale</span>
                        <div class="x_panel no-padding" style="min-height: 80vh;">
                            <div id="membersTabContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="customersview"  >
                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="members-subTab" class="nav nav-tabs bar_tabs bar_tabs_sm" role="tablist">
                                                    <li role="presentation" id="li-active" class="active-event-list" style="width: 160px !important;" ng-click="goposdashboardview()"><a ng-click="goposdashboardview()" id="approved-tab"  role="tab" data-toggle="tab" aria-expanded="true">Dashboard</a>
                                                    </li>
                                                    <li role="presentation" id="li-onhold" class="event-list-title" style="width: 150px !important;" ng-click="gopossettingsview()"><a ng-click="gopossettingsview()" role="tab"  id="past-tab" data-toggle="tab" aria-expanded="false"><img src="../../image/zapier.png" alt="" class="pos-setting-icon"/>&nbsp;&nbsp;&nbsp;&nbsp;Settings</a>
                                                    </li>
                                                </ul>
                                                <div id="members-subTabContent" class="tab-content">
                                                    <div class="x_content" style="padding:0px 15px 15px 15px;max-width: 1000px;" ng-show="posdashboardview">
                                                        <span class="retail-all-txt-noalign pos-learn-more" ng-click="openRetDisSupport()"><span class="dot"></span> &nbsp;Learn more about Point of Sale</span>
                                                        <div class="postext" style="padding-right: 15px;border: 1px solid #e5e9ed;margin-top: 30px;min-height: 320px;color: black;padding-left: 15px;padding-top: 15px;" >
                                                            <div class="row">
                                                                <div class="col-md-1 col-sm-1 col-xs-1" style="max-width: 35px;margin-left: 5px;"><img src="../../image/pos_icon.png" alt="pos_icon" style="width: 25px;"></div>
                                                                <div class="col-md-11 col-sm-11 col-xs-11"><p style="padding-left: 5px;">Point of Sale System</p></div>
                                                            </div>
                                                            <div class="row">
                                                                <p style="color:#5c5c5c;font-size: 13px;font-weight: 500;padding: 8px 0px 0px 15px;">Launch this as a check out kiosk system for members. Easily apply existing member payment information to memberships, events, retail, and for miscellaneous charges.</p>
                                                            </div>
                                                            <div class="row">
                                                                <p style="font-size: 14px;font-weight: 600;padding: 10px 0 0 15px;">Staff POS (internal use, can load existing member payment info)</p>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12 input-group" style="z-index: 0;margin-left: 5px;">
                                                                <input type="text" id="posstaffurl" class="form-control pos-url-box" name="posstaffurl"  ng-model="posstaffurl" readonly>
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default"  style="margin-top: -20px;margin-left: -1px;" ng-click="toastPOS('staff')" ngclipboard data-clipboard-target="#posstaffurl"><img src="../../image/copyicon.png" alt="copy_icon" style="width: 12px;cursor: pointer;"></button>
                                                                </span>
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default"  style="margin-top: -20px;margin-left: -6px;" ng-click="launchPOS('staff',posstaffurl)"><img src="../../image/pos_url.png" alt="copy_icon" style="width: 13px;cursor: pointer;"></button>
                                                                </span>
                                                            </div>
                                                            <div class="row">
                                                                <p style="font-size: 14px;font-weight: 600;padding: 0 0 0 15px;color: #9b9b9b;">Public POS (great for kiosk mode, integration into your website and online sales channel)</p>
                                                            </div>
                                                            <div class="col-md-12 col-sm-12 col-xs-12 input-group" style="z-index: 0;margin-left: 5px;">
                                                                <input type="text" id="pospublicurl" class="form-control pos-url-box" name="pospublicurl"  ng-model="pospublicurl" readonly>
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default"  style="margin-top: -20px;margin-left: -1px;" ng-click="toastPOS('public')" ngclipboard data-clipboard-target="#pospublicurl"><img src="../../image/copyicon.png" alt="copy_icon" style="width: 12px;cursor: pointer;"></button>
                                                                </span>
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-default"  style="margin-top: -20px;margin-left: -6px;" ng-click="launchPOS('public',pospublicurl)"><img src="../../image/pos_url.png" alt="copy_icon" style="width: 13px;cursor: pointer;"></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="staffpos">Staff POS url link copied in clipboard</div>
                                                    <div id="publicpos">Public POS url link copied in clipboard</div>
                                                    <div class="x_content" style="padding:0px 15px 15px 15px;" ng-show="possettingsview">
                                                        <span class="retail-all-txt-noalign pos-learn-more" ng-click="openRetDisSupport()"><span class="dot"></span> &nbsp;Learn more about Point of Sale</span>
                                                        <form name="possettings_form">
                                                        <div class="postext" style="min-height: 500px;margin-top: 30px;border: 1px solid #e5e9ed;padding-left: 30px;padding-top: 10px;padding-right: 30px;">
                                                            <div class="row" style="margin-left: -20px;">
                                                                <div class="col-md-1 col-sm-1 col-xs-1" style="max-width: 35px;">
                                                                    <img src="../../image/pos_icon.png" alt="pos_icon" style="width: 25px;">
                                                                </div>
                                                                <div class="col-md-11 col-sm-11 col-xs-11">
                                                                    <p style="padding-left: 5px;">Point of Sale Settings</p>
                                                                </div>
                                                            </div>
                                                            <div class="row gridfont" style="padding-top: 15px;">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3 col-xl-offset-3 gridheader" ><center>Payment methods accepted</center></div>
                                                            </div>
                                                            <div class="row gridfont" id="postablehead">
                                                                <div class="col-sm-3 gridheader no1" ></div>
                                                                <div class="col-sm-2 gridheader no2" ><center>Credit Card</center></div>
                                                                <div class="col-sm-1 gridheader no3" ><center>Cash</center></div>
                                                                <div class="col-sm-1 gridheader no4" ><center>Check</center></div>
                                                                <div class="col-sm-2  gridheader no5" ><center>ACH Bank Transfer</center></div>
                                                                <div class="col-sm-3  gridheader no6" ></div>
                                                            </div>
                                                            <div class="row gridfont ">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center id="mischead" style="padding-top: 13px;">Miscellaneous Charge</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                    <center style='padding-top: 12px;'>
                                                                        <label class="switch" >
                                                                            <input type="checkbox"  ng-model="miscswitch" ng-click="">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                        <span class="posswitchtext">{{miscswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick'><i class="fa fa-check" aria-hidden="true"></i></center></div>
                                                                <div class="col-sm-1  gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='misc_cash_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-1  gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='misc_check_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2  gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='misc_ach_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" style='color:#009a61;padding: 13px ;cursor: pointer'>
                                                                    <div class="dropdown">
                                                                        <span class="dropdown-toggle" data-toggle="dropdown">{{processing_fee_type}} &nbsp;<i class="fa fa-caret-down customarrow" ></i></span>
                                                                        <ul class="dropdown-menu" style="top: -88%;">
                                                                            <span >Would you like to pass the processing fees to your customers or would you like to absorb them?</span>
                                                                            <li ng-click="pfo()"  style="margin-top: 8px;"><a class="listui"><i ng-show="processing_fee_type === 'Pass fees on'" class="fa fa-check" style="font-size:15px" aria-hidden="true"></i>&nbsp;Pass fees on</a></li>
                                                                            <li ng-click="afo()" ><a class="listui"><i ng-show="processing_fee_type === 'Absorb fees on'"  class="fa fa-check" style="font-size:15px" aria-hidden="true"></i>&nbsp;Absorb fees on</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="row gridfont">
                                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 gridbody " ></div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" ng-click="openagreementModal()" style='color:#009a61;padding-top: 13px;cursor: pointer;'>Modify misc sales agreement</div>
                                                            </div>
                                                            
                                                            <div class="row gridfont">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center style="padding-top: 14px;">Retail</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                <center style='padding-top: 12px;'><label class="switch" >
                                                                            <input type="checkbox"  ng-model="retailswitch" ng-click="catchretailswitch()">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                    <span class="posswitchtext">{{retailswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick'><i class="fa fa-check" aria-hidden="true"></i></center></div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='retail_cash_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='retail_check_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2  gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='retail_ach_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" ></div>
                                                            </div><div class="row gridfont">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center style="padding-top: 14px;">Events</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                    <center style='padding-top: 12px;'><label class="switch" >
                                                                            <input type="checkbox" ng-model="eventswitch" ng-click="">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                        <span class="posswitchtext">{{eventswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick'><i class="fa fa-check" aria-hidden="true"></i></center></div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='event_cash_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='event_check_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='event_ach_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" ></div>
                                                            </div><div class="row gridfont">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center style="padding-top: 14px;">Memberships</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                <center style='padding-top: 12px;'><label class="switch" >
                                                                            <input type="checkbox"  ng-model="membershipswitch" ng-click="">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                    <span class="posswitchtext">{{membershipswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick'><i class="fa fa-check" aria-hidden="true"></i></center></div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='membership_cash_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='membership_check_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='membership_ach_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" ></div>
                                                            </div><div class="row gridfont">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center style="padding-top: 14px;">Trials</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                    <center style='padding-top: 12px;'><label class="switch" >
                                                                            <input type="checkbox"  ng-model="trialswitch" ng-click="">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                        <span class="posswitchtext">{{trialswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick'><i class="fa fa-check" aria-hidden="true"></i></center></div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='trial_cash_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='trial_check_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-2 gridbody" >
                                                                    <label class="containerbox">
                                                                      <input type="checkbox" ng-model='trial_ach_flag' >
                                                                      <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" ></div>
                                                            </div><div class="row gridfont">
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                                                <div class="row gridfont">
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" ><center style="padding-top: 14px;">Request info</center></div>
                                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 gridbody" >
                                                                    <center style='padding-top: 12px;'><label class="switch" >
                                                                            <input type="checkbox"  ng-model="leadsswitch" ng-click="">
                                                                            <span class="slider round"></span>
                                                                        </label>
                                                                        <span class="posswitchtext">{{leadsswitch ? "ON" : "OFF"}}</span>
                                                                    </center>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 gridbody" ><center class='tick' style='color: red;'><i class="fa fa-close"></i></center></div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <center class='tick' style='color: red;'><i class="fa fa-close"></i></center>
                                                                </div>
                                                                <div class="col-sm-1 gridbody" >
                                                                    <center class='tick' style='color: red;'><i class="fa fa-close"></i></center>
                                                                </div>
                                                                <div class="col-sm-2 gridbody" style="padding-right: 2%;">
                                                                    <center class='tick' style='color: red;'><i class="fa fa-close"></i></center>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 gridbody" style='color:#009a61;padding-left: 13px;padding-top: 5px ;cursor: pointer'>
                                                                    <div class="dropdown" >
                                                                        <span class="dropdown-toggle" data-toggle="dropdown">{{include_email_type}} &nbsp;<i class="fa fa-caret-down customarrow" ></i></span>
                                                                        <ul class="dropdown-menu" >
                                                                            <span >Would you like to include this lead in your auto-generated email campaigns from your communications center?</span>
                                                                            <li ng-click="include_email()" style="margin-top: 8px;"><a class="listui"><i ng-show="include_email_type === 'Include in auto-generated emails'" class="fa fa-check" style="font-size:15px" aria-hidden="true"></i>&nbsp;Include in auto-generated emails</a></li>
                                                                            <li ng-click="exclude_email()" ><a class="listui"><i ng-show="include_email_type === 'Exclude in auto-generated emails'" class="fa fa-check" style="font-size:15px" aria-hidden="true"></i>&nbsp;Exclude in auto-generated emails</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div>
                                                                <center>
                                                                        <button type="button" class="btn savebtn" ng-style="{'background' : ((possettings_form.$dirty) || dashboard_formchange) ? '#009a61' :'#d3d2d2'}" ng-disabled="!possettings_form.$dirty && !dashboard_formchange" ng-click="saveposchanges('ALL')">Save</button>
                                                                </center>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        </form>
                                                        </div>
                                                    
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>