<!DOCTYPE html>

 <!--First time login Tooltip message -->
  <div style="display:none;">
            <div ng-hide="referraltip" id="refraltip">
                <!--<div id="CloseButton" ></div>-->
                <center><b>Member Referral Message & Data</b></center><br/><br/>
               Help your members recommend your studio to their friends, and be able to thank them for it! They can make
                referrals right in the app. Customize your referral message and see all of your referred data in this section. Let’s
                send a test referral from the app to see this in action:<br/><br/>
        1) Open the app on your phone and click on the “Referrals” button at the bottom of your screen. <br> 
        2) Fill in a name, email, and address. <br> 
        3) Click “Send Invite”. <br> 
        4) A message is automatically sent to the email that was designated as Studio Email Address. If it is in
        your spam or promotional folder, make sure to add MyStudio as a contact to prevent it from happening in
        the future. <br> 
        5) The referred data should automatically show up in this section -- you may need to reload the page to
        see it populate <br><br> <br/>
        <div style="margin-left: 30%;"><button id="referraldetailNext" type="button" class="btn btn-primary" ng-click="referraldetailNext()">Customize My Referral Message</button></div>
            </div>
  </div>
    <!--/First time login Tooltip message -->
    
<!-- page content -->
<div class="right_col" role="main">
<div class="row top_tiles">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12  col-md-offset-2">
        <!--<img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>-->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">              
              <h3><center>Referral Details</center></h3>
            <div class="clearfix"></div>
          </div>
            
          <div class="x_content">                     
               <form enctype="multipart/form-data" novalidate id="referralform" name="referralform">
              <div class="col-md-12 col-sm-12 col-xs-12" >                        
                <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                    <label>Studio Referral Message</label>                    
                    <textarea type="text" placeholder="referral message" ng-change="catchReferralMsg()" style="text-align: center" class="form-control" name="referralmsg" ng-model="referralmsg" required></textarea>
                    <span style="color: red" ng-show="(referralform.referralmsg.$touched && referralform.referralmsg.$invalid)">
                      Referral Message is required
                    </span>                    
                </div>
                <div class="col-md-12 form-group">
                 <div class="ln_solid"></div></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button class="btn btn-primary btn-lg centeritem" ng-disabled="referralform.referralmsg.$invalid" type="submit" ng-click="postReferralMessage()">{{ !referralmsg ? 'Save' : 'Update' }}</button>
                </div>
              </div>
               </form>
          </div>
        </div>
      </div>
    </div>
    
     <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Referral List</h2>
                    <div class="clearfix"></div>
                  </div>                     
<!--                     <div ng-show="referralPremiumCheck" class="exp-block">
                          <p class="msg-expired">Increase your member referrals. Upgrade your account to enable this functionality.</p>
                          <center>   <a class="btn btn-studio btn-block" role="button" ng-click="paynow()"><span>Upgrade Now</span></a> </center>
                      </div>-->
                      <!--ng-show="referralPremiumDone"-->
                  <div class="x_content">                     
                    <table datatable="ng" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                            <th ng-hide=true>check</th>
                          <th>Referred Name</th>
                          <th>Referred email</th>
                          <th>Referred Phone Number</th>
                          <th>Referred By</th>
                          <th>Referred Date & Time</th>
<!--                          <th>Action</th>-->
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="referral in referrallist">
                            
                          <input type="hidden" ng-model="referral.referral_id">
                          <td ng-hide=true>
                            {{$index}}
                          </td>
                          <td>{{referral.referred_name}}</td>                          
                          <td>{{referral.referred_email}}</td>
                          <td>{{referral.referred_phone_number}}</td>
                          <td>{{referral.student_name}}</td>
                          <td>{{referral.referred_date_time | utcToLocalTime:'yyyy-MM-dd HH:mm:ss Z' }}</td>
<!--                          <td >
                              <a class="card-icon"><i class="fa fa-2x fa-trash" ng-hide="showedit" ng-click="deletestudent(referral.referral_id,$index)"></i></a>
                          </td>-->
                        </tr>
                      </tbody>
                    </table>
                    </div>
                </div>
              </div>
    
    </div> 
    </div>  
<!-- /page content -->

