<!--PHONE CONFIRMATION MODAL-->
<div class="modal fade custom-modal" id="phoneconfirm-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p>Is this phone number correct?<br>{{user_phone}}</p><br><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="userPhoneConfirmation()" data-dismiss="modal">Confirm</button>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>
<!-- VERIFICATION CODE SENT MODAL-->
<div class="modal fade custom-modal" id="verificationsent-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p>Your verification code was sent to<br>{{verification_sent_to}}</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="togglePage('register','6')" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- WE PAY CONFIRMATION MODAL-->
<div class="modal fade custom-modal" id="wepayconfirm-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p>A confirmation email has been sent to <span class="green emailsent-to">{{user_email}}</span> with instructions to link your bank account for payment deposits.</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="paymentConfirmation()" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- STRIPE CONFIRMATION MODAL-->
<div class="modal fade custom-modal" id="stripeconfirm-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br>
                <p id="stripe-modal-msg"></p>
                <br>
                <button type="button" class="button green-button custom-modal-button" ng-click="paymentConfirmation()" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- RESEND VERIFICATION CODE MODAL-->
<div class="modal fade custom-modal" id="resendverification-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p>Send a new verification code</p><br>
                <button type="button" class="button green-button custom-modal-button" ng-click="resendVerficationCodeto('email')" data-dismiss="modal">Email me</button>
                <button type="button" class="button green-button custom-modal-button" ng-click="resendVerficationCodeto('phone')" data-dismiss="modal">Text me again</button>
            </div>
        </div>
    </div>
</div>

<!-- FAILURE RESPONSE MODAL-->
<div class="modal fade custom-modal" id="response-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p id="response-modal-text" class="response-modal-text">{{failure_response_text}}</p><br>
                <button id="response-modal-btntext" type="button" class="button green-button custom-modal-button" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>
<div class="bg-white height-full-vh">
    <!--NAVBAR TOP-->
    <div class="navbar-container">
        <nav class="logo-navbar">
            <div ng-hide="(activepagename == 'register' && (activepageid == '7' || activepageid == '6'))" ng-click="navTopBack()">
                <img src="../../image/backarrow.png" class="custom-back-green" alt="Back arrow image">
            </div>
            <center>
                <img id="mystudiologo" class="mystudiologo" src="../../image/mystudio_logo.png" alt=""/>
            </center>
        </nav>
    </div>
    <div class="container">
        <div class="login-container register-container">
            <div ng-hide="activepagename == 'register' && activepageid == '7'">

                <!--PROGRESS BAR--> 
                <div class="progress registerprogress">
                    <div id="registerprogressbar" class="progress-bar registerprogressbar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" >
                    </div>
                </div>
                <!--<button type="button" class="button next-button-top" ng-click="openNextScreen()">Next</button>-->
            </div>
            <!--REGISTER SCREEN 1-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '1'">
                <h1>Welcome </h1>
                <h2>Let’s get you started with a free<br> MyStudio account</h2>
                <form id="registerform1" name="registerform1">
                    <div class="form-group-new">
                        <label class="form-label" for="user_email">Email</label>
                        <input id="user_email" type="text" name="user_email" class="form-input" ng-model="user_email"  ng-focus="user_email_available_error = true" ng-blur="checkEmail()" required>
                        <span class="newinput-error" ng-show="!user_email_available && !user_email_available_error">Email already taken</span>
                        <span class="newinput-error" ng-show="invalid_user_email">Invalid Email</span>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="user_password">Password</label>
                        <input id="user_password" type="{{ showpassword ? 'text': 'password'}}" name="user_password" class="form-input" ng-model="user_password" ng-change="verifyPasswordsMatch('user_password',user_password, user_confirmpassword)" required>
                        <label class="text-xs green togglePasswordText" ng-click="togglePasswordText()">{{ showpassword ? 'HIDE' : 'SHOW' }}</label>
                        <span ng-show="!min_password_length" class="newinput-error">Should be at least 6 characters</span>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="user_confirmpassword">Confirm Password</label>
                        <input id="user_confirmpassword" type="{{ showpassword ? 'text': 'password'}}" name="user_confirmpassword" class="form-input" ng-model="user_confirmpassword" ng-change="verifyPasswordsMatch('user_confirmpassword',user_password, user_confirmpassword)" required>
                        <span ng-show="!password_match" class="newinput-error">Passwords do not match</span>
                    </div>
                    <div class="form-group-new dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <label class="form-label registerPhoneNumberLabel" for="country">Country</label>
                            <input id="country" type="text" name="country" class="form-input registerPhoneNumber" ng-model="country" readonly>
                            <div id="country-popover" class="flag-drop-down">
                                <span class="glyphicon glyphicon-play dropdown_icon"></span>
                                <img id='selected-country-flag' src="{{selected_country_flag}}" alt="" class="selected-drop-down-image"/>
                            </div>
                            <label id='country-code' class="country-code">{{}}</label>
                        </div>
                         <div id="country-list" class="dropdown-menu">
                            <ul>Choose your country
                                <li ng-click="catchSelectedCountry('0')"><img src="../../image/flags/United States.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;United States</li>
                                <li ng-click="catchSelectedCountry('1')"><img src="../../image/flags/Canada.svg"  class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Canada</li>
                                <li ng-click="catchSelectedCountry('2')"><img src="../../image/flags/United Kingdom.svg"  class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;United Kingdom</li>
                                <li ng-click="catchSelectedCountry('3')"><img src="../../image/flags/Australia.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Australia</li> 
                                <li ng-click="catchSelectedCountry('4')"><img src="../../image/flags/Other.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Other</li>
                            </ul>
                        </div> 
                    </div>
                    <div ng-if="country == 'Other'" class="form-group-new">
                        <!--<label class="form-label" for="other_country">Other</label>-->
                        <input type="text" name="other_country" class="form-input" ng-model="$parent.other_country" required>
                    </div>
                </form>
                <center>
                    <br><button ng-click="emailvalidation(user_email)" class="button green-button web-enable" ng-disabled="(registerform1.$invalid || !user_email_available || !min_password_length || !password_match || country =='Choose your country')">Next</button><br>
                    <label class="text-xs">Already have an account? <label class="text-xs green link" ng-click="openLogin()">Log in here</label></label>
                    <div class="mobile-enable"><button ng-click="openNextScreen()" class="button green-button button-fixed-bottom" ng-disabled="(registerform1.$invalid || !user_email_available || !min_password_length || !password_match || country =='Choose your country')">Next</button></div>
                </center>        
            </div>
            <!--REGISTER SCREEN 2-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '2'">
                <h1>About you  </h1>
                <h2>Tell us a bit about yourself</h2>
                <form id="registerform2" name="registerform2">
                    <div class="form-group-new">
                        <label class="form-label" for="user_firstname">First Name</label>
                        <input id="user_firstname" type="text" name="user_firstname" class="form-input" ng-change="catchInputChange('user_firstname',user_firstname)" ng-model="user_firstname" required>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="user_lastname">Last Name</label>
                        <input id="user_lastname" type="text" name="user_lastname" class="form-input" ng-change="catchInputChange('user_lastname',user_lastname)"  ng-model="user_lastname" required>
                    </div>
                    <div class="form-group-new dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <label class="form-label" for="company_type">Your Industry</label>
                            <input id="company_type" type="text" name="company_type" class="form-input" ng-model="company_type" readonly>
                            <div id="industry-popover" class="industry-dropdown">
                                <span class="glyphicon glyphicon-play dropdown_icon2"></span>
                            </div>
                        </div>
                        <div id="industry-list" class="dropdown-menu">
                            <ul class="industry-list">
                                <li ng-click="catchSelectedIndustry($index)" ng-repeat="x in industrylist">{{x}}</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="company_type == 'Other'" class="form-group-new">
                        <!--<label class="form-label" for="other_company">Other company</label>-->
                        <input id="other_company" type="text" placeholder="Specify your industry here" name="other_company" class="form-input" ng-model="$parent.other_company" required>
                    </div>
                </form>
                <center>
                    <br><button ng-click="openNextScreen()" class="button green-button web-enable" ng-disabled="(registerform2.$invalid || company_type == 'Choose industry')">Next</button><br>
                    <div class="mobile-enable"><button ng-click="openNextScreen()" class="button green-button button-fixed-bottom" ng-disabled="(registerform2.$invalid || company_type == 'Choose industry')">Next</button></div>
                </center>        
            </div>
            <!--REGISTER SCREEN 3-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '3'">
                <h1>Your business </h1>
                <h2>Your customers will see this<br> information on your app</h2>
                <form id="registerform3" name="registerform3">
                    <div class="form-group-new">
                        <label class="form-label" for="company_name">Business Name</label>
                        <input id="company_name" type="text" name="company_name" class="form-input" ng-model="company_name" ng-change="catchInputChange('company_name',company_name)" required>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="web_page">Website</label>
                        <input id="web_page" type="text" name="web_page" class="form-input" ng-model="web_page" ng-change="catchInputChange('web_page',web_page)" required>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="phone_number">Phone</label>
                        <!--<input id="country_code" type="text" name="phone_number" class="country_code" ng-model="country_code" ng-change="" >-->
                        <input id="phone_number" type="text" name="phone_number" class="form-input" ng-model="phone_number" ng-change="catchInputChange('phone_number',phone_number)" numbers-only required>
                    </div>
                </form>
                <center>
                    <br><button ng-click="openNextScreen()" class="button green-button web-enable" ng-disabled="(registerform3.$invalid)">Next</button><br>
                    <div class="mobile-enable"><button ng-click="openNextScreen()" class="button green-button button-fixed-bottom" ng-disabled="(registerform3.$invalid)">Next</button></div>
                </center>        
            </div>
            <!--REGISTER SCREEN 4-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '4'">
                <h1>Create your app code</h1>
                <h2>Customers will access your app<br> with this code</h2>
                <div class="inline-container">
                    <img class="key-icon" src="../../image/key_icon.png">
                    <form id="registerform4" name="registerform4">
                        <div class="form-group-new" >
                            <label class="form-label" for="company_code"></label>
                            <input id="company_code" type="text" name="company_code" style="" class="form-input" ng-model="company_code" ng-focus="company_code_available_error = true" ng-blur="checkCompanyCode()" ng-change="checkCompanyCode()" valid-alphanumeric required>
                            <label class="left studio-code-text" style="" ng-click="">Use a simple code consisting of letters or numbers.</label>
                            <span ng-show="!company_code_available && !company_code_available_error" class="newinput-error">Code already taken</span>
                        </div>
                    </form>
                </div>
                <center>
                    <br><button ng-click="openNextScreen()" class="button green-button web-enable" ng-disabled="registerform4.$invalid || !company_code_available">Next</button><br>
                    <div class="mobile-enable"><button ng-click="openNextScreen()" class="button green-button button-fixed-bottom" ng-disabled="registerform4.$invalid || !company_code_available">Next</button></div>
                </center>        
            </div>
            <!--REGISTER SCREEN 5-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '5'">
                <h1>Almost done! </h1>
                <h2>Enter your mobile number to verify<br> and create your account</h2>
                <div class="inline-container">
                    <img class="phone-icon" src="../../image/phone_icon.png">
                    <form id="registerform5" name="registerform5">
                        <div class="form-group-new dropdown">
                            <label class="form-label registerPhoneNumberLabel" for="user_phone">Mobile Phone Number</label>
                            <input id="user_phone" type="text" name="user_phone" class="form-input country-code-input" ng-model="user_phone" numbers-only required>
                            <span ng-show="((user_phone_country == 'Other' && other_country_code == '') || (user_phone && selected_country_code_image == 'image/plus.svg' && other_country_code == ''))" class="newinput-error">Specify country code</span>
                            <div class="dropdown-toggle" data-toggle="dropdown">
                                <div id="countrycode-popover" class="flag-drop-down">
                                    <span class="glyphicon glyphicon-play dropdown_icon"></span>
                                    <img id='selected_country_code_image' src="{{selected_country_code_image}}" alt="" class="selected-drop-down-image"/>
                                </div>
                            </div>
                            <div id="countrycode-list" class="dropdown-menu">
                                 <ul>
                                <li ng-click="catchSelectedCountryCode('0')"><img src="../../image/flags/United States.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;United States&nbsp;&nbsp;+1</li>
                                <li ng-click="catchSelectedCountryCode('1')"><img src="../../image/flags/Canada.svg"  class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Canada&nbsp;&nbsp;+1</li>
                                <li ng-click="catchSelectedCountryCode('2')"><img src="../../image/flags/United Kingdom.svg"  class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;United Kingdom&nbsp;&nbsp;+44</li>
                                <li ng-click="catchSelectedCountryCode('3')"><img src="../../image/flags/Australia.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Australia&nbsp;&nbsp;+61</li> 
                                <li ng-click="catchSelectedCountryCode('4')"><img src="../../image/flags/Other.svg" class="drop-down-image" />&nbsp;&nbsp;&nbsp;&nbsp;Other&nbsp;&nbsp;</li>
                            </ul>
                            </div>
                            <label class="country-code">{{selected_country_code}}</label>
                        </div>
                        <div ng-if="user_phone_country == 'Other'" class="form-group-new">
                            <!--<label class="form-label" for="other_company">Other company</label>-->
                            <input id="other_country_code" type="text" placeholder="Specify country code." name="other_country_code" class="form-input registerPhoneNumber" ng-model="$parent.other_country_code" ng-change="catchOtherCountryCode()" ng-blur="catchOtherCountryCode()" maxlength="7" numbers-only required>
                            <div>
                                <div id="other_country_code" class="flag-drop-down">
                                    <!--<span class="glyphicon glyphicon-play dropdown_icon"></span>-->
                                    <img id='other_country_code_image' src="{{other_country_code_image}}" alt="" class="selected-drop-down-image"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <center>
                    <div class="web-enable"> 
                        <label class="text-xs tap-text">By tapping “Activate Account”, you agree to the <label class="text-xs tap-text green link" ng-click="openLink('terms')">Terms of Use </label> , <label class="text-xs tap-text green link" ng-click="openLink('privacy')">Privacy Policy </label>, and <label ng-show = "stripe_support" class="text-xs tap-text green link" ng-click="openLink('stripe_terms')">Stripe Connected Account Agreement.</label><label ng-show = "wepay_support" class="text-xs tap-text green link" ng-click="openLink('wepay_terms')">Wepay Terms of Service.</label></label>
                        <button ng-click="openConfirmPhoneModal()" class="button green-button" ng-disabled="(registerform5.$invalid || ((selected_country_code_image == 'image/flags/plus.svg') && (other_country_code == '')))">Activate Account</button><br>
                    </div>
                    <div class="mobile-enable button-fixed-bottom">
                        <label class="text-xs tap-text">By tapping “Activate Account”, you agree to the <label class="text-xs tap-text green link" ng-click="openLink('terms')">Terms of Use </label> , <label class="text-xs tap-text green link" ng-click="openLink('privacy')">Privacy Policy </label>, and <label  ng-show = "stripe_support" class="text-xs tap-text green link" ng-click="openLink('stripe_terms')">Stripe Connected Account Agreement.</label><label ng-show = "wepay_support" class="text-xs tap-text green link" ng-click="openLink('wepay_terms')">Wepay Terms of Service.</label></label>
                        <button ng-click="openConfirmPhoneModal()" class="button green-button no-margin" ng-disabled="(registerform5.$invalid || ((selected_country_code_image == 'image/flags/plus.svg') && (other_country_code == '')))">Activate Account</button>
                    </div>
                </center> 
            </div>    
            <!--REGISTER SCREEN 6-->
            <!--        <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '6'">
                        <h1>Activate account</h1>
                        <h2>A verification code was sent to<br>{{user_phone}}</h2>
                        <div class="flex">
                            <img class="sheild-icon" src="image/sheild_icon.png">
                            <form id="registerform6" name="registerform6">
                                <div class="form-group-new" >
                                    <label class="form-label" for="register_verificationcode">Enter verification code</label>
                                    <input type="text" name="register_verificationcode" style="" class="form-input" ng-model="register_verificationcode" required>
                                    <label class="text-xs retry-text">Didn’t receive your code? <label class="text-xs green link" ng-click="openResendCodeModal()">Verify another way.</label></label>
                                </div>
                            </form>
                        </div><br><br><br>
                        <center>
                            <label class="text-xs tap-text">By tapping “Activate Account”, you agree to the <label class="text-xs tap-text green link" ng-click="openLink('terms')">Terms of Use </label> and <label class="text-xs tap-text green link" ng-click="openLink('privacy')">Privacy Policy </label></label>
                            <button ng-click="activateAccount()" class="button green-button web-enable" ng-disabled="registerform6.$invalid">Activate Account</button><br>
                        </center> 
                    </div>-->
            <!--REGISTER SCREEN 6-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '6'">
                <h1>MyStudio Payments</h1>
                <h2>is powered by {{ stripe_country_support === 'Y' ? 'Stripe' : 'Wepay'}} <br>and allows for easy payment <br>processing with world-class <br> security and identity verification.</h2>
                <form ng-show ="stripe_country_support === 'N'" id="registerform6" name="registerform6">
                    <br>
                    <div id="wepay" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active custom-toggle-btn" data-toggle-class="btn-primary" ng-click="wp_checkin_type = 'R'" data-toggle-passive-class="btn-primary">
                            <input type="radio" name="wepaylogin" value='register'>Confirm new <br>WePay account
                        </label>
                        <label class="btn btn-default custom-toggle-btn" data-toggle-class="btn-primary" ng-click="wp_checkin_type = 'L'" data-toggle-passive-class="btn-primary">
                            <input type="radio" name="wepaylogin" value='login'>Connect to existing <br>WePay  account
                        </label>
                    </div>
                    <br><br><br>
                    <div class="form-group-new">
                        <label class="form-label" for="wp_firstname">First Name</label>
                        <input id="wp_firstname" type="text" name="wp_firstname" class="form-input" ng-model="wp_firstname" ng-change="catchInputChange('wp_firstname', wp_firstname)" required>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="wp_lastname">Last Name</label>
                        <input id="wp_lastname" type="text" name="wp_lastname" class="form-input" ng-model="wp_lastname" ng-change="catchInputChange('wp_lastname', wp_lastname)" required>
                    </div>
                    <div class="form-group-new">
                        <label class="form-label" for="wp_email">Email</label>
                        <input id="wp_email" type="text" name="wp_email" class="form-input" ng-model="wp_email" ng-change="catchInputChange('wp_email', wp_email)" required>
                    </div>
                    <br><br>
                </form>
<!--                <form ng-show ="stripe_country_support === 'Y'" id="registerform7" name="registerform7">
                    <input type="text" class="form-control wp-model-form_align cstm-stripe-txt stripe-email-input" ng-model="user_email" style="border-radius:5px;" readonly>
                </form>-->
                <center>
                    <div class="web-enable"><br><button ng-click="stripe_country_support === 'Y' ? paymentConfirmation() : activateWepayAccount()" class="button green-button" ng-disabled="stripe_country_support === 'Y' ? false : registerform6.$invalid">Next</button><br></div>
                    <!--<label class="text-sm green link" ng-click="togglePage('register', '7')">Complete this later<br><br></label>-->
                    <div class="mobile-enable"><button ng-click="stripe_country_support === 'Y' ? paymentConfirmation() : activateWepayAccount()" class="button green-button button-fixed-bottom" ng-disabled="stripe_country_support === 'Y' ? false : registerform6.$invalid">Next</button></div>
                </center> 
            </div>
            <!--REGISTER SCREEN 7-->
            <div class="login-screen" ng-show="activepagename == 'register' && activepageid == '7'">
                <img class="right" src="../../image/half-mac.png" alt="Mac Image">
                <div class="step-container left">
                    <h1 class="step-head">STEP 1</h1>
                    <p class="step-content">Manage your business<br> and customize your<br>member app at<br><span class="green link" ng-click="openLink('mystudio-website')">www.mystudio.app</span></p>
                </div>
                <img class="left half-iphonex" src="../../image/half-iphonex.png" alt="Mac iphonex">
                <div class="step-container right">
                    <h1 class="step-head">STEP 2</h1>
                    <p class="step-content">Members see your app<br> by downloading the<br> MyStudio app and<br> entering your studio<br> code.</p>
                    <br>
                </div>
                <center>
                    <div class="web-enable"><button ng-click="startCustomizingApp()" class="button green-button">Customize my app!</button><br></div>
                    <div class="mobile-enable"><button ng-click="startCustomizingApp()" class="button green-button button-fixed-bottom">Customize my app!</button></div>
                </center> 
            </div> 
        </div>
    </div>
</div>
