<!DOCTYPE html>
<!-- FAILURE RESPONSE MODAL-->
<div class="modal fade custom-modal" id="response-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <br><p id="response-modal-text" class="response-modal-text">{{failure_response_text}}</p><br>
                <button id="response-modal-btntext" type="button" class="button green-button custom-modal-button" ng-click="redirectlogin()" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>

<div class="animate form login_form"> 
    <section class="reset-password-bg">
        <div class="container">
            <div class="container-sm">
                <div class="reset-password-content">
                    <center>
                        <br><br>
                        <h1>Reset your password</h1>
                        <br><br>
                        <form enctype="multipart/form-data" novalidate id="resetpassword" name="resetpassword">
                            <input type="email" class="grey-square-input" style="font-family: avenir !important;" placeholder="Email Address" name="regemail" ng-model="regemail" readonly=""  required>
                            <span class="red" ng-show="resetpassword.regemail.$error.required && resetpassword.regemail.$touched">
                                Email is required
                            </span>
                            <span class="red" ng-show=" resetpassword.regemail.$invalid && resetpassword.regemail.$error.email">
                                Invalid Email
                            </span>
                            <input class="grey-square-input" type="password" placeholder="New Password" name="regpass" ng-model="newpass" required>
                            <span class="red" ng-show="resetpassword.newpass.$touched && resetpassword.newpass.$error.required">
                                Password is required
                            </span>
                            <input class="grey-square-input" type="password" placeholder="Confirm New Password" name="regcpass" ng-model="newcpass" required>
                            <span class="red" ng-show="resetpassword.newcpass.$touched && resetpassword.newcpass.$invalid && resetpassword.newcpass.$error.required">
                                Please confirm your password
                            </span>
                            <span class="red" ng-show="!resetpassword.newcpass.$error.required && newpass != newcpass">
                                Passwords does not match
                            </span>
                            <button class="button green-button reset-btn-bold" ng-click="resetPswdSubmit()" ng-disabled="!resetpassword.$valid || newpass != newcpass">Reset password</button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </section>
</div>
