<style>
    #retaildiscount ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #E6E9ED;
    }

    #retaildiscount ul li {
        float: left;
    }

    #retaildiscount ul li a {
        display: block;
        color: #9b9b9b;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: 500;
        height: 52px;
    }
    .discountsort-active{
        color: black !important;
        border-bottom: 3px solid #009a61;
        font-weight: 600;
    }
    #DataTables_Table_retaildiscount_1,#DataTables_Table_retaildiscount_2,#DataTables_Table_retaildiscount_3,#DataTables_Table_retaildiscount_4{
        text-align: center;
        font-weight: 400;
    }
    .dicountcell{
        text-align: center;
        max-width: 150px !important;
    }
    .dicountcellcode{
        height: 35px;
        font-weight: 400;
        text-align: left;
        min-width: 150px !important;
    }
    .dicountcellcheckbox{
        margin-left: 10px !important;
        float: left;
    }
    .bigcheckbox{
/*        -ms-transform: scale(1.5);  IE 
        -moz-transform: scale(1.5);  FF 
        -webkit-transform: scale(1.5);  Safari and Chrome 
        -o-transform: scale(1.5);  Opera */
    }
    .greybg{
        font-size: 13px;
        background: #E6E9ED;
        border-radius: 24px;
        margin-left: 27%;
        width: 86px;
        color:grey;
        height: 20px;
        padding-top: 2px;
        font-weight: 300;
    }
    .greenbg{
        font-size: 13px;
        background: #97ce82;
        border-radius: 24px;
        margin-left: 27%;
        width: 70px;
        height: 20px;
        padding-top: 1px;
        font-weight: 300;
    }
    .greytext{
        font-size: 14px;
        color: grey;
    }
    .discountheading{
        font-family: Avenir;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        color: #000000;
    }
    .bordergrey{
        border: 1px solid #c1c4c9;
        width: 50%;
        margin-top: 15px;
        padding: 15px;
    }
    .borderrad{
        border-radius: 3px;
    }
    .labelweight{
        font-weight: 400;
    }
    .discountminreq{
        text-align: left;
        margin-left: 21px !important;
        width: 30%;
        margin-top: 5px !important;
    }
    .appliestext{
        margin-left: 21px !important;
        margin-top: -17px;
        position: absolute;
        font-size: 12px;
        color:grey;
    }
</style>
<!--failmodal-->
<div class="modal fade custom-modal" id="dicountfail-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p id="failmessage"></p>
                <button type="button" class="button white-button custom-modal-button" style="background-color:#009a61;color: white" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--success msg-->
<div class="modal fade custom-modal" id="dicountsuccess-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p id="successmessage"></p>
                <button type="button" class="button white-button custom-modal-button" style="background-color:#009a61;color: white" data-dismiss="modal" ng-click="msgdone()">OK</button>
            </div>
        </div>
    </div>
</div>
<!--browse discount modal-->
<div class="modal fade retail-all-txt-noalign" id="browsediscount-modal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;min-height: 642px;text-align: left;margin-top: 100px;">
            <div class="modal-body newmodal-body" style="border-bottom: 1px solid #ececec;">
                <div class="row" style="padding-left: 12px;font-size: 17px;font-weight: 500;padding-right: 13px;">
                    <span>Add products</span>
                    <span style="float:right"><i class="fa fa-close" style="font-size:18px" data-dismiss="modal" ng-click="closebrowseproducts()"></i></span>
                </div>
            </div>
            <div class="row" style="margin-left: 24px;">
                <input type="text" id="searchproduct" style="margin-top: 16px;width: 92%;padding-left: 2px;font-weight: 300;" placeholder="  Q Search products" name="searchproduct"  ng-model="searchproducts" ng-change="catchsearchproducts()">
            </div>
            <div class="row productscrollbox" id="productscrollbox">
                <div class="row browseboxcontent" ng-if="productdetails.length>0" ng-repeat="products in productdetails" >
                    <div class="col-md-2" id="selectproducts"><input id="checkbox[{{products.retail_product_id}}]" name="checkbox" type="checkbox" value="{{products}}" ng-init="checkalreadychecked(products.retail_product_id)">&nbsp;&nbsp;&nbsp;<img style="width: 40px;height: 24px;" src="{{products.retail_banner_img_url}}" alt=""/></div>
                    <div class="col-md-5" style="word-wrap: break-word;"><span>{{products.retail_product_title}}</span></div>
                    <div class="col-md-2" style="text-align: right;">{{products.retail_product_inventory}} in stock</div>
                    <div class="col-md-3" style="text-align: right;padding-right: 23px;">{{wp_currency_symbol}}{{products.retail_product_price}}</div>
                </div>
            </div>
            <button class="btn " style="border: 1px solid #c6c6c6;background: white;margin-left: 433px;margin-top: 8px;" ng-click="closebrowseproducts()">Cancel</button>
                <button class="btn" style="background: #5968c2;color: white;width: 70px;margin-top: 8px;" data-dismiss="modal" ng-click="viewselectedproducts()">Add</button>
        </div>
    </div>
</div>

<!--discard disocumt modal-->
<div class="modal fade" id="discountdiscardModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="margin-top: 184px;color: black;">
        <div class="modal-content" style="border-radius: 3px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="discountdiscardtitle">Message</h4>
            </div>
            <div class="modal-body" id="discountdiscardcontent" style="font-size:16px;">
                Do you want to discard the changes made?
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 5px;">Cancel</button>
                <button id="deleteconfirm" type="button" class="btn btn-default" data-dismiss="modal" style="background: #d44d4d;color: white;border-radius: 5px;" ng-click="discardChanges()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--delete disocumt modal-->
<div class="modal fade" id="deletediscountmessageModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog" style="margin-top: 184px;color: black;">
        <div class="modal-content" style="border-radius: 3px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="deletediscountmessagetitle">Delete {{selectedData.length}} discount?</h4>
            </div>
            <div class="modal-body" id="deletediscountmessagecontent" style="font-size:16px;">
                Deleted discounts cannot be recovered. Do you still want to continue?
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 5px;">Cancel</button>
                <button id="deleteconfirm" type="button" class="btn btn-default" data-dismiss="modal" style="background: #d44d4d;color: white;border-radius: 5px;" ng-click="deletediscountcode()">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="x_panel retail-all-txt-noalign no-padding" style="min-height: 750px;">
            <div style="padding:15px;"><span class="retail-all-txt-noalign" style="text-align:left;cursor: pointer" ng-click="gobacktomanagepage()"><i class='fa fa-chevron-left'></i>&nbsp; back</span>
                <span class="retail-all-txt-noalign" style="float:right;cursor:pointer;color:#05ac68;font-weight: 400;margin-right: 18px;" ng-click="openRetDisSupport()"><span class="dot"></span> &nbsp;Learn how to add discounts</span>
            </div>
            <div ng-show="discounttableview">
                <div id="retaildiscount" style="margin-top: 15px;">
                    <ul>
                        <li ng-click="sortretaildiscounts('all')" style="cursor: pointer;"><a ng-class="{'discountsort-active': activesorttab == 'all'}" style="margin-left: 15px;">All</a></li>
                        <li ng-click="sortretaildiscounts('active')" style="cursor: pointer;"><a ng-class="{'discountsort-active': activesorttab == 'active'}">Active</a></li>
                        <li ng-click="sortretaildiscounts('scheduled')" style="cursor: pointer;"><a ng-class="{'discountsort-active': activesorttab == 'scheduled'}">Scheduled</a></li>
                        <li ng-click="sortretaildiscounts('expired')" style="cursor: pointer;"><a ng-class="{'discountsort-active': activesorttab == 'expired'}">Expired</a></li>
                        <div role="presentation" id="li-discount" class="retail-browntag-div" style="padding-left: 35px;"><button type="button"  class="button tab-brownbg-button" ng-click="gocreatediscountview()" style="width:179px;margin-top: 9px;height: 35px;letter-spacing: 0.6px;">Create discount</button></div>
                    </ul>
                </div>
                <div style="padding-left: 15px;" >
                    <div ng-if="activesorttab == 'all'">
                    <table datatable="" id="DataTables_Table_retaildiscount_1" dt-instance="discountdtInstance1"  dt-options="retaildiscountdtOptions1" dt-columns="retaildiscountdtColumns1"  class="table avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%" ></table>
                    </div>
                    <div ng-if="activesorttab == 'active'">
                    <table datatable="" id="DataTables_Table_retaildiscount_2"  dt-options="retaildiscountdtOptions1" dt-columns="retaildiscountdtColumns1"  class="table avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%" ></table>
                    </div>
                    <div ng-if="activesorttab == 'scheduled'">
                    <table datatable="" id="DataTables_Table_retaildiscount_3" dt-options="retaildiscountdtOptions1" dt-columns="retaildiscountdtColumns1"  class="table avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%" ></table>
                    </div>
                    <div ng-if="activesorttab == 'expired'">
                    <table datatable="" id="DataTables_Table_retaildiscount_4" dt-options="retaildiscountdtOptions1" dt-columns="retaildiscountdtColumns1"  class="table avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%" ></table>
                    </div>
                    <div class="customdeletebox" ng-show="selectedData.length > 0">
                        <div class="customdeletefirstbox">
                            <span class="ifonicon" ng-click="unselectalldiscount()">-</span>
                            <div style="width: 15px;height: 15px;border: 1.5px solid #a8abaf;border-radius: 2px;margin-top: 3px;margin-left: 19px;position: absolute;cursor: pointer" ng-click="unselectalldiscount()"></div>
                            <span style="margin-left: 42px;font-weight: 300;color: #9b9b9b;">{{selectedData.length}} discounts selected</span>
                        </div>
                        <div class="discountdropdown">
                        <button class="btn dropbtn" style="height: 30px;background: white;padding-top: 4px;border: 2px solid #d4dbe0;">Actions &nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></button>
                        <div class="discountdropdown-content" ng-click="confirmdiscountdelete()">
                            <a>Delete Discount(s)</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="creatediscountview">
                <form enctype="multipart/form-data" novalidate id="adddiscountretail" name="adddiscountretail">
                <div class="col-md-12" style="height: 36px;box-shadow: 1px 5px 5px #c6c6c6;padding-left: 19px;">
                    <span class="discountheading">Create Discount Code</span>
                    <span style="float: right;margin-right: 18px;margin-top: -6px;">
                        <span class="discountheading" style="font-size: 13px;margin-right: 26px;">{{ discountnotvalid ? "Discount amount not valid for the selected products" : adddiscountretail.$dirty ? "unsaved changes" : "" }}</span>
                        <button class="btn " style="border: 1px solid #c6c6c6;background: white" ng-click="discardChangesConfirm()">Discard</button>
                        <button class="btn" style="background: #5968c2;color: white;width: 70px;" ng-click="updatediscountcode()" ng-disabled="!discountcode || !discountvalue || discvalexceeds || !startdiscdate || !startdisctime || (discountlimitcheckbox && !discountlimit) || (discountrequirement === 'V' && !discountminimumamount) || (discountrequirement === 'Q' && !discountminimumamount) || (setenddiscdate && (!enddiscdate || !enddisctime) || discountnotvalid)">Save</button>
                    </span>
                </div>
                <div class="col-md-12" style="padding-left: 16px;overflow-y: scroll;max-height: 645px;">
                    
                    <div style="">
                        <div class="bordergrey borderrad">
                            <div>
                                <label>Discount code</label>
                                <div style="font-weight: 300;color: gray;margin-top: 10px;">
                                    <input type="text" id="discountcode" class="form-control borderrad" placeholder="e.g. SPRINGSALE" style="text-align:left;margin-bottom:3px !important;" name="discountcode"  ng-model="discountcode"> 
                                    <span >Customers will enter this discount code at checkout</span>
                                </div>
                            </div>
                        </div>
                        <div class="bordergrey borderrad">
                            <div>
                                <label>Options</label>
                                <div class="row labelweight" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="labelweight">Discount type</label>
                                        <select id="discounttype"  class="form-control" ng-model="discounttype" ng-change="catchdiscountamount()">
                                            <option value="V" >Fixed amount</option>
                                            <option value="P" >Percentage</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="labelweight">Discount value</label>
                                        <input type="text" id="discountvalue" class="form-control borderrad"  style="text-align:left;padding-left: 40px;padding-top: 9px;" name="discountvalue"  ng-model="discountvalue" ng-change="catchdiscountamount()" valid-number>
                                        <span ng-if="discounttype === 'V'" class="form-control-feedback ng-scope labelweight" aria-hidden="true" style="line-height: 68px;color: black;left: 13px;font-size: 12px;margin-top: 9px">{{wp_currency_symbol}}</span>
                                        <span ng-if="discounttype === 'P'" class="form-control-feedback ng-scope labelweight" aria-hidden="true" style="line-height: 68px;color: black;left: 13px;font-size: 12px;margin-top: 9px">%</span>
                                    </div>
                                    <span ng-if="discvalexceeds && discounttype === 'P'" style="color:red">Discount percentage value should be less than 100</span>                                    
                                </div>
                            </div>
                        </div>
                        <div class="bordergrey borderrad" >
                            <div>
                                <label>Applies to</label>
                                <div style="font-weight: 300;margin-top: 10px;position:relative">
                                    <input type="radio" ng-model="appliesto" value="O" ng-change="catchappliesto()">&nbsp;&nbsp;Entire order<br>
                                    <input type="radio" ng-model="appliesto" value="P" ng-change="catchappliesto()">&nbsp;&nbsp;Specific Product<br>
                                    <input ng-show="appliesto === 'P'" type="text" id="searchproducts" style="margin-top: 10px;width: 85%;padding-left: 2px" placeholder="Q Search products" name="searchproducts"  ng-model="searchproducts"><button class="btn browseicon" ng-show="appliesto === 'P'" ng-click="browseproducts()">Browse</button>
                                    <div ng-show="appliesto === 'P'" class="row browseboxcontent" style="width: 95%;margin-left: 0;padding-left: 0px" ng-repeat="selected in selectedproductsview">
                                        <div class="col-md-1" id="selectproduct"><img style="width: 40px;height: 24px;" src="{{selected.retail_banner_img_url}}" alt=""/></div>
                                        <div class="col-md-7" style="word-wrap: break-word;"><span>{{selected.retail_product_title}}</span></div>
                                        <div class="col-md-2" style="word-wrap: break-word;"><span>{{wp_currency_symbol}} {{selected.retail_product_price}}</span></div>
                                        <div class="col-md-2" style="text-align: right;"><span style="cursor: pointer;color: #939393" ng-click="removeselectedID(selected)">X</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bordergrey borderrad">
                            <div>
                                <label>Usage Limits</label>
                                <div class="row labelweight" style="margin-top: 10px;margin-left: 0;">
                                    <input type="checkbox"  ng-model="discountlimitcheckbox">&nbsp;&nbsp;Limit number of time this discount can be used in total<br>
                                    <span ng-show="discountlimitcheckbox">
                                        <input type="text" id="discountlimit" class="form-control borderrad discountminreq" placeholder="" name="discountlimit"  ng-model="discountlimit" valid-number>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="bordergrey borderrad" >
                            <div>
                                <label>Minimum requirement</label>
                                <div style="font-weight: 300;margin-top: 10px;position:relative">
                                    <input type="radio" ng-model="discountrequirement" value="N" ng-change="catchdiscountrequirement()">&nbsp;&nbsp;None<br>
                                    <input type="radio" ng-model="discountrequirement" value="V"ng-change="catchdiscountrequirement()">&nbsp;&nbsp;Minimum purchase amount<br>
                                    <span ng-show="discountrequirement === 'V'">
                                        <input type="text" id="discountminimumamount" class="form-control borderrad discountminreq" style="padding-left: 40px;padding-top: 11px;" name="discountminimumamount"  ng-model="discountminimumamount" valid-number>
                                        <span class="form-control-feedback ng-scope labelweight" aria-hidden="true" style="line-height: 68px;color: black;left: 23px;font-size: 12px;margin-top: 32px;margin-left: 2px;">{{wp_currency_symbol}}</span>
                                        <span class="appliestext">Applies to entire order</span>
                                    </span>
                                    <input type="radio" ng-model="discountrequirement" value="Q" ng-change="catchdiscountrequirement()">&nbsp;&nbsp;Minimum quantity of item
                                    <span ng-show="discountrequirement === 'Q'">
                                        <input type="text" id="discountminimumamount" class="form-control borderrad discountminreq" placeholder="" name="discountminimumamount"  ng-model="discountminimumamount" valid-number>
                                        <span class="appliestext">Applies to entire order</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="bordergrey borderrad">
                            <div>
                                <label>Active dates</label>
                                <div class="row labelweight" style="margin-top: 10px;">
                                    <div class="col-md-6">
                                        <label class="labelweight">Start date</label>
                                        <input type="text" id="startdiscdate" class="form-control borderrad" placeholder="Enter date" style="text-align:left;" name="startdiscdate"  ng-model="startdiscdate" ng-change="catchstartdate()">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="labelweight">Start time (EST)</label>
                                        <input type="text" id="startdisctime" class="form-control borderrad" placeholder="Enter time" style="text-align:left;" name="startdisctime"  ng-model="startdisctime" ng-disabled="!startdiscdate" ng-change="catchstartdate()">
                                    </div>
                                </div>
                                <input type="checkbox" ng-model="setenddiscdate" ng-disabled="!startdiscdate">&nbsp;&nbsp;Set end date
                                <div class="row labelweight" style="margin-top: 10px;" ng-show="setenddiscdate">
                                    <div class="col-md-6">
                                        <label class="labelweight">End date</label>
                                        <input type="text" id="enddiscdate" class="form-control borderrad" placeholder="Enter date" style="text-align:left;" name="enddiscdate"  ng-model="enddiscdate" ng-change="catchstartdate()">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="labelweight">End time (EST)</label>
                                        <input type="text" id="enddisctime" class="form-control borderrad" placeholder="Enter time" style="text-align:left;" name="enddisctime"  ng-model="enddisctime" ng-disabled="!enddiscdate" ng-change="catchstartdate()">
                                    </div>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
                    
            </form>
            </div>
        </div>
    </div>
</div>