<!DOCTYPE html>

<!--First time login Tooltip message -->
<div style="display:none;">
    <div ng-hide="socialtip" id="socialtipid">
        <!--<div id="CloseButton" ></div>-->
        <center><b>All Your Social Accounts in One Place</b></center><br/><br/>
        Integrate all of your accounts here. With one click, members will be able to give your a review, follow/subscribe to
        all of your pages and channel.<br/><br/>
        When you are happy with your customization, simply tell your members to download the app and log in with your
        studio code. Be on the look out for an email from us that will give you a template to help you launch to your
        members. In the mean time, let’s continue to customize your app!<br/><br/>
        <div style="margin-left: 40%;"><button id="socialdetailNext" type="button" class="btn btn-primary" ng-click="socialdetailNext()">Continue to Customize My App</button></div>
    </div>
</div>
<!--/First time login Tooltip message -->


<!--Info modal -->
<div class="modal fade" id="socialinfomessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title" id="socialinfomessagetitle" style="font-size:18px;"></label>
            </div>
            <div class="modal-body" id="socialinfomessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="socialinfodone" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- /Info modal -->  

<!--expiry modal -->
<div class="modal fade" id="socialexpiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="socialexpirytitle">Message</h4>
            </div>
            <div class="modal-body" id="messageexpirycontent" style="font-size:16px;">
                Boost your member reviews! Upgrade your account to activate this section.
            </div>
            <div class="modal-footer">
                <center><button type="button" ng-click="premiumpaynow()" class="btn btn-studio btn-block" data-dismiss="modal">Upgrade Now</button></center> 
            </div>
        </div>
    </div>
</div>
<!-- expiry modal -->

<!-- page content -->
<div class="right_col" role="main">
    <div class="row top_tiles">

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-left: -25px;margin-top: -35px;">              
            <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="socialTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" id="li-live" class="event-list-title"><a ng-click="members()" id="live-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                            </li>
                            <li role="presentation" id="li-draft" class="active-event-list"><a ng-click="social()" role="tab" id="draft-tab" data-toggle="tab" aria-expanded="false"></a>
                            </li>
                        </ul>
                        <span class="greentab-text Apptab-text-1" ng-click="members()">Studio Profile</span>
                        <span class="greentab-text Apptab-text-2 greentab-text-active" ng-click="social()">Social Integrations</span>
                        <div id="socialTabContent" class="tab-content">
                            <div role="tabpanel" aria-labelledby="home-tab">
                                <div class="x_panel">
                                    <div class="x_title">

                                        <h3><center>Social Integrations</center></h3>
                                        <center><p>Seamlessly integrate your Google, Yelp, and social media accounts to get more positive member reviews and higher search rankings.</p></center>   
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">                     
                                        <form enctype="multipart/form-data" novalidate id="Social" name="social">
                                            <div class="x_content">     
                                                <!--                   //google-->
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <label>Google Review URL Link<a href='https://support.google.com/business/answer/7035772?hl=en' target='_blank'>&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>
                                                    <center>
                                                        <input type="text" placeholder="Enter your unique Google review link URL here" class="form-control" name="googleurl" ng-model="socialData.google_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="!social.googleurl.$error.required && social.googleurl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div>
                                                <!--                   //yelp-->
                                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <label>Yelp Review URL Link<a ng-click="socialinfo('ye')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>
                                                    <center>
                                                        <input type="text" placeholder="Enter your unique Yelp review link URL here" class="form-control" name="yelpurl" ng-model="socialData.yelp_url"  required>
                                                    </center> 
                                                    <span style="color: red" ng-show="!social.yelpurl.$error.required && social.yelpurl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div>  
                                            </div>



                                            <!--                   //facebook-->
                                            <div class="col-md-12 col-sm-12 col-xs-12  form-group">

                                                <div class="col-md-5 col-sm-5 col-xs-12">   
                                                    <label>Facebook ID<a ng-click="socialinfo('fb')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>
                                                    <center>
                                                        <input type="text" placeholder="Enter Facebook ID" class="form-control" name="fbid" ng-model="socialData.facebook_id"  required>
                                                    </center> 
                                                    <span style="color: red" ng-show="(!socialData.facebook_id && !social.fburl.$error.required)">
                                                        ID is required, if you entered a URL
                                                    </span>
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12">   
                                                    <label>Facebook account URL</label>
                                                    <center>
                                                        <input type="text" placeholder="Enter Facebook account URL" class="form-control" name="fburl" ng-model="socialData.facebook_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="social.fburl.$error.required && social.fbid.$valid">
                                                        URL is required, if you entered a ID
                                                    </span>
                                                    <span style="color: red" ng-show="!social.fburl.$error.required && social.fburl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div></div>
                                            <!--                   //twitter-->
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                <div class="col-md-5 col-sm-5 col-xs-12"> 
                                                    <label>Twitter ID<a ng-click="socialinfo('tw')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>                       
                                                    <center>
                                                        <input type="text" placeholder="Enter Twitter ID" class="form-control" name="tweetid" ng-model="socialData.twitter_id"  required>                
                                                    </center> 
                                                    <span style="color: red" ng-show="(!socialData.twitter_id && !social.tweeturl.$error.required)">
                                                        ID is required, if you entered a URL
                                                    </span>
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12">  
                                                    <label>Twitter account URL</label>  
                                                    <center>
                                                        <input type="text" placeholder="Enter Twitter account URL" class="form-control" name="tweeturl" ng-model="socialData.twitter_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="social.tweeturl.$error.required && social.tweetid.$valid">
                                                        URL is required, if you entered a ID
                                                    </span>
                                                    <span style="color: red" ng-show="!social.tweeturl.$error.required && social.tweeturl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div>
                                            </div>

                                            <!--                   //instagram-->
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">            
                                                <div class="col-md-5 col-sm-5 col-xs-12">  
                                                    <label>Instagram ID<a ng-click="socialinfo('ig')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>  
                                                    <center>
                                                        <input type="text" placeholder="Enter Instagram ID" class="form-control" name="instid" ng-model="socialData.instagram_id"  required>
                                                    </center> 
                                                    <span style="color: red" ng-show="(!socialData.instagram_id && !social.insturl.$error.required)">
                                                        ID is required, if you entered a URL
                                                    </span>
                                                </div>      
                                                <div class="col-md-7 col-sm-7 col-xs-12"> 
                                                    <label>Instagram account URL</label>  
                                                    <center>
                                                        <input type="text" placeholder="Enter Instagram account URL here" class="form-control" name="insturl" ng-model="socialData.instagram_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="social.insturl.$error.required && social.instid.$valid">
                                                        URL is required, if you entered a ID
                                                    </span>
                                                    <span style="color: red" ng-show="!social.insturl.$error.required && social.insturl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div>
                                            </div>      
                                            <!--                   //vimeo-->

                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                <div class="col-md-5 col-sm-5 col-xs-12">  
                                                    <label>Vimeo ID<a ng-click="socialinfo('vo')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>  
                                                    <center>
                                                        <input type="text" placeholder="Enter Vimeo ID" class="form-control" name="vimeoid" ng-model="socialData.vimeo_id"  required>
                                                    </center> 
                                                    <span style="color: red" ng-show="(!socialData.vimeo_id && !social.vimeourl.$error.required)">
                                                        ID is required, if you entered a URL
                                                    </span>
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12"> 
                                                    <label>Vimeo account URL</label>
                                                    <center>
                                                        <input type="text" placeholder="Enter Vimeo account URL here" class="form-control" name="vimeourl" ng-model="socialData.vimeo_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="social.vimeourl.$error.required && social.vimeoid.$valid">
                                                        URL is required, if you entered a ID
                                                    </span>
                                                    <span style="color: red" ng-show="!social.vimeourl.$error.required && social.vimeourl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div>
                                            </div> 
                                            <!--                   //youtube-->
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                                <div class="col-md-5 col-sm-5 col-xs-12"> 
                                                    <label>Youtube ID<a ng-click="socialinfo('yt')">&nbsp;<i class="fa fa-info-circle fa-lg"></i></a></label>
                                                    <center>
                                                        <input type="text" placeholder="Enter Youtube ID" class="form-control" name="youtubeid" ng-model="socialData.youtube_id"  required>
                                                    </center> 
                                                    <span style="color: red" ng-show="(!socialData.youtube_id && !social.youurl.$error.required)">
                                                        ID is required, if you entered a URL
                                                    </span>
                                                </div>
                                                <div class="col-md-7 col-sm-7 col-xs-12">  
                                                    <label>Youtube account URL</label>
                                                    <center>
                                                        <input type="text" placeholder="Enter Youtube account URL here" class="form-control" name="youurl" ng-model="socialData.youtube_url" required>
                                                    </center> 
                                                    <span style="color: red" ng-show="social.youurl.$error.required && social.youtubeid.$valid">
                                                        URL is required, if you entered a ID
                                                    </span>
                                                    <span style="color: red" ng-show="!social.youurl.$error.required && social.youurl.$invalid">
                                                        Entered Web page URL is not in correct format
                                                    </span>
                                                </div> 
                                            </div>


                                            <div class="col-md-12 form-group">
                                                <div class="ln_solid"></div></div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <button class="btn btn-primary btn-lg centeritem" 
                                                        ng-disabled="(!socialData.facebook_id && !social.fburl.$error.required) || (social.fburl.$error.required && social.fbid.$valid) || (!social.fburl.$error.required && social.fburl.$invalid)
                                        || (!socialData.twitter_id && !social.tweeturl.$error.required) || (social.tweeturl.$error.required && social.tweetid.$valid) || (!social.tweeturl.$error.required && social.tweeturl.$invalid)
                                        || (!socialData.instagram_id && !social.insturl.$error.required) || (social.insturl.$error.required && social.instid.$valid) || (!social.insturl.$error.required && social.insturl.$invalid)
                                        || (!socialData.vimeo_id && !social.vimeourl.$error.required) || (social.vimeourl.$error.required && social.vimeoid.$valid) || (!social.vimeourl.$error.required && social.vimeourl.$invalid)
                                        || (!socialData.youtube_id && !social.youurl.$error.required) || (social.youurl.$error.required && social.youtubeid.$valid) || (!social.youurl.$error.required && social.youurl.$invalid)
                                        || (!social.googleurl.$error.required && social.googleurl.$invalid) || (!social.yelpurl.$error.required && social.yelpurl.$invalid)" 

                                                        type="submit" ng-click="postSocial()">Save</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 iframe-mobile">

            <div class="col-md-12 col-sm-12 col-xs-12 previewframe">

                <center><div id="previewapp" class="docs-demo-device"><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=1"></iframe></div>  </center>

            </div> 
        </div>

    </div>
</div>
<!-- /page content -->

