<!DOCTYPE html>
<style>
    .cstm-pgrp{
        padding: 8px 8px 8px 0px;
        margin: 0;
    }
    .cstm-pgrp a {
        color: #009a61;
    }
    .cstm-stripe-txt{
        font-family: Avenir;
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        color: #000000;
    }
    .cstm-reg-btn{
        background-color: #009a61;
        color: white;
        font-weight: 500;
    }
    .cstm-reg-btn:hover{
        color: white;
    }
    .stripe-div-margin{
       margin-right: -25px; 
    }
    @-moz-document url-prefix() {
      .stripe-div-margin{
           margin-right: -10px; 
        }
    }
    .toggle-tooltip-stripe {
        visibility: hidden;
        background-color: gray;
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -5px;
        min-height: 45px;
        margin-left: -50px;
    }
</style>
 <div class="right_col" role="main">
        <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;">
                    <div class="col-md-8 col-sm-8 col-xs-8" >
                        <div class="x_panel">
                            <form enctype="multipart/form-data" >
                                <div class="x_title">
                                    <button type="button" class="close" ng-click="stripeAccountRegClose()">&times;</button> 
                                    <h4 class="cstm-stripe-txt" style="font-size: 18px;">MyStudio Payments powered by Stripe</h4>
                                    <div class="clearfix"></div>
                                </div>
                                <br><br>
                                <p class="cstm-stripe-txt">Creating a MyStudio Payments account allows you to take payments directly through your app, online, and in person.</p>
                                <p class="cstm-stripe-txt">Funds from members' payments are settled into your designated bank account quickly and efficiently.</p>
                                <p class="cstm-stripe-txt">After completing the steps below, an immediate confirmation email will be sent to you with instructions to link your bank account.<p><br>
                                   
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_title">
                                        <center><h4 class="cstm-stripe-txt" style="font-size: 18px;">Create MyStudio Payments Account</h4></center>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><br><br>
                                <br><br>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div ng-show="emailstatus === 'U'" class="col-md-3 col-sm-3 col-xs-3" style="margin-left: 10px;padding-top: 6px;">
                                        <label class="cstm-stripe-txt" style="font-size: 14px;">Email&nbsp;:</label>
                                    </div>
                                    <div ng-show="emailstatus === 'S'" class="col-md-3 col-sm-3 col-xs-3" style="margin-left: 10px;padding-top: 6px;">
                                        <label class="cstm-stripe-txt" style="font-size: 14px;">Your Studio Email&nbsp;:</label>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7" style="margin-left: -5%;">
                                        <input type="text" class="form-control wp-model-form_align cstm-stripe-txt stripe-email-input" ng-model="stripeemail" style="border-radius:5px;" readonly>
                                    </div>
                                    <span class="toggle-tooltip-stripe">If you want to update email then edit from App Menu section</span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-sm-1 stripe-div-margin">
                                        <input type="checkbox" class="form-control wp-model-form_align" ng-model="stripeagreement">
                                    </div>
                                    <div class="col-sm-11" style="padding: 0;">
                                        <p class="cstm-pgrp cstm-stripe-txt">By activating your account, you agree to <a href="https://mystudio.app/MYSTUDIO_Terms_of_Agreement.html" target="_blank">our terms</a> and the <a href="https://stripe.com/gb/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a>.</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <center>
                                        <button id="stripe_login_btn" type="button" class="btn cstm-stripe-txt cstm-reg-btn" ng-disabled="!stripeemail || !stripeagreement" ng-click='stripeAccountRegistration()'>Register</button>
                                    </center>
                                </div>
        
                            </form> 
                        </div>
                    </div>
                </div>
        </div>
 </div>
