<!DOCTYPE html>
<div class="right_col"  role="main"> 
    <div class="row top_tiles">
        <!--    Template Event Layout-->

        <img ng-click="topreview()" src="../../image/scroll.png" class="preview-down"/>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="membershiptemplateTabs" class="nav nav-tabs bar_tabs templateTabs" role="tablist">
                        <li role="presentation" id="tem-martialarts" class="active-event-list"><a id="martialarts-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                        </li>
                        <li role="presentation" id="tem-dance" class="event-list-title"><a role="tab" id="dance-tab" data-toggle="tab" aria-expanded="false"></a>
                        </li>
                        <li role="presentation" id="tem-yoga" class="event-list-title"><a role="tab" id="yoga-tab" data-toggle="tab" aria-expanded="false"></a>
                        </li>
                        <li role="presentation" id="tem-fitness" class="event-list-title"><a role="tab" id="fitness-tab" data-toggle="tab" aria-expanded="false"></a>
                        </li>
                        <a class="card-icon eventactionlinks create-custom-text" ng-click="addmembership()"><i class="fa fa-1x fa-plus"></i>&nbsp;Create a custom membership&nbsp;</a>
                    </ul>
                    <span class="greentab-text greentab-text-active templatetext-1">Martial Arts</span>
                    <span class="greentab-text templatetext-2 tooltips">Dance<span class="tooltiptexts">Coming soon.</span></span>
                    <span class="greentab-text templatetext-3 tooltips">Yoga<span class="tooltiptexts">Coming soon.</span></span>
                    <span class="greentab-text templatetext-6 tooltips">Fitness<span class="tooltiptexts">Coming soon.</span></span>
                    <div class="x_panel template_x_panel">  
                        <div class="template-content"> 
                            <ul  class="list-unstyled events">
                                <li>
                                    <div id="livemembershiplevel{{$index}}" ng-repeat="template in templatemembership" class="col-md-12 card col-sm-12 card col-xs-12 card">
                                        <input type="hidden" ng-model="template.event_id" id="{{template.membership_id}}" value="{{$index}}"> 
                                        <div class="col-md-9 col-sm-9 col-xs-9"> 
                                            <h2 class="eventtitle">{{template.category_title}}</h2>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3"></div>
                                        <div class="row no-gutters"> 
                                            <div class="col-md-12 col-sm-12">
                                                <button class="card-icon eventcopy template-btn-md" ng-click="tempcopymembership(template.membership_id)">Use this template</button>&nbsp;
                                            </div>                                                    
                                        </div> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 iframe-mobile">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <center><div id="previewapp" class="docs-demo-device" ><iframe width="290" height="490" frameBorder="0" src="iframe-mobile/index.html?v=32"></iframe></div>   </center>
            </div>
        </div>
    </div>
</div>



