<!-- GROUP EMAIL MESSAGE MODAL -->
<div class="modal fade" id="trialgrpemailmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedList()">&times;</button>
                <h4 class="modal-title" id="trialgrpemailmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grpemailmessagecontcontent" style="font-size:16px;">
                <p>Subject:</p>
                <input type="text" placeholder="Enter subject here." class="form-control" ng-model="grpemailsubjectdata">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <wysiwyg textarea-id="message_content_1" textarea-class="form-control"  textarea-height="180px" textarea-name="textareaQuestion_1" textarea-required ng-model="grpemailmsgdata" enable-bootstrap-title="true"></wysiwyg>
                </div>
                <span>{{attachfile}}</span><br/>
                <span ng-show="maxEmailAttachmentSizeError" style="color: red">Maximum file size 10 MB is allowed.<br/></span>  
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br/>
                    <label class="myLabel">
                        <input id="filegrpattach" type="file" attachfileinput="file" filepreview="filepreview" ng-model="attachfile" name="attachfile" required/> 
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Attach File</span>
                    </label>
                    <a ng-show="filepreview || maxEmailAttachmentSizeError" class="btn btn-default btn-md" ng-click="removeAttachfile()" style="float:right;"><i class="fa fa-remove"></i>&nbsp;&nbsp;Remove</a>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpemaildone" type="button" class="btn btn-primary" ng-disabled="!grpemailmsgdata || !grpemailsubjectdata || maxEmailAttachmentSizeError" ng-click="trialsendGroupEmailPush()">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP EMAIL MESSAGE MODAL -->

<div class="modal fade" id="sendsubscriptioninviteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Message</h4>
            </div>
            <div class="modal-body"  style="font-size:16px;">User unsubscribed
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "trialsendGroupEmailPush()">Send Subscribe Invite</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- GROUP PUSH MESSAGE MODAL -->
<div class="modal fade" id="trialgrppushmessagecontModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearSelectedList()">&times;</button>
                <h4 class="modal-title" id="trialgrppushmessageconttitle"></h4>
            </div>
            <div class="modal-body" id="grppushemessagecontcontent" style="font-size:16px; height: 220px;">
                <p>Enter your message here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter notification here. Be effective, communicate in 140 characters or less." class="form-control" ng-model="grppushmsgdata"></textarea>
                </div>
                <div class="checkbox" style="float: right">
                    <label>
                        <input type="checkbox" id="also_send_email" style="cursor: pointer;" ng-model="also_send_email">Also send email
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="grpdone" type="button" class="btn btn-primary" ng-disabled="!grppushmsgdata" ng-click="trialsendGroupEmailPush()">{{grpbuttonText}}</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP PUSH MESSAGE MODAL -->
<div class="modal fade" id="emailerrormessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="emailerrormessagetitle">Message</h4>
            </div>
            <div class="modal-body" id="emailerrormessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"   ng-click = "unblockbounceemail()">unblock</button>
                 <button id="done" type="button" class="btn btn-default"   data-dismiss="modal">cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- GROUP CSV FILE DOWNLOAD MODAL -->
<div class="modal fade" id="trialgrpcsvdownloadModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialgrpcsvdownloadtitle"></h4>
            </div>
            <div class="modal-body" id="trialgrpcsvdownloadcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" ng-click="clearSelectedList();" data-dismiss="modal">Cancel</button>
                <button id="grpcsvdownloaddone" type="button" class="btn btn-default" ng-click="trialexportcheckedmembersexcel();" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- GROUP CSV FILE DOWNLOAD MODAL -->
<div class="modal fade" id="trialmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialmessagetitle"></h4>
            </div>
            <div class="modal-body" id="trialmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="trialsnackbar">Kindly select a member to proceed.</div>
<div class="right_col no-padding-right" role="main">
    <div class="row top_tiles trials-content">
        <div  class="col-md-12 col-sm-12 col-xs-12 no-padding" style="margin-top: -35px;margin-left: -20px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
                    <div id="trial-dashboardTabs" class="newtabgreen" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="managetrialTabs" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" id="li-dashboard" class="event-list-title"><a ng-click="trialdashboardredirectview()" role="tab" data-toggle="tab" aria-expanded="false"></a>
                            </li>
                            <li role="presentation" id="li-trials" class="active-event-list"><a ng-click="trialsview()" id="trials-tab" role="tab" data-toggle="tab" aria-expanded="true" style="background:#009a61 !important;"></a>
                            </li>
                            <li role="presentation" id="li-live" class="event-list-title"><a ng-click="trialredirectlivelistview()" role="tab" data-toggle="tab" aria-expanded="false"></a>
                            </li>
                        </ul>
                        <span class="greentab-text trialtab-text-1" ng-click="trialdashboardredirectview()" style="left:55px;">Dashboard</span>
                        <span class="greentab-text trialtab-text-2" ng-click="trialsview()" style="left:222px;">Trial Members</span>
                        <span class="greentab-text trialtab-text-3" ng-click="trialredirectlivelistview()" style="left:403px;">Trial Options</span>
                        <div class="x_panel no-padding">
                            <div id="managetrialTabsContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="customersview"  >
                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <div class="tab-brownbg" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="trialhomesubTab" class="nav nav-tabs bar_tabs bar_tabs_md" role="tablist">
                                                    <li role="presentation" id="li-trialactive" class="active-event-list"><a ng-click="active()" id="active-tab" role="tab" data-toggle="tab" aria-expanded="true">Active</a>
                                                    </li>
                                                    <li role="presentation" id="li-trialenrolled" class="event-list-title"><a ng-click="enrolled()"  role="tab" id="enrolled-tab" data-toggle="tab" aria-expanded="false">Enrolled</a>
                                                    </li>
                                                    <li role="presentation" id="li-trialcancelled" class="event-list-title"><a ng-click="cancelled()"  role="tab" id="cancelled-tab" data-toggle="tab" aria-expanded="false">Cancelled</a>
                                                    </li>
                                                    <li role="presentation" id="li-trialdidntstart" class="event-list-title" style="width: 125px !important;"><a ng-click="didnotstart()"  role="tab" id="didntstart-tab" data-toggle="tab" aria-expanded="false">Did not start</a>
                                                    </li>
                                                </ul>
                                                <div id="trialhomesubTabContent" class="tab-content">
                                                    <div role="tabpanel" ng-if="trialactiveview"  aria-labelledby="home-tab">
                                                        <div class="x_content dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="trialregister_typeselection" class="form-control" ng-model="liveregistertypeselection" ng-change="trialregistertypechange('A')">
                                                                        <option value="1" selected="">Registered</option>
                                                                        <option value="2" >Last Attended</option>
                                                                        <option value="3" >Attended</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="liveregistershowattended" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding" style="display: inline-flex;">
                                                                        <input class="form-control"  style="text-align: center; width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="livenotattended" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{liveshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                        <input class="form-control"  style="text-align: center;width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="livenotattended1" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{liveshowtextafter}}&nbsp;&nbsp;&nbsp;</span>
                                                                    </div>
                                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">&nbsp;&nbsp;&nbsp;
                                                                        <button type="button" ng-click="trialfilterattend('A', liveregistertypeselection)" ng-disabled="!livenotattended" class="btn btn-default" id="trialfilter" name="trialfilter">filter</button>
                                                                        <button type="button" ng-click="cleartrialfilterattend()" class="btn btn-default" id="trialclear" name="trialclear">clear</button>
                                                                    </div>
                                                                </div>
                                                                <div ng-if="liveregistershowattended1" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding" style="display: inline-flex;">
                                                                    <span style="padding-top: 5px;">{{liveshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                    <select id="active_list_date"  class="form-control" style="width:18%;" ng-model="livenotattended1" ng-change="triallastattenedclasschange('A', liveregistertypeselection)">
                                                                        <option value="14" selected=""> 14 Days</option>
                                                                        <option value="30" > 30 Days</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="liveregistershow" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding-left">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-left">
                                                                        <select id="onhold_list_date"  class="form-control" ng-model="activetrialdays" ng-change="trialdayselection('A')">
                                                                            <option value="1" selected="">Last 30 Days</option>
                                                                            <option value="2" >Last 60 Days</option>
                                                                            <option value="3" >Last 90 Days</option>
                                                                            <option value="4" >Date Range</option>
                                                                            <option value="5" >All</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="activetrialstartdate" ng-disabled="activetrialdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="activetrialstartdate" ng-model="activestartdate" ng-change="catchactivesdate()">
                                                                    </div>

                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="activetrialenddate" ng-disabled="activetrialdays !== '4' || activestartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="activetrialenddate" ng-model="activeenddate" ng-change="catchactiveedate()">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <button type="button" ng-disabled="((activestartdate === '' || activeenddate === '') && activetrialdays === '4') || activetrialdays !== '4'"  ng-click="trialfilterByDate('A', '4')"  class="btn btn-default" id="filter1" name="filter">filter</button>
                                                                        <button type="button" ng-click="trialclearfilter('A')" class="btn btn-default" id="clear1"  name="clear">clear</button>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('A', 'push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color':color_green == 'Y' }"  ng-click="trialsendGroupMsg('A', 'mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('A', 'csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable="" id="DataTables_Table_trail_1"  dt-options="trialdtOptions" dt-columns="trialdtColumns"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" ng-if="trialonholdeview" aria-labelledby="home-tab">
                                                        <div class="x_content dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="trialregister_typeselection" class="form-control" ng-model="enrolledregistertypeselection" ng-change="trialregistertypechange('E')">
                                                                        <option value="1" selected="">Registered</option>
                                                                        <option value="2" >Last Attended</option>
                                                                        <option value="3" >Attended</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="enrolledregistershowattended" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding" style="display: inline-flex;">
                                                                        <input class="form-control"  style="text-align: center; width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="enrollednotattended" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{enrolledshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                        <input class="form-control"  style="text-align: center;width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="enrollednotattended1" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{enrolledshowtextafter}}&nbsp;&nbsp;&nbsp;</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">&nbsp;&nbsp;&nbsp;
                                                                        <button type="button" ng-click="trialfilterattend('E', enrolledregistertypeselection)" ng-disabled="!enrollednotattended" class="btn btn-default" id="trialfilter" name="trialfilter">filter</button>
                                                                        <button type="button" ng-click="cleartrialfilterattend()" class="btn btn-default" id="trialclear" name="trialclear">clear</button>
                                                                    </div>
                                                                </div>
                                                                <div ng-if="enrolledregistershowattended1" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding" style="display: inline-flex;">
                                                                    <span style="padding-top: 5px;">{{enrolledshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                    <select id="active_list_date"  class="form-control" style="width:18%;" ng-model="enrollednotattended1" ng-change="triallastattenedclasschange('E', enrolledregistertypeselection)">
                                                                        <option value="14" selected=""> 14 Days</option>
                                                                        <option value="30" > 30 Days</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="enrolledregistershow" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding-left">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-left">
                                                                        <select id="onhold_list_date"  class="form-control" ng-model="holdtrialdays" ng-change="trialdayselection('E')">
                                                                            <option value="1" selected="">Last 30 Days</option>
                                                                            <option value="2" >Last 60 Days</option>
                                                                            <option value="3" >Last 90 Days</option>
                                                                            <option value="4" >Date Range</option>
                                                                            <option value="5" >All</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="holdtrialstartdate" ng-disabled="holdtrialdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="holdtrialstartdate" ng-model="onholdstartdate" ng-change="catchholdsdate()">
                                                                    </div>

                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="holdtrialenddate" ng-disabled="holdtrialdays !== '4' || onholdstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="holdtrialenddate" ng-model="onholdenddate" ng-change="catchholdedate()">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <button type="button"  ng-disabled="((onholdstartdate === '' || onholdenddate === '') && holdtrialdays === '4') || holdtrialdays !== '4'"  ng-click="trialfilterByDate('E', '4')"  class="btn btn-default" id="filter1" name="filter">filter</button>
                                                                        <button type="button"  ng-click="trialclearfilter('E')" class="btn btn-default" id="clear1"  name="clear">clear</button>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('E', 'push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color':color_green == 'Y' }"  ng-click="trialsendGroupMsg('E', 'mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('E', 'csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable=""  id="DataTables_Table_trail_2"  dt-options="trialdtOptions1" dt-columns="trialdtColumns1"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" ng-if="trialcancelview"  aria-labelledby="home-tab">
                                                        <div  class="x_content  dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="trialregister_typeselection" class="form-control" ng-model="cancelledregistertypeselection" ng-change="trialregistertypechange('C')">
                                                                        <option value="1" selected="">Registered</option>
                                                                        <option value="2" >Last Attended</option>
                                                                        <option value="3" >Attended</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="cancelledregistershowattended" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding" style="display: inline-flex;">
                                                                        <input class="form-control"  style="text-align: center; width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="cancellednotattended" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{cancelledshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                        <input class="form-control"  style="text-align: center;width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="cancellednotattended1" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{cancelledshowtextafter}}&nbsp;&nbsp;&nbsp;</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">&nbsp;&nbsp;&nbsp;
                                                                        <button type="button" ng-click="trialfilterattend('C', cancelledregistertypeselection)" ng-disabled="!cancellednotattended" class="btn btn-default" id="trialfilter" name="trialfilter">filter</button>
                                                                        <button type="button" ng-click="cleartrialfilterattend()" class="btn btn-default" id="trialclear" name="trialclear">clear</button>
                                                                    </div>
                                                                </div>
                                                                <div ng-if="cancelledregistershowattended1" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding" style="display: inline-flex;">
                                                                    <span style="padding-top: 5px;">{{cancelledshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                    <select id="active_list_date"  class="form-control" style="width:18%;" ng-model="cancellednotattended1" ng-change="triallastattenedclasschange('C', cancelledregistertypeselection)">
                                                                        <option value="14" selected=""> 14 Days</option>
                                                                        <option value="30" > 30 Days</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="cancelledregistershow" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding-left">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-left">
                                                                        <select id="cancelled_list_date"  class="form-control" ng-model="canceltrialdays" ng-change="trialdayselection('C')">
                                                                            <option value="1" selected="">Last 30 Days</option>
                                                                            <option value="2" >Last 60 Days</option>
                                                                            <option value="3" >Last 90 Days</option>
                                                                            <option value="4" >Date Range</option>
                                                                            <option value="5" >All</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="canceltrialstartdate" ng-disabled="canceltrialdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="canceltrialstartdate" ng-model="cancelledstartdate" ng-change="catchCStartDate()" >
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="canceltrialenddate" ng-disabled="canceltrialdays !== '4' || cancelledstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="canceltrialenddate" ng-model="cancelledenddate" ng-change="catchCEndDate()">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <button type="button" ng-disabled="((cancelledstartdate === '' || cancelledenddate === '') && canceltrialdays === '4') || canceltrialdays !== '4'"  ng-click="trialfilterByDate('C', '4')"  class="btn btn-default" id="filter2" name="filter">filter</button>
                                                                        <button type="button" ng-click="trialclearfilter('C')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('C', 'push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('C', 'mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('C', 'csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable="" id="DataTables_Table_trail_3"  dt-options="trialdtOptions2" dt-columns="trialdtColumns2"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" ng-if="trialdidntstartview"  aria-labelledby="home-tab">
                                                        <div  class="x_content  dt-wrap-div">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding-left">
                                                                    <select id="trialregister_typeselection" class="form-control" ng-model="didntstartregistertypeselection" ng-change="trialregistertypechange('D')">
                                                                        <option value="1" selected="">Registered</option>
                                                                        <option value="2" >Last Attended</option>
                                                                        <option value="3" >Attended</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="didntstartregistershowattended" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding" style="display: inline-flex;">
                                                                        <input class="form-control"  style="text-align: center; width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="didntstartnotattended" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{didntstartshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                        <input class="form-control"  style="text-align: center;width:20%;padding-left: 0;padding-right: 0;" type="text" ng-model="didntstartnotattended1" valid-quantity="" >&nbsp;&nbsp;&nbsp;<span style="padding-top: 5px;">{{didntstartshowtextafter}}&nbsp;&nbsp;&nbsp;</span>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">&nbsp;&nbsp;&nbsp;
                                                                        <button type="button" ng-click="trialfilterattend('D', didntstartregistertypeselection)" ng-disabled="!didntstartnotattended" class="btn btn-default" id="trialfilter" name="trialfilter">filter</button>
                                                                        <button type="button" ng-click="cleartrialfilterattend()" class="btn btn-default" id="trialclear" name="trialclear">clear</button>
                                                                    </div>
                                                                </div>
                                                                <div ng-if="didntstartregistershowattended1" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding" style="display: inline-flex;">
                                                                    <span style="padding-top: 5px;">{{didntstartshowtextbefore}}&nbsp;&nbsp;&nbsp;</span>
                                                                    <select id="active_list_date"  class="form-control" style="width:18%;" ng-model="didntstartnotattended1" ng-change="triallastattenedclasschange('D', didntstartregistertypeselection)">
                                                                        <option value="14" selected=""> 14 Days</option>
                                                                        <option value="30" > 30 Days</option>
                                                                    </select>
                                                                </div>
                                                                <div ng-if="didntstartregistershow" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding-left">
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding-left">
                                                                        <select id="cancelled_list_date"  class="form-control" ng-model="didntstarttrialdays" ng-change="trialdayselection('D')">
                                                                            <option value="1" selected="">Last 30 Days</option>
                                                                            <option value="2" >Last 60 Days</option>
                                                                            <option value="3" >Last 90 Days</option>
                                                                            <option value="4" >Date Range</option>
                                                                            <option value="5" >All</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="didntstarttrialstartdate" ng-disabled="didntstarttrialdays !== '4'" class="form-control"  style="text-align: center" type="text" placeholder="Start Date" ng-disabled="" name="didntstarttrialstartdate" ng-model="didntstartstartdate" ng-change="catchdidntsdate()" >
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <input id="didntstarttrialenddate" ng-disabled="didntstarttrialdays !== '4' || didntstartstartdate === ''" class="form-control"  style="text-align: center" type="text" placeholder="End Date"  name="didntstarttrialenddate" ng-model="didntstartenddate" ng-change="catchdidntedate()">
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                        <button type="button"  ng-disabled="((didntstartstartdate === '' || didntstartenddate === '') && didntstarttrialdays === '4') || didntstarttrialdays !== '4'"  ng-click="trialfilterByDate('D', '4')"  class="btn btn-default" id="filter2" name="filter">filter</button>
                                                                        <button type="button"  ng-click="trialclearfilter('D')" class="btn btn-default" id="clear"  name="clear">clear</button>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                            <div class="action-icons-top">
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('D', 'push')"><i class="fa fa-mobile-phone" style="font-size: 1.5em;"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Push Message</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('D', 'mail')"><i class="fa fa fa-envelope"></i><label style="cursor: pointer;">&nbsp;&nbsp;Group Email</label></a>
                                                                <a class="action-icons-top-format" ng-class="{'member-selection-color': color_green == 'Y'}"  ng-click="trialsendGroupMsg('D', 'csv')"><i class="fa fa-1x fa-file-excel-o"></i><label style="cursor: pointer;">&nbsp;&nbsp;Export Selection</label></a>
                                                            </div>
                                                            <table datatable=""   id="DataTables_Table_trail_4" dt-options="trialdtOptions3" dt-columns="trialdtColumns3"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>