<!DOCTYPE html>


<!-- TRIAL HISTORY ADD NOTE MODAL -->
<div class="modal fade" id="trialHistoryNoteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialHistoryNotetitle"></h4>
            </div>
            <div class="modal-body" id="trialHistoryNotecontent" style="font-size:16px;">
                <p>Enter your note here:</p>
                <div class="x_panel">
                    <textarea placeholder="Enter note here." class="form-control" ng-model="trialhistorynote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="trialHistoryNotedone" type="button" class="btn btn-primary" ng-disabled="!trialhistorynote" ng-click="confirmtrialeditHistoryNote()">{{TrialHistoryNoteButton}}</button>
            </div>
        </div>
    </div>
</div>
<!-- TRIAL HISTORY ADD NOTE MODAL -->


<!-- TRIAL HISTORY DELETE NOTE MODAL -->
<div class="modal fade" id="trialHistoryNoteDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialHistoryNoteDeletetitle"></h4>
            </div>
            <div class="modal-body" id="trialHistoryNoteDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="trialHistoryNoteDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="trialHistoryNoteDeletedone" type="button" class="btn btn-primary" ng-click="confirmtrialeditHistoryNote()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- TRIAL HISTORY DELETE NOTE MODAL -->

<!-- TRIAL STATUS MODAL -->
<div class="modal fade" id="trialStatusModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="showTrialStatusEditCancel(trial_detail.trial_status)">&times;</button>
                <h4 class="modal-title" id="trialStatustitle"></h4>
            </div>
            <div class="modal-body" id="trialStatuscontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showTrialStatusEditCancel(trial_detail.trial_status)">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="actionTrialConfirm(trialactionValue)">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- TRIAL STATUS MODAL -->

<!-- TRIAL STATUS DATE UPDATION MODAL -->
<div class="modal fade" id="trialStatusEnrolledModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialStatusEnrolledtitle">Message</h4>
            </div>
            <div class="modal-body" id="trialStatusEnrolledcontent" style="font-size:16px;">
                <span>Please Select Enrolled Date</span>
                <input type="text" id="trial_nxt_pay_date" ng-model="trial_nxt_pay_date" name="trial_nxt_pay_date" placeholder='mm/dd/yyyy'>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="updateTrialStatus('E')" ng-disabled="!trial_nxt_pay_date">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- TRIAL STATUS DATE UPDATION MODAL -->

<!-- TRIAL PAYMENT HISTORY EMAIL MODAL -->
<div class="modal fade" id="payTrialHistoryEmailModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="payTrialHistoryEmailtitle"></h4>
            </div>
            <div class="modal-body" id="payTrialHistoryEmailcontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="trialHistoryNoteDeleteCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="trialHistoryNoteDeletedone" type="button" class="btn btn-primary" ng-click="confirmsendTrialPayHistoryEmail()">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Trial Refund modal -->
<div class="modal fade" id="trialRefundActionModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialRefundActiontitle"></h4>
            </div>
            <div class="modal-body" id="trialRefundActioncontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="trialRefundcancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="confirmTrialRefund()" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Attendance Log Modal-->
<div class="modal fade" id="trialattendancemodal" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <center><h4>Add attendance log for {{trial_detail.participant_name}}</h4></center>
            </div>
            <center>
                <div class="modal-body">
                <button ng-hide="trialdatepickershow" class="btn btn-primary btn-lg btn-custom" style="border-radius: 5px; color: black; border: 2px solid black; background-color: white; min-width: 110px" ng-click="showTrialDatePicker()">Date</button>
                <input ng-show="trialdatepickershow" id="trialattendancedate" class="form-control small-input inline" ng-change="catchTrialAttendanceDate('Y')" style="text-align: center" type="text" placeholder='mm/dd/yyyy' name="trialattendancedate" ng-model="trialattendancedate">
                <button ng-hide="trialtimepickershow" ng-disabled="!trialattendancedate" class="btn btn-primary btn-lg btn-custom" style="border-radius: 5px; color: black; border: 2px solid black; background-color: white; min-width: 110px" ng-click="showTrialTimePicker()">Time</button>
                <input ng-show="trialtimepickershow" id="trialattendancetime" class="form-control small-input inline" ng-change="catchTrialStartTime()" style="text-align: center"  type="text" placeholder="HH:mm"  name="trialattendancetime" ng-model="trialattendancetime"><br><br>
                <span style="color:red" ng-show="trialdatetimeerror">Attendance date and time should be before the current time</span><br>
                <button  class="btn btn-primary btn-lg btn-custom" style="border-radius: 5px; background-color: #9d9e9f; border: 2px solid #9d9e9f; min-width: 110px" ng-click="cancelTrialAttendance()">Cancel</button>
                <button  class="btn btn-primary btn-lg btn-custom" ng-disabled="!trialattendancedate || !trialattendancetime" style="border-radius: 5px; background-color: #00ad68; border: 2px solid #00ad68; min-width: 110px" ng-click="addorDeleteTrialAttendance('A')">Add</button>
            </div>
            </center>
        </div>
    </div>
</div>

<!-- ATTENDANCE HISTORY DELETE MODAL -->
<div class="modal fade" id="trialattendanceHistoryDeleteModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialattendanceHistoryDeletetitle"></h4>
            </div>
            <div class="modal-body" id="trialattendanceHistoryDeletecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="trialattendanceHistoryCancel" type="button" class="btn btn-default" ng-click="cancelDeleteTrialAttendance()">Cancel</button>
                <button id="trialattendanceHistoryDeletedone" type="button" class="btn btn-primary" ng-click="addorDeleteTrialAttendance('D')">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trialsuccessModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialsuccesstitle"></h4>
            </div>
            <div class="modal-body" id="trialsuccesscontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<!-- STRIPE PAYMENT METHOD UPDATE MODAL -->
<div class="modal fade" id="UpdateTrialPaymentMethodModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 10px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearStripeCardData()">&times;</button>
                <h4 class="modal-title srtipe-payout-txt" id="UpdateTrialPaymentMethodModaltitle"></h4>
            </div>
            <div class="modal-body" id="UpdateTrialPaymentMethodModalModalcontent">
                <div class="col-md-12 col-sm-12 col-xs-12" >
                    <label for="firstname">First Name<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_firstName" placeholder="" class="form-control" name="stripe_firstname" ng-model="stripe_first_name" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="lastname">Last Name<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_lastName" placeholder="" class="form-control" name="stripe_lastname" ng-model="stripe_last_name" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label for="email">Email<span style="color:red;">*</span></label>
                    <input type="text" id="stripe_email" placeholder="" class="form-control" name="stripe_email" ng-model="stripe_email" required>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="stripe-form srtipe-payout-txt">
                        <label>Enter your credit card information<span style="color:red;">*</span></label>
                        <div id="trial-stripe-card-element" class="form-control"></div>
                        <!--Used to display form errors--> 
                        <div style="color: red" id="trial-stripe-card-errors" role="alert"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer srtipe-payout-txt" style="border-top:none;">
                <button id="done" type="button" class="btn btn-success"  ng-click="createStripePaymentMethod()" ng-disabled="!stripe_first_name || !stripe_last_name || !stripe_email " style="background-color: #009a61;">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- STRIPE PAYMENT METHOD UPDATE MODAL -->


<!-- PAYMENT METHOD MODEL> -->
<div class="modal fade" id="editTrialpaymentMethodModal" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-content model-cus-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="trialresetForm()">&times;</button>
                <h4 class="modal-title" id="editTrialpaymentMethodActiontitle"></h4>
            </div>
            <div class="modal-body">
                <div class="x_panel" style="border: 2px solid #00ad68;">
                    <div>
                        <form enctype="multipart/form-data" novalidate id="tdpaymentform" name="tdpaymentform">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">     
                                <div class="col-md-12" >
                                    <label for="firstname">First Name<span style="color:red;">*</span></label>
                                    <input type="text" id="firstName" placeholder="" class="form-control" name="firstname" ng-model="firstname" required>
                                    <span style="color: red" ng-show="(tdpaymentform.firstname.$touched && tdpaymentform.firstname.$invalid)">
                                        First name is required
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label for="lastname">Last Name<span style="color:red;">*</span></label>
                                    <input type="text" id="lastName" placeholder="" class="form-control" name="lastname" ng-model="lastname" required>
                                    <span style="color: red" ng-show="(tdpaymentform.lastname.$touched && tdpaymentform.lastname.$invalid)">
                                        Last name is required
                                    </span>
                                    <input type="hidden" id="name" ng-model="name">
                                </div>
                                <div class="col-md-12">
                                    <label for="email">Email<span style="color:red;">*</span></label>
                                    <input type="text" id="email" placeholder="" class="form-control" name="email" ng-model="email" required>
                                    <span style="color: red" ng-show="(tdpaymentform.email.$touched && tdpaymentform.email.$invalid)">
                                        Email is required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">   
                                <div  class="col-md-12" >                                            
                                    <label for="cardnumber">Card number<span style="color:red;">*</span></label>
                                    <input type="text" id="cc-number" placeholder="" class="form-control" name="cardnumber" ng-model="cardnumber" required>
                                    <span style="color: red" ng-show="(tdpaymentform.cardnumber.$touched && tdpaymentform.cardnumber.$invalid)">
                                        Card number is required
                                    </span>
                                </div>
                                <div  class="col-md-12">
                                    <div><label>Expiration Date<span style="color:red;">*</span></label></div>
                                    <div class="col-md-6 no-padding">
                                        <select class="form-control" id="cc-month" name='ccmonth' ng-model="$parent.ccmonth">
                                            <option disabled selected value>Month</option>
                                            <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                        </select>                                            
                                        <span style="color: red" ng-show="tdpaymentform.ccmonth.$touched && (tdpaymentform.ccmonth.$error.required || ccmonth === undefined)">
                                            Select Expiration Month
                                        </span>
                                    </div>
                                    <div class="col-md-6" style="padding-right: 0px;">
                                        <select class="form-control" id="cc-year" name='ccyear' ng-model="$parent.ccyear">
                                            <option disabled selected value>Year</option>
                                            <option ng-repeat="year in ccyearlist">{{year}}</option>
                                        </select>                                            
                                        <span style="color: red" ng-show="tdpaymentform.ccyear.$touched && (tdpaymentform.ccyear.$error.required || ccyear === undefined)">
                                            Select Expiration Year
                                        </span>
                                    </div>
                                </div>
                                <div  class="col-md-12">
                                    <label>CVV<span style="color:red;">*</span></label>
                                    <input type="text" id="cc-cvv" placeholder="" class="form-control" name="cvv" ng-model="cvv" required>
                                    <span style="color: red" ng-show="(tdpaymentform.cvv.$touched && tdpaymentform.cvv.$invalid)">
                                        CVV is required
                                    </span>
                                </div>
                                <div  class="col-md-6">
                                    <label>Country<span style="color:red;">*</span></label>
                                    <select id="country" class="form-control" ng-model="$parent.country" name='country'>
                                        <option disabled selected value>-- Choose country --</option>
                                        <option value="US">United states</option>
                                        <option value="CA">Canada</option>
                                        <option value="GB">United Kingdom</option>
                                    </select>
                                    <span style="color: red" ng-show="tdpaymentform.country.$touched && (tdpaymentform.country.$error.required || country === undefined)">
                                        Select country
                                    </span>
                                </div>
                                <div class="col-md-6">
                                    <label for="postal_code">Zip code<span style="color:red;">*</span></label>
                                    <input type="text" id="postal_code" placeholder="" class="form-control" name="postal_code" ng-model="postal_code" required>
                                    <span style="color: red" ng-show="(tdpaymentform.postal_code.$touched && tdpaymentform.postal_code.$invalid)">
                                        Zip code is required
                                    </span>
                                </div>
                            </div>
                            <center>
                                <a data-dismiss="modal" ng-click="trialresetForm()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                <input  type="submit" name="Submit" value="Update" id="cc-submittrials" class="btn btn-primary btn-lg btn-custom"
                                        ng-disabled="tdpaymentform.$invalid || ccmonth === undefined || ccyear === undefined || country === undefined">
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--model for rerun-->
<div class="modal fade" id="paymentHistoryModal" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle"></h4>
            </div>
            <div class="modal-body" id="paymentHistorycontent" style="font-size:16px;"> </div>
<!--            <span style="margin-left: 2.5%;" ng-show="membership_detail.membership_status ==='C'">Update Payment Method details, if card details has expired</span> 
            <div style="margin-top: 10px; margin-left: 2.5%;" ng-show="membership_detail.membership_status ==='C'">
                <i class="fa fa-1x fa-pencil" ng-click="showMemPaymentMethodModal()"></i><span class="msdetailtxt no-padding">&nbsp;&nbsp;Payment Method:&nbsp;&nbsp;{{membership_detail.credit_card_name}}</span>
            </div>-->
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="actionReRunConfirm(trialactionValue)" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--UPDATE PAYMENT AMOUNT MODAL-->
<div class="modal fade" id="paymentHistoryModal1" data-backdrop="static" role="dialog" style="overflow: auto;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle1"></h4>
            </div>
            <div class="x_panel" style="width: 100%;border: 1px solid #00ad68 ;"> 
                <div class="modal-body">
                    Credit Amount: <input type="text" style="width:70px;"  ng-model="temp_past_paymentarray1" valid-number readonly=""> 
                    <select ng-model="applypaymentcredit_option" style="width: 63%;height: 44px;padding-left: 12px;">
                        <option value="MC">Manual credit</option>
                        <option value="CA">Cash</option>
                        <option value="CH">Check</option>
                    </select>
                </div>            
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-disabled="!temp_past_paymentarray1" ng-click="updatePaidquantity(temp_past_paymentarray2, temp_past_paymentarray1)" class="btn btn-default">OK</button>
            </div>
        </div>
    </div>
</div>

<!--FUNCTION CALL OF UPDATE PAYMENT MODAL-->
<div class="modal fade" id="paymentHistoryModal3" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="paymentHistorytitle3"></h4>
            </div>
            <div class="modal-body" id="paymentHistorycontent3" style="font-size:16px;"><span ng-model="upcoming_creditamount"></span>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="confirmCreditAmount(upcoming_creditamount)" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trialmessageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="trialmessagetitle"></h4>
            </div>
            <div class="modal-body" id="trialmessagecontent" style="font-size:16px;">
            </div>
            <div class="modal-footer">
                <button id="done" type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Trial content start-->
<div class="right_col" role="main">
    <div class="row top_tiles">
        <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;">
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="customer_view" >
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" aria-labelledby="home-tab">
                                    <!--   Payment Layout-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="trialDetail" ng-app="trialDetail" ng-init="openTrialDetailsPage()" >
                                        <div class="x_panel">
                                            <div class="top-region">
                                                <a ng-click="closeTrialDetailView()" style="cursor: pointer;float: left;"><i class='fa fa-chevron-left'></i>&nbsp;Back</a>
                                                <center>
                                                    <label class="ms-detail-bold-head">Buyer:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{trial_detail.buyer_name}}</span>&nbsp;&nbsp;&nbsp;
                                                    <label class="ms-detail-bold-head">Participant:</label>&nbsp;&nbsp;<span class="ms-detail-head">{{trial_detail.participant_name}}</span>
                                                </center>
                                            </div>
                                            <div class="newtabgreen detail-page-tab" role="tabpanel" data-example-id="togglable-tabs">
                                                <ul id="trialdetailtabs" class="nav nav-tabs bar_tabs " role="tablist">
                                                    <li role="presentation" id="li-trialdetails" class="active-event-list">
                                                        <a ng-click="trialdetails()" id="trialdetails-tab" role="tab" data-toggle="tab" aria-expanded="true"></a>
                                                    </li>
                                                    <li role="presentation" id="li-trialparticipantinfo" class="event-list-title">
                                                        <a ng-click="trialparticipantinfo()"  role="tab" id="trialparticipantinfo-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                    <li role="presentation" id="li-trialhistory" class="event-list-title">
                                                        <a ng-click="trialhistory()"  role="tab" id="trialhistory-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                    <li role="presentation" id="li-trialpaymenthistory" class="event-list-title">
                                                        <a ng-click="trialpaymenthistory()"  role="tab" id="trialpaymenthistory-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                    <li role="presentation" id="li-trialattendancedetails" class="event-list-title">
                                                        <a ng-click="trialattendanceDetails()" role="tab" id="trialattendancedetails-tab" data-toggle="tab" aria-expanded="false"></a>
                                                    </li>
                                                </ul>
                                                <span class="greentab-text trialdetail-tabtext-1 greentab-text-active" ng-click="trialdetails()">Trial Details</span>
                                                <span class="greentab-text trialdetail-tabtext-2" ng-click="trialparticipantinfo()">Participant Info</span>
                                                <span class="greentab-text trialdetail-tabtext-3" ng-click="trialhistory()">Trial History</span>
                                                <span class="greentab-text trialdetail-tabtext-4" ng-click="trialpaymenthistory()">Payment Details</span>
                                                <span class="greentab-text trialdetail-tabtext-5" ng-click="trialattendanceDetails()">Attendance Details</span>
                                            </div>

                                            <!--Trial Details Edit Screen-->
                                            <div role="tabpanel" ng-show="trialdetailsview" aria-labelledby="home-tab">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container">
                                                    <!--Current Membership Plan-->
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div class="msdetail-container-top">
                                                            <span class="msdetail-headtxt">TRIAL PROGRAM PLAN</span><br><br>
                                                            <span class="msdetailtxt">Participant:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.participant_name}}<br></span></span></span>
                                                            <span class="msdetailtxt">Trial Category:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.trial_category}}<br></span></span></span>
                                                            <span class="msdetailtxt">Registration Date:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.created_dt| date:'MMM dd, yyyy'}}<br></span></span></span>
                                                            <span class="msdetailtxt">Lead Source:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.leadsource}}<br></span></span></span>
                                                            <span class="msdetailtxt">Trial Start Date:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.start_date| date:'MMM dd, yyyy'}}<br></span></span></span>
                                                            <span class="msdetailtxt">Trial End Date:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.end_date| date:'MMM dd, yyyy'}}<br></span></span></span>
                                                            <span class="msdetailtxt">Status:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.trial_status==='A'?'Active':(trial_detail.trial_status==='E'?'Enrolled':(trial_detail.trial_status==='C'?'Cancelled':'Did Not Start'))}}<br><br></span></span></span>
                                                            <span class="msdetailtxt">Trial Price:<span class="inner-container1"><span class="msdetailtxt no-padding">{{wp_currency_symbol}}{{trial_detail.payment_amount}}<br></span></span></span>
                                                            <span class="msdetailtxt" ng-show="{{trial_detail.payment_method=='CC'}}">Payment Method:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.credit_card_name}}<br><br></span></span></span>
                                                            <span class="msdetailtxt" ng-show="{{trial_detail.payment_method=='CA' || trial_detail.payment_method=='CH'}}">Payment Method:<span class="inner-container1"><span class="msdetailtxt no-padding">Manual<br><br></span></span></span>
                                                        </div>
                                                        <center class="msdetail-container-bottom"><br><br><br><br>
                                                            <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button"  ng-click="ShowNewEditTrialDetails()"><span>Edit</span></button>
                                                        </center>
                                                    </div>

                                                    <!--Edit Current Trial Plan-->
                                                    <div ng-show="showTrialEditconfirm" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 green-border-left">
                                                        <div class="msdetail-container-top">
                                                            <span class="msdetail-headtxt">NEW TRIAL PROGRAM PLAN</span><br><br>
                                                            <span class="msdetailtxt">Participant:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.participant_name}}<br></span></span></span>
                                                            <span class="msdetailtxt">Trial Category:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.trial_category}}<br></span></span></span>
                                                            <span class="msdetailtxt">Registration Date:<span class="inner-container1"><span class="msdetailtxt no-padding">{{trial_detail.created_dt| date:'MMM dd, yyyy'}}<br></span></span></span>
                                                            <div class="col-lg-12 col-md-12 no-padding-left">
                                                                <i ng-hide="trialleadeditStatus" class="fa fa-1x fa-pencil"ng-click="showTrialLeadEdit()"></i><span class="msdetailtxt no-padding" ng-hide="trialleadeditStatus">&nbsp;&nbsp;Lead Source:&nbsp;&nbsp;{{trial_detail.leadsource}}</span><span class="msdetailtxt" ng-show="trialleadeditStatus">Lead Source:&nbsp;</span>
                                                                <select ng-show="trialleadeditStatus" id="trialleadsource" class="form-control small-select inline" ng-model="selected_trialeditleadsource">
                                                                    <option id="leadsource{{$index}}" ng-repeat="ls in trial_leadsource_arr" >{{ls.lead_col_name}}</option>
                                                                </select><i class="fa fa-1x fa-close inline" ng-show="trialleadeditStatus" ng-click="showTrialLeadEditCancel()" style="padding: 10px;"></i>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 no-padding-left">
                                                                <i ng-hide="trialstarteditStatus || trial_detail.trial_status === 'C'" class="fa fa-1x fa-pencil" ng-click="showTrialStartdateEdit()"></i><span ng-if="trial_detail.trial_status === 'C'">&nbsp;&nbsp;&nbsp;</span><span class="msdetailtxt no-padding" ng-hide="trialstarteditStatus">&nbsp;&nbsp;Trial Start Date:&nbsp;&nbsp;{{trial_detail.start_date| date:'MMM dd, yyyy'}}</span><span class="msdetailtxt" ng-show="trialstarteditStatus">Trial Start Date:&nbsp;</span>
                                                                <input type="text" id="selected_trialstartdate" ng-show="trialstarteditStatus" ng-change="catcheditstartdate()" class='form-control small-input inline no-padding' name="selected_trialstartdate" ng-model="selected_trialstartdate">
                                                                <i class="fa fa-1x fa-close inline" ng-show="trialstarteditStatus" ng-click="showTrialStartdateCancel()" style="padding: 10px;"></i>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 no-padding-left">
                                                                <i ng-hide="trialEndeditStatus || trial_detail.trial_status === 'C'" class="fa fa-1x fa-pencil" ng-click="showTrialEnddateEdit()"></i><span ng-if="trial_detail.trial_status === 'C'">&nbsp;&nbsp;&nbsp;</span><span class="msdetailtxt no-padding" ng-hide="trialEndeditStatus">&nbsp;&nbsp;Trial End Date:&nbsp;&nbsp;{{trial_detail.end_date| date:'MMM dd, yyyy'}}</span><span class="msdetailtxt" ng-show="trialEndeditStatus">Trial End Date:&nbsp;&nbsp;</span>
                                                                <input type="text" id="selected_trialenddate" ng-show="trialEndeditStatus" ng-change="catcheditenddate()" class='form-control small-input inline no-padding' name="selected_trialenddate" ng-model="selected_trialenddate">
                                                                <i class="fa fa-1x fa-close inline" ng-show="trialEndeditStatus" ng-click="showTrialEnddateCancel()" style="padding: 10px;"></i>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 no-padding-left" style="margin-bottom: 30px;">
                                                                <i ng-hide="trialeditStatus" class="fa fa-1x fa-pencil"ng-click="showTrialStatusEdit()"></i><span class="msdetailtxt no-padding" ng-hide="trialeditStatus">&nbsp;&nbsp;Status:&nbsp;&nbsp;{{trial_detail.trial_status==='A'?'Active':(trial_detail.trial_status==='E'?'Enrolled':(trial_detail.trial_status==='C'?'Cancelled':'Did Not Start'))}}</span><span class="msdetailtxt" ng-show="trialeditStatus">Status:&nbsp;</span>
                                                                <select ng-show="trialeditStatus" id="trialstructure" ng-change="performTrialAction(trialstatus)" class="form-control small-select inline" ng-model="trialstatus">
                                                                    <option  value="A">Active</option>
                                                                    <option  value="E">Enrolled</option>
                                                                    <option  value="C">Cancel</option>
                                                                    <option  value="D">Did not start</option>
                                                                </select>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-1x fa-close inline" ng-show="trialeditStatus" ng-click="showTrialStatusEditCancel(trial_detail.trial_status)"></i>
                                                            </div>                                                                                
                                                            <span class="msdetailtxt">Trial Price:<span class="inner-container1"><span class="msdetailtxt no-padding">{{wp_currency_symbol}}{{trial_detail.payment_amount}}<br></span></span></span><br>
                                                            <div style="margin-top: 30px;">
                                                                <i class="fa fa-1x fa-pencil" ng-click="showTrialPaymentMethodModal()"></i><span class="msdetailtxt no-padding">&nbsp;&nbsp;Payment Method:&nbsp;&nbsp;{{trial_detail.credit_card_name}}</span>
                                                            </div>
                                                            <br><br>
                                                        </div>
                                                        <center class="msdetail-container-bottom"><br><br><br><br>
                                                            <button class="btn btn-primary btn-lg btn-custom" style="background-color: #00ad68; border: 2px solid #00ad68;" type="button"  ng-click="UpdateTrialDetail()"><span>Update</span></button>
                                                            <button class="btn btn-default btn-lg btn-custom" type="button"  ng-click="cancelTrialDetailUpdate()"><span>Cancel</span></button>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Membership Details Edit Screen-->


                                            <!--Participant Info Edit Screen-->
                                            <div role="tabpanel" ng-show="trialparticipantinfoview"  aria-labelledby="home-tab">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msdetail-container">

                                                    <!--Edit Participant details--> 
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <div ng-hide="showTrialParEdit" >
                                                            <div class="msdetail-container-top" style="height: 530px;">
                                                                <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED PARTICIPANT INFO</span><br><br>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span class="msdetailtxt inline">&nbsp;&nbsp;First Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt inline no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_registration_column_1}}<br></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span class="msdetailtxt inline ">&nbsp;&nbsp;Last Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_registration_column_2}}<br></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Date of Birth:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_registration_column_3| date:'MMM dd, yyyy'}}<br></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Age:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.age}}</span><br><br><br>
                                                                    </div>
                                                                </div>
                                                                <span  class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED BUYER INFO</span><br><br>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer First Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.buyer_first_name}}</span><br>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer Last Name:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.buyer_last_name}}</span><br>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Phone Number:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.buyer_phone}}</span><br>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span  class="msdetailtxt inline">&nbsp;&nbsp;Email:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.buyer_email}}</span><br>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;Address:</span>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 no-padding" style="float: left">
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_participant_street ? trial_participant_info.trial_participant_street+',' :''}}</span><br>
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_participant_city ? trial_participant_info.trial_participant_city+',' :''}}
                                                                            {{trial_participant_info.trial_participant_state ? trial_participant_info.trial_participant_state+',' :''}}</span><br>
                                                                        <span class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_participant_info.trial_participant_country ? trial_participant_info.trial_participant_country+',' :''}}
                                                                            {{trial_participant_info.trial_participant_zip}}</span>
                                                                    </div><br>
                                                                </div>
                                                            </div>
                                                            <center class="msdetail-container-bottom">
                                                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-click="showTrialParticipantEdit()"><span>Edit</span></button>
                                                            </center>
                                                        </div>
                                                        <div ng-show="showTrialParEdit">
                                                            <div class="msdetail-container-top" style="height: 530px;">
                                                                <span class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED PARTICIPANT INFO</span><br><br>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span class="msdetailtxt inline">&nbsp;&nbsp;First Name:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline no-padding'  ng-model="trialparfirstname"><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span class="msdetailtxt inline ">&nbsp;&nbsp;Last Name:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline no-padding'  ng-model="trialparlastname"><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span  class="msdetailtxt inline">&nbsp;&nbsp;Date of Birth:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input id="trialbirthstartdate" class="form-control medium-input inline no-padding"  type="text" placeholder='mm/dd/yyyy'   name="trialbirthdate_curr" ng-model="trialbirthdate_curr"><br><br><br>
                                                                </div>
                                                                <span  class="msdetail-headtxt">&nbsp;&nbsp;REQUIRED BUYER INFO</span><br><br>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer First Name:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="buyerfirstname"><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span  class="msdetailtxt inline">&nbsp;&nbsp;Buyer Last Name:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="buyerlastname"><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span  class="msdetailtxt inline">&nbsp;&nbsp;Phone Number:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.buyer_phone" valid-number><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span  class="msdetailtxt inline">&nbsp;&nbsp;Email:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.buyer_email"><br>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;Address:</span>
                                                                </div>
                                                                <div class="col-lg-8 col-md-8 col-sm-8 no-padding">
                                                                    <input type="text" class='form-control medium-input' placeholder="street"  ng-model="trialeditparticipant.trial_participant_street">
                                                                    <input type="text" class='form-control medium-input' placeholder="city"  ng-model="trialeditparticipant.trial_participant_city">
                                                                    <input type="text" class='form-control medium-input' placeholder="state"  ng-model="trialeditparticipant.trial_participant_state">
                                                                    <input type="text" class='form-control medium-input' placeholder="country"  ng-model="trialeditparticipant.trial_participant_country">
                                                                    <input type="text" class='form-control medium-input' placeholder="zipcode"  ng-model="trialeditparticipant.trial_participant_zip">
                                                                </div><br>
                                                            </div>
                                                            <center class="msdetail-container-bottom">
                                                                <a ng-click="resetTrialEditParticipant()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="!trialparfirstname || !trialparlastname || !buyerfirstname || !buyerlastname"
                                                                        ng-click="updateTrialParticipantName(trialparfirstname, trialparlastname, buyerfirstname, buyerlastname, trialbirthdate_curr, trialeditparticipant.buyer_phone, trialeditparticipant.buyer_email, trialeditparticipant.trial_participant_street, trialeditparticipant.trial_participant_city, trialeditparticipant.trial_participant_state, trialeditparticipant.trial_participant_country, trialeditparticipant.trial_participant_zip, trialeditparticipant.trial_registration_column_5, trialeditparticipant.trial_registration_column_6,
                                                                                                            trialeditparticipant.trial_registration_column_7, trialeditparticipant.trial_registration_column_8, trialeditparticipant.trial_registration_column_9, trialeditparticipant.trial_registration_column_10)"><span>Save</span></button>
                                                                <br><br><br>
                                                            </center>
                                                        </div>
                                                    </div>

                                                    <!--Edit Participant Registration details--> 
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 green-border-left">
                                                        <div ng-hide="showTrialCusParEdit">
                                                            <div class="msdetail-container-top" >
                                                                <span class="msdetail-headtxt">&nbsp;&nbsp;CUSTOM PARTICIPANT FIELDS</span><br><br>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_5}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_5}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_6}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_6}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_7}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_7}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_8}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_8}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_9}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_9}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row no-margin">
                                                                    <div ng-show="trial_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_10}}:</span>
                                                                    </div>
                                                                    <div ng-show="trial_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                        <span class="msdetailtxt no-padding">{{trial_participant_info.trial_registration_column_10}}</span>
                                                                    </div>
                                                                </div>
                                                            </div><br><br><br><br>
                                                            <center class="msdetail-container-bottom">
                                                                <button class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-click="showTrialCustomParticipantEdit()"><span>Edit</span></button>
                                                            </center>     
                                                        </div>
                                                        <div ng-show="showTrialCusParEdit">
                                                            <div class="msdetail-container-top" >
                                                                <span class="msdetail-headtxt">&nbsp;&nbsp;CUSTOM PARTICIPANT FIELDS</span><br><br>
                                                                <div ng-show="trial_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_5}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_5" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_5">
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_6}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_6" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_6">
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_7}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_7" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_7">
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_8}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_8" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_8">
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_9}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_9" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_9">
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <span class="msdetailtxt">&nbsp;&nbsp;{{trial_participant_info.heading_10}}:</span>
                                                                </div>
                                                                <div ng-show="trial_participant_info.heading_10" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                                                                    <input type="text" class='form-control medium-input inline'  ng-model="trialeditparticipant.trial_registration_column_10">
                                                                </div>
                                                            </div><br><br>
                                                            <center class="msdetail-container-bottom"><br><br>
                                                                <a  ng-click="resetTrialEditParticipant()" class=" btn btn-default btn-lg btn-custom">Cancel</a>
                                                                <button  class="btn btn-primary btn-lg btn-custom"  style="background-color: #00ad68; border: 2px solid #00ad68;" type="button" ng-disabled="!trialparfirstname || !trialparlastname || !buyerfirstname || !buyerlastname"
                                                                         ng-click="updateTrialParticipantName(trialparfirstname, trialparlastname, buyerfirstname, buyerlastname, trialbirthdate_curr, trialeditparticipant.buyer_phone, trialeditparticipant.buyer_email, trialeditparticipant.trial_participant_street, trialeditparticipant.trial_participant_city, trialeditparticipant.trial_participant_state, trialeditparticipant.trial_participant_country, trialeditparticipant.trial_participant_zip, trialeditparticipant.trial_registration_column_5, trialeditparticipant.trial_registration_column_6,
                                                                                                            trialeditparticipant.trial_registration_column_7, trialeditparticipant.trial_registration_column_8, trialeditparticipant.trial_registration_column_9, trialeditparticipant.trial_registration_column_10)"><span>Save</span></button>
                                                                <br><br><br>
                                                            </center>
                                                        </div>
                                                    </div>     
                                                </div>
                                            </div>
                                            <!--Participant Info Edit Screen-->


                                            <!--Trial History Edit Screen-->
                                            <div role="tabpanel" ng-show="trialhistoryview"  aria-labelledby="home-tab">                                                               
                                                <span class="msdetail-headtxt">TRIAL HISTORY</span><span>&nbsp;<a  class="msdetailtxt note-section" ng-click="editTrialHistoryNote('', '', 'add')">[add note]</a></span>
                                                <div class="inner-container">
                                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-repeat="trial_history in trial_history">
                                                        <span class="msdetailtxt no-padding">{{trial_history.activity_date| date:'MMM dd, yyyy'}}:</span><span ng-hide=" trial_history.activity_type === 'note'" class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_history.activity_text}}<br></span>
                                                        <span ng-show=" trial_history.activity_type === 'note'" class="msdetailtxt no-padding">&nbsp;&nbsp;{{trial_history.activity_text}}</span><span ng-show=" trial_history.activity_type === 'note'">&nbsp;<a class="msdetailtxt note-section" ng-click="editTrialHistoryNote($index, trial_history.trial_history_id, 'edit')">[edit]</a>&nbsp;<a class="msdetailtxt note-section" ng-click="editTrialHistoryNote($index, trial_history.trial_history_id, 'delete')">[delete]</a><br></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Trial History Edit Screen-->


                                            <!--Payment History Edit Screen-->
                                            <div role="tabpanel" ng-show="trialpaymenthistoryview"  aria-labelledby="home-tab">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <span class="msdetail-headtxt">PAYMENT HISTORY:</span>&nbsp;<a ng-show="trial_payment_history.length > 0" class="msdetailtxt note-section" ng-click="sendTrialPaymentHistory()">[send member payment history]</a></span><br>
                                                    <span style="margin-left:20px;" ng-show="trial_payment_history.length <= 0">There is no record for payment history.</span>
                                                    <div class="inner-container">
                                                        <span ng-show="trial_payment_history.length >= 1" id="trialpaymentHistory{{$index}}" class="msdetailtxt no-padding" ng-repeat="trial_pay_history in trial_payment_history">
                                                            <span>{{trial_pay_history.payment_count}}:&nbsp;{{wp_currency_symbol}}{{trial_pay_history.payment_amount}}&nbsp;</span>
                                                            <span ng-show="trial_pay_history.processing_fee_type == 2 && misc_pay_history.credit_method == 'CC'">(includes{{wp_currency_symbol}}{{trial_pay_history.processing_fee}}&nbsp;administrative fees)</span>
                                                            <span>{{(trial_pay_history.payment_status === 'F'|| trial_pay_history.payment_status==='N') ? 'past due on':(trial_pay_history.payment_status==='M' && trial_pay_history.credit_method === 'MC') ?'(Manual Credit)':'paid on'}}&nbsp;</span>
                                                            <span>{{trial_pay_history.last_updt_dt| date:'MMM dd, yyyy'}}&nbsp;</span>
                                                            <span ng-show="trial_pay_history.credit_method =='CC'">({{trial_pay_history.cc_name}})</span>
                                                            <span ng-show="trial_pay_history.credit_method == 'CA'">(Cash)</span>
                                                            <span ng-show="trial_pay_history.credit_method =='CH'">(Check #{{trial_pay_history.check_number}})</span>
                                                            <!--<span ng-hide="trial_pay_history.payment_status === 'M'">({{trial_pay_history.cc_name}})</span>-->
                                                            <a class="msdetailtxt note-section" ng-click="performTrialActionUpdate($index, trial_pay_history.payment_status,trial_pay_history.credit_method)">{{trial_pay_history.payment_status === 'S' || (trial_pay_history.payment_status === 'M' && (trial_pay_history.credit_method === 'CA' || trial_pay_history.credit_method === 'CH'))?'[Refund]': (trial_pay_history.payment_status === 'F' || trial_pay_history.payment_status === 'N') ?'[Apply Payment Credit]':''}}</a>&nbsp;
                                                            <a class="msdetailtxt note-section" ng-click="performTrialRerunAction($index,trial_pay_history.payment_status,trial_pay_history.credit_method)">{{(trial_pay_history.payment_status === 'F' || (trial_pay_history.payment_status === 'N' && trial_pay_history.current_status === 'past')) ?'[Rerun Payment]':''}}</a><br>
                                                        </span>
                                                    </div>
                                                </div>    
                                            </div>
                                            <!--Payment History Edit Screen-->
                                            <!--Attendance Detail-->
                                                <div role="tabpanel" ng-show="trialattendancedetailview"  aria-labelledby="home-tab">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <div class="inner-container" id='trialselectedDateCalender' style="padding-left: 24px;"></div>
                                                            <button class="btn btn-primary btn-lg btn-custom attendance-add-button" type="button" ng-click="AttendanceTrialDateAdd()">Add</button>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
                                                            <div class="inner-container">
                                                                <div class="row">
                                                                    <div class="col-md-4"><span class="msdetail-headtxt">Last 7 Days : {{trial_attendance_days_count.last_7_days}}</span></div>
                                                                    <div class="col-md-4"><span class="msdetail-headtxt">Last 30 Days : {{trial_attendance_days_count.last_30_days}}</span></div>
                                                                    <div class="col-md-4"><span class="msdetail-headtxt">Last 90 Days : {{trial_attendance_days_count.last_90_days}}</span></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4"><span class="msdetail-headtxt">Last 14 Days : {{trial_attendance_days_count.last_14_days}}</span></div>
                                                                    <div class="col-md-8"><span class="msdetail-headtxt">Last 60 Days : {{trial_attendance_days_count.last_60_days}}</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="inner-container" style="padding-top: 13px;">
                                                                <div class="row">
                                                                    <div class="col-md-12"><span class="msdetail-headtxt">Attendance History : (Total {{trial_attendance_history_array.length}})</span></div>
                                                                </div>
                                                                <hr class="trial_att_history">
                                                                <div class="trial_att_history_div">                                                                                    
                                                                    <span style="margin-left:20px;" ng-show="trial_attendance_history_array.length <= 0">There is no record for attendance history.</span>
                                                                    <ul ng-if="trial_attendance_history_array.length > 0" ng-repeat="attendance in trial_attendance_history_array">
                                                                        <li>{{attendance.text}}
                                                                           <a class="msdetailtxt note-section" ng-click="deleteTrialAttendanceHistory(attendance.trial_attendance_id)">&nbsp;&nbsp;[delete]</a>
                                                                        </li>
                                                                    </ul>
                                                                </div><br>
                                                                <hr class="trial_att_history">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!--/Attendance view-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
