<!DOCTYPE html>

 <div class="right_col" role="main">
        <div class="row top_tiles">
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-left: -20px;">
                    <div class="col-md-8 col-sm-8 col-xs-8" >
                        <div class="x_panel">
                            <form enctype="multipart/form-data" >
                                <div class="x_title">
                                    <button type="button" class="close" ng-click="wepayAccountRegClose()">&times;</button> 
                                    <h4>Mystudio Payment Processing</h4>
                                    <div class="clearfix"></div>
                                </div>
                                <br><br>
                                <p style="font-size: 14px;">Creating or connecting a WePay merchant account allows you to take payments
                                    directly through your app.</p>
                                <p style="font-size: 14px;">Funds from members' payments are settled into your 
                                    designated bank account quickly and efficiently.</p>
                                <p style="font-size: 14px;">After completing the steps below, an immediate confirmation email will be sent to 
                                    you with instructions to link your bank account.<p><br><br>
                                   
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <center><div id="wepay" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default active" data-toggle-class="btn-primary" ng-click="checkin_type='R'" data-toggle-passive-class="btn-primary">
                                                <input type="radio" name="wepaylogin" value='register'> &nbsp; Register New Account &nbsp;
                                            </label>
                                            <label class="btn btn-default" data-toggle-class="btn-primary" ng-click="checkin_type='L'" data-toggle-passive-class="btn-primary">
                                                <input type="radio" name="wepaylogin" value='login'> Connect Existing Account 
                                            </label>
                                        </div></center>
                                </div><br>
                                <br><br><br>
                               
                                <div class="col-md-6  col-sm-6 col-xs-6">
                                    <input type="text" class="form-control " ng-model="wpfirstname" placeholder="First Name" required>
                                </div>
                                <div class="col-md-6  col-sm-6 col-xs-6">
                                    <input type="text" class="form-control " ng-model="wplastname" placeholder="Last Name" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control wp-model-form_align" ng-model="wpemail" placeholder="Email" required>
                                </div>
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                      <center>
                                        <button id="login_btn"  type="button" class="btn btn-primary" ng-disabled="!wpfirstname || !wplastname || !wpemail " ng-click='wepayAccountRegistration()'>{{checkin_type == 'R' ? "Register" : "Login"}}</button>
                                    </center>
                                  </div>
        
                            </form> 
                        </div>
                    </div>
                </div>
        </div>
 </div>
