
<style>
    .wlcustomdt{
        min-width: 110px;max-width: 160px;
    }
    .wldashtext{
        padding-left: 6px;color: black;font-weight: 400;font-size: 15px;
    }
</style>

<div class="modal fade custom-modal" id="wldashboarderror" role="dialog" data-backdrop="static" style="margin-top: -10%;">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-body newmodal-body">
                <p>Message</p>
                <p style="font-weight: 500;" ng-bind-html="wlerrormsg"></p>
                <button type="button" class="button white-button custom-modal-button" data-dismiss="modal" ng-click="wlerrormsg=''">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="right_col" role="main">
    <div class="row top_tiles">
        <div class="logo-navbar" >            
                <div class="row" style="margin-top: 80px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                                <label class="wldashtext">
                                    Ios Build status
                                </label>
                                <select id="cancelled_list_date"  class="form-control" ng-model="status" ng-change="changestatus()">
                                    <option value="Rejected" >Rejected</option>
                                    <option value="A" >All</option>
                                    <option value="Ready for Sale" >Ready for Sale</option>
                                    <option value="Waiting For Review" >Waiting For Review</option>
                                    <option value="Prepare for Submission" >Prepare for Submission</option>
                                    <option value="In Review" >In Review</option>
                                    <option value="Metadata Rejected" >Metadata Rejected</option>
                                    <option value="Developer Rejected" >Developer Rejected</option>
                                    <option value="Pending Submission" >Pending Submission</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                                <label class="wldashtext">
                                    Android Build status
                                </label>
                                <select id="cancelled_list_date"  class="form-control" ng-model="androidstatus" ng-change="changeandroidstatus()">
                                    <option value="'C'" >Published</option>
                                    <option value="A" >All</option>
                                    <option value="'F'" >Failed</option>
                                    <option value="'N'" >Pending Submission</option>
                                    <option value="'T','R'" >Processing</option>
                                </select>
                            </div>
                        </div>        
                    </div> 
                    <div class="col-xs-12 col-sm-12 col-lg-12" >
                        <table datatable="" id="DataTables_Table_adminwhitelabel" dt-instance="whitelabeldtInstance" dt-options="whitelabeldtOptions" dt-columns="whitelabeldtColumns"  class="table table-striped table-bordered row-border hover avoidtrming"  style="table-layout: fixed;" cellspacing="0" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>