 <!DOCTYPE html>
<!-- test -->
<html ng-app="MyApp" ng-controller="IndexPageController"  ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/><title>{{fav_company_name}}&nbsp;-&nbsp;{{fav_product_name}}</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="dist/css/framework7.ios.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css?v=1934">
        <link rel="stylesheet" href="css/custom.css?v=1934">

        <script >
            if (window.location.hostname === 'mystudio.academy' || window.location.hostname === 'www.mystudio.academy'|| window.location.hostname === 'www1.mystudio.academy' ||
                       window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                if (window.location.hostname.indexOf("www") < 0 || window.location.protocol != 'https:') {
                    var www_url = window.location.hostname;
                    var pathname = window.location.pathname;
                    var hash = window.location.hash;
                    if (window.location.hostname.indexOf("www") > - 1 || window.location.hostname === 'www1.mystudio.academy' ||
                           window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                        window.location.href = 'https://' + www_url + pathname + hash;
                    } else{
                        window.location.href = 'https://www.' + www_url + pathname + hash;
                    }
                }
            }
        </script>
        <!-- Path to your angular Library-->
        <script src="js/Angular/angular.min.js" type="text/javascript"></script>
        <!-- Path to your angular-localstorage Library-->
        <script src="js/Angular/angular-localstorage.js"></script>

    </head>
    <body>
        <!--Transparent layer for preloader-->
        <div ng-show="preloader" id = "preloader-transp" class="preload">

        </div>
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>

        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views tabs toolbar-through">
            <!--infinite progress bar-->
            <div ng-if="preloaderVisible">
                <span class="progressbar-infinite"></span>
            </div>
            <!--Preloader-->
            <div ng-show="preloader" class="preloader preloader-custom preload"></div>
            <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->

            <div id="view-1" class="view mc-view tab active">
                <!-- NAVBAR  STARTS-->
                <div class="navbar"> 
                    <div class="admin-banner">
                        <center><h6>ADMINISTRATOR</h6></center>
                    </div>
                    <!-- MISCELLANEOUS CHARGE CHECKOUT PAGE NAVBAR -->
                    <div class="navbar-inner fixed-navbar" data-page="misc_charge_checkout">
                        <div class="left"><a class="empty-back"></a></div>
                        <div class="logo-center">
                            <img class="nav-img logo-cover" ng-src="{{logoUrl}}">
                        </div>
                        <div class="right"><a href="#"><img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></a></div>
                    </div>
                </div>
                <!-- NAVBAR  ENDS-->

                <!-- PAGES -->
                <div class="pages navbar-through">

                    <!-- MISCELLANEOUS CHARGE CHECKOUT STARTS -->

                    <div class="page no-swipeback checkout" data-page="misc_charge_checkout">
                        <div class="page-content misc_charge_checkout">
                            <div class="container">
                                <form name="misc_checkout_form" id="misc_checkout_form">
                                    <div class="row split_view">
                                        <div class="col-50">
                                            <div class="row">
                                                <div class="col-100 search-member">
                                                    <div class="p-relative">
                                                        <span class="ph-text"><img src="css/img/E4.png" class="search-lens" alt="search lens"><span class="search-txt">Search for member</span></span>
                                                        <input type="text" id = "autocomplete-dropdown" ng-change="catchSearchMember()" ng-model="mc_search_member">
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Buyer details</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner mc_placeholder_div">
                                                        <div class="form-group">
                                                            <label  for="mc_buyer_First_Name">First name</label>
                                                            <input type="text" id="mc_buyer_First_Name" name="mc_buyer_First_Name"  ng-model="mc_buyer_First_Name" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mc_buyer_Last_Name">Last name</label>
                                                            <input type="text" id="mc_buyer_Last_Name" name="mc_buyer_Last_Name"  ng-model="mc_buyer_Last_Name" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mc_buyer_Phone">Phone (optional)</label>
                                                            <input type="text" id="mc_buyer_Phone" name="mc_buyer_Phone"  ng-model="mc_buyer_Phone" valid-phone-number>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mc_buyer_Email">Email</label>
                                                            <input type="text" id="mc_buyer_Email" name="mc_buyer_Email"  ng-model="mc_buyer_Email" valid-text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Optional order details</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <input type="text" id="mc_optional_note" name="mc_optional_note" class="ip-alone" placeholder="Add optional order notes here" ng-model="mc_optional_note">                                      
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-50">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Amount to charge</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">          
                                                        <input type="text" id="misc_charge" name="misc_charge" class="misc_charge_ip" placeholder="{{wp_currency_symbol}} 0.00" ng-change="chargeOnChange(misc_charge)" ng-model="misc_charge" valid-number>                                      
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Choose payment method</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <select id="mc_payment_method" ng-change="selectPaymentMethod()" name="mc_payment_method" class="paymentselect" ng-model="mc_payment_method" valid-name>                                   
                                                                <option value="CC">Credit card</option>
                                                                <option ng-disabled='misc_payment_method[1] == 0' value="CA">Cash</option>
                                                                <option ng-disabled='misc_payment_method[2] == 0' value="CH">Check</option>
                                                                <!--<option value="ACH" ng-show="pos_user_type != 'O' && stripe_enabled">Ach</option>-->
                                                            </select>
                                                            <span ><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                        <div ng-show="mc_payment_method === 'CH'" class="form-group">
                                                            <input type="text" id="mc_check_number" name="mc_check_number" class="ip-alone" placeholder="Enter check number" ng-change="catchrtailCheck()" ng-model="mc_check_number">                                      
                                                        </div>
                                                        <div ng-show="total_misc_charge > 0 && mc_payment_method === 'CC' && showcardselection" class="select-card">
                                                            <div class="title-bar">                                    
                                                                <h1 class="title">Select Card</h1>                                            
                                                            </div>
                                                            <div class="form-group">
                                                                <select ng-change="selectMCCardDetail(selectedcardindex)" id="selectedcardnumber" name="mc_select_card" class="paymentselect" ng-model="selectedcardindex">
                                                                    <option disabled selected value>Choose card</option>
                                                                    <option id="newcard">Add New credit card</option>
                                                                    <option id="card{{$index}}" ng-repeat="creditCard in mccarddetails" value="{{$index}}">{{creditCard.credit_card_name}}</option>                                        
                                                                </select>
                                                                <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="total_misc_charge > 0 && mc_payment_method === 'CC' && shownewcard" class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Enter your credit card information</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div ng-show="wepay_enabled">
                                                        <div class="form-group">
                                                            <label  for="mc_cc_name">Name on card</label>
                                                            <input type="text" id="mc_cc_name" name="mc_cc_name"  ng-model="mc_cc_name" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="mc_cc_number">Card number</label>
                                                            <input type="text" id="mc_cc_number" name="mc_cc_number"  ng-model="mc_cc_number" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <select id="mc_cc_country" name="mc_cc_country" class="paymentselect" ng-model="mc_cc_country" valid-name>                                   
                                                                <option disabled selected value>Billing country</option>
                                                                <option value="US">United States</option>
                                                                <option value="CA">Canada</option>
                                                                <option value="GB">United Kingdom</option>
                                                            </select>
                                                            <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>  
                                                        <div class="form-group-split row">
                                                            <div class="col-50">
                                                                <div class="form-group">
                                                                    <label  for="mc_cc_zipcode">Billing zip code</label>
                                                                    <input type="text" id="mc_cc_zipcode" name="mc_cc_zipcode"  ng-model="mc_cc_zipcode" valid-name>
                                                                </div>
                                                            </div>
                                                            <div class="col-50">
                                                                <div class="form-group">
                                                                    <label  for="mc_cc_cvv">CVV</label>
                                                                    <input type="text" id="mc_cc_cvv" name="mc_cc_cvv"  ng-model="mc_cc_cvv" valid-name>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group white-bg">
                                                            <div class="row">
                                                                <div class="col-50 p-relative">
                                                                    <select id="mc_cc_expirymonth" name="mc_cc_expirymonth" class="selecttag" ng-model="mc_cc_expirymonth">
                                                                        <option disabled selected value>Expiration month</option>
                                                                        <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                                                    </select> 
                                                                    <span>
                                                                        <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                        <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                    </span>
                                                                </div> 
                                                                <div class="col-50 p-relative">
                                                                    <select id="mc_cc_expiryyear" name="mc_cc_expiryyear" class="selecttag" ng-model="mc_cc_expiryyear">
                                                                        <option disabled selected value>Expiration year</option>
                                                                        <option ng-repeat="year in ccyearlist">{{year}}</option>
                                                                    </select>
                                                                    <span>
                                                                        <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                        <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                    </span>
                                                                </div> 
                                                            </div>    
                                                        </div>
                                                        </div>
                                                        <div ng-show="stripe_enabled">
                                                             <div class="stripe-form">
                                                                 <div id="stripe-card-element"></div>
                                                                 <!--Used to display form errors--> 
                                                                 <div style="color:#fa755a;margin-top: 10px;" id="stripe-card-errors" role="alert"></div>
                                                             </div>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="total_misc_charge > 0 && mc_payment_method === 'ACH'" class="card">
                                                 <div class="card-content">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Enter your ACH information</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div class="form-group">
                                                             <label  for="mc_ach_route_no">Bank routing number</label>
                                                             <input type="text" id="mc_ach_route_no" name="mc_ach_route_no"  ng-model="mc_ach_route_no" valid-number>
                                                         </div>
                                                         <div class="form-group">
                                                             <label  for="mc_ach_acc_number">Bank account number</label>
                                                             <input type="text" id="mc_ach_acc_number" ng-model="mc_ach_acc_number" name="mc_ach_acc_number" valid-text>
                                                         </div>
                                                         <div class="form-group">
                                                             <label  for="mc_ach_holder_name">Holder name</label>
                                                             <input type="text" id="mc_ach_holder_name" ng-model="mc_ach_holder_name" name="mc_ach_holder_name" valid-name>
                                                         </div>
                                                         <div class="form-group">
                                                             <select id="mc_ach_acc_type" class="paymentselect" name="mc_ach_acc_type" ng-model="mc_ach_acc_type" >                                   
                                                                 <option disabled selected value>Holder type</option>
                                                                 <option value="individual">Individual</option>
                                                                 <option value="company">Company</option>
                                                             </select>
                                                             <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                            <div ng-show="mc_sales_agreement || mc_payment_method === 'ACH' || (mc_payment_method === 'CC' &&  stripe_enabled)" class="card"> 
                                                <div class="card-content">
                                                    <div ng-show="mc_sales_agreement" class="title-bar">                                    
                                                        <h1 class="title">Sales agreement</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="col-100">
                                                            <div ng-show="mc_sales_agreement" class="waiver-text">
                                                                <span  compile-template ng-bind-html="mc_sales_agreement | trust"></span>
                                                            </div>
                                                            <div ng-hide=" (!mc_sales_agreement) || ( mc_payment_method === 'CC' &&  stripe_enabled && total_misc_charge > 0 )" class="col-100">
                                                                <label><input type="checkbox" class="icon icon-form-checkbox waiver-check"  style="margin-left: 0;" id="mc_waiver_checked" name="mc_waiver_checked" ng-model="mc_waiver_checked">I agree to the above Waiver & Agreement</label>
                                                            </div>
                                                            <div ng-show="mc_payment_method === 'ACH' && stripe_enabled && total_misc_charge > 0" class="col-100">
                                                                <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="mc_ach_chkbx" name="mc_ach_chkbx" ng-model="mc_ach_chkbx">I authorize ACH plugin to electronically debit my account And, if necessary, electronically credit my account to correct erroneous debits.</label>
                                                             </div>
                                                             <div ng-show="mc_payment_method === 'CC' &&  stripe_enabled && total_misc_charge > 0" class="col-100" >
                                                                <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="mc_cc_chkbx" name="mc_cc_chkbx" ng-model="mc_cc_chkbx">I authorise {{fav_company_name}} to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of the waiver and agreement above.</label>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card  web-view">
                                                <div class="card-content">
                                                    <div class="card-content-inner">
                                                        <div class="registerbutton-align">
                                                            <center>
                                                                <div class="price-section">
                                                                    <div>
                                                                        <span class="total-text">Total :</span>&nbsp;<price>{{wp_currency_symbol}}{{total_misc_charge | number:2}}</price><br>                                                                    
                                                                        <span ng-show="(mc_processing_fee_type === '2' && total_processing_fee > 0)">
                                                                            <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                                                        </span>
                                                                    </div>
                                                                        <button ng-show="(mc_payment_method === 'CA' || mc_payment_method ==='CH')" ng-disabled="total_misc_charge == 0" class="button active-cus toolbar-button"  ng-click=" handleCheckout();preloader = true ">Place your order</button>
                                                                         <span ng-show="wepay_enabled">
                                                                            <button ng-show="mc_payment_method ==='CC' && shownewcard" ng-disabled="total_misc_charge == 0" id="cc-submit-mc" class="button active-cus toolbar-button" >Place your order</button>
                                                                            <button ng-show="mc_payment_method ==='CC' && !shownewcard" ng-disabled="total_misc_charge == 0" ng-click="mcCheckout(mc_credit_card_id,mc_credit_card_status, mc_buyer_First_Name, mc_buyer_Last_Name, mc_buyer_Email, mc_buyer_Phone, mc_cc_zipcode, mc_cc_country); preloader = true " class="button active-cus toolbar-button"  style="padding-top: 10px;">Place your order</button>
                                                                         </span>
                                                                         <!--STRIPE CC-SUBMIT SECTION-->
                                                                         <span ng-show="stripe_enabled">
                                                                             <!-- newcard STRIPE-->
                                                                             <button ng-show="mc_payment_method === 'CC' && shownewcard" ng-disabled="total_misc_charge == 0"  ng-click="submitmiscform();preloader = true "  class="button active-cus toolbar-button" 
                                                                                    >Register</button>
                                                                             <!-- Existing card STRIPE --> 
                                                                             <button ng-show="mc_payment_method === 'CC' && !shownewcard" ng-disabled="total_misc_charge == 0" ng-click="mcStripeCheckout();preloader = true " class="button active-cus toolbar-button" 
                                                                                    >Register</button> 
                                                                             <!--ACH PAYMENT BUTTON-->
                                                                             <button ng-show="mc_payment_method === 'ACH'"  ng-disabled="total_misc_charge == 0" class="button active-cus toolbar-button" 
                                                                                    >Register</button>
                                                                         </span>
                                                                         <!--STRIPE CC-SUBMIT SECTION-->
                                                               </div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--BOTTOM TOOLBAR FOR MOBILE VIEW-->
                        <div class="toolbar custom-toolbar-xxlheight mobile-view">
                            <div class="toolbar-price" style="padding-top: 10px;">
                                <div style="padding: 0 5px;">
                                    <center>
                                        <span class="total-text">Total :</span>&nbsp;<price>{{wp_currency_symbol}}{{total_misc_charge | number:2}}</price><br>
                                        <span ng-show="(mc_processing_fee_type === '2' && total_processing_fee > 0)">
                                            <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                        </span>
                                    </center>
                                </div>
                                <a ng-show="(mc_payment_method === 'CA' || mc_payment_method ==='CH')" class="button active-cus toolbar-button" ng-disabled="total_misc_charge == 0" ng-click=" handleCheckout();preloader = true ">Place your order</a>
                                <span ng-show="wepay_enabled">
                                    <a ng-show="mc_payment_method ==='CC' && shownewcard" ng-disabled="total_misc_charge == 0" ng-click="preloader = true" id="cc-submit-mc1"  class="button active-cus toolbar-button">Place your order</a>
                                    <a ng-show="mc_payment_method ==='CC' && !shownewcard" class="button active-cus toolbar-button"  style="padding-top: 10px;" ng-disabled="total_misc_charge == 0" ng-click="mcCheckout(mc_credit_card_id,mc_credit_card_status, mc_buyer_First_Name, mc_buyer_Last_Name, mc_buyer_Email, mc_buyer_Phone, mc_cc_zipcode, mc_cc_country); preloader = true ">Place your order</a>
                                </span>
                                <!--STRIPE CC-SUBMIT SECTION-->
                                <span ng-show="stripe_enabled">
                                    <!-- newcard STRIPE-->
                                    <button ng-show="mc_payment_method === 'CC' && shownewcard"   ng-disabled="total_misc_charge == 0" class="button active-cus toolbar-button" ng-click="submitmiscform();preloader = true "
                                            >Place your order</button>
                                    <!-- Existing card STRIPE --> 
                                    <button ng-show="mc_payment_method === 'CC' && !shownewcard" ng-disabled="total_misc_charge == 0" ng-click="mcStripeCheckout();preloader = true " class="button active-cus toolbar-button" 
                                            >Place your order</button> 
                                    <!--ACH PAYMENT BUTTON-->
                                    <button ng-show="mc_payment_method === 'ACH'" ng-disabled="total_misc_charge == 0" ng-click="mcCheckout(credit_card_id,credit_card_status, firstname, lastname, email, phone, postal_code, country)" class="button active-cus toolbar-button" 
                                            >Place your order</button>
                                </span>
                                <!--STRIPE CC-SUBMIT SECTION-->
                            </div>
                        </div>
                    </div>

                    <!-- RETAIL CHECKOUT ENDS -->
                    <!--FOOTER GOES HERE-->
                   <div class="footer">
                       <center>
                           <span>Powered by</span>
                           <img src="css/img/E3.png" alt="">
                       </center>
                   </div>
                    <!--FOOTER GOES HERE-->
                    
                </div>
            </div>

            <!-- VIEW - 1 (RETAIL) ENDS -->                   
        </div>
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="dist/js/framework7.min.js"></script>
        <!-- Path to JQUERY Library JS-->
        <script src="js/Angular/jquery-1.12.4.js" type="text/javascript"></script>
        <!-- Path to our js-->
        <script type="text/javascript" src="js/my-app.js?v=1934"></script>
        <script type="text/javascript" src="js/services/InitService.js" ></script>
        <script src="js/controller/IndexPageController.js?v=1934" type="text/javascript"></script>    
        <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.3.latest.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </body>
</html>

