/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 2:28:38 PM
    Author     : Jim Prinston J
*/
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("fonts/Framework7Icons-Regular.woff") format("woff"),
     url("fonts/Framework7Icons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Chalkboard SE';
    font-style: normal;
    font-weight: 400;
    src:
    url("fonts/chalkboardse-regular-webfont.woff2") format("woff2"),
    url("fonts/chalkboardse-regular-webfont.woff") format("woff"),
    url("fonts/ChalkboardSE-Regular.ttf") format("truetype");
}
.student-font{
  font-family: 'Chalkboard SE';
}
body{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}
.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}
/* .demo-card-header-pic .card-header {
          min-height: 70vw;
          background-size: cover;
          background-position: center;
          display: block !important;
          color: #6d6d72 !important;
        }*/
        
    .demo-card-header-pic .card-header{
        background-size: contain;
        background-position: center;
        display: block !important;
        color: #6d6d72 !important;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding: 25%;
    }
    .event-des-height .card-header {
        /*min-height: 11vw;*/
    }
.card-image {
    padding: 0px !important;
    margin: 0px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:11vw;
    width:100%;
    margin-top:-4px!important;
}
.card-content h3{
    margin: 1px !important;
    padding: 0px !important;
}
       .card-element{
           color: white;
        font-size: 25px;
        font-weight: 500;
         text-shadow: 1px 1px #000000;
         display: block;
         width: 100%;
        }
        .card-head{
            color: white;
            font-size: 22px;
            font-weight: 400;
            color: white;
            text-shadow: 1px 1px #000000;
        }
        .card-desc{
            font-size: 14px;
            text-shadow: 1px 1px #000000;
            display: block;
            margin: 5% 0px;
        }
        .card-button{
            color: white;
            width: 130px;
            border: 1px solid white;
            text-shadow: 1px 1px #000000;
        }
        .card-header h3{
/*            color: black;*/
/*            font-size: 21px;*/
/*            font-weight: 400;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
            margin-top: 15%;
                        }
        .card-header h6{
/*            color: black;*/
/*            font-size: 12px;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
                    }
                    .card-header-cur h3{
            text-align: center;
            margin-top: 15%;
                        }
        .card-header-cur h6{
/*            color: black;*/
/*            font-size: 12px;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
                    }

        .content-block {
          margin-top: 10px;
        }

        .card{
          margin: 5px;
        }
        iframe {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background: url('/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      }
      .color {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
}
.msg-btn{
    width: 150px;
}
.content-block{
    padding: 0 5px;
    padding-bottom: 18px;
}
.two-one h3{
/*            color: black;*/
/*            font-size: 20px;*/
/*            font-weight: 400;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
            margin-top: 50%;
                        }
#login input, input[placeholder]{
    text-align:left;
}
.button{
    width: 130px;
}
.progressbar, .progressbar-infinite{
    position: absolute;
    z-index: 9999;
}
    .login-screen-content {
    background: url('img/login_bg.jpeg');
    background-size: 100% 100%;
}
#login .ip-elements{
    background: white; border-radius: 8px; margin: auto;
}
#login form{
    margin:3%; 
}
.item-input span{
    font-size: 14px;
}

#view-4 .card{
   padding: 20px;
}
/*Center*/
.outer-whitelabel {
    display: table;
    position: absolute;
    height: 50%;
    width: 100%;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    /*width: whatever width you want;*/
}

.panel p {
    border-bottom: 1px solid lightgray;
    margin: 5px 0;
    padding-bottom: 8px;
}
.menu_icn{
    font-size:32px !important;
}

.logo-cover {
    object-fit: cover;
    width: auto;
    height: 46px;
}
.waiver-check{
    margin-left: 0;
    margin-top: 20px;
}
.login-screen-title{
    background: url("img/logo_incourage.png") no-repeat;
    background-size: cover;
    width: 190px;
    height: 56px;
    /*margin-top: -15px !important;*/
}
.tabbar a.active .referral{
    content:url("img/ref_blue.png");

}

.tabbar a .referral{
   content:url("img/ref_grey.png");
}

.tabbar a.active .referral::after{
    content:url("img/ref_blue.png");
    width:31px;
}

.tabbar a .referral::after{
   content:url("img/ref_grey.png"); width:31px;
}

.menuimg{
    width: 22px; height:22px; margin-right: 5px; position: relative; vertical-align: middle;
}
.views{
    overflow:hidden;
}
.toolbar-inner-custom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2px 8px;
  box-sizing: border-box;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}
.custom-toolbar-height{
 height: 71px;
}
.custom-toolbar-xlheight{
 height: 84px;
}
.custom-toolbar-xxlheight{
 height: 108px;
}
.custom-toolbar-smheight{
 height: 51px;
}
.custom-toolbar-xsheight{
 height: 31px;
}
.toolbar-inner-custom-content{
    font-size: 11px;
}
.toolbar-button{
    width:100%; margin-top:4px; color:#009a62;
}
.custom-card-cont{
    margin-left:7px;  color:black;
    height:74px;
}
.subcarthead{
    border: 1px solid black;
    padding: 5px;
}
.subcartqty{
border: 1px solid gray !important;
width: 50px !important;
padding: 1px !important;
height: 33px !important;
margin-top: 6px !important;
text-align: center;
font-size:14px !important;
}
.item-title{
    margin-top:10px;
}
.mild-hr{
background-color: lightgray;
height: 1px;
border: 0;
}
.label_align{
    margin-left:10px;
}
.input-align{
    width:93%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-content-cus h3{
    margin: 1px;
    margin-bottom:8px;
    padding: 0px !important;
}
.textareadiv{
    max-height:80px;
    max-width:350px;
    overflow-y:auto;
    margin-left:15px;
    margin-right:15px;
    margin-top: 8px;
    font-size: 12px;
}
.input-cus[placeholder]{
    text-align:left;
    font-size:13px;
    width:93%;
    margin-top:5px;
    margin-bottom:5px;
    height:20px;
}
.input-cuswidth[placeholder]{
    text-align:left;
    font-size:13px;
    width:86%;
    margin-top:5px;
    margin-bottom:5px;
    height:20px;
}
.select-cuswidth1{
    width:43%;
}
.select-cuswidth2{
    width:95%;
}
.button.active-cus {
  background: #00ad68;
  color: #fff;
  border: 0px;
}
.custom-back{
    display: inline-block !important; margin-top: -4px;
}
.oneline{
        display:inline-block;
}
 #preloader-transp { position:absolute; left:0; top:0; background: rgba(0,0,0,.2); width:100%; height:100%; overflow-y: hidden; z-index: 10000; } 
 .preloader-custom{ width: 44px; height: 44px; position: fixed;margin-left: 46%; top:45%; z-index:10001 }
 .play-overlay{
 position: absolute;
   top: 60%;
   left: 50%;
   width: 150px;
   /*height: 150px;*/
   margin-top: -75px; /* Half the height */
   margin-left: -75px;
 }
 
.cus-pagecontent{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 44px;
    padding-top: 44px;
 }
 
 .navbar-align{
     width: 1080px;
     padding-left: 5px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .event-des-imageheight .card-header {
    min-height: 18vw;
}
.card-right {
    min-height: 12.2vw;
    padding-bottom: 0;
}
.no-padding-top{
    padding-top:0px!important;
}

.eventdesccontent-align{
    margin-left: 10px;
    width:100%;
}

.cus-card{
    margin-top: 40px;
}
.mobile-view{
    display:none;
} 
.webview{
        display:block;
}
.button-maxwidth{
    max-width: 500px;
}
    
.col-33-cardlisting{
    width:33.33%;
}

 .nav_button_color{
  color: #00ad68 !important;
}

.custom-modal-content{
    font-family:Avenir;
    font-size: 17px;
    letter-spacing: inherit;
    font-weight: 500;
}
.custom-modal-green-button{
    min-height: 52px;
    background:rgb(0,137,87);
    border:1px solid rgb(0,137,87);
    color:white;
    width: 100%;
    font-weight:500;
}
.button-text{
    font-family:Avenir;
    font-size: 15.7px;
    font-weight: 500;
    text-align: center;
}

.modalCreateButton{
    font-size: 16px;
    margin-bottom:10px;
}
.modalresetButton{
    font-size: 16px;
}

.modalVerificationSent{
    color:#627280; 
    font-weight: 100;
    font-size: 18px;
}

/*NEW CSS FOR REDESIGN*/
body{
    font-family: Avenir;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.center{
    left: 0 !important;
}
.navbar{
    height:110px;
    background-color: white;
}
.navbar .navbar-inner{
    padding: 0;
    background: white;
}
.with-banner .navbar{
    /* height = topbar + banner =  110 + 30 */
    height:140px;
}
.navbar::after{
    background-color: #efefef;
    /*border: 1px solid #efefef;*/
}
.navbar-inner .left{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    margin-right: 0;
    cursor:pointer;
}
.navbar-inner .left span{
    position: relative;
    top: -3px;
}
.navbar-inner .left img{
    width: 10px;
    padding-top: 5px;
}
.navbar-inner .left .back.link img{
    padding-top: 0px;
}
.navbar-inner .left .back.link span{
    top: 1px;
}
.navbar-inner a {
    color:black;
}
.navbar-inner .right img{
    width: 30px;
    cursor:pointer;
}
.navbar-inner.list{
    max-width: 1180px;
    margin: auto;
    position: initial;
}
.with-banner.with-footer .navbar-inner .right img{
    padding-top: 30px;
    /*padding-left: 20px;*/
}
.with-banner.with-footer .navbar-inner .right img.trolley{
    padding-top: 40px;
}
/*HIDE ADMIN BANNER, SEARCH MEMBER, OPTIONAL DICOUNT BOX, HOME ICON BY DEFAULT*/
.admin-banner,.search-member, .opt-disc,.home_icon{
    display: none;
}
/* SHOW ADMIN BANNER, SEARCH MEMBER, OPTIONAL DICOUNT BOX, HOME ICON FOR ADMIN*/
.with-banner .admin-banner,.with-banner .search-member,.with-banner .opt-disc,.from-pos .home_icon{
    display: block;
}
.navbar .left a + a, .navbar .right a + a{
    margin-left: 0;
}
.logo-center{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.with-banner .logo-center{
    top: 60px;
}
.admin-banner{
    height: 20px;
    background: #009a61;
    padding: 8px 0 5px 0;
    z-index: 1;
    position: absolute;
    width: 100%;
}
.admin-banner h6{
    font-size: 14px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.9px;
    margin: 0;
}
.footer{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    position: absolute;
    margin: 0;
    z-index: 500;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display:none;
    left:0;
    bottom:0;
    background: #efefef;
}
.footer:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #efefef;
    display: block;
    z-index: 15;
}
.footer span{
    font-size: 15px;
    color: #627280;
    letter-spacing: 0.3px;
    position:relative;
    top:2px;
}
.footer img{
    position: relative;
    top: 10px;
    width: 80px;
    height: auto;
}
.with-footer .footer{
    display:block;
}
.page-content{
    padding: 20px !important;
    background: white;
    margin-top: 110px;
    /* height = topbar =  110 */
    height: calc(100% - 110px);
}
.with-footer .page-content {
    /* height = topbar + footer =  110 + 40  */
    height: calc(100% - 150px);
}
.with-banner.with-footer .page-content {
    /* height = topbar + adminbanner + footer =  110 + 30 + 40 */
    height: calc(100% - 180px);
    margin-top: 140px;
}
 .home_icon{
    padding-top: 0;
}
.with-banner .home_icon{
    padding-top: 30px;
}
.with-banner .home .home_icon{
    padding-top: 55px;
}
.with-banner .cancelbutton{
    padding-top: 35px
}
.container{
    max-width: 1200px;
    margin: auto;
 }
 .card-listing .card {
    margin: 10px;
    max-width: 389.95px;
}
.card-listing .card-image {
    height: 9.5vw;
}
.card-listing .card-footer{
    max-height: 35px;
    min-height: 1px;
    color:black;
    padding: 10px 5px;
}
.card-listing .card-header{
    /*padding: 15px;*/
}
price{
    font-weight: 600;
}
.card-listing .card-footer p {
    margin: 0;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-listing .card-footer price{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-listing .custom-footer p {
    margin: 0;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-listing .custom-footer price{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-member{
   padding: 15px 0 0;
}
.search-member input{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #009a61;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
}
.search-member input::placeholder{
    opacity:1
}
.opt-disc{
    padding-bottom: 15px;
}
.opt-disc .holder{
    border-radius: 5px;
    border: 1px solid #d3d2d2;
    width: 96%;
    padding: 10px;
}
.opt-disc label{
    font-size: 16px;
}
.opt-disc input{
    box-shadow: none;
    border: none;
    width: 18%;
    font-size: 16px;
    float: right;
}
.with-banner .carousal_container{
    padding:150px 0 0 0;
}
.with-banner .web-view.product_desc{
    margin-top: 0;
}
.select-container{
    position: relative;
    z-index: 1;
}
.retail_checkout .container{
    margin-top: 20px;
}
.retail_checkout .card{
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
}
.page-content.horz_carousal{
    margin: 0 !important;
}
.title-bar{
    border-bottom: 1px solid #efefef;
    padding: 15px;
}
.title-bar h1.title {
    font-size: 18px;
    letter-spacing: 0.24px;
    font-weight: 600;
    margin: 0;
}
.select-card .title-bar{
    border:none;
    padding-left: 0;
}
/*FORM CSS GOES HERE*/
.form-group{
    position: relative;
}
.form-group + .form-group {
    margin-top: 15px;
}
.form-group input{
    font-size: 14px;
    height: 25px;
    background: transparent;
    position: relative;
    padding: 20px 0px 5px 15px;
    width: 95.5%;
    outline: 0;
    /*box-shadow: 0 1px 0 0 #e5e5e5;*/
    transition: box-shadow 150ms ease-out;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    border: none;
    color: rgb(74,74,74);
    font-weight: 400;
}
.form-group label{
    position: absolute;
    top: 20px;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    background: #fff0;
    left: 15px;
    bottom: 18px;
    color: rgb(74,74,74);
    pointer-events: none;
    font-size: 16px;
}
.focused label{
    transform: translateY(-125%);
    font-size: .75em;
}
.expiryLabel{
    font-size: 12px;
    padding-left:15px;
    border-radius: 0;
    background: white;
    border: none;
}
.form-group,.form-group select{
    border-radius: 10px;
    background: rgb(244,246,248);
    border: 1px solid rgb(244,246,248);
}
.form-group select{
    color:rgb(74,74,74);
    font-size: 16px;
     -webkit-appearance: none;
    -moz-appearance: none;
}
.paymentselect{
    width: 100%;
    padding-left: 10px;
    height: 45px;
    margin: 0;
    font-size: 14px;
}
.expiryLabel+br+.paymentselect{
    margin-top: 5px;
}
.form-group .ip-alone{
    padding: 10px 10px 10px 15px;
}
.misc_charge_ip{
    font-size: 18px;
    width: 100%;
    text-align: center !important;
    border: none;
    color: #5f5f5f;
}
.form-group.white-bg{
    position: initial;
    border-radius: 0;
    background: white;
    border: none;
}
.form-group.white-bg label.expiryLabel{
    position: initial;
    padding-left: 16px;
}
.form-group.expiryWidth label{
    font-size: 12px;
}
.p-relative{
    position:relative;
}
.p-relative .dropdown, .dropdown1, .dropdown2{
    position: absolute;
    top: 5px;
    left: -25px;
    width: 15px;
    pointer-events: none;
}
.dropdown1{
    top: 10px;
    width: 12px;
}
.dropdown2{
    top: 0px;
    left: -25px;
    width: 12px;
    transform: rotateX(180deg);
}

/*NEW CSS DROPDOWN*/
.dropdown, .dropdown1, .dropdown2{
    position: absolute;
    top: 20px;
    left: auto;
    width: 15px;
    right: 10px;
    pointer-events: none;
}
.dropdown1{
    top: 30px;
    width: 12px;
}
.dropdown2{
    top: 20px;
    /*left: -22px;*/
    width: 12px;
    transform: rotateX(180deg);
}




.empty-back{
    width: 50.5167px;
}
.ph-text{
    position: absolute;
    top: 13px;
    pointer-events: none;
    left: 15px;
}
.search-lens{
    width: 20px;
}
.search-txt{
    position: relative;
    top: -5px;
    left: 10px;
    font-size: 16px;
    font-weight: 500;
}
.opt-disc-container{
    padding:15px;
}
.expiryWidth{
    width: 100%;
}
.selecttag{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    padding-left: 15px;
}
.form-group + .form-group,.labelAlignMT2,.labelAlignMT2+.form-group,.form-group+.form-group-split.row,.form-group-split.row+.form-group{
    margin-top: 15px;
}
div.mc_search_member input[type="text"]::placeholder { /* Firefox, Chrome, Opera */ 
    color:black;
} 
div.mc_search_member {
    border: 1.5px solid #00ad68;
    border-radius: 5px;
}
.registerbutton-align .price-section span small{
    font-size: 68%;
}
.active-cus.toolbar-button {
    border-radius: 0;
    height: 45px;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.checkout .active-cus.toolbar-button {
/*    padding-top: 5px;
    margin-top: 5px;*/
}
.checkout .container{
    margin: 20px auto;
}
.checkout .card{
    margin: 15px 0;
}
.with-footer .page .toolbar{
    bottom: 40px;
    background: #f7f7f8;
}

.with-footer .page .toolbar::before{
    background: #f7f7f8;
}
.navbar-inner.fixed-navbar.navbar-on-center{
    max-width: 1200px;
    margin: auto;
    position: relative;
    /*padding: 0 !important;*/
}
.navbar-inner.fixed-navbar.navbar-on-left{
    display:none;
}
.navbar-inner.fixed-navbar.desc.navbar-on-center,.desc .container,.navbar-inner.fixed-navbar.date-select.navbar-on-center,.date-select .container, .navbar-inner.fixed-navbar.clist.navbar-on-center,.clist .container{
    max-width: 905px;
}
.navbar-inner.fixed-navbar.list.navbar-on-center{
    max-width: 1200px;
}
.navbar-inner.fixed-navbar.cart.navbar-on-center,.cart .container{
    max-width:1000px
}
.navbar-inner.list{
    position: initial;
}
.desc .registerbutton-align,.checkout .registerbutton-align{
    position: initial;
    margin: 0;
    width: 100%;
    padding-top: 10px;
}
.desc .card-content h1,.desc .card-content h2{
    border-bottom: 1px solid rgb(223,227,233);
    padding-bottom: 5px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.desc .card-content h2{
    font-size: 16px;
    border:none;
    margin-top: 10px;
    font-weight: 300;
}
.desc-container{
    margin-top: 10px;
    width: 100%;
}
.desc-container p{
   margin-top: 10px;
   max-height: 150px;
   overflow: auto;
}
.fixed-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.desc .web-view .card{
    padding: 15px;
}
.desc .web-view .active-cus.toolbar-button{
    padding-top: 0;
}
.parent.desc .web-view .active-cus.toolbar-button, .child.desc .web-view .active-cus.toolbar-button{
    padding-top: 10px;
}
.cart .active-cus.toolbar-button,.clist .active-cus.toolbar-button{
    margin: 0;
}
.desc .mobile-view .active-cus.toolbar-button{
    margin: 0;
    padding-top: 10px;
}
.date-select .content-block-title{
    text-align: center;
}
.toolbar{
    background: #efefef;
}
.autocomplete-dropdown.autocomplete-dropdown-in{
    font-family: Avenir;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #000000;
    /*left:0 !important;*/
}
.clist .page-content{
    height: calc(100% - 180px);
}
.with-footer .clist .page-content{
    height: calc(100% - 220px);
}
.with-banner .clist .page-content{
    height: calc(100% - 250px);
}
.date-select .page-content{
    height: calc(100% - 160px);
}
.with-footer .date-select .page-content {
    height: calc(100% - 200px);
}
.with-banner.with-footer .date-select .page-content{
    /*margin-top: 0 !important;*/
    height: calc(100% - 230px);
}
.cart .page-content{
        height: calc(100% - 190px);
}
.with-footer .cart .page-content {
    height: calc(100% - 230px);
}
.with-banner.with-footer .cart .page-content{
     height: calc(100% - 260px);
}
.web-calender .toolbar-inner{
    background: white;
}
.waiver_container{
    padding: 15px 15px 25px 15px;
}
.checkout .total-text,.checkout price{
    font-size: 18px;
}
.waiver-text{
    font-size: 14px;
    font-weight: 100;
    max-height:92px;
    overflow-y:auto;
}
.toolbar .toolbar-inner-custom{
    padding:0;
}

/* Stripe CSS */

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    border-radius: 5px;
    background: rgb(244,246,248);
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
#stripe-card-element iframe{
    position: relative;
    top: 10px;
    z-index: 9999;
}

/* MEDIA QUERIES STARTS*/
@media only screen and (max-width:1350px){
    .event-des-height .card-header {
    /*min-height: 14vw;*/
    }
    .event-des-imageheight .card-header {
    min-height: 24vw;
    }
    .card-right {
    min-height: 24vw;
    }
    .mobile-view{
    display:none;
    }
    .web-view{
        display:block;
    }
}

@media only screen and (max-width:1200px){
    .navbar-inner.fixed-navbar, .navbar-inner.fixed-navbar.navbar-on-center{
        padding: 0 10px;
    }
    .page-content{
        padding: 10px !important;
    }
    .product_desc .page-content{
        padding: 20px !important;
    }
    .checkout .container{
        max-width: 90%;
        margin: auto;
    }
    .cart .page-content{
        padding: 20px !important;
    }
    .clist .container{
        max-width: none;
    }
}
 
 @media only screen and (max-width:1100px){
    .event-des-height .card-header {
            /*min-height: 14vw;*/
    }
    .event-des-imageheight .card-header {
    min-height: 27vw;
    }
    .card-right {
    min-height: 27vw;
    }
    .mobile-view{
    display:none;
    }
    .web-view{
        display:block;
    }
}
@media only screen and (max-width:900px){
    .checkout .row.split_view > .col-50 {
        width: 100%;
    }
    .navbar .navbar-inner.fixed-navbar{
        padding: 0 10px;
    }
}

@media only screen and (max-width:768px){
    .navbar{
        height: 90px;
    }
    .with-banner .navbar{
        height: 120px;
    }
    .page-content{
        margin-top: 90px;
        height: calc(100% - 90px);
        padding:10px !important;
    }
    .desc .page-content{
        /*margin-top: 0 !important;*/
        height: calc(100% - 170px);
    }
    .date-select .page-content{
        /*margin-top: 0 !important;*/
        height: calc(100% - 140px);
    }
    .cart .page-content{
        height: calc(100% - 170px);
    }
    .checkout .page-content{
         height: calc(100% - 195px);
    }
    .with-footer .page-content{
        height: calc(100% - 130px);
    }
    .with-banner.with-footer .page-content {
        margin-top: 120px;
        height: calc(100% - 160px);
    }
    .with-footer .checkout .page-content{
        /*INCLUDES TOOLBAR HEIGHT*/
        height: calc(100% - 230px);
    }
    .with-banner.with-footer .checkout .page-content{
        /*INCLUDES TOOLBAR HEIGHT*/
        height: calc(100% - 260px);
    }
    .with-banner .date-select .page-content{
        /*margin-top: 0 !important;*/
        height: calc(100% - 255px);
    }
    .with-banner .desc .page-content{
        /*margin-top: 0 !important;*/
        height: calc(100% - 255px);
    }
    .with-banner .cart .page-content{
        height: calc(100% - 255px);
    }
    .col-33-cardlisting{
        width:50%!important;
    }
     .event-des-height .card-header {
    /*min-height: 40vw;*/
    }
    .event-des-imageheight .card-header {
    min-height: 40vw;
    }
    .mobile-view{
    display:block;
    } 
    .web-view{
        display:none;
    }
    .navbar-inner.list {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .with-footer .desc .page-content {
        height: calc(100% - 215px);
    }
    .with-footer .date-select .page-content {
        height: calc(100% - 180px);
    }
    .with-footer .cart .page-content {
        height: calc(100% - 215px);
    }
    .card-listing .card-image {
        height: 14.5vw;
    }
    .with-footer .toolbar{
        bottom: 40px;
    }
    .checkout .container {
        max-width: 80%;
        margin: auto;
    }
    .with-banner.with-footer .desc .page-content{
        height: calc(100% - 245px);
    }
    .with-banner.with-footer .date-select .page-content{
        /*margin-top: 0;*/
        padding-top: 10px !important;
        height: calc(100% - 210px);
    }
    .with-banner.with-footer .cart .page-content {
        height: calc(100% - 245px);
    }
    .with-banner  .list .home_icon{
        padding-left: 5px;
        padding-top: 35px;
    }
    .navbar-inner .right img{
        width: 25px;
    }
    .ph-text{
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media all and (min-width: 630px) and (min-height: 630px) {
    .popup:not(.tablet-fullscreen){
        height: 100% !important;
        left: 0% !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        top: 0% !important;
        transform: translate3d(0px, 1024px, 0px);
        width: 100% !important;
    }
    .popup:not(.tablet-fullscreen).modal-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .popup:not(.tablet-fullscreen).modal-out {
        -webkit-transform: translate3d(0, 1024px, 0);
        transform: translate3d(0, 1024px, 0);
    }
}

@media only screen and (max-width:641px){
    .navbar {
        height: 60px;
    }
    .page-content{
        padding: 5px 10px !important;
        margin-top: 60px;
        height: calc(100% - 60px);
    }
    .with-banner .navbar {
        height: 90px;
    }
    .with-footer .page-content{
        margin-top: 60px;
        height: calc(100% - 100px);
    }
    .with-banner.with-footer .page-content{
        margin-top: 90px;
        height: calc(100% - 130px);
    }
    .navbar-inner.fixed-navbar{
        padding: 0 10px;
        max-width: 100%;
    }
    .checkout .page-content {
        height: calc(100% - 165px);
        padding: 10px !important;
    }
    .with-footer .checkout .page-content {
        height: calc(100% - 210px);
    }
    .with-banner.with-footer .checkout .page-content {
        height: calc(100% - 230px);
    }
    .container{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .checkout .container{
        padding: 0 0 10px 0;
        max-width:100%;
        margin: 0;
    }
    .checkout .card-content-inner{
        padding: 15px 0 !important;
    }
    .title-bar{
        margin: auto -10px;
    }
    .title-bar::before{
        display: block;
        content:'';
        border-bottom: 1px solid #efefef;
        margin: 15px -15px 15px -15px;
    }
    .select-card .title-bar{
        padding-left: 10px;
    }
    .desc .page-content {
        padding-top: 10px !important;
        height: calc(100% - 140px);
    }
    .date-select .page-content {
        padding-top: 10px !important;
        height: calc(100% - 110px);
    }
    .with-footer .desc .page-content {
        height: calc(100% - 180px);
    }
    .with-footer .date-select .page-content {
        height: calc(100% - 150px);
    }
    .with-banner.with-footer .desc .page-content {
        height: calc(100% - 215px);
    }
    .with-banner.with-footer .date-select .page-content {
        height: calc(100% - 180px);
    }
    .checkout .card{
        box-shadow: none;
        margin: 0;
    }
    .search-member{
        padding: 0;
    }
    .cart .page-content {
        height: calc(100% - 140px);
        padding: 10px !important;
    }
    .with-footer .cart .page-content {
        height: calc(100% - 180px);
    }
    .with-banner.with-footer .cart .page-content {
        height: calc(100% - 215px);
    }
    .logo-cover {
        height: 36px;
        /*width: 130px;*/
        padding-top: 8px;
    }
    .with-banner .logo-cover{
        padding-top: 6px;
    }
    .with-banner .logo-center {
        top: 37px;
    }
    .navbar-inner.fixed-navbar{
        padding: 0 15px;
         max-width: 100%;
    }
    .with-banner .navbar-inner .right img{
        width: 25px;
    }
    .with-banner .home_icon{
        padding-top: 30px;
    }
    .card-listing .card{
        max-width: 100%;
    }
    .date-select .content-block-title{
        margin-top:10px;
    }
    .form-group label{
        font-size: 14px;
    }
    .focused label{
        font-size: .75em;
    }
    .checkout .total-text,.checkout price{
        font-size: 16px;
    }
    .form-group select{
        font-size: 14px;
        padding-left: 10px;
    }
}

@media only screen and (max-width:481px){
    .col-33-cardlisting{
        width:100%!important;
    }
    .event-des-height .card-header {
    /*min-height: 40vw;*/
    }
    .event-des-imageheight .card-header {
    min-height: 47vw;
    }
    .mobile-view{
    display:block;
    } 
    .web-view{
        display:none;
    }    
    .web-calender{
       padding:0; 
       margin-right:-15px; 
       width:auto; 
    }
    .card-listing .card{
        margin:5px;
    }
    .card-listing .card-image{
        height: 17vh;
    }
    .card-listing .card-header{
       /*padding: 5px;*/
    }
    .card-listing .card-content-inner{
        padding: 10px;
    }
    .retail-view .card-content h1 {
        font-size: 14px;
        font-weight: 600;
    }
    .card-listing price {
        font-weight: 500;
        font-size: 12px;
    }
    .toolbar-price .active-cus.toolbar-button {
        margin-top: 10px;
    }
    .price-section small{

    }
    .toolbar-price {
        padding-top: 5px;
        font-size: 14px;
    }
    .carousal_select{
        max-width: 75%;
    }
    .retail-view .expiryWidth select{
        width:70%;
    }
    .toolbar-price span small{
        font-size: 75%;
    }
    .navbar-inner.fixed-navbar.navbar-on-center,.navbar-inner.fixed-navbar.desc.navbar-on-center,.navbar-inner.fixed-navbar.list.navbar-on-center,.navbar-inner.fixed-navbar.clist.navbar-on-center{
        max-width: none;
        margin: auto;
        position: initial;
        padding: 10px !important;
    }
    .search-member{
        padding-top: 5px;
    }
    .search-member input{
        margin-bottom: 10px;
    }
    .title-bar{
        margin: auto -10px;
        padding: 0 10px 10px;
    }
    .title-bar h1.title{
        font-size: 16px;
    }
    .form-group-split > .col-50{
        width: 100%;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 410px) {
    .date-dropdowns > .dob_month,.dob_day,.dob_year{
        width: 90px;
        height: 35px;
    }
}
