<!DOCTYPE html>

<!--The Modal for Message show -->
<center>
    <div class="modal fade" id="homeMessageModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" style="min-width: 250px;">
        <div class="modal-content cstm-modal-max-width">
                <div class="modal-body text-center" id="homeMessagecontent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block text-white" data-dismiss="modal" style="margin-bottom: -9px;">OK</button>
            </div>
        </div>
    </div>
</div>
</center>

<!-- page content -->
<div id="pos-home" class="pos-home with-footer">
    <topbar>
        <div class="row no-gutters">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                <div class="admin-banner">
                    <center><h6>ADMINISTRATOR</h6></center>
                </div>
                <div class="nav-border">
                    <nav class="navbar navbar-expand-xl navbar-light">
                        <img ng-src="{{company_logo}}" class="logo-cover">
                    </nav>
                </div>
            </div>
        </div>
    </topbar>
    
    <div class="pos-home-list">
        <div class="pos-container">
            <ul class="row no-gutters">
                <li ng-show="lead_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div ng-click="openurl('l')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_01.png" alt="more_info" class="pos-home-icons"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"> <h1 class="req">REQUEST<br class="mobile-disable"> MORE INFO</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
                <li ng-show="retail_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6">
                    <div ng-click="openurl('r')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_02.png" alt="retail" class="pos-home-icons"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"><h1 class="retail">{{retail_name}}</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
                <li ng-show="events_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6">
                    <div ng-click="openurl('e')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_03.png" alt="evemts" class="pos-home-icons"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"><h1 class="event">{{event_name}}</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
                <li ng-show="trial_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6">
                    <div ng-click="openurl('t')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_04.png" alt="trials" class="pos-home-icons"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"><h1 class="trial">{{trial_name}}</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
                <li ng-show="membership_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6">
                    <div ng-click="openurl('m')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_05.png" alt="memberships" class="pos-home-icons mem"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"><h1 class="mem">{{membership_name}}</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
               <li ng-show="charge_pos_enable==='E'" class="col-lg-4 col-md-6 col-sm-6">
                    <div ng-click="openurl('c')" class="card">
                        <div class="outer">
                            <div class="middle">
                                <div class="inner">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 col-xs-5">
                                            <center><img src="Icons/H_06.png" alt="misc" class="pos-home-icons misc"/></center>
                                        </div>
                                        <div class="col-sm-7 col-xs-7"><h1 class="misc">MISCELLANEOUS<br> CHARGE</h1></div>
                                    </div>
                                </div>  
                            </div>         
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


