
.bootstrap-datetimepicker-widget {
    list-style: outside none none;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em;
    border: 1px solid #73879c;
    border-radius: 6px;
    background-color: #fdfeff;
}
@media (min-width: 768px) {
.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
}
}
@media (min-width: 992px) {
.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
}
}
@media (min-width: 1200px) {
.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    width: 38em;
}
}
.bootstrap-datetimepicker-widget.dropdown-menu::before, .bootstrap-datetimepicker-widget.dropdown-menu::after {
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom::before {
    border-bottom: 7px solid #73879c;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 7px;
    top: -7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom::after {
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 8px;
    top: -6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #73879c;
    bottom: -7px;
    left: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    bottom: -6px;
    left: 7px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right::before {
    left: auto;
    right: 6px;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right::after {
    left: auto;
    right: 7px;
}
.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0;
}
.bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none;
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0px !important;
    width: 54px;
    padding: 0px !important;
    border: 1px solid lightgray;
}
.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px;
}
.bootstrap-datetimepicker-widget .btn{
    margin: 0px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Increment Hours";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Increment Minutes";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Decrement Hours";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Decrement Minutes";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Show Hours";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Show Minutes";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Toggle AM/PM";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Clear the picker";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Set the date to today";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
}
.bootstrap-datetimepicker-widget .picker-switch::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Toggle Date and Time Screens";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget .picker-switch td {
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0;
    width: auto;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
    height: 2.5em;
    line-height: 2.5;
    width: 100%;
    color: black;
}
.bootstrap-datetimepicker-widget table {
    margin: 0;
    width: 100%;
}
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    border-radius: 4px;
    text-align: center;
}
.bootstrap-datetimepicker-widget table th {
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px;
}
.bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #777777;
    cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table th.prev::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Previous Month";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget table th.next::after {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    content: "Next Month";
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th {
    cursor: pointer;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.bootstrap-datetimepicker-widget table td {
    height: 54px;
    line-height: 54px;
    width: 54px;
}
.bootstrap-datetimepicker-widget table td.cw {
    color: #777777;
    font-size: 0.8em;
    height: 20px;
    line-height: 20px;
}
.bootstrap-datetimepicker-widget table td.day {
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
    background: #eeeeee none repeat scroll 0 0;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: #777777;
}
.bootstrap-datetimepicker-widget table td.today {
    position: relative;
}
.bootstrap-datetimepicker-widget table td.today::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.2) transparent #337ab7;
    border-image: none;
    border-style: solid;
    border-width: 0 0 7px 7px;
    bottom: 4px;
    content: "";
    display: inline-block;
    position: absolute;
    right: 4px;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #337ab7;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.active.today::before {
    border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #777777;
    cursor: not-allowed;
}
.bootstrap-datetimepicker-widget table td span {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 2px 1.5px;
    width: 54px;
}
.bootstrap-datetimepicker-widget table td span:hover {
    background: #eeeeee none repeat scroll 0 0;
}
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #337ab7;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.old {
    color: #777777;
}
.bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #777777;
    cursor: not-allowed;
}
.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px;
}
.bootstrap-datetimepicker-widget.wider {
    width: 21em;
}
.bootstrap-datetimepicker-widget .datepicker-decades .decade {
    line-height: 1.8em !important;
}
.input-group.date .input-group-addon {
    cursor: pointer;
}
.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.separator{
    display: none;
}

