.retail-btn{
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.retail-green-btn{
    background-color: #009a61;
}
.retail-cancel-btn{
    background-color: #ffffff;
    border: solid 1px #979797;
}
.retail-btn-txt{
    font-family: Avenir;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
}
.retail-all-txt{
    font-family: Avenir;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
}
.retail-all-txt-noalign{
    font-family: Avenir;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
}
.retail-browntag-div{
    width: 230px;
    float: right;
    margin: 0 !important;
    border: none !important;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: #009c58;
    border-radius: 50%;
    display: inline-block;
}
#DataTables_Table_retaildiscount_1 tr.selected,#DataTables_Table_retaildiscount_2 tr.selected,#DataTables_Table_retaildiscount_3 tr.selected,#DataTables_Table_retaildiscount_4 tr.selected{
    background-color: #f4f5fa;
}

.customdeletebox{
    height:55px;
    position: relative;
    background: white;
    z-index: 800;
    bottom: 604px;
    padding-top: 15px;
    display: flex;
    margin-right: 10px;
}
.customdeletefirstbox{
    height: 30px;width: 200px;background: #f4f5f8;
    border-bottom: 2px solid #d4dbe0;
    border-left: 2px solid #d4dbe0;
    border-top: 2px solid #d4dbe0;
    padding-top: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius:4px;
}
.discountdropdown {
  position: relative;
  display: inline-block;
}

.discountdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer
}
.discountdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.discountdropdown-content a:hover {background-color: #f1f1f1}
.discountdropdown:hover .discountdropdown-content {
  display: block;
}
.ifonicon{
    position: absolute;
    margin-left: 21px;
    font-size: 30px;
    margin-top: -12px;
    font-weight: 100;
    cursor: pointer
}
.browseicon{
    border: 1px solid #c6c6c6;
    background: #f6f6f6;
    height: 28px;
    margin-top: 3px;
    padding: 4px;
    border-left: 0;
    width: 10%;
    min-width: 56px;
}
.browseboxcontent{
    border-bottom: 1px solid #ececec;
    min-height: 40px;
    padding-left: 26px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
}
.productscrollbox{
    min-height: 475px;max-height: 475px;margin-top: 16px;border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;margin-left: 0px;margin-right: 0px;overflow-y: scroll;overflow-y: scroll;overflow-x: hidden;
}