<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="image/favicon.png"/><title>MyStudio</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="bootstrap/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="bootstrap/css/green.css" rel="stylesheet">	
    <!-- bootstrap-progressbar -->
    <link href="bootstrap/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="bootstrap/css/jqvmap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/jquery.timepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/toastr.min.css" rel="stylesheet" type="text/css"/>
    
    <!-- Custom Theme Style -->
    <link href="css/custom.min.css" rel="stylesheet">
    <link href="css/mystudio.css" rel="stylesheet">
    <link href="bootstrap/css/simple.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src = "js/angular.min.js"></script>
    <script src = "js/angular-route.min.js"></script>
    <script src = "js/angular-md5.js"></script>
    <script src="js/angular-localstorage.js"></script>
    <script src="js/angular-drag-and-drop-lists.js" type="text/javascript"></script>
    <script src="js/aws-sdk.min.js" type="text/javascript"></script>
    <script src="js/toastr.min.js" type="text/javascript"></script>
  </head>

  <body class="nav-md" ng-app="videoupload" id="sidetopbar" ng-controller="VideoUploadController">
      <div id="progress-full"><div class="spinner-loader-full"></div></div>
        
        <!--Success modal -->
       <div class="modal fade" id="messageModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title" id="messagetitle"></h4>
                         </div>
                  <div class="modal-body" id="messagecontent" style="font-size:16px;">
                </div>
                <div class="modal-footer">
                    <button id="done" type="button" class="btn btn-default" data-dismiss="modal" >OK</button>
                </div>
              </div>
            </div>
          </div>
        <!-- /Success modal -->

              <!-- Page content -->
               <form enctype="multipart/form-data" novalidate id="videoupload" name="videoupload">
                   <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                       <center><h1 style="color: gray; align-content: center; margin-bottom: 30px; margin-top: 30px;">Video Upload</h1></center>
                  </div> 
                                       
                  <div class="row"><div class="col-md-12"  style="overflow: auto;">
                         <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                          <label>Category </label>
                          <input type="text" id="video_category_name" placeholder="Category" ng-model="category_name" name="video_category_name" class="form-control" required>
                          <span style="color: red" ng-show="(curriculumvideo.video_category_name.$touched && curriculumvideo.video_category_name.$invalid)">
                            please enter the category
                          </span>
                         </div> 
                            
                         <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                          <label>Title </label>
                          <input type="text" id="title" placeholder="Title" ng-model="title" name="video_title" class="form-control" required>
                          <span style="color: red" ng-show="(curriculumvideo.video_title.$touched && curriculumvideo.video_title.$invalid)">
                            please enter the title
                          </span>
                         </div> 

                        <div class="col-md-10 col-sm-10 col-xs-10 form-group col-md-offset-1">
                          <label>Description</label>
                        <textarea id="content_text" placeholder="Short description of the requirement" ng-model="description" name="video_content_text" class="form-control" required></textarea>
                          <span style="color: red" ng-show="(curriculumvideo.video_content_text.$touched && curriculumvideo.video_content_text.$invalid)">
                            please enter the description
                          </span>
                      </div>
                            
                      <center><label class="col-md-1 myLabel  col-md-offset-5">
                              <input type="file" name="file" id="swupload" file ng-model="file" accept="video/*" onchange="angular.element(this).scope().videoFileChange()" required/>
                        <span><i class="fa fa-upload"></i>&nbsp;&nbsp;Select Video</span>
                         </label>
                         <!--<span id="vSize" ng-show="vSize">Sorry, your attachment is too big. Maximum 10MB file is only allowed.'</span>-->
                          <img ng-if="file" id="prevwimge" class="img-responsive event-cover" style="padding: 10px; margin-left: 50px;" alt=" " />
                          <div class="progress col-md-10 col-md-offset-1" id="upprogress" style="margin-top: 20px; margin-bottom: 40px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                            {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                          </div>
                        </div>
                     </center>
                       </div>
                      <div class="col-md-12" style="margin-top: 20px;"><center>
                            <button id="cancel" type="button" ng-click="videoCancel()" class="col-md-1 btn btn-default col-md-offset-4" data-dismiss="modal">Cancel</button>
                            <button type="button" ng-disabled="!title || !description || !category_name || !file" id="uploadImage" ng-click="videofileup()" class="col-md-1 btn btn-primary col-md-offset-1">Upload</button>
                          </center></div>
                </div>
                       
                  </form> 
              <!-- /Page content -->
              <div >
              <footer ng-hide="sideBarHide">
                  <div class="pull-right">
                      MyStudio
                  </div>
                  <div class="clearfix"></div>
              </footer>
              </div>
              <!-- /footer content -->
      
      <!--Bootstrap--> 
     
     <script src="datatable.js" type="text/javascript"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="script/location.js?v=2" type="text/javascript"></script>
      <script src="script/app.js" type="text/javascript"></script>
      <script type="text/javascript" src="js/moment.js"></script>
      <script src="VideoUploadController.js" type="text/javascript"></script>
      
      <!-- FastClick -->
      <script src="bootstrap/js/fastclick.js"></script>
      <!-- NProgress -->
      <script src="bootstrap/js/nprogress.js"></script>    
      
      <!-- bootstrap-progressbar -->
      <script src="bootstrap/js/bootstrap-progressbar.min.js"></script>    
      <!-- Skycons -->
      <script src="bootstrap/js/skycons.js"></script>         
      
      <!-- Custom Theme Scripts -->
      <script src="js/custom.min.js"></script>
      
     
  </body>
</html>
