/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2018, 1:25:05 PM
    Author     : chennai9
*/
body{
    font-family: avenir;
    font-weight: 600;
    color: #5e5e5e;
    width: 100%;
    height: 100%;
    background-color: #2a2c2e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 400;
    line-height: 1.471;
}

label{
    font-weight: 300;
    color:white;
    font-size: 20px;
}
input{
    margin: 0 0 20px !important;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    width: 25%;
    font-weight: 600;
}
button{
    background-color: #009a62;
    color: white;
    min-width: 120px;
    border-radius: 3px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    opacity:.75;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
h1,h2{
    color:white
}

@media only screen and (max-width: 768px) {
    label{
        font-weight: 300;
        color:white;
        font-size: 30px;
    }
}


@media only screen and (max-width: 480px) {
    label{
        font-weight: 300;
        color:white;
        font-size: 40px;
    }
}

