<!DOCTYPE html>
<!-- test -->
<html ng-app="MyApp" ng-controller="IndexPageController"  ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/><title>{{fav_company_name}}&nbsp;{{fav_event_name}}</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="dist/css/framework7.ios.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css?v=1934">
        <link rel="stylesheet" href="css/custom.css?v=1934">
        
         
        <script >
            if (window.location.hostname === 'mystudio.academy' || window.location.hostname === 'www.mystudio.academy'|| window.location.hostname === 'www1.mystudio.academy' ||
                       window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                if (window.location.hostname.indexOf("www") < 0 || window.location.protocol != 'https:') {
                    var www_url = window.location.hostname;
                    var pathname = window.location.pathname;
                    var hash = window.location.hash;
                    if (window.location.hostname.indexOf("www") > - 1 || window.location.hostname === 'www1.mystudio.academy' ||
                           window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                        window.location.href = 'https://' + www_url + pathname + hash;
                    } else{
                        window.location.href = 'https://www.' + www_url + pathname + hash;
                    }
                }
            }
        </script>
        
        <!-- Path to your angular Library-->
        <script src="js/Angular/angular.min.js" type="text/javascript"></script>
        <!--<script src="js/Angular/angular-route.min.js" type="text/javascript"></script>-->
        <!-- Path to your angular-localstorage Library-->
        <script src="js/Angular/angular-localstorage.js"></script>
       

    </head>
    <body>
        <!--Transparent layer for preloader-->
        <div ng-show="preloader" id = "preloader-transp" class="preload">
            
        </div>
        <!--<div ng-show="showloading" class="preloader"></div>-->
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>
       
        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views tabs toolbar-through">
            <!--infinite progress bar-->
            <div ng-if="preloaderVisible">
                <span class="progressbar-infinite"></span>
            </div>
            <!--Preloader-->
            <div ng-show="preloader" class="preloader preloader-custom preload"></div>
            <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
             <!--<div ng-view></div>-->
            <!-- Pages-->
            <div id="view-1" class="view tab view-main active">
                 <!--TRIAL NAVIGATION BARS STARTS-->
                 <div class="navbar">               
                    <div class="admin-banner">
                        <center><h6>ADMINISTRATOR</h6></center>
                    </div>
                         <!--TRIAL LISTING NAVBAR-->
                         <div class="navbar-inner fixed-navbar list" data-page="index">
                              <div class="left"><a class="empty-back"></a></div>
                             <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                             <div class="right">
                                 <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()"  alt="home_icon" />
                                 <strong  ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                             </div>
                         </div>

                         <!--TRIAL DESCRIPTION-->
                         <div class="navbar-inner cached fixed-navbar desc" data-page="trialdescription">
                             <div ng-show="trial_id_status" class="left"><a class="empty-back"></a></div>
                             <div ng-show="!trial_id_status" class="left"><a href="#index"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                             <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                             <div  class="right">
                                <a ng-show="trial_id_status" href=""><img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></a>
                                <a ng-show="!trial_id_status && pos_user_type == 'O'" href="#" class="nav_button_color item-link cancelbutton" ng-click="resetCartAfterTrialPaymentSucceed()"> Cancel </a> <a href="">
                                <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></a>                                 
                                <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                             </div>
                         </div>

                         <!--TRIAL DATE SELECTING PAGE-->
                         <div class="navbar-inner cached fixed-navbar date-select" data-page="trialdateselect">
                             <div class="left"><a href="#" ng-click="resetTrialcartdetails()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                             <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                             <div class="right">
                                  <a href=""><img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></a>
                                 <strong ng-show="online == 'offline'" ><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                             </div>
                         </div> 

                         <!--TRIAL CART PAGE-->
                         <div class="navbar-inner cached fixed-navbar cart" data-page="trialCart">
                             <div class="left"><a href="#trialdateselect"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                             <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                            <div class="right">
                                 <a ng-show="pos_user_type == 'O'" href="#" class="nav_button_color item-link cancelbutton" ng-click="resetCartAfterTrialPaymentSucceed()"> Cancel </a>
                                 <a href=""><img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></a>
                                 <strong ng-show="online == 'offline'" ><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                             </div>
                         </div> 

                         <!--TRIAL REGISTRATION PAGE-->
                         <div class="navbar-inner cached fixed-navbar checkout" data-page="trialregistration">
                             <div class="left"><a ng-click="resetoptionaldiscount()" href="#trialCart" class="close-picker"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                             <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                             <div class="right">
                                 <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                                 <strong ng-show="online == 'offline'" ><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                             </div>
                         </div> 

                         <!--TRIAL NAVIGATION BARS ENDS-->                
                 </div>

                <!-- Pages -->
                <div class="pages navbar-through">
                    <!-- Home page -->                    
                    <div class="page no-swipeback" data-page="index">
                        <div class="page-content">
                            <div class="container">
                                <span id="home-list">
                                    <div ng-if="db_Trialstatus != 'Success'" class="content-block"><center><span style="text-align: center; width:100%;">No Trial Program has been added.</span></center></div>
                                    <div class="col-100 card-listing col-33-cardlisting oneline" ng-repeat="x in trialListContent">
                                        <a href="#trialdescription" ng-click="trialdetail($index,'')" class="item-link">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-image" style="background-image:url({{x.trial_banner_img_url}});"></div>
                                                </div>
                                                <div class="card-content">
                                                    <div class="card-content-inner">
                                                        <div class="custom-footer">
                                                            <p><price>{{x.trial_title}}</price></p>
                                                            <p ng-show="x.trial_subtitle">{{x.trial_subtitle}}</p>
                                                            <p ng-show="!x.trial_subtitle">&nbsp;</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>                                 
                                    </div>
                                </span>
                            </div>
                        </div>                            
                    </div>
                    
                   <!--MEMBERSHIP PARENT DESCRIPTION-->
                   <div class="page cached no-tabbar no-swipeback desc" data-page="trialdescription">
                       <!--For Mobile view-->
                       <div class="mobile-view page-content">
                           <div class="container">
                               <div class="card demo-card-header-pic event-des-imageheight">
                                   <div ng-show="TrialImage" style="background-image:url({{TrialImage}});" valign="bottom" class="card-image color-white no-border"></div>
                                   <div class="card-content">
                                       <div class="card-content-inner">
                                           <div class="row">
                                               <div class="col-100"><span style="font-size:17px;"><b>{{TrialTitle}}</b></span></div>
                                           </div>
                                           <div class="row">
                                               <div class="col-100"><span style="font-size:17px;">{{TrialSubTitle}}</span></div>
                                           </div>
                                           <div ng-show="Trialdesc != ''" class="desc-container">
                                               <b>Description</b><br>
                                               <p compile-template ng-bind-html="Trialdesc | trust"></p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <!--For Web view-->
                       <div class="webview page-content">
                           <div class="container">
                               <div class="card">
                                   <div class="card-content">
                                       <div class="card-content-inner">
                                           <div class="row">
                                               <div class="col-50">
                                                   <div class="card-image color-white no-border" style="background-image:url({{TrialImage}});"></div>
                                               </div>
                                               <div class="col-50">
                                                   <div class="card-content">
                                                       <div class="row">
                                                           <div class="col-100">
                                                               <h1>{{TrialTitle}}</h1>
                                                               <h2>{{TrialSubTitle}}</h2>
                                                           </div>
                                                       </div>
                                                       <div class="registerbutton-align" ng-show="(trial_processing_fee_type === '2' || trial_processing_fee_type === 2) && trial_amount_view > 0 ">
                                                            <center>{{cursymbol}}{{trial_amount_view | number:2}}<br>
                                                               <small style="font-size: 11px;">
                                                                   <span>
                                                                       <div class="toolbar-inner-custom-content">
                                                                           (plus {{cursymbol}}{{trial_processing_fee_value | number:2}} administrative fees)
                                                                       </div>
                                                                   </span>
                                                               </small>
                                                               <button class="button active-cus toolbar-button" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="setDefault_trialstartDate()" style="">Select Start Date</button>
                                                           </center>
                                                       </div>
                                                       <div class="registerbutton-align" ng-show="(trial_processing_fee_type !== '2' || trial_amount_view == 0) ">
                                                           <center>{{cursymbol}}{{trial_amount_view | number:2}}<br>
                                                               <button class="button active-cus toolbar-button" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="setDefault_trialstartDate()" style="">Select Start Date</button>
                                                           </center>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div ng-show="Trialdesc != ''" class="desc-container">
                                                   <b>Description</b><br>
                                                   <p compile-template ng-bind-html="Trialdesc | trust"></p>
                                               </div>
                                           </div>  
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <div class="toolbar custom-toolbar-xlheight mobile-view" ng-class="{'custom-toolbar-smheight': wepaystatus==='N'}" ng-show="(trial_processing_fee_type==='2' || trial_processing_fee_type===2) && trial_amount_view > 0 ">
                           <div class="toolbar-inner-custom">
                               <center>{{cursymbol}}{{trial_amount_view | number:2}}
                                   <small style="font-size: 11px;">
                                       <span>
                                           <div class="toolbar-inner-custom-content">
                                               (plus {{cursymbol}}{{trial_processing_fee_value | number:2}} administrative fees)
                                           </div>
                                       </span>
                                   </small>
                                   <a class="button active-cus toolbar-button button-maxwidth" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="setDefault_trialstartDate()" style="">Select Start Date</a>
                               </center>
                           </div>
                       </div>
                       <div class="toolbar custom-toolbar-height mobile-view" ng-class="{'custom-toolbar-smheight': wepaystatus === 'N'}"  ng-show="(trial_processing_fee_type !== '2' || trial_amount_view == 0) ">
                           <div class="toolbar-inner-custom">
                               <center>{{cursymbol}}{{trial_amount_view | number:2 }}<br>
                                   <a class="button active-cus toolbar-button button-maxwidth" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="setDefault_trialstartDate()" style="">Select Start Date</a>
                               </center>
                           </div>
                       </div>                        
                   </div>
                     
                      <!--MEMBERSHIP DATE SELECTING PAGE-->

                    <div class="page cached no-tabbar no-swipeback date-select" data-page="trialdateselect">
                        <div class="page-content">
                            <div class="container">
                                <div class="content-block-title">Select Trial Start Date</div>
                                <center>
                                    <div class="content-block">
                                        <div class="content-block-inner web-calender">
                                            <div id="calendar-inline-container"></div>
                                        </div>
                                    </div>
                                </center> 
                            </div>
                        </div>
                        <div class="toolbar custom-toolbar-smheight">
                            <div class="toolbar-inner-custom">
                                <center><a href="#" class="button active-cus toolbar-button button-maxwidth" ng-click="trial_paymentdetails()">Trial Payment Details</a></center>
                            </div>
                        </div> 
                    </div>

                    
                    <!-- MEMBERSHIP CART PAGE -->
                    <div class="page cached no-tabbar no-swipeback cart" data-page="trialCart">
                        <div class="page-content">
                            <div class="container">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-content-inner">
                                            <h4 class="subcarthead discountval text-center" id="trialdiscountcode" ng-show="(actual_trial_cost > 0 && trial_discount_exist) && Trial_DiscountList != ''"><center><b>Enter Discount Code Here</b></center></h4>
                                            <h3>Registration Details</h3>
                                            <div class="row" style="padding: 5px;margin-left: 5px;">
                                                <div class="col-45"><span>Start Date:</span></div>
                                                <div class="col-55" style="text-align: right"><span>{{trial_start_date_view}}</span></div>
                                                <div class="col-45"><span>End Date:</span></div>
                                                <div class="col-55" style="text-align: right"><span>{{trial_end_date_view}}</span></div>
                                                <div class="col-45" style="margin-top:15px;"><span><b>Total Due Today:</b></span></div>
                                                <div class="col-55" style="text-align: right; margin-top:15px;"><span><b>{{cursymbol}}{{trial_amount_view|number:2}}</b></span></div>
                                                <div class="col-100" style="text-align: right;"><small  ng-show="(trial_processing_fee_type === '2' || trial_processing_fee_type === 2) && trial_amount_view > 0"><span ng-show="trial_processing_fee_value > 0">plus {{cursymbol}}{{trial_processing_fee_value| number:2}} administrative fees</span></small></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="toolbar" ng-class="{'custom-toolbar-xlheight' : trial_total_amount_view > 0 && (trial_processing_fee_type === '2' || trial_processing_fee_type === 2), 'custom-toolbar-height' : trial_total_amount_view <= 0 || (trial_processing_fee_type === '1' || trial_processing_fee_type === 1)}">
                            <div class="toolbar-inner-custom">
                                <center>{{cursymbol}}{{trial_total_amount_view| number:2}}</center>
                                <center><small ng-show="trial_processing_fee_type === '2' || trial_processing_fee_type === 2"><span><div class="toolbar-inner-custom-content" ng-show="trial_processing_fee_value > 0 && (trial_processing_fee_type ===2 || trial_processing_fee_type ==='2')">(includes {{cursymbol}}{{trial_processing_fee_value| number:2}} administrative fees)</div></span></small></center>
                                <center><div><a  href="#trialregistration" class="button active-cus toolbar-button button-maxwidth" style="">Check Out</a></div></center>
                            </div>
                        </div> 
                    </div>

                     <!-- MEMBERSHIP REGISTRATION SECTION -->
                     <div class="page cached no-tabbar no-swipeback checkout" data-page="trialregistration">
                         <div class="page-content">
                             <div class="container">
                                 <form enctype="multipart/form-data" novalidate id="trialpaymentform" name="trialpaymentform">
                                     <div class="row split_view">
                                         <div class="col-50">
                                             <div class="row">
                                                 <div class="col-100 search-member">
                                                     <div class="p-relative">
                                                         <span class="ph-text"><img src="css/img/E4.png" class="search-lens" alt="search lens"><span class="search-txt">Search for member</span></span>
                                                         <input type = "text" id = "autocomplete-dropdown" ng-model="trial_search_member" ng-change="catchSearchTrialMember()">
                                                     </div>  
                                                 </div>
                                             </div>
                                             <div class="card">
                                                 <div class="card-content event_placeholder_div">
                                                     <div class="title-bar" ng-init="trialreg_col_field_name = []">                                    
                                                         <h1 class="title">Participant Info</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div ng-hide="{{$index == 3}}" ng-class="{'white-bg': $index == 2}" class="form-group" ng-repeat="trialregcols in trial_reg_col_names">
                                                             <label ng-hide="$index == 2" for="trialcolumn{{$index}}">{{trialregcols.reg_col_name}}</label>
                                                             <label ng-show="$index == 2" for="trialcolumn{{$index}}" class="expiryLabel">{{trialregcols.reg_col_name}}<br></label>
                                                             <input type="text" id="trialcolumn{{$index}}" placeholder="" name="trialcolumn{{$index}}" ng-focus="catchTrialInputFocus('trialcolumn'+$index)" ng-blur="catchTrialInputBlur('trialcolumn'+$index,trialreg_col_field_name[$index])" ng-model="trialreg_col_field_name[$index]" ng-paste="handlepaste($event)" maxlength="100" ng-required="trialregcols.reg_col_mandatory === 'Y'" valid-text>
                                                         </div>
                                                         <div class="form-group white-bg">
                                                             <label class="expiryLabel">How did you hear about us?<br></label>
                                                             <select ng-selected="ls[0].lead_col_name" class="paymentselect" id="leadsource" name='leadsource' ng-model="leadsource" style="margin-top: 10px;">
                                                                 <option ng-repeat="ls in trial_lead_columns">{{ls.lead_col_name}}</option>
                                                             </select>
                                                         </div>  
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="card">
                                                 <div class="card-content event_placeholder_div">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Buyer's Info</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div class="form-group">
                                                             <label>First name</label>
                                                             <input type="text" id="trial_firstName" ng-model="trial_firstname" name="trial_firstname" valid-name>
                                                         </div>
                                                         <div class="form-group">
                                                             <label>Last name</label>
                                                             <input type="text" id="trial_lastName" ng-model="trial_lastname" name="trial_lastname" valid-name>
                                                         </div>
                                                         <div class="form-group ">
                                                             <label for="trial_participant_Streetaddress">Billing address</label>
                                                             <input type="text" id="trial_participant_Streetaddress" ng-model="trial_participant_Streetaddress" name="trial_participant_Streetaddress" valid-text>
                                                         </div>
                                                         <div class="form-group ">
                                                             <label for="trial_participant_City">City</label>
                                                             <input type="text" id="trial_participant_City" name="trial_participant_City" ng-model="trial_participant_City" valid-text>
                                                         </div>
                                                         <div class="row labelAlignMT2">
                                                             <div class="col-50">
                                                                 <div class="form-group ">
                                                                     <label for="trial_participant_State">State</label>
                                                                     <input type="text" id="trial_participant_State" name="trial_participant_State" ng-model="trial_participant_State" valid-text>
                                                                 </div>
                                                             </div>
                                                             <div class="col-50">
                                                                 <div class="form-group ">
                                                                     <label for="trial_buyer_Zipcode">Zip code</label>
                                                                     <input type="text" id="trial_participant_Zip" name="trial_participant_Zip" ng-model="trial_participant_Zip" valid-text>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label for="trial_participant_Country">Country</label>
                                                             <input type="text" id="trial_participant_Country" name="trial_participant_Country"  ng-model="trial_participant_Country" valid-text>
                                                         </div>
                                                         <div class="form-group">
                                                             <label>Email</label>
                                                             <input type="text" id="trial_email" ng-model="trial_email" name="trial_email" valid-text>
                                                         </div>
                                                         <div class="form-group">
                                                             <label>Phone</label>
                                                             <input type="text" id="trial_phone" ng-model="trial_phone" name="trial_phone" valid-phone-number>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-50">
                                             <div ng-hide="pos_user_type === 'O' || trial_amount_view <= 0" class="card">
                                                 <div class="card-content">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Choose payment method</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div class="form-group">
                                                             <select id="trial_payment_method" ng-change="selectPaymentMethod()" class="paymentselect" name="trial_payment_method" ng-model="trial_payment_method">                                   
                                                                 <option value="CC">Credit card</option>
                                                                 <option value="CA" ng-disabled='pos_settings_payment_method[1] == 0'>Cash</option>
                                                                 <option value="CH" ng-disabled='pos_settings_payment_method[2] == 0'>Check</option>
                                                                 <!--<option value="ACH" ng-show="pos_user_type != 'O' && stripe_enabled">Ach</option>-->
                                                             </select>
                                                             <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                         </div>
                                                         <div ng-show="trial_payment_method === 'CH'" class="form-group">
                                                             <div class="col-50">
                                                                 <input type="text" id="trial_check_number" name="trial_check_number" class="ip-alone" placeholder="Enter check number" ng-change="catchTrialCheck()" ng-model="trial_check_number">                                      
                                                             </div>
                                                         </div>
                                                         <div ng-show="(showcardselection && trial_payment_method === 'CC'&& trial_amount_view > 0)" ng-hide="pos_user_type === 'O' || trialcarddetails.length <= 0 || trial_payment_method !== 'CC' || trial_amount_view <= 0" class="select-card">
                                                             <div class="title-bar">                                    
                                                                 <h1 class="title">Select Card</h1>                                            
                                                             </div>
                                                             <div class="form-group">
                                                                 <select ng-change="selecttrialCardDetail(selectedcardindex)" id="selectedcardnumber" class="paymentselect" name="selectedcardindex" ng-model="selectedcardindex" >
                                                                     <option disabled selected value>Choose card</option>
                                                                     <option id="newcard">Add New credit card</option>
                                                                     <option id="card{{$index}}" ng-repeat="creditCard in trialcarddetails" value="{{$index}}">{{creditCard.credit_card_name}}</option>                                        
                                                                 </select>
                                                                 <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div ng-show="trial_amount_view > 0 && trial_payment_method === 'CC' && shownewcard" class="card">
                                                 <div class="card-content">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Enter your credit card information</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div ng-show="wepay_enabled">
                                                             <div class="form-group ">
                                                                 <label  for="trial_cc_name">Name on card</label>
                                                                 <input type="text" id="trial_cc_name" name="trial_cc_name"  ng-model="trial_cc_name" valid-name>
                                                             </div>
                                                             <div class="form-group ">
                                                                 <label  for="trial_cc_number">Card number</label>
                                                                 <input type="text" id="trial_cc-number" ng-model="trial_cardnumber" name="trial_cardnumber" valid-text>
                                                             </div>
                                                             <div class="form-group">
                                                                 <select id="trial_country" class="paymentselect" name="trial_country" ng-model="trial_country" valid-name>                                   
                                                                     <option disabled selected value>Billing country</option>
                                                                     <option value="US">United States</option>
                                                                     <option value="CA">Canada</option>
                                                                     <option value="GB">United Kingdom</option>
                                                                 </select>
                                                                 <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                             </div>  
                                                             <div class="form-group-split row">
                                                                 <div class="col-50">
                                                                     <div class="form-group ">
                                                                         <label  for="trial_postal_code">Billing zip code</label>
                                                                         <input type="text" id="trial_postal_code" ng-model="trial_postal_code" name="postal_code" valid-text>
                                                                     </div>
                                                                 </div>
                                                                 <div class="col-50">
                                                                     <div class="form-group ">
                                                                         <label  for="trial_cvv">CVV</label>
                                                                         <input type="text" id="trial_cc-cvv" ng-model="trial_cvv" name="trial_cvv" valid-text>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                             <div class="form-group white-bg">
                                                                 <div class="row">
                                                                     <div class="col-50 p-relative">
                                                                         <select class="selecttag" id="trial_cc-month" name='trial_ccmonth' ng-model="trial_ccmonth">
                                                                             <option disabled selected value>Expiration month</option>
                                                                             <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                                                         </select>
                                                                         <span>
                                                                             <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                             <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                         </span>
                                                                     </div> 
                                                                     <div class="col-50 p-relative">
                                                                         <select class="selecttag" id="trial_cc-year"  name='trial_ccyear' ng-model="trial_ccyear">
                                                                             <option disabled selected value>Expiration year</option>
                                                                             <option ng-repeat="year in ccyearlist">{{year}}</option>
                                                                         </select>
                                                                         <span>
                                                                             <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                             <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                         </span>
                                                                     </div> 
                                                                 </div>    
                                                             </div>
                                                         </div>
                                                         <div ng-show="stripe_enabled">
                                                             <div class="stripe-form">
                                                                 <div id="stripe-card-element"></div>
                                                                 <!--Used to display form errors--> 
                                                                 <div style="color:#fa755a;margin-top: 10px;" id="stripe-card-errors" role="alert"></div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div ng-show="trial_amount_view > 0 && trial_payment_method === 'ACH'" class="card">
                                                 <div class="card-content">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Enter your ACH information</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div class="form-group">
                                                             <label  for="trial_ach_route_no">Bank routing number</label>
                                                             <input type="text" id="trial_ach_route_no" name="trial_ach_route_no"  ng-model="trial_ach_route_no" valid-number>
                                                         </div>
                                                         <div class="form-group">
                                                             <label  for="trial_ach_acc_number">Bank account number</label>
                                                             <input type="text" id="trial_ach_acc_number" ng-model="trial_ach_acc_number" name="trial_ach_acc_number" valid-text>
                                                         </div>
                                                         <div class="form-group">
                                                             <label  for="trial_ach_holder_name">Holder name</label>
                                                             <input type="text" id="trial_ach_holder_name" ng-model="trial_ach_holder_name" name="trial_ach_holder_name" valid-name>
                                                         </div>
                                                         <div class="form-group">
                                                             <select id="trial_ach_acc_type" class="paymentselect" name="trial_ach_acc_type" ng-model="trial_ach_acc_type" >                                   
                                                                 <option disabled selected value>Holder type</option>
                                                                 <option value="individual">Individual</option>
                                                                 <option value="company">Company</option>
                                                             </select>
                                                             <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                         </div>
                                                    </div>
                                                 </div>
                                             </div>
                                             <div class="card"> 
                                                 <div class="card-content">
                                                     <div class="title-bar">                                    
                                                         <h1 class="title">Sales agreement</h1>                                            
                                                     </div>
                                                     <div class="card-content-inner">
                                                         <div class="col-100">
                                                             <div class="waiver-text" >
                                                                 <span compile-template ng-bind-html="trialwaiverarea | trust"></span>
                                                             </div>
                                                             <div class="col-100" ng-hide="trial_payment_method === 'CC' && stripe_enabled && trial_amount_view > 0">
                                                                 <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="trial_waiver_checked" name="waiver_checked" ng-model="trial_waiver_checked">I agree to the above Waiver & Agreement</label>
                                                             </div>
                                                             <div ng-show="stripe_enabled">
                                                                 <div ng-show="trial_payment_method === 'ACH'  && stripe_enabled && trial_amount_view > 0" class="col-100">
                                                                     <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="trial_ach_chkbx" name="trial_ach_chkbx" ng-model="trial_ach_chkbx">I authorize ACH plugin to electronically debit my account And, if necessary, electronically credit my account to correct erroneous debits.</label>
                                                                 </div>
                                                                 <div ng-show="trial_payment_method === 'CC' && stripe_enabled && trial_amount_view > 0" class="col-100" >
                                                                     <label><input type="checkbox" class="icon icon-form-checkbox waiver-check" id="trial_cc_chkbx" name="trial_cc_chkbx" ng-model="trial_cc_chkbx">I authorise {{fav_company_name}} to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of the waiver and agreement above.</label>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="card">
                                                 <div class="card-content">
                                                     <div class="opt-disc-container">
                                                         <div ng-show="pos_user_type === 'S' && trial_discount_applied_flag === 'N' && !trialfee_Discode_Found && static_trial_amount > 0" class="opt-disc">
                                                             <div class="holder">
                                                                 <label>Enter optional discount</label>
                                                                 <input type="text" id="trial_optional_discount"  placeholder="{{wp_currency_symbol}} 0.00"  ng-change="catchOptionalDiscount()" ng-model="trial_optional_discount" name="trial_optional_discount">
                                                             </div>
                                                             <span ng-show="erroroptionaldiscount" class="retail-txt" style="color:red;">{{erroroptionalMsg}}</span>
                                                         </div> 
                                                         <div class="registerbutton-align web-view">
                                                             <center>
                                                                 <div class="price-section">
                                                                     <div>
                                                                         <span class="total-text">Total :</span>&nbsp;<price>{{wp_currency_symbol}}{{trial_total_amount_view | number:2}}</price><br>
                                                                         <span ng-show="(trial_processing_fee_type === '2' || trial_processing_fee_type === 2) && trial_amount_view > 0 && trial_processing_fee_value > 0">
                                                                             <small>(includes {{wp_currency_symbol}}{{trial_processing_fee_value | number:2}} administrative fees)</small>
                                                                         </span>
                                                                     </div>
                                                                     <center>
                                                                     <span ng-show="trial_amount_view <= 0">
                                                                         <a  ng-click=" handleCheckout();preloader = true " class="button active-cus toolbar-button">Register</a>
                                                                     </span>
                                                                     <span ng-show="trial_amount_view > 0">
                                                                         <a ng-show="(trial_payment_method === 'CA' || trial_payment_method ==='CH')" ng-click=" handleCheckout();preloader = true "  class="button active-cus toolbar-button "> {{trial_amount_view > 0 ? "Pay Now" : "Register"}}</a>
                                                                         <span ng-show="wepay_enabled">
                                                                             <a ng-show="trial_payment_method ==='CC' && !shownewcard" ng-click="trialCheckout(trial_credit_card_id, trial_credit_card_status, trial_firstname, trial_lastname, trial_email, trial_phone, trial_postal_code, trial_country)" class="button active-cus toolbar-button ">Pay Now</a>
                                                                             <a ng-show="trial_payment_method ==='CC' && shownewcard" ng-click="preloader = true" value="Pay Now" id="cc-submit-trial" class="button active-cus toolbar-button">Pay Now</a>
                                                                         </span>
                                                                         <!--STRIPE CC-SUBMIT SECTION-->
                                                                         <span ng-show="stripe_enabled">
                                                                             <!-- newcard STRIPE-->
                                                                             <button ng-show="trial_payment_method === 'CC' && shownewcard" class="button active-cus toolbar-button"  ng-click="submittrialform();preloader = true"
                                                                                    >Pay Now</button>
                                                                             <!-- Existing card STRIPE --> 
                                                                             <button ng-show="trial_payment_method === 'CC' && !shownewcard" class="button active-cus toolbar-button" ng-click="trialStripeCheckout();preloader = true"
                                                                                    >Pay Now</button> 
                                                                             <!--ACH PAYMENT BUTTON-->
                                                                             <button ng-show="trial_payment_method === 'ACH'" class="button active-cus toolbar-button" 
                                                                                    >Pay Now</button>
                                                                         </span>
                                                                         <!--STRIPE CC-SUBMIT SECTION-->
                                                                     </span>
                                                                     </center>
                                                                 </div>
                                                             </center>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div> 
                         <!--BOTTOM TOOLBAR FOR MOBILE VIEW-->
                         <div class="toolbar custom-toolbar-xxlheight mobile-view">
                             <div class="toolbar-price" style="padding-top: 10px;">
                                 <div style="padding: 0 5px;">
                                     <center>
                                         <span class="total-text">Total :</span>&nbsp;<price>{{wp_currency_symbol}}{{trial_total_amount_view | number:2}}</price><br>
                                         <span ng-show="(trial_processing_fee_type === '2' || trial_processing_fee_type === 2) && trial_amount_view > 0 && trial_processing_fee_value > 0">
                                             <small>(includes {{wp_currency_symbol}}{{trial_processing_fee_value | number:2}} administrative fees)</small>
                                         </span>
                                     </center>
                                 </div>
                                 <center>
                                     <span ng-show="trial_amount_view <= 0">
                                         <a ng-click=" handleCheckout();preloader = true " class="button active-cus toolbar-button">Register</a>
                                     </span>
                                     <span ng-show="trial_amount_view > 0">
                                         <a ng-show="(trial_payment_method === 'CA' || trial_payment_method ==='CH')" ng-click=" handleCheckout();preloader = true "  class="button active-cus toolbar-button "> {{trial_amount_view > 0 ? "Pay Now" : "Register"}}</a>
                                         <span ng-show="wepay_enabled">
                                             <a ng-show="trial_payment_method ==='CC' && !shownewcard" ng-click="trialCheckout(trial_credit_card_id, trial_credit_card_status, trial_firstname, trial_lastname, trial_email, trial_phone, trial_postal_code, trial_country)" class="button active-cus toolbar-button ">Pay Now</a>
                                             <a ng-click="preloader = true" ng-show="trial_payment_method ==='CC' && shownewcard" value="Pay Now" id="cc-submit-trial1" class="button active-cus toolbar-button">Pay Now</a>
                                         </span>
                                         <!--STRIPE CC-SUBMIT SECTION-->
                                         <span ng-show="stripe_enabled">
                                             <!-- newcard STRIPE-->
                                             <button ng-show="trial_payment_method === 'CC' && !selectedcardindex" ng-click="submittrialform();preloader = true " class="button active-cus toolbar-button" 
                                                    >Pay Now</button>
                                             <!-- Existing card STRIPE --> 
                                             <button ng-show="trial_payment_method === 'CC' && selectedcardindex"  class="button active-cus toolbar-button" ng-click="trialStripeCheckout();preloader = true "
                                                    >Pay Now</button> 
                                             <!--ACH PAYMENT BUTTON-->
                                             <button ng-show="trial_payment_method === 'ACH'" class="button active-cus toolbar-button" 
                                                    >Pay Now</button>
                                         </span>
                                         <!--STRIPE CC-SUBMIT SECTION-->
                                     </span>
                                 </center>
                             </div>
                         </div>
                    </div>
                </div>
                <!--FOOTER GOES HERE-->
                <div class="footer">
                    <center>
                        <span>Powered by</span>
                        <img src="css/img/E3.png" alt="">
                    </center>
                </div>
                <!--FOOTER GOES HERE-->
            </div>                    
        </div>
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="dist/js/framework7.min.js"></script>
        <script src="js/Angular/jquery-1.12.4.js" type="text/javascript"></script>
        <script src="js/Angular/jquery.date-dropdowns.min.js?v=1934" type="text/javascript"></script>
        <!-- Path to our js-->
        <script type="text/javascript" src="js/my-app.js?v=1934"></script>
        <script type="text/javascript" src="js/services/InitService.js?v=1934" ></script>
        <script src="js/controller/IndexPageController.js?v=1934" type="text/javascript"></script>  
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.3.latest.js"></script>
    </body>
</html>

