<!DOCTYPE html>
<!-- test -->
<html ng-app="MyApp" ng-controller="IndexPageController"  ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/><title>{{fav_company_name}}&nbsp;-&nbsp;{{fav_product_name}}</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="dist/css/framework7.ios.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css?v=1934">
        <link rel="stylesheet" href="css/custom.css?v=1934">

        <script >
            if (window.location.hostname === 'mystudio.academy' || window.location.hostname === 'www.mystudio.academy'|| window.location.hostname === 'www1.mystudio.academy' ||
                       window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                if (window.location.hostname.indexOf("www") < 0 || window.location.protocol != 'https:') {
                    var www_url = window.location.hostname;
                    var pathname = window.location.pathname;
                    var hash = window.location.hash;
                    if (window.location.hostname.indexOf("www") > - 1 || window.location.hostname === 'www1.mystudio.academy' ||
                           window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                        window.location.href = 'https://' + www_url + pathname + hash;
                    } else{
                        window.location.href = 'https://www.' + www_url + pathname + hash;
                    }
                }
            }
        </script>
        <!-- Path to your angular Library-->
        <script src="js/Angular/angular.min.js" type="text/javascript"></script>
        <!-- Path to your angular-localstorage Library-->
        <script src="js/Angular/angular-localstorage.js"></script>

    </head>
    <body>
        <!--Transparent layer for preloader-->
        <div ng-show="preloader" id = "preloader-transp" class="preload">

        </div>
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>

        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views tabs toolbar-through">
            <!--infinite progress bar-->
            <div ng-if="preloaderVisible">
                <span class="progressbar-infinite"></span>
            </div>
            <!--Preloader-->
            <div ng-show="preloader" class="preloader preloader-custom preload"></div>
            <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->

            <div id="view-1" class="view mc-view tab active">
                <!-- NAVBAR  STARTS-->
                <div class="navbar"> 
                    <div class="admin-banner">
                        <center><h6>ADMINISTRATOR</h6></center>
                    </div>
                    <!-- MISCELLANEOUS CHARGE CHECKOUT PAGE NAVBAR -->
                    <div class="navbar-inner fixed-navbar" data-page="lead_add">
                        <div class="left"><a class="empty-back"></a></div>
                        <div class="logo-center">
                            <img class="nav-img logo-cover" ng-src="{{logoUrl}}">
                        </div>
                        <div class="right"><img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" /></div>
                    </div>
                </div>
                <!-- NAVBAR  ENDS-->

                <!-- PAGES -->
                <div class="pages navbar-through">

                    <!-- MISCELLANEOUS CHARGE CHECKOUT STARTS -->

                    <div class="page no-swipeback" data-page="lead_add">
                        <div class="page-content misc_charge_checkout">
                            <div class="container">
                                <div class="lead-content">
                                    <form name="request_info_form" id="request_info_form">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="title-bar">                                    
                                                    <h1 class="title">Request more info</h1>                                            
                                                </div>
                                                <div class="card-content-inner">
                                                    <div class="box-ip">
                                                        <input type="text" placeholder="First name" name="request_info_First_Name" ng-model="request_info_First_Name" valid-name>
                                                        <input type="text" placeholder="Last name" name="request_info_First_Name" ng-model="request_info_Last_Name" valid-name>
                                                        <input type="text" placeholder="Mobile Phone" name="request_info_Phone" ng-model="request_info_Phone" valid-phone-number>
                                                        <input type="text" placeholder="Email" name="request_info_Email" ng-model="request_info_Email"  valid-text>
                                                        <div class="box-select">
                                                            <select name="program_interest" ng-model="program_interest">
                                                                <option disabled selected value>Which program are you interested in?</option>
                                                                <option ng-repeat="pi in PIList" value="{{pi.id}}">{{pi.name}}</option>
                                                            </select>
                                                            <span class="p-relative"><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                        <div class="box-select">
                                                            <select name="program_source" ng-model="program_source">
                                                                <option disabled selected value>How did you find us?</option>
                                                                <option ng-repeat="pi in PSList" value="{{pi.id}}">{{pi.name}}</option>
                                                            </select>
                                                            <span class="p-relative"><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <button class="button ms-btn web-view" ng-click="AddLead()">Submit</button>
                                                </div>
                                            </div> 
                                        </div>   
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar mobile-view submit-btn">
                            <button class="button ms-btn" ng-click="AddLead()" form="request_info_form">Submit</button>
                        </div>
                    </div>
                    
                    <!-- RETAIL CHECKOUT ENDS -->
                    <!--FOOTER GOES HERE-->
                    <div class="footer">
                        <center>
                            <span>Powered by</span>
                            <img src="css/img/E3.png" alt="">
                        </center>
                    </div>
                    <!--FOOTER GOES HERE-->

                </div>
            </div>

            <!-- VIEW - 1 (RETAIL) ENDS -->                   
        </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="dist/js/framework7.min.js"></script>
    <!-- Path to JQUERY Library JS-->
    <script src="js/Angular/jquery-1.12.4.js" type="text/javascript"></script>
    <!-- Path to our js-->
    <script type="text/javascript" src="js/my-app.js?v=1934"></script>
    <script type="text/javascript" src="js/services/InitService.js" ></script>
    <script src="js/controller/IndexPageController.js?v=1934" type="text/javascript"></script>    
    <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.3.latest.js"></script>
</body>
</html>

