/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 2:28:38 PM
    Author     : Jim Prinston J
*/
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("fonts/Framework7Icons-Regular.woff") format("woff"),
     url("fonts/Framework7Icons-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Chalkboard SE';
    font-style: normal;
    font-weight: 400;
    src:
    url("fonts/chalkboardse-regular-webfont.woff2") format("woff2"),
    url("fonts/chalkboardse-regular-webfont.woff") format("woff"),
    url("fonts/ChalkboardSE-Regular.ttf") format("truetype");
}
.student-font{
  font-family: 'Chalkboard SE';
}
body{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}
.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}
.demo-card-header-pic .card-header {
    min-height: 70vw;
    background-size: cover;
    background-position: center;
    display: block !important;
    color: #6d6d72 !important;
}
.event-des-height .card-header {
    min-height: 48vw;
}
.card-image {
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    height:73px;
}
.card-content h3{
    margin: 1px !important;
    padding: 0px !important;
}
       .card-element{
           color: white;
        font-size: 25px;
        font-weight: 500;
         text-shadow: 1px 1px #000000;
         display: block;
         width: 100%;
        }
        .card-head{
            color: white;
            font-size: 22px;
            font-weight: 400;
            color: white;
            text-shadow: 1px 1px #000000;
        }
        .card-desc{
            font-size: 14px;
            text-shadow: 1px 1px #000000;
            display: block;
            margin: 5% 0px;
        }
        .card-button{
            color: white;
            width: 130px;
            border: 1px solid white;
            text-shadow: 1px 1px #000000;
        }
        .card-header h3{
/*            color: black;*/
/*            font-size: 21px;*/
/*            font-weight: 400;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
            margin-top: 15%;
                        }
        .card-header h6{
/*            color: black;*/
/*            font-size: 12px;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
                    }

        .content-block {
          margin-top: 10px;
        }

        .card{
           min-height: 120px;
           margin: 5px;
        }
        iframe {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      background: url('/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      }
      .color {
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
}
.msg-btn{
    width: 150px;
}
.content-block{
    padding: 0 5px;
    padding-bottom: 18px;
}
.two-one h3{
/*            color: black;*/
/*            font-size: 20px;*/
/*            font-weight: 400;*/
/*            text-shadow: 1px 1px #000000;*/
            text-align: center;
            margin-top: 50%;
                        }
#login input, input[placeholder]{
    text-align:left;
}
.button{
    width: 130px;
}
.progressbar, .progressbar-infinite{
    position: absolute;
    z-index: 9999;
}
    .login-screen-content {
    background: url('img/login_bg.jpeg');
    background-size: 100% 100%;
}
#login .ip-elements{
    background: white; border-radius: 8px; margin: auto;
}
#login form{
    margin:3%; 
}
.item-input span{
    font-size: 14px;
}

#view-4 .card{
   padding: 20px;
}
/*Center*/
.outer {
    display: table;
    position: absolute;
    height: 50%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    /*width: whatever width you want;*/
}

.panel p {
    border-bottom: 1px solid lightgray;
    margin: 5px 0;
    padding-bottom: 8px;
}
.menu_icn{
    font-size:32px !important;
}

@media all and (min-width: 630px) and (min-height: 630px) {
    .popup:not(.tablet-fullscreen){
        height: 100% !important;
        left: 0% !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        top: 0% !important;
        transform: translate3d(0px, 1024px, 0px);
        width: 100% !important;
    }
    .popup:not(.tablet-fullscreen).modal-in {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .popup:not(.tablet-fullscreen).modal-out {
        -webkit-transform: translate3d(0, 1024px, 0);
        transform: translate3d(0, 1024px, 0);
    }
}

.logo-cover {
    object-fit: cover;
    /*width: 100px;*/
    height: 32px;
}
.login-screen-title{
    /* background: url("img/logo_incourage.png") no-repeat; */
    background-size: cover;
    width: 190px;
    height: 56px;
    /*margin-top: -15px !important;*/
}
.tabbar a.active .referral{
    /*content:url("img/ref_blue.png");*/

}

.tabbar a .referral{
   /*content:url("img/ref_grey.png");*/
}

.tabbar a.active .referral::after{
    content:url("img/ref_blue.png");
    width:31px;
}

.tabbar a .referral::after{
   content:url("img/ref_grey.png"); width:31px;
}

.content-block a .iconresponsive{
    width: 20px;
    height: 22px;
    margin-right: 5px;
    margin-bottom: -5px;
    position: relative;
    vertical-align: middle;
}
.views{
    overflow:hidden;
}
.toolbar-inner-custom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2px 8px;
  box-sizing: border-box;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}
.toolbar-inner-custom1 {
  font-size:14px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2px 8px;
  box-sizing: border-box;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}
.custom-toolbar-height{
 height: 66px;   
}
.custom-toolbar-xlheight{
 height: 82px;
}
.custom-toolbar-height1{
 height: 70px;   
}
.toolbar-button{
    width:100%; margin-top:4px; color:#009a62;
    background-color: #00ad68 !important;
    border: 1px solid #00ad68;
}
.custom-card-cont{
    margin-left:2px;  color:#6d6d72;
}
.demo-card-header-pic .image-header {
    height: 50vw;
    background-size: cover;
    background-position: center;
    padding: 0px;
  }
.demo-card-header-pic .event-title-header {
     display: block !important;
     color: black !important;
     text-align: left;
     margin-top: 15%;
     font-size: 18px;
     margin-left: 15px;
}
   
input[type="text"]{
    width:90%;
}
select{
    margin-left: 7px;
}
.label_align{
   margin-left: 10px;
} 
.cust_head{
  margin-left: 5px;
  color:#6d6d72;
  font-size:17px;
  margin-bottom: 5px;
  margin-top: 10px;
}
#login input, input[placeholder]{
    text-align:left;
}
.label_align{
    margin-left:10px;
}
.input-align{
    width:93%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-content-cus h3{
    margin: 1px;
    margin-bottom:8px;
    padding: 0px !important;
}
.textareadiv{
    max-height:80px;
    max-width:350px;
    overflow-y:auto;
    margin-left:15px;
    margin-right:15px;
    margin-top: 8px;
    font-size: 12px;
}
.input-cus[placeholder]{
    text-align:left;
    font-size:13px;
    width:93%;
    margin-top:5px;
    margin-bottom:5px;
    height:20px;
}
.input-cuswidth[placeholder]{
    text-align:left;
    font-size:13px;
    width:86%;
    margin-top:5px;
    margin-bottom:5px;
    height:20px;
}
.select-cuswidth{
    margin-top:5px;
    margin-left:0px;
    width:52%;
}
.select-cuswidth1{
    width:44%;
    margin-left:0px;
}
.select-cuswidth2{
    margin-top:5px;
    margin-left:0px;
    width:99%;
}
.button.active-cus {
  background: #00ad68;
  color: #fff;
  border: 0px;
}
.custom-back{
    display: inline-block !important; margin-top: -4px;
    filter: hue-rotate(-60deg) brightness(1) contrast(1);
}
.toolbar-inner-custom-content{
    margin-top: -3px;
    margin-bottom: -1px;
    font-size: 11px;
}


 .play-overlay{
     position: absolute;
     top: 20px; 
     left:0; 
     right: 0; 
     margin: auto;
     z-index: 1; 
     width: 150px;
 }
 
 .subcartqty{
border: 1px solid gray !important;
width: 50px !important;
padding: 1px !important;
height: 33px !important;
margin-top: 6px !important;
text-align: center;
font-size:14px !important;
}

.subcarthead{
    border: 1px solid black;
    padding: 5px;
}

.custom-toolbar-smheight{
 height: 51px;
}

.text-center{
     text-align: center;
 }
 
 .nav_button_color{
  color: #00ad68 !important;
}

.menu_color{
    filter: hue-rotate(-60deg) brightness(1) contrast(1);
}

.referral-btn{
    border: 1px solid #00ad68;
    color: #00ad68;
}

/***** For Retail *****/
.new_nav .navbar-inner{
    padding: 0 15px;
}
.retail-view .page-content{
    padding: 50px 10px;
}
.retail-view .card-listing+.card-listing{
    margin-top: 15px;
}
.retail-view .card-content h1{
    font-size: 16px;
    font-weight: 600;
}
.retail-view .card-content h1 strike{
    font-weight: 300;
}
.retail-view .card-footer p{
    margin: 0;
    color: black;
}
.carousal_container{
    padding:50px 0 0 0;
}
.page-content.horz_carousal{
    padding:0 0 50px 0;
    
}
.page-content.horz_carousal.product_desc{
    top:-5px;
    background: white;
}
ul.horz_carousal {
    list-style-type: none;
    margin: 0;
    background: white;
    padding: 10px 0;
    position: relative;
    top: -5px;
    height: 20px;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}
ul.horz_carousal li {
    padding: 0 15px;
  display: inline;
}
ul.horz_carousal li a{
  color:black;
}
ul.horz_carousal li.active a{
  color:rgb(0,137,87);;
}
.product_desc .card,.retail_cart .card{
    margin: 0;
    height: 85vh;
    overflow: auto;
}
.retail-view .product_desc .card-content h1{
    padding-left: 15px;
    border-bottom: 1px solid rgb(223,227,233);
    padding-bottom: 5px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}
.desc_select{
    height: 35px;
    width: 100%;
}
.retail-view .active-cus.toolbar-button{
    border-radius: 0;
    height: 45px;
    margin-top: 22px;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.retail-view .toolbar-inner-custom{
    padding:0;
}
.toolbar-inner-custom .price{
    top: 10px;
    position: relative;
    font-size: 16px;
}
.page-content.retail_cart{
    padding:44px 0;
    background: white;
    padding-bottom: 170px !important;
}
.retail_cart h1{
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgb(223,227,233);
    padding-bottom: 5px;
    margin-bottom: 0;
}
.retail_cart h3{
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 600;
}
.retail_cart_list{
    padding: 15px;
    position: relative;
    list-style: none;
    margin:0;
    margin:0 0 0 0;
}
ul.retail_cart_list li:after{
    content:'';
    display:block;
    border-bottom:1px solid rgb(223,227,233);
    margin: 0 -15px;
}
.trash_icon_light{
    width: 16px;
    margin-top: 7px;
}
.retail_title{
    margin-top: 15px;
}
.retail_title .price{
    /*font-weight: 600;*/
}
ul.retail_cart_list li:first-child > .retail_title{
     margin-top: 0;
}
.bordered-input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    text-align: center !important;
    color: rgb(155,155,155);
    border-top: 1px solid rgb(211,210,210);
    border-bottom: 1px solid rgb(211,210,210);
    border-right: 1px solid rgb(211,210,210);
    border-left: 1px solid rgb(211,210,210);
}
.retail-view .custom-toolbar-xlheight{
    height:90px;
}
.product_desc .card-content-inner{
    padding-bottom: 190px;
}
.custom-toolbar-xxlheight{
    height:100px;
}
.toolbar-price{
    padding-top: 8px;
}
.toolbar-price .active-cus.toolbar-button{
    margin-top: 9px;
}
.discount-container{
    position: relative;
    bottom: 181px;
    z-index: 6;
    background: white;
    padding: 5px 15px 15px;
    height: 707px;
}
.discount-box{
    margin: 5px 15px 0;
}
.discount-box .bordered-input{
    width: 100%;
    height:35px;
    margin-right: 15px;
    top: 10px;
    position: relative;
}
.discount-container span{
    font-size: 12px;
}
.custom-toolbar-mdheight{
    height: 60px;
}
.custom-toolbar-xxxlheight{
    height: 130px;
}
.custom-toolbar-xxxlheight .toolbar-price{
    padding-top: 15px;
}
.retail-view .custom-toolbar-mdheight .active-cus.toolbar-button{
    margin-top: 0px;
    height: 60px;
    padding-top: 17px;
    font-size: 18px;
}
.retail-view .custom-toolbar-xxxlheight .active-cus.toolbar-button{
    margin-top: 16px;
    font-size: 20px;
    height: 60px;
    padding-top: 17px;
}
.decider_signin{
    font-size:15px;
    letter-spacing: -0.24pt;
}
.greentext-sm-signin{
    font-family:Avenir;
    font-size: 15px;
    color:rgb(0,137,87);
    letter-spacing: -0.24pt;
}
.heading-payment-retail{
    font-size:18px;
    letter-spacing: -0.24pt;
    font-weight: 600;
}

.retail-payment-card{
    margin-right: 10px;
}

.retailwaiver{
    font-size: 14px;
    font-weight: 100;
}
.retail-view .page-content.retail_payment_update{
    background: white;
    padding: 70px 0 60px 0;
}
.retail-view .page-content.retail_payment_method{
    background: white;
    padding: 45px 0 60px 0;
}
.retail-view .form-group + .form-group,.retail-view .labelAlignMT2,.retail-view .labelAlignMT2+.form-group{
    margin-top: 15px;
}
.retail_payment_update .card-content-inner{
    margin-bottom: 70px;
}
.retail-view .form-label,.retail_payment_update .expirySelect{
    color:rgb(74,74,74);
}
.retail-view .focused .form-label{
    color:black;
}
.retail_waiver_container{
    padding: 15px 15px 150px 15px;
}
.error-span-bottom.expiry{
    left: 5px;
    bottom: -5px;
    position: relative;
}
.desc_input_group{
    margin-bottom: 15px;
}
.retail-view .card-listing .card-content h1{
    margin-bottom: 5px;
}
price{
    /*font-weight:600;*/
}
price strike{
    font-weight: 500;
}
.toolbar-price price strike{
    font-weight: 400;
}
.toolbar-price .total-text{
    font-weight: 500;
}
.valid_input{
    border-color: rgb(5,129,81);
}
.invalid_input{
    border-color: rgb(255,4,4);
}
.quantity_box{
    width: 75px;
    height: 27px;
    max-height: 35px;
}
.footer-icon-bgimg {
    background-repeat:no-repeat;
    background-size:contain;
    height:23px;
    width: 23px;
}
.footer-icon-bgimg1 {
    background-repeat:no-repeat;
    background-size:contain;
    height:21px;
    width: 21px;
}
.footer-icon-padding{
    padding:2px;
}
.tabbar a.active.green-svg-filter{
    -webkit-filter: brightness(60%) contrast(10%) sepia(30) saturate(15) hue-rotate(-230deg);
    filter: brightness(60%) contrast(10%) sepia(30) saturate(15) hue-rotate(-230deg);
}
.tabbar a.active > .green-filter1{
    -webkit-filter:contrast(10%) invert(10%) sepia(100%) saturate(10000%) hue-rotate(-270deg);
    filter: contrast(10%) invert(10%) sepia(100%) saturate(10000%) hue-rotate(-270deg);
}
.tabbar a.active > .green-filter2{
    -webkit-filter: brightness(50%) contrast(50%) sepia(90) saturate(15) hue-rotate(-220deg);
    filter: brightness(50%) contrast(50%) sepia(90) saturate(15) hue-rotate(-220deg);
}
.tabbar a.active > .green-filter3{
    -webkit-filter: brightness(50%) contrast(50%) sepia(30) saturate(10) hue-rotate(-240deg);
    filter: brightness(50%) contrast(50%) sepia(30) saturate(10) hue-rotate(-240deg);
}
.tabbar a.active > .green-filter4{
    -webkit-filter: brightness(90%) contrast(60%) sepia(30) saturate(15) hue-rotate(-230deg);
    filter: brightness(90%) contrast(60%) sepia(30) saturate(15) hue-rotate(-230deg);
}