<!DOCTYPE html>
<!-- test -->
<html ng-app="MyApp" ng-controller="IndexPageController"  ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <link rel="shortcut icon" type="image/png" href="favicon.png"/><title>{{fav_company_name}}&nbsp;-&nbsp;{{fav_product_name}}</title>
        <!-- Path to Framework7 Library CSS-->
        <link rel="stylesheet" href="dist/css/framework7.ios.css">
        <!-- Path to your custom app styles-->
        <link rel="stylesheet" href="css/my-app.css?v=1934">
        <link rel="stylesheet" href="css/custom.css?v=1934">

        <script >
            if (window.location.hostname === 'mystudio.academy' || window.location.hostname === 'www.mystudio.academy'|| window.location.hostname === 'www1.mystudio.academy' ||
                       window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                if (window.location.hostname.indexOf("www") < 0 || window.location.protocol != 'https:') {
                    var www_url = window.location.hostname;
                    var pathname = window.location.pathname;
                    var hash = window.location.hash;
                    if (window.location.hostname.indexOf("www") > - 1 || window.location.hostname === 'www1.mystudio.academy' ||
                           window.location.hostname === 'www2.mystudio.academy' || window.location.hostname === 'prod.mystudio.academy'){
                        window.location.href = 'https://' + www_url + pathname + hash;
                    } else{
                        window.location.href = 'https://www.' + www_url + pathname + hash;
                    }
                }
            }
        </script>
        <!-- Path to your angular Library-->
        <script src="js/Angular/angular.min.js" type="text/javascript"></script>
        <!-- Path to your angular-localstorage Library-->
        <script src="js/Angular/angular-localstorage.js"></script>

    </head>
    <body>
        <!--Transparent layer for preloader-->
        <div ng-show="preloader" id = "preloader-transp" class="preload">

        </div>
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>

        <!-- Views, and they are tabs-->
        <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
        <div class="views tabs toolbar-through">
            <!--infinite progress bar-->
            <div ng-if="preloaderVisible">
                <span class="progressbar-infinite"></span>
            </div>
            <!--Preloader-->
            <div ng-show="preloader" class="preloader preloader-custom preload"></div>
            <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
            <!--<div ng-view></div>-->
            <!-- Pages-->
            <!--VIEW-1  (RETAIL) STARTS HERE-->

            <div id="view-1" class="view retail-view tab active">
                <!-- NAVBAR  STARTS-->
                <div class="navbar"> 
                    <div class="admin-banner">
                        <center><h6>ADMINISTRATOR</h6></center>
                    </div>
                    <!-- RETAIL CATEGORY LISTING PAGE NAVBAR -->
                    <div class="navbar-inner fixed-navbar home" data-page="retail_category">
                        <div class="left"><a class="empty-back"></a></div>
                        <div class="logo-center">
                            <img class="nav-img logo-cover" ng-src="{{logoUrl}}">
                        </div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                            <div class="mobile-view">
                            <a href="#" ng-click="openretailcart('CL')">
                                <img  src="css/img/trolley.png" class="trolley"  width="25" alt="trolley">
                                <span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                            </a>
                            </div>
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                        <div class="web-view web-cart">
                            <a href="#" ng-click="openretailcart('CL')">
                                <img  src="css/img/trolley.png" class="trolley"  width="25" alt="trolley">
                                <span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                                <span style="color:black;top: -5px;position: relative;">&nbsp;Cart</span>
                            </a>
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- RETAIL PRODUCTS LISTING NAVBAR -->
                    <div class="navbar-inner cached fixed-navbar list" data-page="retail_products">
                        <div class="left"><a ng-hide="category_id_status" href="#" ng-click="redirect_page()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center">
                            <img class="nav-img logo-cover" ng-src="{{logoUrl}}">
                        </div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- RETAIL PRODUCT DESCRIPTION NAVBAR -->
                    <div class="navbar-inner cached fixed-navbar desc" data-page="retail_product_detail">
                        <div class="left"><a ng-hide="product_id_status" href="#" ng-click="checkproducttypeback()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                            <div class="mobile-view">
                                <a href="#" ng-click="openretailcart('PD')">
                                    <img  src="css/img/trolley.png" class="trolley"  width="25" alt="trolley">
                                    <span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                                </a>
                            </div>
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- RETAIL CART PAGE NAVBAR -->
                    <div class="navbar-inner cached fixed-navbar cart" data-page="retail_cart">
                        <div class="left link"><a ng-click="backFromCart()"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>

                    <!-- RETAIL CHECKOUT PAGE NAVBAR -->
                    <div class="navbar-inner cached fixed-navbar checkout" data-page="retail_checkout">
                        <div class="left"><a ng-click="BackToCartView()" href="#retail_cart" class="close-picker"><img src="css/img/E1.png" alt="back_icon" />&nbsp;<span>Back</span></a></div>
                        <div class="logo-center"><img class="nav-img logo-cover" ng-src="{{logoUrl}}"></div>
                        <div class="right">
                            <img src="css/img/E2.png" class="home_icon" ng-click="backToPOS()" alt="home_icon" />
                             <a href="#" ng-click="openretailcart('CO')">
                                <img  src="css/img/trolley.png" class="trolley"  width="25" alt="trolley"><span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                            </a>
                            <strong ng-show="online == 'offline'"><a ng-click="istatus()"><i class="icon f7-icons" style="color:red;">info</i></a></strong>
                        </div>
                    </div>
                </div>
                <!-- NAVBAR  ENDS-->

                <!-- PAGES -->
                <div class="pages navbar-through">
                    <!-- RETAIL CATEGORY LISTING STARTS -->
                    <div class="page no-swipeback" data-page="retail_category">
                        <div class="page-content">
                            <div class="container">
                                <span id="home-list">
                                    <div ng-if="retailstatus != 'Success'" class="content-block"><center><span style="text-align: center; width:100%;">No retail category have been added.</span></center></div>
                                    <div class="col-100 card-listing col-33-cardlisting oneline" ng-repeat="retail in retailcontent">
                                        <a ng-if="retail.retail_product_type === 'C'" href="#" ng-click="getproducttype(retail.retail_product_type,$index)" class="item-link">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-content-inner" style="padding:15px;">
                                                        <div class="row ">
                                                            <div class="col-50 card-image" style="background-image:url({{retail.retail_banner_img_url}});"></div>
                                                            <div class="col-50 custom-card-cont">
                                                                <h1>{{retail.retail_product_title}}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p>{{retail.retail_product_subtitle}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a ng-if="retail.retail_product_type === 'S'" href="#" ng-click="getproducttype(retail.retail_product_type,$index)" class="item-link">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-content-inner" style="padding:15px;">
                                                        <div class="row ">
                                                            <div class="col-50 card-image" style="background-image:url({{retail.retail_banner_img_url}});"></div>
                                                            <div class="col-50 custom-card-cont">
                                                                <h1>{{retail.retail_product_title}}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p><price>{{retail.retail_product_price}}&nbsp;&nbsp;<strike ng-if="retail.retail_product_compare_price > 0 && retail.retail_variant_flag ==='N'">{{wp_currency_symbol}}{{retail.retail_product_compare_price}}</strike></price></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>                        

                    <!-- RETAIL CATEGORY LISTING ENDS-->

                    <!-- RETAIL PRODUCTS LISTING STARTS -->

                    <div class="page cached no-tabbar toolbar-fixed" data-page="retail_products">
                        <div class="carousal_container">
                            <div style="padding: 10px 0;">
                                <center>
                                    <span class="select-container" ng-hide="category_id_status">
                                    <select class="carousal_select" ng-model="sel_cat" ng-options="retailcontent.indexOf(sel_cat) as sel_cat.retail_product_title for sel_cat in retailcontent" ng-change="getproducttype(retailcontent[sel_cat].retail_product_type,sel_cat)">
                                        <option>-- Select a product --</option>
                                    </select>
                                    <span class="select_icon"><img src="css/img/down_arrow.png" alt="dropdown_icon"/></span>
                                    </span>
                                    <span class="link" ng-click="openretailcart('PL')">
                                        <img  src="css/img/trolley.png" style="position: relative;top: 5px;" width="25" alt="trolley">
                                        <span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                                    </span>
                                </center>
                            </div>
                        </div>
                        <div class="page-content horz_carousal">
                            <div  class="container" style="padding: 0 10px;">
                                <div ng-show="retail_product_list.length == 0" class="content-block"><center><span style="text-align: center; width:100%;">No retail products have been added.</span></center></div>
                                <span id="product_list">
                                    <div class="col-100 card-listing col-33-cardlisting oneline" ng-repeat="products in retail_product_list">
                                        <a href="#" ng-click="getproducttype(products.retail_product_type,$index)" class="item-link">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-content-inner" style="padding:15px;">
                                                        <div class="row ">
                                                            <div class="col-50 card-image" style="background-image:url({{products.retail_banner_img_url}});"></div>
                                                            <div class="col-50 custom-card-cont">
                                                                <h1>{{products.retail_product_title}}</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p><price>{{products.retail_product_price}}&nbsp;&nbsp;<strike ng-if="products.retail_product_compare_price > 0 && products.retail_variant_flag ==='N'">{{wp_currency_symbol}}{{products.retail_product_compare_price}}</strike></price></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>                        

                    <!-- RETAIL PRODUCTS LISTING ENDS -->

                    <!-- RETAIL PRODUCT DESCRIPTION STARTS -->

                    <div class="page cached no-tabbar no-swipeback product_desc desc" data-page="retail_product_detail">
                        <div class="carousal_container">
                            <div style="padding: 10px 0;">
                                <center>
                                    <span class="select-container" ng-hide="category_id_status || product_id_status">
                                    <select class="carousal_select" ng-model="sel_cat1" ng-options="retailcontent.indexOf(sel_cat1) as sel_cat1.retail_product_title for sel_cat1 in retailcontent" ng-change="getproducttype(retailcontent[sel_cat1].retail_product_type,sel_cat1)">
                                        <option>-- Select a product --</option>
                                    </select>
                                    <span class="select_icon"><img src="css/img/down_arrow.png" alt="dropdown_icon"/></span>
                                    </span>
                                        <span class="mobile-hide link" ng-click="openretailcart('PD')">
                                            <img  src="css/img/trolley.png" style="position: relative;top: 5px;" width="25" alt="trolley">
                                            <span ng-if="cart_contents.length > 0" class="badge cart-badge">{{cart_contents.length}}</span>
                                        </span>
                                </center>
                            </div>
                        </div>
                        <!--For Mobile view-->
                        <div class="mobile-view page-content">
                            <div class="demo-card-header-pic event-des-imageheight">
                                <div ng-show="retail_banner_img_url" style="background-image:url({{retail_banner_img_url}});" valign="bottom" class="card-header color-white no-border"></div>
                                <div class="card-content">
                                    <div class="card-content-inner">
                                        <div class="row">
                                            <div class="col-100"><h1>{{retail_product_title}}</h1></div>
                                        </div>
                                        <div class="row desc_input_group" style="padding:10px 0;">
                                            <div ng-show="product_variant.length > 0"  class="col-70">
                                                <select class="desc_select" ng-model="prod_variant_selection" ng-change="getproductprice('description','blur')">
                                                    <option ng-selected="variant.retail_variant_id === prod_variant_selection" id="variant{{$index}}" ng-repeat="variant in product_variant" value="{{variant.retail_variant_id}}">{{variant.retail_variants_name}}&nbsp;&nbsp;{{wp_currency_symbol}}{{variant.variant_price}}</option>
                                                </select>    
                                            </div>
                                            <div class="col-30">
                                                <input type="text" placeholder="Qty : 1" class="quantity_box" ng-model="prod_variant_quantity" ng-change="getproductprice('description','blur')" numbers-only>                                                                 
                                            </div>
                                        </div>
                                        <span style="color: red" ng-if="quan_exc_limit"><small>{{quan_exc_limit_msg}}</small></span>
                                        <div ng-show="retail_product_desc != ''" class="desc-container">
                                            <b>Description</b><br>
                                            <p compile-template ng-bind-html="retail_product_desc | trust"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar custom-toolbar-xlheight mobile-view">
                            <div class="toolbar-inner-custom">
                                <div class="toolbar-price">
                                    <div class="price-section">
                                        <center>
                                            <div ng-show="total_order_price">
                                                <price><price ng-show="total_order_compare_price && total_order_compare_price > 0.00000000111"><strike>{{(total_order_compare_price && total_order_compare_price > 0) ? wp_currency_symbol:""}}{{total_order_compare_price | number:2}}</strike>&nbsp;&nbsp;</price>{{wp_currency_symbol}}{{total_order_price | number:2}}</price><br>
                                            </div>
                                            <button class="button active-cus toolbar-button button-maxwidth"  style="padding-top: 5px;" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="getproductprice('description','click')">Add to cart</button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--For Web view-->
                        <div class="web-view page-content horz_carousal product_desc">
                            <div class="container no-padding-top">
                                <div class="card cus-card">
                                    <div class="row">
                                        <div class="col-50">
                                            <div style="background-image:url({{retail_banner_img_url}});" class="card-image color-white no-border"></div>
                                        </div>
                                        <div class="col-50">
                                            <div class="card-content">
                                                <div class="card-content-inner">
                                                    <div class="row">
                                                        <div class="col-100">
                                                            <h1>{{retail_product_title}}</h1>
                                                            <div class="row desc_input_group" style="padding:10px 0;">
                                                                <div ng-show="product_variant.length > 0"  class="col-70">
                                                                    <select class="desc_select" ng-model="prod_variant_selection" ng-change="getproductprice('description','blur')">
                                                                        <option ng-selected="variant.retail_variant_id === prod_variant_selection" id="variant{{$index}}" ng-repeat="variant in product_variant" value="{{variant.retail_variant_id}}">{{variant.retail_variants_name}}&nbsp;&nbsp;{{wp_currency_symbol}}{{variant.variant_price}}</option>
                                                                    </select>    
                                                                </div>
                                                                <div class="col-30">
                                                                    <input type="text" placeholder="Qty : 1" class="quantity_box" ng-model="prod_variant_quantity" ng-change="getproductprice('description','blur')" numbers-only>                                                                 
                                                                </div>
                                                            </div>
                                                             <span style="color: red" ng-if="quan_exc_limit"><small>{{quan_exc_limit_msg}}</small></span>
                                                        </div>
                                                    </div>
                                                    <div class="registerbutton-align" >
                                                        <center>
                                                            <div class="price-section">
                                                                <div ng-show="total_order_price">
                                                                    <price>{{wp_currency_symbol}}{{total_order_price | number:2}}<price ng-show="total_order_compare_price && total_order_compare_price > 0.00000000111">&nbsp;&nbsp;<strike>{{(total_order_compare_price && total_order_compare_price > 0) ? wp_currency_symbol:""}}{{total_order_compare_price | number:2}}</strike></price></price><br>
                                                                </div>
                                                                <button class="button active-cus toolbar-button button-maxwidth"  style="padding-top: 5px;" ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="getproductprice('description','click')">Add to cart</button>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="retail_product_desc != ''" class="desc-container">
                                        <b>Description</b><br>
                                        <p compile-template ng-bind-html="retail_product_desc | trust"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RETAIL PRODUCT DESCRIPTION ENDS -->

                    <!-- RETAIL CART STARTS -->

                    <div class="page cached no-tabbar no-swipeback retail_cart cart" data-page="retail_cart">
                        <div class="page-content retail_cart">
                            <!--For Mobile view-->
                            <div class="mobile-view">
                                <h1>Confirm cart details</h1>
                                <div ng-show="cart_contents.length == 0" style="margin-top:20px;"><center><span>No products added in cart</span></center></div>
                                <ul class="retail_cart_list">
                                    <li ng-repeat="product in cart_contents">
                                        <div class="row retail_title">
                                            <div class="col-60">
                                                <a class="green"><h3>{{product.retail_product_title}}</h3></a>
                                            </div>
                                            <div class="col-40">
                                                <strike ng-show="discount_usage_type === 'P' && product.is_discount_applied === 'Y'">{{wp_currency_symbol}}{{product.retail_total_product_price | number:2}}&nbsp;&nbsp;</strike>
                                                <price class="price">{{wp_currency_symbol}}{{product.retail_discounted_price | number:2}}</price>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-60" ng-init='cart_selected_variant = product.variant_list[product.retail_variant_index]' ng-show="product.retail_variant_id !== ''">
                                                <select class="desc_select" name="varSelect{{$index}}" ng-selected="" id="varSelect{{$index}}" ng-options="variant.retail_variants_name for variant in product.variant_list track by variant.retail_variant_id" ng-model="cart_selected_variant" ng-change="catchcartproductchange(cart_selected_variant.retail_variant_id,'',$index)">
                                                    <option>-- Please select variant --</option>
                                                </select>    
                                            </div>
                                            <div ng-class="product.retail_variant_id ? 'col-30' : 'col-30 col-offset-60'">
                                                <input type="text" class="quantity_box" placeholder="Qty : 1" ng-model="product.quantity" value="{{product.quantity}}" ng-blur="catchcartproductchange('',product.quantity,$index)" numbers-only> 
                                            </div>
                                            <div class="col-10">
                                                <img src="css/img/trash_icon_light.png" class="trash_icon_light" alt="trash_icon" ng-click="updatecartdetails('','delete','',product.quantity,$index,'')" />
                                            </div>
                                            <span style="color: red" ng-if="product.quantity_error_flag === 'Y'"><small>{{product.quantity_msg}}</small><br></span>                                                               
                                            <span style="color: red" ng-if="product.discount_error_flag === 'Y'"><small>{{product.discount_msg}}</small><br></span>
                                        </div><br>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- FOR WEB VIEW -->
                            <div class="web-view">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-65">
                                            <div class="card">
                                                <div class="card-content">
                                                    <h1>Confirm cart details</h1>
                                                    <div ng-show="cart_contents.length == 0" style="margin-top:20px;"><center><span>No products added in cart</span></center></div>
                                                    <ul class="retail_cart_list">
                                                        <li ng-repeat="product in cart_contents">
                                                            <div class="row retail_title">
                                                                <div class="col-60">
                                                                    <a class="green"><h3>{{product.retail_product_title}}</h3></a>
                                                                </div>
                                                                <div class="col-40">
                                                                    <strike ng-show="discount_usage_type === 'P' && product.is_discount_applied === 'Y'">{{wp_currency_symbol}}{{product.retail_total_product_price | number:2}}&nbsp;&nbsp;</strike>
                                                                    <price class="price">{{wp_currency_symbol}}{{product.retail_discounted_price | number:2}}</price>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-60" ng-init='cart_selected_variant = product.variant_list[product.retail_variant_index]' ng-show="product.retail_variant_id !== ''">
                                                                    <select class="desc_select" name="varSelect{{$index}}" ng-selected="" id="varSelect{{$index}}" ng-options="variant.retail_variants_name for variant in product.variant_list track by variant.retail_variant_id" ng-model="cart_selected_variant" ng-change="catchcartproductchange(cart_selected_variant.retail_variant_id,'',$index)">
                                                                        <option>-- Please select variant --</option>
                                                                    </select>    
                                                                </div>
                                                                <div ng-class="product.retail_variant_id ? 'col-30' : 'col-30 col-offset-60'">
                                                                    <input type="text" class="quantity_box" placeholder="Qty : 1" ng-model="product.quantity" value="{{product.quantity}}" ng-blur="catchcartproductchange('',product.quantity,$index)" numbers-only> 
                                                                </div>
                                                                <div class="col-10">
                                                                    <img src="css/img/trash_icon_light.png" class="trash_icon_light" alt="trash_icon" ng-click="updatecartdetails('','delete','',product.quantity,$index,'')" />
                                                                </div>
                                                                <span style="color: red" ng-if="product.quantity_error_flag === 'Y'"><small>{{product.quantity_msg}}</small><br></span>                                                               
                                                                <span style="color: red" ng-if="product.discount_error_flag === 'Y'"><small>{{product.discount_msg}}</small><br></span>
                                                            </div><br>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-35">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div ng-show="retai_discount_available === 'Y'" class="discount-container">
                                                        <div class="row">
                                                            <div class="col-100">
                                                                <center>
                                                                    <span ng-if="discount_error_flag === 'N'" class="retail_discount_error"><small>{{retail_discount_msg}}</small></span>
                                                                    <span style="color: red" ng-if="discount_error_flag === 'Y'"><small>{{discount_error_msg}}</small></span>
                                                                </center>
                                                                <div class="discount-box">
                                                                    <div class="row">
                                                                        <div class="col-70">
                                                                            <input type="text" class="bordered-input retail-discount-box" ng-model="retail_discount_code" placeholder="ENTER DISCOUNT CODE" ng-change="catchdiscountcode()" >
                                                                        </div>
                                                                        <div class="col-30">
                                                                            <button type="button" class="button discount-apply" ng-click="checkdiscountcode()" ng-disabled="!retail_discount_code">Apply</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span style="color: red" ng-if="price_error_flag === 'Y'"><small>{{price_error_msg}}</small><br></span>
                                                    <div class="registerbutton-align">
                                                        <center>
                                                            <div class="price-section">
                                                                <div style="margin: 0 5px;">
                                                                    <span class="total-text">Total ({{total_quantity}} {{total_quantity > 1?'items':'item'}}):</span>&nbsp;&nbsp;<price><price ng-show="total_order_price_without_discount > total_discounted_price"><strike>{{(total_order_price_without_discount > total_discounted_price)? wp_currency_symbol:''}}{{total_order_price_without_discount | number:2}}</strike>&nbsp;&nbsp;</price>{{wp_currency_symbol}}{{total_discounted_price | number:2}}</price><br>
                                                                    <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '1')">
                                                                        <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes)</small>
                                                                    </span>
                                                                    <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                                        <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes and {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                                                    </span>
                                                                    <span ng-show="(total_tax_value === 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                                        <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                                                    </span>
                                                                </div>
                                                                <button class="button active-cus toolbar-button button-maxwidth"  ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="openretailcheckout()">Proceed to checkout</button>
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--FOR MOBILE VIEW BOTTOM NAVBAR &DISCOUNT BOX-->
                        <div class="discount-container mobile-view">
                            <div class="row">
                                <div class="col-100">
                                    <center>
                                        <span ng-if="discount_error_flag === 'N'" class="retail_discount_error"><small>{{retail_discount_msg}}</small></span>
                                        <span style="color: red" ng-if="discount_error_flag === 'Y'"><small>{{discount_error_msg}}</small></span>
                                    </center>
                                    <div class="discount-box">
                                        <div class="row">
                                            <div class="col-70">
                                                <input type="text" class="bordered-input retail-discount-box" ng-model="retail_discount_code" placeholder="ENTER DISCOUNT CODE" ng-change="catchdiscountcode()" >
                                            </div>
                                            <div class="col-30" style="margin-top: 10px;">
                                                <button type="button" class="button discount-apply" ng-click="checkdiscountcode()" ng-disabled="!retail_discount_code">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar custom-toolbar-xxlheight mobile-view">
                            <div class="toolbar-inner-custom">
                                <div class="toolbar-price">
                                    <div>
                                        <center>
                                            <span class="total-text">Total ({{total_quantity}} {{total_quantity > 1?'items':'item'}}):</span>&nbsp;&nbsp;&nbsp;<price>{{wp_currency_symbol}}{{total_discounted_price | number:2}}</price><br>
                                            <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '1')">
                                                <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes)</small>
                                            </span>
                                            <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes and {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                            </span>
                                            <span ng-show="(total_tax_value === 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                            </span>
                                        </center>
                                    </div>
                                    <button class="button active-cus toolbar-button button-maxwidth"  ng-hide="( stripe_enabled && stripestatus === 'N' ) || (wepay_enabled && wepaystatus === 'N')" ng-click="openretailcheckout()">Proceed to checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RETAIL CART ENDS -->

                    <!-- RETAIL CHECKOUT STARTS -->

                    <div class="page cached no-tabbar no-swipeback checkout" data-page="retail_checkout">
                        <div class="page-content retail_checkout">
                            <div class="container">
                                <form name="retailpaymentform" id="retailpaymentform">
                                    <div class="row split_view">
                                        <div class="col-50">
                                            <div class="row">
                                                <div class="col-100 search-member">
                                                    <div class="p-relative">
                                                        <span class="ph-text"><img src="css/img/E4.png" class="search-lens" alt="search lens"><span class="search-txt">Search for member</span></span>
                                                        <input type="text" id = "autocomplete-dropdown" ng-change="catchSearchMember()" ng-model="retail_search_member"> 
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="card first">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Buyer details</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner retail_placeholder_div">
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_First_Name">First name</label>
                                                            <input type="text" id="retail_buyer_First_Name" name="retail_buyer_First_Name"  ng-model="retail_buyer_First_Name" valid-name>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_Last_Name">Last name</label>
                                                            <input type="text" id="retail_buyer_Last_Name" name="retail_buyer_Last_Name"  ng-model="retail_buyer_Last_Name" valid-name>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_Billing_Address">Billing address</label>
                                                            <input type="text" id="retail_buyer_Billing_Address" name="retail_buyer_Billing_Address"  ng-model="retail_buyer_Billing_Address" valid-text>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_Address_Line2">Address line 2</label>
                                                            <input type="text" id="retail_buyer_Address_Line2" name="retail_buyer_Address_Line2"  ng-model="retail_buyer_Address_Line2" valid-text>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_City">City</label>
                                                            <input type="text" id="retail_buyer_City" name="retail_buyer_City"  ng-model="retail_buyer_City" valid-text>
                                                        </div>
                                                        <div class="row labelAlignMT2">
                                                            <div class="col-50">
                                                                <div class="form-group ">
                                                                    <label for="retail_buyer_State">State</label>
                                                                    <input type="text" id="retail_buyer_State" name="retail_buyer_State"  ng-model="retail_buyer_State" valid-text>
                                                                </div>
                                                            </div>
                                                            <div class="col-50">
                                                                <div class="form-group ">
                                                                    <label for="retail_buyer_Zipcode">Zip code</label>
                                                                    <input type="text" id="retail_buyer_Zipcode" name="retail_buyer_Zipcode"  ng-model="retail_buyer_Zipcode" valid-text>
                                                                </div>
                                                            </div>  
                                                        </div>
                                                        <div class="form-group  labelAlignMT2">
                                                            <label for="retail_buyer_Country">Country</label>
                                                            <input type="text" id="retail_buyer_Country" name="retail_buyer_Country"  ng-model="retail_buyer_Country" valid-text>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_Phone">Phone</label>
                                                            <input type="text" id="retail_buyer_Phone" name="retail_buyer_Phone"  ng-model="retail_buyer_Phone" valid-phone-number>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="retail_buyer_Email">Email</label>
                                                            <input type="text" id="retail_buyer_Email" name="retail_buyer_Email"  ng-model="retail_buyer_Email" ng-change="catchEmailValidity()" valid-text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-50">
                                            <div ng-hide="pos_user_type === 'O' || total_discounted_price <= 0" class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Choose payment method</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <select id="retail_payment_method" ng-change="selectPaymentMethod()" class="paymentselect" name="retail_payment_method" ng-model="retail_payment_method" valid-name>                                   
                                                                <option value="CC">Credit card</option>
                                                                <option value="CA" ng-disabled='pos_settings_payment_method[1] == 0'>Cash</option>
                                                                <option value="CH" ng-disabled='pos_settings_payment_method[2] == 0'>Check</option>
                                                                <!--<option value="ACH" ng-show="pos_user_type != 'O' && stripe_enabled">Ach</option>-->
                                                            </select>
                                                            <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                        <div ng-show="retail_payment_method === 'CH'" class="form-group">
                                                            <input type="text" id="retail_check_number" name="retail_check_number"  class="ip-alone" placeholder="Enter check number" ng-change="catchrtailCheck()"ng-model="retail_check_number">                                      
                                                        </div>
                                                        <div ng-show="(pos_user_type === 'S' && total_discounted_price > 0 && showcardselection && retail_payment_method === 'CC' && retailcarddetails.length > 0)" class="select-card">
                                                            <div class="title-bar">                                    
                                                                <h1 class="title">Select Card</h1>                                            
                                                            </div>
                                                            <div class="form-group">
                                                                <select ng-change="selectretailCardDetail(selectedcardindex)" id="selectedcardnumber" class="paymentselect" name="selectedcardindex" ng-model="selectedcardindex">
                                                                    <option disabled selected value>Choose card</option>
                                                                    <option id="newcard">Add New credit card</option>
                                                                    <option id="card{{$index}}" ng-repeat="creditCard in retailcarddetails" value="{{$index}}">{{creditCard.credit_card_name}}</option>                                        
                                                                </select>
                                                                <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="total_discounted_price > 0 && retail_payment_method === 'CC' && shownewcard" class="card">
                                                <div class="card-content">
                                                    <div ng-show="total_discounted_price > 0 && retail_payment_method === 'CC'" class="title-bar">                                    
                                                        <h1 class="title">Enter your credit card information</h1>                                            
                                                    </div>
                                                    <div ng-show="wepay_enabled">
                                                        <div ng-show="total_discounted_price > 0 && retail_payment_method === 'CC'" class="card-content-inner">
                                                            <div class="form-group ">
                                                                <label  for="retail_cc_name">Name on card</label>
                                                                <input type="text" id="retail_cc_name" name="retail_cc_name"  ng-model="retail_cc_name" valid-name>
                                                            </div>
                                                            <div class="form-group ">
                                                                <label  for="retail_cc_number">Card number</label>
                                                                <input type="text" id="retail_cc_number" name="retail_cc_number"  ng-model="retail_cc_number" valid-name>
                                                            </div>
                                                            <div class="form-group">
                                                                <select id="retail_cc_country" class="paymentselect" name="retail_cc_country" ng-model="retail_cc_country" valid-name>                                   
                                                                    <option disabled selected value>Billing country</option>
                                                                    <option value="US">United States</option>
                                                                    <option value="CA">Canada</option>
                                                                    <option value="GB">United Kingdom</option>
                                                                </select>
                                                                <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                            </div>
                                                            <div class="form-group-split row">
                                                                <div class="col-50">
                                                                    <div class="form-group ">
                                                                        <label  for="retail_cc_zipcode">Billing zip code</label>
                                                                        <input type="text" id="retail_cc_zipcode" name="retail_cc_zipcode"  ng-model="retail_cc_zipcode" valid-name>
                                                                    </div>
                                                                </div>
                                                                <div class="col-50">
                                                                    <div class="form-group ">
                                                                        <label  for="retail_cc_cvv">CVV</label>
                                                                        <input type="text" id="retail_cc_cvv" name="retail_cc_cvv"  ng-model="retail_cc_cvv" valid-name>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group white-bg">
                                                                <div class="row">
                                                                    <div class="col-50 p-relative">
                                                                        <select id="retail_cc_expirymonth" class="selecttag" name="retail_cc_expirymonth"  ng-model="retail_cc_expirymonth">
                                                                            <option disabled selected value>Expiration month</option>
                                                                            <option ng-repeat="month in ccmonthlist">{{month}}</option>
                                                                        </select>
                                                                        <span>
                                                                            <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                            <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                        </span>
                                                                    </div> 
                                                                    <div class="col-50 p-relative">
                                                                        <select id="retail_cc_expiryyear" class="selecttag" name="retail_cc_expiryyear" ng-model="retail_cc_expiryyear">
                                                                            <option disabled selected value>Expiration year</option>
                                                                            <option ng-repeat="year in ccyearlist">{{year}}</option>
                                                                        </select>
                                                                        <span>
                                                                            <img src="css/img/dd.png" class="dropdown1" alt="dropdown_icon">
                                                                            <img src="css/img/dd.png" class="dropdown2" alt="dropdown_icon">
                                                                        </span>
                                                                    </div> 
                                                                </div>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ng-show="stripe_enabled">
                                                        <div class="card-content-inner">
                                                            <div class="stripe-form">
                                                                <div id="stripe-card-element"></div>
                                                                <!--Used to display form errors--> 
                                                                <div style="color:#fa755a;margin-top: 10px;" id="stripe-card-errors" role="alert"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Stripe ACH payment -->
                                            <div ng-show="total_discounted_price > 0 && retail_payment_method === 'ACH'" class="card">
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Enter your ACH information</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="form-group">
                                                            <label  for="retail_ach_holder_name">Holder name</label>
                                                            <input type="text" id="retail_ach_holder_name" ng-model="retail_ach_holder_name" name="retail_ach_holder_name" valid-name>
                                                        </div>
                                                        <div class="form-group">
                                                            <select id="retail_ach_acc_type" class="paymentselect" name="retail_ach_acc_type" ng-model="retail_ach_acc_type" >                                   
                                                                <option disabled selected value>Holder type</option>
                                                                <option value="individual">Individual</option>
                                                                <option value="company">Company</option>
                                                            </select>
                                                            <span><img src="css/img/dd.png" class="dropdown" alt="dropdown_icon"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="retail_ach_route_no">Bank routing number</label>
                                                            <input type="text" id="retail_ach_route_no" name="retail_ach_route_no"  ng-model="retail_ach_route_no" valid-number>
                                                        </div>
                                                        <div class="form-group">
                                                            <label  for="retail_ach_acc_number">Bank account number</label>
                                                            <input type="text" id="retail_ach_acc_number" ng-model="retail_ach_acc_number" name="retail_ach_acc_number" valid-text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card"> 
                                                <div class="card-content">
                                                    <div class="title-bar">                                    
                                                        <h1 class="title">Sales agreement</h1>                                            
                                                    </div>
                                                    <div class="card-content-inner">
                                                        <div class="col-100">
                                                            <div class="waiver-text" >
                                                                <span compile-template ng-bind-html="retail_sales_agreement | trust"></span>
                                                            </div>
                                                            <div class="col-100" ng-hide="retail_payment_method === 'CC' && stripe_enabled && total_discounted_price > 0">
                                                                <label><input type="checkbox" class="icon icon-form-checkbox waiver-check"  style="margin-left: 0;" id="retail_waiver_checked" name="retail_waiver_checked" ng-model="retail_waiver_checked">I agree to the above Waiver & Agreement</label>
                                                            </div>
                                                            <div ng-show="stripe_enabled"> 
<!--                                                                <span ng-show="retail_payment_method === 'ACH' && stripe_enabled && total_discounted_price > 0">
                                                                    <label> <input type="checkbox" class="icon icon-form-checkbox waiver-check" id="retail_ach_chkbx" name="retail_ach_chkbx" ng-model="retail_ach_chkbx"> I authorize ACH plugin to electronically debit my account And, if necessary, electronically credit my account to correct erroneous debits.</label>
                                                                </span>-->
                                                                <span ng-show="retail_payment_method === 'CC' && stripe_enabled && total_discounted_price > 0">
                                                                    <label> <input type="checkbox" class="icon icon-form-checkbox waiver-check" id="retail_cc_chkbx" name="retail_cc_chkbx" ng-model="retail_cc_chkbx"> I authorise {{fav_company_name}} to send instructions to the financial institution that issued my card to take payments from my card account in accordance with the terms of the waiver and agreement above.</label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="opt-disc-container">
                                                        <div ng-show="pos_user_type === 'S' && (!discount_code_applied || (discount_code_applied && discount_error_flag === 'Y')) && static_total_price > 0" class="opt-disc">
                                                            <div class="holder">
                                                                <label>Enter optional discount</label>
                                                                <input id="retail_optional_discount" type="text" name="retail_optional_discount" placeholder="{{wp_currency_symbol}} 0.00" ng-change="catchRetailOptionalDis()" ng-model="retail_optional_discount" valid-number> 
                                                            </div>
                                                            <span ng-show="optional_discount_error_flag === 'Y'" class="retail-txt" style="color:red;" >{{discount_error_msg}}</span>
                                                        </div> 
                                                        <div class="registerbutton-align web-view">
                                                            <center>
                                                                <div class="price-section">
                                                                    <div>
                                                                        <span class="total-text">Total ({{total_quantity}} {{total_quantity > 1?'items':'item'}}):</span>&nbsp;&nbsp;&nbsp;<price>{{wp_currency_symbol}}{{total_discounted_price | number:2}}</price><br>
                                                                        <span ng-show="((total_tax_value > 0) && (retail_processing_fee_type === '1')) || ((total_tax_value > 0) && (retail_payment_method === 'CH' || retail_payment_method === 'CA'))">
                                                                            <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes)</small>
                                                                        </span>
                                                                        <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                                            <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes and {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                                                        </span>
                                                                        <span ng-show="(total_tax_value === 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                                                            <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                                                        </span>
                                                                    </div>
                                                                    <center>
                                                                        <!-- Zero Cost-->
                                                                        <span ng-show="total_discounted_price <= 0">
                                                                            <a class="button active-cus toolbar-button" ng-click=" handleCheckout();preloader = true ">Place order</a>
                                                                        </span>
                                                                        <!-- Zero Cost-->
                                                                        <span ng-show=" total_discounted_price > 0">
                                                                            <a ng-show="(retail_payment_method === 'CA' || retail_payment_method === 'CH') && total_discounted_price > 0" class="button active-cus toolbar-button"  style="padding-top: 10px;" ng-click=" handleCheckout();preloader = true ">Place order</a>
                                                                            <!--Wepay checkout-->
                                                                            <span ng-show="wepay_enabled"> 
                                                                                <a ng-show="retail_payment_method === 'CC' && !shownewcard && total_discounted_price > 0" class="button active-cus toolbar-button"  style="padding-top: 10px;" ng-click="purchaseretailproduct(retail_credit_card_id, retail_credit_card_status, retail_buyer_First_Name, retail_buyer_Last_Name, retail_buyer_Email, retail_buyer_Phone, retail_buyer_Zipcode, retail_buyer_Country); preloader = true">Place order</a>
                                                                                <a ng-show="retail_payment_method === 'CC' && shownewcard && total_discounted_price > 0" ng-click="preloader = true" id="cc-submit-retail" class="button active-cus toolbar-button"  style="padding-top: 10px;">Place order</a>
                                                                            </span>
                                                                            <!--Wepay checkout-->
                                                                            <!--STRIPE CC-SUBMIT SECTION-->
                                                                            <span ng-show="stripe_enabled">
                                                                                <!-- newcard STRIPE-->
                                                                                <button ng-show="retail_payment_method === 'CC' && shownewcard" ng-click=" submitretailform();preloader = true " class="button active-cus toolbar-button" 
                                                                                        >Place order</button>
                                                                                <!-- Existing card STRIPE --> 
                                                                                <button ng-show="retail_payment_method === 'CC' && !shownewcard" ng-click=" retailStripeCheckout();preloader = true " class="button active-cus toolbar-button" 
                                                                                        >Place order</button> 
                                                                                <!--ACH PAYMENT BUTTON-->
                                                                                <button ng-show="retail_payment_method === 'ACH'"  class="button active-cus toolbar-button" 
                                                                                        >Place order</button>
                                                                            </span>
                                                                            <!--STRIPE CC-SUBMIT SECTION-->
                                                                        </span>
                                                                    </center>
                                                                </div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                        </div>
                        <!--BOTTOM TOOLBAR FOR MOBILE VIEW-->
                        <div class="toolbar custom-toolbar-xxlheight mobile-view">
                            <div class="toolbar-price" style="padding-top: 10px;">
                                <div style="padding: 0 5px;">
                                    <center>
                                        <span class="total-text">Total ({{total_quantity}} {{total_quantity > 1?'items':'item'}}):</span>&nbsp;&nbsp;&nbsp;<price>{{wp_currency_symbol}}{{total_discounted_price | number:2}}</price><br>
                                        <span ng-show="((total_tax_value > 0) && (retail_processing_fee_type === '1')) || ((total_tax_value > 0) && (retail_payment_method === 'CH' || retail_payment_method === 'CA'))">
                                            <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes)</small>
                                        </span>
                                        <span ng-show="(total_tax_value > 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                            <small>(includes {{wp_currency_symbol}}{{total_tax_value | number:2}} taxes and {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                        </span>
                                        <span ng-show="(total_tax_value === 0) && (retail_processing_fee_type === '2' && total_processing_fee > 0)">
                                            <small>(includes {{wp_currency_symbol}}{{total_processing_fee | number:2}} administrative fees)</small>
                                        </span>
                                    </center>
                                </div>
                                <center>
                                    <!-- Zero Cost-->
                                    <span ng-show="total_discounted_price <= 0">
                                        <a  class="button active-cus toolbar-button" ng-click=" handleCheckout();preloader = true ">Place order</a>
                                    </span>
                                    <!-- Zero Cost-->
                                    <span ng-show=" total_discounted_price > 0">
                                        <a ng-show="(retail_payment_method === 'CA' || retail_payment_method === 'CH') && total_discounted_price > 0" ng-click="submitretailform();preloader = true "  class="button active-cus toolbar-button"  style="padding-top: 10px;" ng-click=" handleCheckout();preloader = true ">Place order</a>
                                        <!--Wepay checkout-->
                                        <span ng-show="wepay_enabled">  
                                            <a ng-show="retail_payment_method === 'CC' && !shownewcard && total_discounted_price > 0" class="button active-cus toolbar-button"  style="padding-top: 10px;" ng-click="purchaseretailproduct(retail_credit_card_id, retail_credit_card_status, retail_buyer_First_Name, retail_buyer_Last_Name, retail_buyer_Email, retail_buyer_Phone, retail_buyer_Zipcode, retail_buyer_Country); preloader = true">Place order</a>
                                            <a ng-show="retail_payment_method === 'CC' && shownewcard && total_discounted_price > 0" ng-click="preloader = true" id="cc-submit-retail1" class="button active-cus toolbar-button"  style="padding-top: 10px;">Place order</a>
                                        </span>
                                        <!--Wepay checkout-->
                                        <!--STRIPE CC-SUBMIT SECTION-->
                                        <span ng-show="stripe_enabled">
                                            <!-- newcard STRIPE-->
                                            <button ng-show="retail_payment_method === 'CC' && shownewcard" class="button active-cus toolbar-button" ng-click=" submitretailform();preloader = true " 
                                                    >Place order</button>>
                                            <!-- Existing card STRIPE --> 
                                            <button ng-show="retail_payment_method === 'CC' && !shownewcard" ng-click=" retailStripeCheckout();preloader = true " class="button active-cus toolbar-button" 
                                                    >Place order</button> 
                                            <!--ACH PAYMENT BUTTON-->
                                            <button ng-show="retail_payment_method === 'ACH'"  class="button active-cus toolbar-button" 
                                                    >Place order</button>
                                        </span>
                                        <!--STRIPE CC-SUBMIT SECTION-->
                                    </span>
                                </center>

                            </div>
                        </div>
                    </div>

                    <!-- RETAIL CHECKOUT ENDS -->

                </div>
                <!--FOOTER GOES HERE-->
                <div class="footer">
                    <center>
                        <span>Powered by</span>
                        <img src="css/img/E3.png" alt="">
                    </center>
                </div>
                <!--FOOTER GOES HERE-->
            </div>

            <!-- VIEW - 1 (RETAIL) ENDS -->                   
        </div>
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="dist/js/framework7.min.js"></script>
        <!-- Path to JQUERY Library JS-->
        <script src="js/Angular/jquery-1.12.4.js" type="text/javascript"></script>
        <!-- Path to our js-->
        <script type="text/javascript" src="js/my-app.js?v=1934"></script>
        <script type="text/javascript" src="js/services/InitService.js?v=1934" ></script>
        <script src="js/controller/IndexPageController.js?v=1934" type="text/javascript"></script>    
        <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.3.latest.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </body>
</html>

